@charset "big5";
/* CSS Document */

/*基本*/
html, body{ margin:0; padding:0; background-color:#3e0000;}
	@media screen and (max-width:767px){
		html, body{ }
	}

/*全BOX版面*/
.WRAPPER { z-index:0; position: relative; display:block; margin: 0 auto; padding:0; width:100%; min-width:1220px; overflow:hidden; text-align:left; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none; -webkit-tap-highlight-color: transparent}
	@media screen and (max-width:767px){
		.WRAPPER { padding-bottom:120px; width:100%;min-width: inherit;}
		.WRAPPER img {  width:100%;  height:auto;}
	}
	
/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(110%);
  -webkit-transform:none;
	 -moz-transform:none;
	  -ms-transform:none;
	   -o-transform:none;
		  transform:none;}
.Area1220 { margin:0 auto; width:100%;}
.Area960 { margin:0 auto; width:100%;}
	@media screen and (min-width:768px){
		.Area .go_bt:hover {
		  -webkit-transform:translateY(-6px);
			 -moz-transform:translateY(-6px);
			  -ms-transform:translateY(-6px);
			   -o-transform:translateY(-6px);
				  transform:translateY(-6px);}		
		.Area1220 { width:1220px;}
		.Area960 { width:960px;}
	}

/*區塊_切割PC*/
.Area_gird { margin: 0 auto; padding:0;}
.Area_gird:after  { content: ""; display:block; clear:both;}
	@media screen and (min-width:768px){
		.Area_1bn_PC a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn_PC a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn_PC a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_4bn_PC a { float:left; margin:0 0.5% 2% ; padding:0; width:24%; list-style: none;}
		.Area_1bn_nopadding_PC a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding_PC a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding_PC a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		.Area_6bn_nopadding_PC a { float:left; margin:0; padding:0; width:16.6%; list-style: none;}
	}
	
/*區塊_切割Phone*/
	@media screen and (max-width:767px){
		.Area_1bn_Phone a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn_Phone a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn_Phone a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding_Phone a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding_Phone a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding_Phone a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
	}
	



/*PC背景*/
.Area_bgtop_0 { z-index:-50; position: fixed; top:0; left:0; width:100%; height:100%; background-image:url(bgtop_0.jpg); background-repeat:repeat-y; background-position: center top; }
.Area_bgtop_1 { z-index:-40; position: fixed; top:0; left:50%; width:2000px; -webkit-transform:translateX(-50%); transform:translateX(-50%); pointer-events: none;}
.Area_bgtop_1 > div { position:absolute; top:0;}
.Area_bgtop_1 .bgtop_1_0 { position:absolute; top:1300px; left:0; width:100%; height:1000px; background-image: repeating-linear-gradient(0deg, rgba(65,1,1,0) 0%, rgba(65,1,1,0) 10%, rgba(65,1,1,1) 50%, rgba(65,1,1,1) 100%);}
.Area_bgtop_1 .bgtop_1_6 { position:absolute; top:330px; left:50%; margin-left:-770px; -webkit-transform-origin:bottom left; transform-origin:bottom left; }
.Area_bgtop_1 .bgtop_1_6 img { width:230px; height:auto;}
.Area_bgtop_1 .bgtop_1_6r { margin-left:540px; -webkit-transform-origin:bottom right;  transform-origin:bottom right; }
.Area_bgtop_1 .bgtop_1_6r img { transform:scaleX(-1);}


/*PC背景*/
.m_Area_bgtop_0 { z-index:-50; position: fixed; top:0; left:0; width:100%; height:100%; background-image:url(m_bgtop_0.jpg); background-position: center center; background-size:cover; opacity:0.5; }
.m_Area_bgtop_1 { z-index:-40; position:absolute; top:0; left:0; width:100%; pointer-events: none;}
.m_Area_bgtop_1 > div { position:absolute; top:0;}
.m_Area_bgtop_1 .m_bgtop_1_0 { position:absolute; top:125vw; left:0; width:100%; height:0; padding-bottom:200%; background-image: repeating-linear-gradient(0deg, rgba(65,1,1,0) 0%, rgba(65,1,1,0) 10%, rgba(65,1,1,1) 50%, rgba(65,1,1,1) 100%);}

/*版頭*/
.Area_top { height:530px; }
.Area_top .bg { z-index:-1; position:absolute; top:0; left:0; }
.Area_top .go_bt:hover { filter: brightness(110%);
  -webkit-transform:none;
	 -moz-transform:none;
	  -ms-transform:none;
	   -o-transform:none;
		  transform:none;}
.Area_top > .box { }
	@media screen and (max-width:767px){
		.Area_top { height:66vw; overflow:hidden;}
		.Area_top > .box { }
	}
		/*版頭銀行*/
		.Area_top .box_bank { margin:0 auto; padding:20px 0 0; width:710px; height:85px;}
		.Area_top .box_bank ul { margin:0; padding:0; list-style:none;}
		.Area_top .box_bank li { }
			@media screen and (max-width:767px){
				.Area_top .box_bank { padding:0; width:80%; height: auto;}
			}
			.Area_top h2{font:800 53px/54px 微軟正黑體,Century Gothic;color:#ffd3d3;margin: 5px auto 15px; text-shadow:2px 3px rgba(97,5,0,.6);}
		    .Area_top .title{margin:-100px auto 0; padding:0; position:relative; top:0; width:710px;}
			@media screen and (max-width:767px){
				.Area_top .title {margin:0 auto 0;position: relative; top:0; width:100%; height:auto;}
				.Area_top h2 {font: 800 8.5vw/10vw 微軟正黑體,Century Gothic;margin:0 auto 15px;text-shadow: 2px 3px rgba(97,5,0,.6);}
			}
	
		/*查詢詳情btn*/
		.btn_ a { display:block; border-radius:100px; padding:0 25px; background-color:rgba(0,0,0,0.6); font-size:25px; line-height:40px; color:#fff;}	
		.btn_list { z-index:2; position:absolute; top:70px; right:20px;}
		.btn_more { z-index:2; position:absolute; top:70px; right:130px;}
			@media screen and (max-width:767px){
				.btn_ a { border-radius:100px 0 0 100px; padding:0 2vw 0 4vw; font-size:4vw; line-height:7vw;}
				.btn_list { top:3vw; right:0;}
				.btn_more {  top:12vw; right:0; }
			}
			
			

/*Phone電梯選單用區塊*/
	@media screen and (max-width:767px){
		.box_for_NavArea_tabbar { margin-left:44px; width:calc(100% - 44px); }
	}



/*影片*/
.Area_video { display:block; position:relative; top:60; height:650px;}
.Area_video .box{ position:relative; }
@media screen and (max-width:767px){
.Area_video { width:100%; display: block;position: relative; top:-6vw;height: 60vw;}
}

/*影片*/
.video_box{ display:block; position:absolute; width:960px; top:-8px;}
.video_box iframe{ display:block; position:absolute; margin:25px 210px auto;top:100px;}
.video_box .video_site .youtubeArea {  position:relative;margin-left: 19%;width:62%;height: 57%;margin-top: 12%;}
.video_box .youtubeArea_m {  position:absolute;top:0;left:0;margin-left: 11%;width:79%;height: 62%;margin-top: -14%;}
.video_box .video_site .youtubeArea .youtubeDiv {height:100%;width:100%; margin-top:-140px; margin-left:-50px }
.video_box .video_site .imgArea { z-index: 8;margin-top: 0px; }
.video_box .video_site .imgArea img{ margin-top: 11%;margin-left: 21%;width: 86%;}
.video_box .video_site.open .imgArea { display:none;}
.Area_video .title .box_A {position:absolute; top:16%;right:12%;}
.txtA p{ display:block; position:relative; font:500 30px/35px"微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px; margin:10.5% auto -5%; padding:0;}
@media screen and (max-width:767px){
	.video_box{ display:block; position:absolute; width:100%; top:-8px;}
	.Area_acty .title .box_A {top: -5%; right: 20%;}
.video_box .video_site .imgArea {margin-top: 0px;}
.video_box .video_site .imgArea img {margin-top: 17%;width: 76%;}
.video_box .video_site .youtubeArea { position:relative;margin-top: 15%;margin-left: 10%;width: 80%;height: 58%;}
.txtA p{ display:block; position:relative; font:500 4.1vw/4.5vw"微軟正黑體","Microsoft JhengHei",Helvetica;    margin: 20.5% auto -5%;}
.video_box .youtubeArea_m {  position:absolute;top:0;left:0;margin-left: 11%;width:79%;height: 62%;margin-top: 14%;}
}



/*影片地台*/
		.Area_video > .box .box_2 {}
		.Area_video > .box .box_2:hover { animation-play-state:paused;}
		.Area_video > .box .box_2 b { opacity:1;
								  -webkit-transition: all 0.2s ease;
									 -moz-transition: all 0.2s ease;
									  -ms-transition: all 0.2s ease;
									   -o-transition: all 0.2s ease;
										  transition: all 0.2s ease;}
		.Area_video > .box .box_2:hover b { opacity:0;}
		.Area_video > .box .box_2 .bg img { }
		.icon_3_viedo { position:relative; top:20px; left:0; }
		
		.icon_3_viedo b { z-index:-1; position:absolute; top:0; left:0; width:242px; height:392px; -webkit-transform:scale(0.8); transform:scale(0.8);}
		.icon_3_viedo b > i { content:""; position:absolute; top:0; display:block; width:100%; height:100%; background-image:url(icon3_top_0.png); background-repeat:no-repeat; background-position: center center;}
		.icon_3_viedo b:nth-of-type(1) { top:500px; left:200px;}
		.icon_3_viedo b:nth-of-type(2) { top:500px; left:758px;}
			@media screen and (max-width:767px){
				.icon_3_viedo b { z-index:-1; position:absolute; top:0; left:0; width:25%; height:0; padding-bottom:40.5%;}
				.icon_3_viedo b > i { content:""; position:absolute; top:0; display:block; width:100%; height:100%; background-image:url(icon3_top_0.png); background-repeat:no-repeat; background-position: center center; background-size:100%;}
				.icon_3_viedo b:nth-of-type(1) { top:52vw; left:10vw;}
				.icon_3_viedo b:nth-of-type(2) { top:52vw; left:65.5vw;}
			}
			/*影片*/			
			.box_2 .viedo { position:absolute; top:22%; left:22%; width:57%;}
			.box_2 .viedo .youtubeArea { position:relative; width:100%; height:0px; padding-bottom:56.25%;}
			.box_2 .viedo .youtubeArea * { width:100%; margin:0; padding:0;}
			.box_2 .viedo .youtubeArea iframe { position:absolute; top:0px; left:0px; width:100%; height:100%;}

@media screen and (max-width:767px){
	.box_2 .viedo {position: absolute;top: 20%;left: 11%;width: 78%;}
	}	
	
	/*--輪播--*/
.Area_banner { display:block; position:relative;}
.Area_banner .box { position:relative;  top:0%; left:0%; width:99%; }
.Area_banner .box_2 { position:relative;}
.Area_banner .box_2 a { display:block;}
.Area_banner .box_2 ul { margin:0; padding:0; list-style:none;}
.Area_banner .box_2 li { display:inline-block; width:28%; margin-left:1%;}

	@media screen and (min-width:767px){
		.Area_banner .box {margin-top:0; margin-bottom:20px;}
		.Area_banner .title { margin:0 auto;}
		.Area_banner .box_2 li { width:180px;}
		.Area_banner .box_2 { position:relative; top:7%; left:0%; padding:10px 0 40px; width:100%; overflow:hidden;}

	}
.Area_add{margin: -50px auto 20px;}
.Area_add img{display: inline-block;margin: 0 10px;}
.rollitem{margin:0;}

	@media screen and (max-width:767px){
		.Area_add{margin: 9vw auto 0;}
.Area_add img{display: inline-block;margin: 0 1% ;width: 47%;}		
		
}


	.Area_star{ margin-bottom:50px;}
	.Area_star .box { display:block; position:relative; margin:0; padding:20px 0;}
	.Area_star .box .boxB{ margin-bottom:5%;}
	.Area_star .box  .titlebox{ display:inline-block; position:relative;width:100%}
	.Area_star .box .titleright_1{position:absolute; top:0; left:0; width:50%;margin-left:450px;margin-top:25px;padding-bottom:7.5%; border-radius:20px;}
	.Area_star .box .titleright_1 p{font:800 36px/40px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; margin:0; padding:0 8px; text-align:right; color:#fff; letter-spacing:-1px;}
	.Area_star .box .titleright_1 p.txt1211{ padding-top:47px;}
	.Area_star .box .content .day1 { margin:40px auto 0; padding:0 0 12px 0;}
	.Area_star .box .content .box_::before{z-index:1}
	.Area_star .box .content .box_ .live_btn {position: absolute;top: 130px;right:17px; z-index:1}
	.Area_star .box .content .box_ .live_btn img{ width:90%;}
	.Area_star .box .content .box_ .title1 { position: relative; top:0; left:0; padding-bottom: 190px; width:50%;}
	.Area_star .box .content .box_ .title2 { position: relative; top:0; left:0; padding-bottom: 30px; }
	.Area_star .box .content .box_ .title3 { position: relative; top:0; left:0;}
	.Area_star .box .content .box_ .title1 p{ position:absolute; text-align:left;top:0; left:2%;color:#FFF; width:80%; margin:20px; font:800 40px/50px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; }
	.Area_star .box .content .box_ .title2 p{ position:absolute; text-align:left;top:0; left:2%;color:#FFF; margin:20px 0; font:800 36px/50px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; }
	.Area_star .box .content .box_ .title3 p{ position:absolute; text-align:left;top:0; left:2%;color:#FFF; margin:20px 0; font:800 40px/50px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; }
	.Area_star .box .content .box_ .title1 p.name{ position:absolute; text-align:left; padding:10px 0 10px 50px;top:0; left:0; color:#c69b67; margin:110px 0 0; font:800 40px/50px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; background-color:#fff; z-index:0; }
	.Area_star .box .content .box_ .title2 p.name{ position:absolute; text-align:center;top:0; left:0; width:34%;color:#e66bb3; margin:150px 0 0; font:800 40px/50px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; background-color:#fff; z-index:0; }
	.Area_star .box .content .box_ .title3 p.name{ position:absolute; text-align:center;top:0; left:0; width:34%;color:#2c9da1; margin:150px 0 0; font:800 40px/50px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; background-color:#fff; z-index:0; }
	.Area_star .box .content .box_ .title1 p span{ padding-left:10%; opacity:.7;}
	.Area_star .box .content .box_ .title2 p span{ padding-left:0%; opacity:.7;}
	.Area_star .box .content .box_ .title3 p span{ padding-left:0%; opacity:.7;}
	.Area_star .box .content .box_ .subbox { position:relative; display:block; padding:0px 0 0 10px;}
	.Area_star .box .content.tip01 .box_ .subbox { position:relative; display:block; padding-top:87px;}
	.Area_star .box .content .box_ { position:relative; margin:50px auto 20px; background: linear-gradient(to left bottom, #d5b48d 30% ,#c69b66 80%); }
	.Area_star .box .content .box_  ul li{ margin:0; padding:0; overflow:hidden; list-style:none;margin: 10px 0px 0 5px;background: #fff;border-radius: 0;}
	
	.Area_star .box .content .online{z-index: 10; position:relative; margin:0; padding:0;}
	.Area_star .box .content .online a{ position:absolute; top:0; left:0; display:block; margin:-18px auto 0; padding:0;}
	.Area_star .box .content .online a img{ width:80%;}
	
	.Area_star .box .content .box_ a{ display:block;}
	.Area_star .box .content .box_ a.bon{display: block;z-index: 5;position: relative;left: 55px;top: 230px; width: 180px;}
	.Area_star .box .content .box_ a.bon img{ width:100%;}
	
	.Area_star .box .content .boxA:after { content:""; position:absolute; top:0; right:0; display:block; width:50%;  height:333px;}
	.Area_star .box .content .boxA:before { content:""; position:absolute; top:0; left:160px; display:block; width:100%;  height:100%; background:url(title_bgA_01.png) no-repeat top left;background-size:90%;}
	
	.Area_star .box .content .boxC:after  { content:""; position:absolute;  top: 80px; margin-left:50%;left:0;display:block;  width:50%; height:100%; background:url(title_bgA_02.png) no-repeat bottom center;}	
	.Area_star .box .content .boxC:before { content:""; position:absolute; top:0; left:160px; display:block; width:100%; height:350px; background:url(title_bgB_03.png) no-repeat top right; background-size:90%;}
	

	.Area_star .box .content .boxD:before { content:""; position:absolute; top:0; left:160px; display:block; width:100%; height:350px; background:url(title_bgB_04.png) no-repeat top right;background-size:90%;}
	
	.Area_star .box .content .boxE:before { content:""; position:absolute; top:0; left:105px; display:block; width:100%; height:350px; background:url(title_bgB_05.png) no-repeat top right;background-size:90%;}
	.txtAA{ font-size:18px; line-height:18px; margin:-2px 0; padding:0;}
	@media screen and (max-width:767px){
	.Area_star .box .content .box_  ul li{ float:left; margin: 1vw 0.5vw; height:75vw;background: #fff;border-radius: 0; box-sizing:border-box; padding:0;} 
	.Area_star .box .titleright_1 {margin-top: 6vw; margin-left: 42vw; padding-bottom:12%; width:50%; }
	.Area_star .box .titleright_1 p{font:600 4vw/5.5vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; margin:0; padding:0 10px; text-align:right; color:#fff; letter-spacing:-1px;}
	.Area_star .box .titleright_1 p.txt1211 {padding-top:3vw;}
	.Area_star .box .content .day1 {   margin: 10vw auto 0;}
	.Area_star .box .content .box_ .title1 p { width: 40%;margin: 3vw;font: 800 6.5vw/8vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
	.Area_star .box .content .box_ .title2 p{ position:absolute; text-align:left;top:0; left:2%;color:#FFF; margin:20px 0; font: 800 6.5vw/8vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
	.Area_star .box .content .box_ .title1 p.name {margin: 12vw 0vw 0;padding: 9px; font: 800 5.5vw/8vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;     width: 80%;}
	.Area_star .box .content .box_ .title1 {position: relative;top: 0;left: 0;padding-bottom: 20.5vw;}
	.Area_star .box .content .box_ .title2 { position: relative; top:0; left:0; padding-bottom: 20px; }
	.Area_star .box .content .box_ .live_btn { position: absolute; top: 20.3vw; width:92%;  right: -20vw;}
	.Area_star .box .content .box_ .live_btn img{ width:43%;}
	
	.Area_star .box .content .box_ a.bon{ z-index:5; position:absolute; left:-5vw;top:30vw;}
	.Area_star .box .content .box_ a.bon img{ width:70%;}
	.Area_star .box .content .boxA:before { content:""; position:absolute; top:1vw; left:0vw; display:block; width:100%; height:100%; background:url(mtitle_bgA_01.png) no-repeat -20px top; background-size:100%;}

	.Area_star .box .content .boxC:after  { content:""; display:none;}
	.Area_star .box .content .boxC:before { content:""; position:absolute; top:-3vw; left:-5vw; display:block; width:100%; height:73vw; background: url(mtitle_bgB_03.png) no-repeat; background-size:108%;}
	
	.Area_star .box .content .online a {    margin: 12px 0 0 -17vw;}
	.Area_star .box .content .online a img{ width:39%;}
	
	.Area_star .box .content .boxD:before { content:""; position:absolute; top:4vw; left:0vw; display:block; width:100%; height:260px; background: url(mtitle_bgB_04.png) no-repeat;  background-size:108%;}
	
	.Area_star .box .content .boxE:before { content:""; position:absolute; top:2vw; left:-3vw; display:block; width:100%; height:260px; background: url(mtitle_bgB_05.png) no-repeat;  background-size:100%;}
	.txtAA{ font-size:3.5vw; line-height:3vw;}

	}
	
	/* 公版模組layout_1220_4xn_Q1111b*/
		.layout_1220_4xn_Q1111b  { position: relative; display:block; margin:0px auto 0px; padding:0 0 0 0px; width:100%; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; text-align: center; z-index:1;} 
		.layout_1220_4xn_Q1111b h2 { display: none; position:relative; top:0px; margin:0px; padding:0 0 0 500px; width:720px; height:100px; font-size:56px; line-height:100px; text-align: left; color:#FFF; letter-spacing:-3px;}
		.layout_1220_4xn_Q1111b h2 b { color:#FFF;}
		.layout_1220_4xn_Q1111b h2 .buttonAera_more { display:none; top:35px; right:25px; background-color: #3B3B3B; background-color:rgba(0,0,0,0.6);}
		.layout_1220_4xn_Q1111b h2 .buttonAera_more:hover {background-color: #000;}
		.layout_1220_4xn_Q1111b ul { margin:0px auto; padding:0;}
		.layout_1220_4xn_Q1111b ul:after { content:""; display:block; clear:both;}
		.layout_1220_4xn_Q1111b ul li { float:left; display:inline-block; position:relative; margin:0; padding:0; width: 465px; border-radius:10px; list-style: none outside none; background-color:#2f2f3b;
						  -webkit-transition: all 0.2s ease;
							 -moz-transition: all 0.2s ease;
							  -ms-transition: all 0.2s ease;
							   -o-transition: all 0.2s ease;
								  transition: all 0.2s ease;}
		.layout_1220_4xn_Q1111b ul li:nth-child(2n+1) { margin-left:0;}
		.layout_1220_4xn_Q1111b ul li:hover { z-index:5; -webkit-transform:translateY(-6px); transform:translateY(-6px); box-shadow:0 3px 30px rgba(0,0,0,0.4);}
		.layout_1220_4xn_Q1111b ul li a { display:block; text-decoration:none;}
		.layout_1220_4xn_Q1111b ul li .logo { display:none; z-index:1; position:absolute; top:5px; left:5%; border-bottom:1px solid #000; width:90%; height: 30px; overflow:hidden;}
		.layout_1220_4xn_Q1111b ul li .logo a { display:block; font-size:18px; line-height:30px; color: #ff0060;}
		.layout_1220_4xn_Q1111b ul li .logo a b { }
		.layout_1220_4xn_Q1111b ul li .logo a i { }
		.layout_1220_4xn_Q1111b ul li .logo:hover a {  color:#d92670;}
		.layout_1220_4xn_Q1111b ul li .PD { position:relative; text-align:left;}
		.layout_1220_4xn_Q111.Area_star .box .content .boxD:before { content:""; position:absolute; top:-1vw; left:-4vw; display:block; width:100%; background-size:100%;}
		.layout_1220_4xn_Q1111b ul li .PD a::after { content: ""; position:absolute; top:33px; left:5%; display: none; width:6px; height:6px; border-radius:10px; overflow: hidden; background-color:#000;}
		.layout_1220_4xn_Q1111b ul li .PD a::after { left:inherit; right:5%;}
		.layout_1220_4xn_Q1111b ul li .PD a img { float:left; display:block; margin:10px; padding:0px; border-radius:10px; width:50%; height:auto;}
		.layout_1220_4xn_Q1111b ul li .PD a h4 { margin:0 0 5px; padding:50px 10px 0 5px; height: 56px; overflow:hidden; font-weight: 500; font-size:22px; line-height:28px; color:#000;}
		.layout_1220_4xn_Q1111b ul li .PD:hover a h4 {color:#000;}
		.layout_1220_4xn_Q1111b ul li .PD a h4 b { }
		.layout_1220_4xn_Q1111b ul li .PD a h4 br {}
		.layout_1220_4xn_Q1111b ul li .PD a h3 { display:none; position:absolute; top:20px; left:40%; margin:0 0 0 15px; padding:0 2%; height: 30px; overflow:hidden; font-size:24px; line-height:30px; color: #fff; }
		.layout_1220_4xn_Q1111b ul li .PD a h3 br{}
		.layout_1220_4xn_Q1111b ul li .PD a p { margin:0; padding:25px 0 0; height:72px;white-space:nowrap; width:43%; overflow:hidden; line-height:74px; text-align:left; color:#d92670;/*background-image:url(money_bg2.png); background-repeat:no-repeat;*/ background-size:94px auto; background-position:55% 5px;}
		.layout_1220_4xn_Q1111b ul li .PD a p del { padding-right:5px; font-size:14px; font-family: Century Gothic; color:#717171; opacity:.8; position:absolute; bottom:14px;}
		.layout_1220_4xn_Q1111b ul li .PD a p b { font-size:27px; letter-spacing:-1px;}
		.layout_1220_4xn_Q1111b ul li .PD a p .money { font-weight: bold; font-size:14px; font-family:"微軟正黑體",Century Gothic;}
		.layout_1220_4xn_Q1111b ul li .PD a p .Price { font-size:35px; font-family:"微軟正黑體","Microsoft JhengHei",Century Gothic; letter-spacing:-1px; }
		.layout_1220_4xn_Q1111b ul li .PD a p small { font-size:14px; letter-spacing:-1px;}
		/*按鈕共用樣式*/
		.layout_1220_4xn_Q1111b ul li .PD .PD_go,
		.layout_1220_4xn_Q1111b ul li .more { margin:0; padding:0; border-radius:100px; width:40%; height:40px; overflow:hidden; text-align: center; }
		.layout_1220_4xn_Q1111b ul li .PD .PD_go span,
		.layout_1220_4xn_Q1111b ul li .more a { position:relative; display: block; margin:0 auto; height:100%; overflow:hidden; -webkit-transform: skewX(-7.5deg); transform: skewX(-7.5deg);}
		.layout_1220_4xn_Q1111b ul li .PD .PD_go b,
		.layout_1220_4xn_Q1111b ul li .more b { z-index:1; position:relative; display: inline-block; padding:0 0 0 6px; height:40px; overflow:hidden; font-weight:800; font-size:28px; line-height:40px; color:#fff; vertical-align:middle;}
		.layout_1220_4xn_Q1111b ul li .PD .PD_go i,
		.layout_1220_4xn_Q1111b ul li .more i { position:relative; top:2%; display: inline-block; border-top:2px solid #fff; border-right:2px solid #fff; width:7px; height:7px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
		/*搶購*/
		.layout_1220_4xn_Q1111b ul li .PD .PD_go { display:block; position: absolute; bottom:-40px; left:55%;  background-color:#f2143c; background-image: repeating-linear-gradient(45deg, #d9193b -2%, #ff2302 120%); background-position: right top; background-size:100% 100%; -webkit-transition:all 0.4s; transition:all 0.4s;}
		.layout_1220_4xn_Q1111b ul li .PD:hover .PD_go { background-size:500% 100%; }
		.layout_1220_4xn_Q1111b ul li .PD .PD_go span {}
		.layout_1220_4xn_Q1111b ul li .PD .PD_go b {}
		.layout_1220_4xn_Q1111b ul li .PD .PD_go i {}
		/*看更多*/
		.layout_1220_4xn_Q1111b ul li .more { display:none; position: absolute; bottom:10px; right:2%; background-color:#49495c;}
		.layout_1220_4xn_Q1111b ul li .more a {}
		.layout_1220_4xn_Q1111b ul li .more b { color:#9797bf;}
		.layout_1220_4xn_Q1111b ul li .more i { border-color:#9797bf;}
		.layout_1220_4xn_Q1111b ul li .more:hover b { color:#fff;}
		.layout_1220_4xn_Q1111b ul li .more:hover i { border-color:#fff;}
		
		
						@media screen and (max-width:767px){
							.layout_1220_4xn_Q1111b,
							.layout_1220_4xn_Q1111b * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;} 
							.layout_1220_4xn_Q1111b  { margin:0 -1%; } 
							.layout_1220_4xn_Q1111b h2 { padding-left:40vw; width:100%; height:12vw; font-size:6vw; line-height:12vw; letter-spacing:-0.05rem; }
							.layout_1220_4xn_Q1111b ul { padding:0 2%; }
							.layout_1220_4xn_Q1111b ul li {float:none;  margin:0 0 2% 0; width:48% !important;}
							.layout_1220_4xn_Q1111b ul li:hover {-webkit-transform:none; transform: none;}
							.layout_1220_4xn_Q1111b ul li .logo { display:none !important; z-index:1; position:absolute; top:0; left:5%; border-bottom:1px solid #000; width:90%; height:12vw; overflow:hidden;}
							.layout_1220_4xn_Q1111b ul li .logo a { display:none !important; font-size:4.5vw; line-height:12vw; color: #d92670;}
							.layout_1220_4xn_Q1111b ul li .PD a img { margin:2vw;width: 90%;}
							.layout_1220_4xn_Q1111b ul li .PD a h4 { margin:0 0 0 0; padding:10vw 2vw 0 0; height:16.5vw; font-size:4.3vw; line-height:5.5vw; overflow:hidden; }
							.layout_1220_4xn_Q1111b ul li .PD a h3 { top:3vw; margin:0 0 0 3vw;  padding:0 2vw; height: 7vw; font-size:4.4vw; line-height:7vw;}
							.layout_1220_4xn_Q1111b ul li .PD a p { margin:-3vw 0 0; padding:0 5% 0 0; width:100%; height:12vw; line-height:14vw; background-size:16vw auto; background-position:44vw 0.5vw;}
							.layout_1220_4xn_Q1111b ul li .PD a p del { padding-right:2px; font-size:3.5vw;position:absolute;bottom: 0px;}
							.layout_1220_4xn_Q1111b ul li .PD a p b { font-size:3.2vw; }
							.layout_1220_4xn_Q1111b ul li .PD a p .money { font-size:3.2vw;}
							.layout_1220_4xn_Q1111b ul li .PD a p .Price { font-size:9.2vw; font-weight: 800; padding-left:2vw; height:7vw; overflow:hidden;font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}
							.layout_1220_4xn_Q1111b ul li .PD a p small { font-size:4.2vw;}
							/*按鈕共用樣式*/
							.layout_1220_4xn_Q1111b ul li .PD .PD_go,
							.layout_1220_4xn_Q1111b ul li .more { height:7vw;}
							.layout_1220_4xn_Q1111b ul li .PD .PD_go b,
							.layout_1220_4xn_Q1111b ul li .more b { padding:0; height:7vw; font-size:5vw; line-height:7vw;}
							/*搶購*/
							.layout_1220_4xn_Q1111b ul li .PD .PD_go {width:80%; overflow:hidden; text-align: center; }
							.layout_1220_4xn_Q1111b ul li .PD .PD_go { bottom:-7vw;}
							.layout_1220_4xn_Q1111b ul li .PD .PD_go {display: block;position: absolute;bottom: -8vw; left: 12%;}
							/*看更多*/
							.layout_1220_4xn_Q1111b ul li .more { display:none !important;}

							/*套輪播時微調*/
							.layout_1220_4xn_Q1111b ul { padding:0; }
							.layout_1220_4xn_Q1111b ul li .PD a h4 { padding:0.5vw 2vw 0 0;text-align:center;}
							.layout_1220_4xn_Q1111b ul li .PD a h3 { top:2vw; height:5.5vw; font-size:4vw; line-height:5.5vw;}
							.layout_1220_4xn_Q1111b ul li .PD a p { margin-bottom:3vw;height:11.5vw;}
							.layout_1220_4xn_Q1111b ul li .PD a p { padding:0 3% 0 0; background-position:39vw 0.5vw;text-align:center;}
							
							/*-單獨一品手機板--*/
							.layout_1220_AAA li:last-child{ width:98%!important; float:left; height:45vw !important;}
							.layout_1220_AAA li:last-child .PD a img {margin: 2vw;width: 48%;}
							.layout_1220_AAA li:last-child .PD a p { margin:0; padding:7px 0 0; height:72px;white-space:nowrap; width:43%; overflow:hidden; line-height:74px; text-align:left; color:#d92670;/*background-image:url(money_bg2.png); background-repeat:no-repeat;*/ background-size:94px auto; background-position:55% 5px;}
							.layout_1220_AAA li:last-child .PD .PD_go {display: block; position: absolute; width:45%; bottom: -20px;  left: 52%;    background-color: #f2143c; background-image: repeating-linear-gradient(45deg, #d9193b -2%, #ff2302 120%);    background-position: right top;    background-size: 100% 100%;    -webkit-transition: all 0.4s;    transition: all 0.4s;}
							.layout_1220_AAA li:last-child .PD a h4 {padding: 5.5vw 2vw 0 0 !important;}

						}

/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
	
	/** 延遲載圖用 **/
.mainArea .articleList * img.lazy {display:none} 
	

		
/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
	



