@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0; background-color:#ffd7df;}


/*全BOX版面*/
.WRAPPER { z-index:0; position: relative; display:block; margin: 0 auto; padding: 0 0 50px; width:100%;  min-width:1220px; overflow:hidden; text-align:left; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background-color:#ffd7df;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		.WRAPPER { padding-bottom:100px;  min-width: inherit; background-image: none;padding: 0;}
		.WRAPPER img {  width:100%;  height:auto;}
	}
.BGpackage{ width:2000px;margin: 0 auto;width:1220px;text-align: center;z-index: 0;}	
.BGpackage .bg1{position: absolute;width:2000px;top:0;left:-390px; margin:0 auto;}	
.BGpackage .bg2{display: block;position: absolute;width:2000px;top:600px;left:-390px; margin:0 auto;}	

	@media screen and (max-width:767px){
.BGpackage{ position:absolute;width:100%;  min-width:inherit;}
.BGpackage .bg1{width: 100%;top:0;left:0;}	
.BGpackage .bg2{display: none;}	

	}
/*Action btn*/
.btn_mode {display: block;position: relative;margin: 0 auto;}
.btn_mode span{position: absolute;width: 92%; top:3px;left: 0; font-size: 50px;color:#FFF;font-weight: 900;text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.2)}
.btn_mode img{position: relative;width: auto;}
	@media screen and (max-width:767px){
.btn_mode {width:42.5vw!important;}
.btn_mode span{position: absolute;width: 92%; top:0.1vw;left: 0; font-size:5.7vw;}		
.btn_mode img{position: relative;width: 100%;}
}

.img_size{width:100%!important;position: relative;}
/*animate*/
.tobig{animation:tobig 1.5s ease-out both;animation-delay: 1s; }
		@-webkit-keyframes tobig {   
			0% { transform: scale(0)} 
			100%{ transform: scale(1)} 
		}
		@keyframes tobig { 
			0% { transform: scale(0)} 
			100%{ transform: scale(1)} 
		}
		@-webkit-keyframes yao{   
			0% { transform: rotate(0)} 
			50% { transform:rotate(3deg)} 
			100%{ transform: rotate(0)} 
		}
		@keyframes yao { 
			0% { transform: rotate(0)} 
			50% { transform:rotate(3deg)} 
			100%{ transform: rotate(0)} 
		}
	@-webkit-keyframes piao { 
		0% { -webkit-transform: translate(0,0);   } 
		100% {  -webkit-transform: translate(0,20px); }
	}
	@keyframes piao { 
		0% { transform: translate(0,0); } 
		100% { transform: translate(0,20px); }
	}
		@-webkit-keyframes colorchange {   
			0% {filter: hue-rotate(0) }
			50% {filter: hue-rotate(30deg) }
			100% {filter:hue-rotate(0) } 
		}
		@keyframes colorchange{ 
			0% {filter: hue-rotate(0) }
			50% {filter: hue-rotate(30deg) }
			100% {filter:hue-rotate(0) } 
		}

@keyframes shiny{
		0%{-webkit-transform: scale(0.8); filter:brightness(100%) }
		50%{-webkit-transform: scale(2);filter:brightness(120%)}
		100%{-webkit-transform: scale(0.8);filter:brightness(100%)}		
	}

@media screen and (max-width:767px){
	@-webkit-keyframes piao { 
		0% { -webkit-transform: translate(0,-1vw);   } 
		100% {  -webkit-transform: translate(0,3vw); }
	}
	@keyframes piao { 
		0% { transform: translate(0,-1vw); } 
		100% { transform: translate(0,3vw); }
	}
}
/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center;}
.Area a { position:relative; display:inline-block;} 
.go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.go_bt:hover { filter: brightness(120%);
  -webkit-transform:scale(0.9);
     -moz-transform:scale(0.9);
      -ms-transform:scale(0.9);
       -o-transform:scale(0.9);
          transform:scale(0.9);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		/*區塊_兩邊間距*/
	}

.box{z-index: 1;}
.box_bg{position:relative;top:0;left: 0;}
/*版頭*/
.Area_top { z-index:1;height: 550px;}
.Area_top .gift { position: absolute;top:0px;left:510px;}
.Area_top .robin { position: absolute;top:245px;left:-260px;}
.Area_top .ball_l { position: absolute;top:-162px;left:-196px;animation: piao 1.7s infinite  alternate-reverse ease-in;}
.Area_top .ball_r{ position: absolute;top:35px;left:1039px;animation: piao 2.2s infinite  alternate-reverse ease-in;}
.Area_top .logo{ z-index:1;position: absolute;left:20px;top:40px;}
.Area_top .title{ z-index:4;position: absolute;top:145px;left:140px;}
.Area_top .subtitle{ z-index:2;position: relative;top:395px;left:170px;}
.Area_top .subtitle img{ position: absolute;top:0px;left:0px;animation:colorchange 2s infinite;}

.Area_top .subtitle img.bg{ }
.star06{position: absolute;pointer-events: none; z-index: 9999; top: 222px; left: 394px;height:60px; width:60px;background: url(star02.png) no-repeat;background-size: contain;margin: 0;-webkit-animation: shiny 2s infinite linear ; animation: shiny 2s infinite linear ;  }

	@media screen and (max-width:767px){
		.Area_top { height:68vw;margin-top:-44px;}
		.Area_top .logo{width: 21vw; left:0.8vw;top:36px;}
		.Area_top .title{top:0px;left:0;}
		.Area_top .subtitle{ position: absolute;top:0px;left:0vw;}
		.Area_top .tobig{animation:tobig 1s ease-out both;animation-delay: 1.5s;}
		.star06{ top: 0; left: 17.5vw;width: 70vw;height:70vw; background: url(star02_m.png) no-repeat;background-size: 100%;animation-delay: 0.8s;}
		.Area_top .ball_l { position: absolute;top:0;left:0;animation: piao 2.2s infinite  alternate-reverse ease-in;}
		.Area_top .ball_r{ position: absolute;top:0;left:0;animation: piao 2.8s infinite  alternate-reverse ease-in;}
		.Area_top .subtitle img:first-child{ position: relative;text-align: left;}

	}


/*第1PART*/
.Area1 {margin: 0 auto 1vw;}
.Area1 .content{position: absolute;top:0;left: 0;}
.Area1 .box .heart{position:relative;left: 96px;top:50px;display: block;text-align: left;}
.Area1 .box .heart img{position:absolute;left: 0;top:0;}
.Area1 .box .heart img:nth-child(1){position: relative;top:0;left: 0;}
.Area1 .box .heart img:nth-child(3){animation: 3s yao both infinite;}
.Area1 .box .heart img:nth-child(4){animation: 3s yao both infinite alternate;}
.Area1 .box ul{overflow: hidden;margin: -50px 0 0 75px;;padding: 0;width: 812px;}
.Area1 .box ul::after{clear: both;}
.Area1 .box ul li{float: left;list-style: none;margin: 10px;}
	@media screen and (max-width:767px){
		.Area1 .box .heart{width: 80vw;left: 10vw;top:4vw;}	
		.Area1 .box ul{overflow: hidden;margin: -5vw auto 0;padding: 0;width:88%;padding: 0 0.8%;}
		.Area1 .box ul li{padding: 0.5vw;margin: 0;}
}
/*第2PART*/
.GameArea h2{margin: 0;padding: 0;font-size: 36px;color: #aa979a;}
.GameArea ul{margin: 0 auto ;padding: 0;position: relative; overflow: hidden;width: 80%;}
.GameArea ul li::after{content: ""; clear: both;}
.GameArea ul li{list-style: none;margin: 5px auto;padding: 0;min-height:200px; overflow: hidden;}
.GameArea ul li div{float: left;}
.GameArea ul li .text{width:625px;background-color: #4ed4c8;border-radius: 15px;min-height: 160px;margin: 20px 0;position: relative;}
.GameArea ul li .text p{width:96%;margin: 5px auto;font-size: 36px;color: #FFF;text-align: left;}
.GameArea ul li.first .text::before{content: "";width: 0;height: 0;border-style:solid;border-width:15px 26px 15px 0; border-color:transparent #4ed4c8 transparent transparent;position: absolute;top:80px; left: -20px;}
.GameArea ul li.second .text::after{content: "";width: 0;height: 0;border-style:solid;border-width:15px 0px 15px 26px; border-color:transparent transparent transparent #4ed4c8;position: absolute;top:80px; right: -20px;}
.GameArea ul li .text.textB{background-color: #aa979a;}
.GameArea ul li .text.textB::after{ border-color:transparent transparent transparent #aa979a;}
.GameArea .content{background: url(box_bg_m.png) repeat-y center top;position: relative;}
.GameArea .content a{margin: 10px auto 30px;}
.GameArea .content .photo p{margin: 0;font-size: 26px;font-weight:700;color: #fd5574;}
.GameArea .content .second .photo.nameB p{color: #aa979a}
	@media screen and (max-width:767px){
		.GameArea{margin-bottom:50px;}
		.GameArea h2{font-size:4.8vw;letter-spacing: -0.1vw;}
		.GameArea .content{background-size: 100%; }	
		.GameArea .content .photo{width: 20vw;}	
		.GameArea ul li.first .text::before{content: "";width: 0;height: 0;border-style:solid;border-width:8px 13px 8px 0; border-color:transparent #4ed4c8 transparent transparent;position: absolute;top:12vw; left: -13px;}
		.GameArea ul li.second .text::after{content: "";width: 0;height: 0;border-style:solid;border-width:8px 0px 8px 13px; border-color:transparent transparent transparent #4ed4c8;position: absolute;top:12vw; right: -13px;}
		.GameArea ul li .text.textB::after{ border-color:transparent transparent transparent #aa979a;}
		.GameArea ul li .text{width:66vw;margin: 3vw 0;min-height: 20vw;}
		.GameArea ul li .text p{width:96%;margin: 1vw 2vw;font-size: 6vw;color: #FFF;text-align: left;}
		.GameArea ul li{min-height: 6vw}
		.GameArea ul{width:88%;}
		.GameArea .content a{width:54%;margin: 2vw auto 4vw;}
.GameArea .content .photo p{margin: 0;font-size: 4vw;font-weight:700;color: #fd5574}
}

.apple_text{position:relative;top:0vw;}

.Area_step {max-width: 960px; margin: 0 auto 1.5vw;}
.Area_step img{position: relative; width: 96%;box-shadow: 5px 5px 8px rgba(107,11,28,0.2);}

	/*浮層*/
		.box_Area { position:relative; margin:0 auto; padding:0; width:90%; max-width:800px; height:auto; border-radius:7vw; background-color:#4ed4c8;}
		.box_Area * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
		.box_Area a { text-decoration:none;}
		.box_Area:before { content: ""; z-index:0; position:absolute; top:0; left:0;  display:block; width:100%; height:50%; background:url(box_Area_bg_top_m.png) no-repeat center top; background-size:100%;}
		.box_Area:after  { content: ""; z-index:0; position:absolute; bottom:0; left:0;  display:block; width:100%; height:50%; background:url(box_Area_bg_bottom.png) no-repeat center bottom; background-size:100%;}
		.box_Area .closeBN a {display:block; position:absolute; top:-5vw; right:-5vw; width:13vw; height:13vw; border-radius:50%; border:1vw solid #999; font-weight: bold; font-size:14vw; line-height:11vw; font-family:Century Gothic; color:#FFF; text-align:center; background-color:rgba(0,0,0,0.5);text-decoration: none; z-index:2}
		.box_Area .box { position: relative; padding-bottom:5%; text-align:center;}
		.box_Area .box .title { position: relative; margin:0; height:20vw; overflow:hidden; font-weight:800; font-size:9vw; line-height:22vw; color:#fff; letter-spacing:-0.5vw; text-align: center;}
		.box_Area .box .title2 { margin:0; font-size:8.5vw; line-height:17.5vw; }
		.box_Area .box .title_small { position: absolute; top:15vw; width:100%; height:3.5vw; overflow:hidden; font-weight:bold; font-size:3.5vw; line-height:3.5vw; color:#fff; text-align:center;}
		.box_Area .box .center_input { margin:5vw auto; }
		.box_Area .box .center_input input { margin:0 4%; padding:0 3%; height:14vw; border-radius:10px; border:1vw solid #1cb8a5; width:92%; color:#9D9D9D; font-size:7vw; line-height:14vw; font-family:"Century Gothic", "微軟正黑體", sans-serif;  text-align:left;  background-color:#fff;}
		.box_Area .box .sure { z-index:5; position:relative; margin:5vw auto; text-align:center;}
		.box_Area .box .sure a { display: inline-block; padding:1% 20%;  border-radius:50px; font-weight: bold; font-size:9vw; line-height:12vw; color:#fff;}
		.box_Area .box .sure a img{width:100%!important;}
		
		.box_Area .box .sure_2 { display:inline-block; margin:1vw; width:40%;}
		.box_Area .box .sure_2  a {position: relative;padding:0;}
		.box_Area .box .sure_2  a img{position: relative}
        .box_Area .box .sure_2  a span{position: absolute;width: 100%; top:1.5vw;left: 0; font-size:5.7vw;line-height:1;}
		.box_Area .box .sure_ok a { }
		.box_Area .box .sure_no a { }
		.box_Area .box p { font-size:5.5vw; text-align:center; color:#fff;}
		.box_Area .box .qrcode img { width:60%; height:auto;}
		.box_Area .box .box_bg { margin:2%; margin-bottom:0; padding:2%; border-radius:0 0 7vw 7vw; background-color:#fff;}
		.box_Area .box .box_bg p { color:#000;}
		.box_Area .box .box_bg .table { padding:2% 0; font-family:"微軟正黑體", "Century Gothic"; font-size:4.5vw; line-height:5vw; vertical-align:middle;}
		.box_Area .box .box_bg .table td { position:relative; text-align:center; padding:2vw 0;}
		.box_Area .box .box_bg .table td:nth-child(1) { width:24%;}
		.box_Area .box .box_bg .table td:nth-child(2) { width:38%;}
		.box_Area .box .box_bg .table td:nth-child(3) { width:38%;}
		.box_Area .box .box_bg .table img { width:80%; height:auto;}
		.box_Area .box .box_bg .table b { position:absolute; top:50%; left:0; width:100%; line-height:4.5vw; color:#fff; font-weight:800; font-family:Century Gothic, transform:translateY(-50%;)}
			@media screen and (min-width:767px){
				.box_Area { border-radius:70px;}
				.box_Area:before { background:url(box_Area_bg_top.png) no-repeat center top; background-size:100%;}
				.box_Area .closeBN a { top:-15px; right:-15px; width:60px; height:60px; border:5px solid #999; font-size:50px; line-height:50px;}
				.box_Area .box .title { height:120px; font-size:50px; line-height:130px; letter-spacing:-1px; }
				.box_Area .box .title2 { font-size:50px; line-height:110px; }
				.box_Area .box .title_small { top:90px; height:20px; font-size:20px; line-height:20px;}
				.box_Area .box .center_input { margin:40px auto; }
				.box_Area .box .center_input input { height:70px; border:5px solid #1cb8a5; font-size:36px; line-height:70px; }
				.box_Area .box .sure {  margin:40px auto; }
				.box_Area .box .sure a { border-radius:50px; font-size:44px; line-height:60px; }
				.box_Area .box .sure_2 { margin:0 auto 40px;}
				.box_Area .box .sure_2  a span{position: absolute;width: 100%; top:0;left: 0; font-size:50px;line-height:1.4;}
				.box_Area .box p { font-size:30px; }
				.box_Area .box .box_bg { border-radius:0 0 50px 50px; }
				.box_Area .box .box_bg .table { font-size:24px; line-height:30px; }
				.box_Area .box .box_bg .table td { padding:10px 0;}
				.box_Area .box .box_bg .table td:nth-child(1) { width:24%;}
				.box_Area .box .box_bg .table td:nth-child(2) { width:38%;}
				.box_Area .box .box_bg .table td:nth-child(3) { width:38%;}
				.box_Area .box .box_bg .table img { width:80%; height:auto;}
				.box_Area .box .box_bg .table b { line-height:30px;}
			}


/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
	