@charset "big5";
/* CSS Document */

/*回版頭*/
#gotop { display: none; position:fixed; z-index:5; right:20px; bottom:30px;padding:10px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#fff;  background-color:rgba(0,0,0,0.5); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}

#gotop::before { content: ""; position:absolute; top:7px; left:18px; width: 0; height: 0; border: 4px solid #fff; border-color: transparent transparent #fff; }
	@media screen and (max-width:767px){
		#gotop { right:10px; bottom:50px; }
	}

/*PC分會場header*/
.cantantBase { z-index:5; position: fixed; top:0; left:0; width:100%; background-color:#ff5674; text-align:right;}
/*.cantantBase.fixactive { background-color:#D10312; box-shadow:0 2px 20px rgba(0,0,0,.3); }*/
.cantantBase .box { position:relative; margin:0 auto; width:1220px; height:50px;}
.cantantBase .momologo { position:absolute; top:15px; left:20px; }
.cantantBase .momologo a { display:block; width:200px; height:22px; background:url(momo_logo.png);}
.cantantBase .momologo a:hover { background:url(momo_logo_on.png);}
.cantantBase ul {display:inline-block;  margin:0 25px 0 0; padding:0; list-style:none;  text-align:center; }
.cantantBase ul li { float:left; display:inline-block; position:relative; margin:0; padding:0; margin-left:20px; font-size:16px; line-height:50px;}
.cantantBase ul li::after{position: absolute;top:7px;right: -10px; content: "";display: inline-block; height: 35px;width: 1px;background-color: #ff3c5f;}
.cantantBase ul li a { color:#fff;padding: 0 5px;}
.cantantBase ul li:hover a{ color:#FFFB9F;}
.cantantBase ul .btn_on a { color:#FFFB9F;}
	@media screen and (max-width:767px){
		.cantantBase { background-color:#fff; box-shadow:0 2px 10px rgba(0,0,0,.2);}
		.cantantBase * { -webkit-box-sizing:border-box; box-sizing:border-box;}
		.cantantBase .box { width:100%; height:44px;}
		.cantantBase .momologo { display:none;}
		.cantantBase ul { margin:0 auto; width:100%;}
		.cantantBase ul li { margin-left:0; width:20vw; height:44px; font-size:16px; line-height:35px;letter-spacing: -1px;}
		.cantantBase ul li::after{top:3vw;right: -1vw;height: 20px;background-color: #ddd;}
		/*.cantantBase ul li.btn_on::before{top:14px;left: 3vw;height: 20px;width: 12px; display: block;position: absolute;content: "";background:url(location.png) no-repeat center top;background-size: 100%;}*/
		.cantantBase ul li a {padding: 5px 0 0; color:#000;}
		.cantantBase ul li:hover a{ color:red; }
		.cantantBase ul .btn_on a { color:red;}
		.cantantBase ul .btn_on {text-indent: 2vw;}
	}
	@media screen and (max-width:375px){	
		.cantantBase ul li {font-size:14px;}
}
	
	@media screen and (max-width:360px){	
		.cantantBase ul li.btn_on::before{;left: 2vw;width: 11px;}
}
	
	@media screen and (max-width:767px){
		.fixbox{ z-index:10; position:fixed; top:0px; width:100%; height:44px;
					-webkit-overflow-scrolling:touch;
					-moz-overflow-scrolling:touch;
					-ms-overflow-scrolling:touch;
					-o-overflow-scrolling:touch;
					overflow-scrolling:touch;}
		.fixbox * { -webkit-box-sizing:border-box; box-sizing:border-box;}
		.fixbox ul { margin:0 auto; width:95%; }
		.fixbox ul li { width:14%; overflow:hidden;}
		.fixbox ul li ::after{display: none;}
		.fixbox ul li .txt { padding:0; padding-top:6px; width:100%; height:44px; font-size:12px;  line-height:16px; text-align:center;}
		.fixbox ul li.logo { display:none;}
		.fixbox ul li.fbShare,
		.fixbox ul li.lineShare { width:8%; }
		.fixbox ul li.fbShare img,
		.fixbox ul li.lineShare img { position:relative; width:100%; height:auto;  }
	}

/*PC-黏人精*/
.fixarea { display: none; width:105px; position:fixed; right:10px; top:75px; z-index:99;}
.fixarea .fix_top{ width:105px;height:95px;}
.fixarea .top_title { background:url(fixbox_repeat.png) center repeat;text-align: center;padding-bottom: 4px;}
.fixarea .top_title a{ font:16px/22px "微軟正黑體", "Microsoft JhengHei", Arial; color:#fff; text-decoration:none;}
.fixarea .fix_title { display:block; width:105px; height:37px; background:url(fixbox_title.png); margin:0 auto; font:bold 18px/34px "微軟正黑體", "Microsoft JhengHei", Arial; color:#008c7f; text-align:center; }
.fixarea .fix_title_2 { display:block; width:105px; height:37px; background:url(fixbox_title_2.png); margin:0 auto; font:bold 18px/34px "微軟正黑體", "Microsoft JhengHei", Arial; color:#008c7f; text-align:center; }
.fixarea .fix_main{ display:block; width:105px; height:auto;  margin:0 auto;}
.fixarea ul{padding: 0;margin: 0;}
.fixarea .fix_main ul li{ float:none; padding:10px 6px 10px 6px; list-style-type:none; text-align:center; background:url(fixbox_1_repeat.png) center repeat;}
.fixarea .fix_main ul li:nth-child(1) { background:url(fixbox_repeat.png) center repeat;}
.fixarea .fix_main ul li a{font:16px/18px "微軟正黑體", "Microsoft JhengHei", Arial; color:#fff; text-decoration:none;}
.fixarea .fix_main ul li a:hover{ color:#FFF962;}
.fixarea .fix_other{ display:block; width:105px; height:auto; background:url(fixbox_repeat.png) center repeat; margin:0 auto;}
.fixarea .fix_other ul li{ float:none; padding:6px; list-style-type:none; text-align:center;}
.fixarea .fix_other ul li a{font:16px/18px "微軟正黑體", "Microsoft JhengHei", Arial; color:#FFF; text-decoration:none;}
.fixarea .fix_other ul li a:hover{ color:#FFF962;}
.fixarea .fix_other ul li.btn_on_2 a{ color:#ffe080;}



/*通知浮層*/
.agreeArea { z-index:1; position:relative; top:3%; margin:0 auto 30px; width:94%; max-width:700px; font-family:"Century Gothic", "微軟正黑體", sans-serif; /*text-align:justify; word-break:break-all;*/}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea .box .txtArea { height:480px; overflow:auto; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.agreeArea .box h3 { margin:0; padding:0; height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#000; background-color:#ffd710;}
.agreeArea .box p { margin:10px auto; margin-top:1rem; padding:0 0 0 24px; text-align:center; font-size:1em; text-align:left; line-height:1.2em; color:#000;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.agreeArea .box ul,
.agreeArea .box ol { margin:0;}
.agreeArea .box li { margin:0 20px 10px 0px; font-size:0.9em;}
.agreeArea .box table { margin: 0 5%; width:90%;  border-collapse:collapse;}
.agreeArea .box th { padding:5px; border:1px solid #CCC; background:#eee; font-size:0.8em; }
.agreeArea .box td { padding:5px; border:1px solid #CCC; font-size:0.8em; vertical-align:top; }
.agreeArea .box table ul,
.agreeArea .box table ol { padding:0 0 0 20px;}
.agreeArea .box table li { margin:0 0 10px 0px;}


/*浮層嘿嘿*/
.blackBox_play {}
.blackBox { display:none; z-index:9; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75); }
.blackBox * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox  a { text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox .Boxclose { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}
.blackBox .box h4 {height: 3rem; font-size: 0.8rem; font-weight: 100; text-align: center; color: #000;}



/*分享浮層*/
.FBLINEArea { width:920px; position:relative; display:block; margin: 0 auto; padding:20px 0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.FBLINEArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.FBLINEArea .closeBN a:hover { background-color:#666; text-decoration:none}
.FBLINEArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.FBLINEArea .box { margin: 10px auto; padding: 20px 20px;}
.FBLINEArea .box a{ display: block; margin: 20px auto 30px; width: 702px; height: 118px; }
@media screen and (max-width:767px){
		.FBLINEArea { width:92%;}
		.FBLINEArea .title  { margin:0 5%; font-size:30px;}
		.FBLINEArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
        .FBLINEArea .box {width: 96%;margin: 0 auto;padding: 0;}
	    .FBLINEArea .box a{ display: block; margin: 2vw; width: 85vw; height:auto; }
		.FBLINEArea .box img{width: 100%;margin: 0; }
}	

	
/*攻略btn*/
	.btn_more { z-index:8; position:absolute; padding:20px;top:50px;right: 60px;}
	.btn_check { z-index:8; position:absolute; padding:20px;top:50px;right: 170px;}
	.btn_more a:after,
	.btn_more a:before,
	.btn_more a { display:block; padding:0 ; border-radius:100px;font-weight:800; font-size:25px; line-height:40px; color:#fff; text-align:center;
						  -webkit-transition: all 0.2s ease;
							 -moz-transition: all 0.2s ease;
							  -ms-transition: all 0.2s ease;
							   -o-transition: all 0.2s ease;
								  transition: all 0.2s ease;}
								  

	.btn_more a:before { background-color:#FFF;}
	.btn_more:hover a::after,
	.btn_more:hover a::before,
	.btn_more:hover a {}

	.btn_more a:before { content: ""; z-index:-1; position:absolute; top:-10%; left:-5%; padding:0; box-shadow: none; width:110%; height:120%;  }
	.btn_more a:before {-webkit-animation:btn_more-play 1.5s infinite linear;animation:btn_more-play 1.5s infinite linear;}
	.btn_more a:before {-webkit-animation-delay:.5s; animation-delay:.5s;}
			@media screen and (max-width:767px){
				.Area_top .btn_more { position:absolute;top:calc(44px + 0.6vw);right:0px;padding: 1vw; }
				.Area_top .btn_check {right: 15vw;}
				.Area_top .btn_more a { padding:0; font-size:4vw; line-height:7vw;width: 13vw;}
			}

		@-webkit-keyframes btn_more-play {
			  0% { -webkit-filter: opacity(0.3)}
			  50% { -webkit-filter: opacity(1)}
			 100% { -webkit-filter: opacity(0.3)}
		}
		@keyframes btn_more-play {
			  0% { filter:opacity(0.3)}
			  50% { filter: opacity(1)}
			 100% { filter: opacity(0.3)}
		}	

/*遠進高斯模糊*/
.zoomfilter-play  { -webkit-animation:zoomfilter-play 0.5s ease-in-out ;
				            animation:zoomfilter-play 0.5s ease-in-out  ;}
	@-webkit-keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
	@keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
							
							

/*飄-上下*/
.uptodown-play { -webkit-animation:uptodown-play 1s infinite alternate;
				         animation:uptodown-play 1s infinite alternate;}
	@-webkit-keyframes uptodown-play { 
		0% { -webkit-transform: translate(0,-80px);  } 
		100% { -webkit-transform: translate(0,0); }
	}
	@keyframes uptodown-play { 
		0% { transform: translate(0,-80px);  } 
		100% {  transform: translate(0,0); }
	}

/*飄-下上*/
.downtoup-play { -webkit-animation:downtoup-play 1.5s infinite alternate;
				         animation:downtoup-play 1.5s infinite alternate;}
	@-webkit-keyframes downtoup-play { 
		0% { -webkit-transform: translate(0,0);   } 
		100% {  -webkit-transform: translate(0,-10px); }
	}
	@keyframes downtoup-play { 
		0% { transform: translate(0,0); } 
		100% { transform: translate(0,-10px); }
	}



/*轉轉3*/
.rotate3-play { -webkit-animation:rotate3-play 2s linear infinite ;
				       animation:rotate3-play 2s linear infinite ;}
	@keyframes rotate3-play {
	  100% { transform: rotate(-360deg);}
	}

/*背景飄上*/
.bgupup-play { -webkit-animation:bgupup-play 40s linear infinite ;
				       animation:bgupup-play 40s linear infinite ;}
	@keyframes bgupup-play {
	  100% { background-position: center -925px; }
	}


/*心跳A*/
.heartbeat-play {-webkit-animation-duration: 1.4s;  animation-duration: 1.4s;  -webkit-animation-name: heartbeat-play;  animation-name: heartbeat-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;/* -webkit-animation-direction: alternate;animation-direction: alternate;*/}
	@-webkit-keyframes heartbeat-play {   
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		}
	@keyframes heartbeat-play { 
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
	}

/*放大縮小*/
.zoominzoomout-play { -webkit-animation-duration: 0.5s;  animation-duration: 0.5s; animation-delay:0s;  -webkit-animation-name: zoominzoomout-play;  animation-name: zoominzoomout-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
	}
	
/*彈跳*/	
.bounce-play { -webkit-animation:bounce-play 3s linear infinite ;
				          animation:bounce-play 3s linear infinite ;}
	@-webkit-keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% { -webkit-transform: translateY(0); transform: translateY(0); }
	  10% { -webkit-transform: translateY(-10%); transform: translateY(-10%);  }
	  15% { -webkit-transform: translateY(-5%); transform: translateY(-5%);  }
	}
	@keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% { -webkit-transform: translateY(0); transform: translateY(0); }
	  10% { -webkit-transform: translateY(-10%); transform: translateY(-10%);  }
	  15% { -webkit-transform: translateY(-5%); transform: translateY(-5%);  }
	}


/*彈跳2-超活潑*/	
.bounce2-play { -webkit-animation:bounce2-play 1s -1s infinite alternate ;
				        animation:bounce2-play 1s -1s infinite alternate ;}
	@-webkit-keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}
	@keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}



/*主標微亮*/		  
.minbright-play { -webkit-animation:minbright-play 1s linear infinite alternate; animation:minbright-play 1s linear infinite alternate ;}
	@-webkit-keyframes minbright-play {
	  0% { filter:brightness(100%);  }
	  100% { filter:brightness(120%);  }
	}
	@keyframes minbright-play {
	  0% { filter:brightness(100%);  }
	  100% { filter:brightness(120%);  }
	}

/*閃光1*/				  
.brightness1-play { -webkit-animation:brightness1-play 4s infinite ; animation:brightness1-play 4s infinite ;}
	@keyframes brightness1-play {
	  0% { filter:brightness(100%);  }
	  92% { filter:brightness(100%);  }
	  94% { filter:brightness(200%);  }
	  96% { filter:brightness(100%);  }
	  98% { filter:brightness(200%);  }
	  100% { filter:brightness(100%);  }
	}

/*閃光2*/				  
.brightness2-play { -webkit-animation:brightness2-play 4s infinite ; animation:brightness2-play 0.2s infinite linear alternate ;}
	@keyframes brightness2-play {
	  0%   { filter: hue-rotate(0deg);}
	  100% { filter: hue-rotate(-25deg);}
	}
