@charset "big5";
/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/

/*
==============================================
slideDown
==============================================
*/


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideUp
==============================================
*/


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*
==============================================
slideExpandUp
==============================================
*/


.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);		
	}
}

/*
==============================================
expandUp
==============================================
*/


.expandUp{
	animation-name: expandUp;
	-webkit-animation-name: expandUp;	

	animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;		

	visibility: visible !important;	
}

@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}	
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}	
}

/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

/*
==============================================
expandOpen
==============================================
*/


.expandOpen{
	animation-name: expandOpen;
	-webkit-animation-name: expandOpen;	

	animation-duration: 1.2s;	
	-webkit-animation-duration: 1.2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;	
}

@keyframes expandOpen {
	0% {
		transform: scale(1.8);		
	}
	50% {
		transform: scale(0.95);
	}	
	80% {
		transform: scale(1.05);
	}
	90% {
		transform: scale(0.98);
	}	
	100% {
		transform: scale(1);
	}			
}

@-webkit-keyframes expandOpen {
	0% {
		-webkit-transform: scale(1.8);		
	}
	50% {
		-webkit-transform: scale(0.95);
	}	
	80% {
		-webkit-transform: scale(1.05);
	}
	90% {
		-webkit-transform: scale(0.98);
	}	
	100% {
		-webkit-transform: scale(1);
	}					
}

/*
==============================================
bigEntrance
==============================================
*/


.bigEntrance{
	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}

@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}

/*
==============================================
hatch
==============================================
*/

.hatch{
	animation-name: hatch;
	-webkit-animation-name: hatch;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 

	visibility: visible !important;		
}

@keyframes hatch {
	0% {
		transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		transform: rotate(2deg) scaleY(1);
	}
	50% {
		transform: rotate(-2deg);
	}	
	65% {
		transform: rotate(1deg);
	}	
	80% {
		transform: rotate(-1deg);
	}		
	100% {
		transform: rotate(0deg);
	}									
}

@-webkit-keyframes hatch {
	0% {
		-webkit-transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		-webkit-transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		-webkit-transform: rotate(2deg) scaleY(1);
	}
	50% {
		-webkit-transform: rotate(-2deg);
	}	
	65% {
		-webkit-transform: rotate(1deg);
	}	
	80% {
		-webkit-transform: rotate(-1deg);
	}		
	100% {
		-webkit-transform: rotate(0deg);
	}		
}


/*
==============================================
bounce
==============================================
*/


.bounce{
	animation-name: bounce;
	-webkit-animation-name: bounce;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	
	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 	
}

@keyframes bounce {
	0% {
		transform: translateY(0%) scaleY(0.6);
	}
	60%{
		transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleY(1.05) scaleX(1);
	}	
	90%{
		transform: translateY(0%) scaleY(0.95) scaleX(1);
	}				
	100%{
		transform: translateY(0%) scaleY(1) scaleX(1);
	}	
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0%) scaleY(0.6);
	}
	60%{
		-webkit-transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		-webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		-webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
	}	
	90%{
		-webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
	}				
	100%{
		-webkit-transform: translateY(0%) scaleY(1) scaleX(1);
	}		
}


/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

/*
==============================================
floating
==============================================
*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;
	-mos-animation-name: floating;
	-ms-animation-name: floating;
	-o-animation-name: floating;

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;
	-mos-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-mos-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translate3d(0,0,0);	
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(0,2%,0);	
		-moz-transform: translate3d(0,2%,0);
		-ms-transform: translate3d(0,15px,0);
		-o-transform: translate3d(0,15px,0);
	}	
	100% {
		transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translate3d(0,0,0);
	}
	50% {
		-webkit-transform: translate3d(0,15px,0);		
	}	
	100% {
		-webkit-transform: translate3d(0,0,0);
	}			
}

/*
==============================================
floating2
==============================================
*/

.floating2{
	animation-name: floating2;
	-webkit-animation-name: floating2;
	-mos-animation-name: floating2;
	-ms-animation-name: floating2;
	-o-animation-name: floating2;

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;
	-mos-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-mos-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}

@keyframes floating2 {
	0% {
		transform: translate3d(0,0,0);	
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(0,-2%,0);	
		-moz-transform: translate3d(0,-2%,0);
		-ms-transform: translate3d(0,-15px,0);
		-o-transform: translate3d(0,-15px,0);
	}	
	100% {
		transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
	}				
}

@-webkit-keyframes floating2 {
	0% {
		-webkit-transform: translate3d(0,0,0);
	}
	50% {
		-webkit-transform: translate3d(0,-15px,0);		
	}	
	100% {
		-webkit-transform: translate3d(0,0,0);
	}			
}


/*
==============================================
tossing
==============================================
*/

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}

/*
==============================================
pullUp
==============================================
*/

.pullUp{
	animation-name: pullUp;
	-webkit-animation-name: pullUp;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 		
}

@keyframes pullUp {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullUp {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}

/*
==============================================
pullDown
==============================================
*/

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}

/*
==============================================
stretchLeft
==============================================
*/

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

/*
==============================================
stretchRight
==============================================
*/

.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 		
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}

.imgAnimation:hover {-webkit-animation-duration: 0.5s;  animation-duration: 0.5s;  -webkit-animation-name: button;  animation-name: button;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes button {   0% { transform: scale(1); } 100%{ transform: scale(0.97);}}
@keyframes button { 0% { transform: scale(1);} 100%{ transform: scale(0.97);}}


.zoominzoomout {-webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-name: zoominzoomout;  animation-name: zoominzoomout;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes zoominzoomout {   0% { transform: scale(0.9); } 100%{ transform: scale(1);}}
@keyframes zoominzoomout { 0% { transform: scale(0.9);} 100%{ transform: scale(1);}}


.approch1 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: approch1;  animation-name: approch1;  -webkit-animation-iteration-count: 1;    animation-iteration-count:1; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes approch1 { 0% { transform: translate(0,-100px); opacity:0.2 } 100%{ transform: translate(0,0); opacity:1 }}
@keyframes approch1 { 0% { transform: translate(0,-100px); opacity:0.2 } 50%{ transform: translate(0,50px); opacity:0.5 } 100%{ transform: translate(0,0); opacity:1 }}

.uptodown {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: uptodown;  animation-name: uptodown;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown { 0% { transform: translate(0,-100px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown { 0% { transform: translate(0,-100px);  } 100%{ transform: translate(0,0);}}


.downtoup {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: downtoup;  animation-name: downtoup;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-100px);}}
@keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-100px);}}


@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flash {
  from, to {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes shake {

0% {
    transform: translate3d(0, 0, 0);
  }
  
50% {
    transform: translate3d(-10px, 0, 0);
  }
  
  

100% {
    transform: translate3d(0, 0, 0);
  }


}

.shake {
  animation-name: shake;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(-1, -1, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: none;

  }
}

.wobble {
  animation-name: wobble;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownRight {
  animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpRight {
  animation-name: rotateInUpRight;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.rotateOut {
  animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-name: hinge;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.rollIn {
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInRight {
  animation-name: zoomInRight;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutDown {
  animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}










.uptodown {-webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-name: uptodown;  animation-name: uptodown;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown { 0% { transform: translate(0,-20px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown { 0% { transform: translate(0,-20px);  } 100%{ transform: translate(0,0);}}


.downtoup {-webkit-animation-duration: 1s;  animation-duration: 1s;  -webkit-animation-name: downtoup;  animation-name: downtoup;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-20px);}}
@keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-20px);}}

/*心跳*/
.heartbeat-play {-webkit-animation-duration: 1.5s;  animation-duration: 1.5s;  -webkit-animation-name: heartbeat-play;  animation-name: heartbeat-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;/* -webkit-animation-direction: alternate;animation-direction: alternate;*/}
	@-webkit-keyframes heartbeat-play {   
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		}
	@keyframes heartbeat-play { 
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
	}
/*動資動資*/
.is-off {
  -webkit-animation: is-off 2s linear infinite;
          animation: is-off 2s linear infinite;
}
.is-off2 {
  -webkit-animation: is-off 2s -1s linear infinite;
          animation: is-off 2s -1s linear infinite;
}

.bg-move {
  -webkit-animation: bg-move 2s linear infinite;
          animation: bg-move 2s linear infinite;
}
.tr-bag {
  -webkit-transform: skewX(0deg) scaleY(1);
          transform: skewX(0deg) scaleY(1);
  -webkit-animation: tr-bag 4s linear infinite;
          animation: tr-bag 4s linear infinite;
}
.glitch .clock {
  -webkit-transform: skewX(0deg) scaleY(1);
          transform: skewX(0deg) scaleY(1);
  -webkit-animation: clock-bag 4s linear infinite;
          animation: clock-bag 4s linear infinite;
}
.c2 {
  -webkit-animation: c2 1s infinite linear alternate-reverse;
          animation: c2 1s infinite linear alternate-reverse;
}
.c1 {
  -webkit-animation: c1 2s infinite linear alternate-reverse;
          animation: c1 2s infinite linear alternate-reverse;
}
	/*
	@keyframes is-off {
	}
	@keyframes c1 {
	}
	@keyframes c2 {
	}
	@keyframes clock-bag {
	}
	@keyframes tr-bag {
	}
	@keyframes bg-move {
	}
	*/
	@-webkit-keyframes is-off {
	  0% {
		opacity: 1;
	  }
	  50% {
		opacity: 1;
	  }
	  56% {
		opacity: 0;
	  }
	  57% {
		opacity: 0;
	  }
	  58% {
		opacity: 1;
	  }
	  71% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  72% {
		-webkit-transform: scaleY(3) skewX(-60deg);
				transform: scaleY(3) skewX(-60deg);
	  }
	  73% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  80% {
		opacity: 1;
	  }
	  81% {
		opacity: 0;
	  }
	  84% {
		opacity: 0;
	  }
	  85% {
		opacity: 1;
	  }
	  91% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	  }/*
	  92% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
				transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
		color: #008000;
	  }*/
	  93% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	  }
	}
	@keyframes is-off {
	  0% {
		opacity: 1;
	  }
	  50% {
		opacity: 1;
	  }
	  56% {
		opacity: 0;
	  }
	  57% {
		opacity: 0;
	  }
	  58% {
		opacity: 1;
	  }
	  71% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  72% {
		-webkit-transform: scaleY(3) skewX(-60deg);
				transform: scaleY(3) skewX(-60deg);
	  }
	  73% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  80% {
		opacity: 1;
	  }
	  81% {
		opacity: 0;
	  }
	  84% {
		opacity: 0;
	  }
	  85% {
		opacity: 1;
	  }
	  91% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	  }/*
	  92% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
				transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
		color: #008000;
	  }*/
	  93% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	  }
	}
	@-webkit-keyframes c1 {
	  0% {
		clip: rect(33px, 9999px, 9px, 0);
	  }
	  5% {
		clip: rect(27px, 9999px, 69px, 0);
	  }
	  10% {
		clip: rect(89px, 9999px, 66px, 0);
	  }
	  15.000000000000002% {
		clip: rect(4px, 9999px, 51px, 0);
	  }
	  20% {
		clip: rect(66px, 9999px, 64px, 0);
	  }
	  25% {
		clip: rect(38px, 9999px, 18px, 0);
	  }
	  30.000000000000004% {
		clip: rect(64px, 9999px, 35px, 0);
	  }
	  35.00000000000001% {
		clip: rect(55px, 9999px, 89px, 0);
	  }
	  40% {
		clip: rect(46px, 9999px, 3px, 0);
	  }
	  45% {
		clip: rect(42px, 9999px, 17px, 0);
	  }
	  50% {
		clip: rect(96px, 9999px, 75px, 0);
	  }
	  55% {
		clip: rect(43px, 9999px, 30px, 0);
	  }
	  60.00000000000001% {
		clip: rect(71px, 9999px, 22px, 0);
	  }
	  65% {
		clip: rect(16px, 9999px, 28px, 0);
	  }
	  70.00000000000001% {
		clip: rect(84px, 9999px, 41px, 0);
	  }
	  75% {
		clip: rect(78px, 9999px, 46px, 0);
	  }
	  80% {
		clip: rect(75px, 9999px, 69px, 0);
	  }
	  85% {
		clip: rect(95px, 9999px, 100px, 0);
	  }
	  90% {
		clip: rect(59px, 9999px, 80px, 0);
	  }
	  95% {
		clip: rect(65px, 9999px, 18px, 0);
	  }
	  100% {
		clip: rect(58px, 9999px, 91px, 0);
	  }
	}
	@keyframes c1 {
	  0% {
		clip: rect(33px, 9999px, 9px, 0);
	  }
	  5% {
		clip: rect(27px, 9999px, 69px, 0);
	  }
	  10% {
		clip: rect(89px, 9999px, 66px, 0);
	  }
	  15.000000000000002% {
		clip: rect(4px, 9999px, 51px, 0);
	  }
	  20% {
		clip: rect(66px, 9999px, 64px, 0);
	  }
	  25% {
		clip: rect(38px, 9999px, 18px, 0);
	  }
	  30.000000000000004% {
		clip: rect(64px, 9999px, 35px, 0);
	  }
	  35.00000000000001% {
		clip: rect(55px, 9999px, 89px, 0);
	  }
	  40% {
		clip: rect(46px, 9999px, 3px, 0);
	  }
	  45% {
		clip: rect(42px, 9999px, 17px, 0);
	  }
	  50% {
		clip: rect(96px, 9999px, 75px, 0);
	  }
	  55% {
		clip: rect(43px, 9999px, 30px, 0);
	  }
	  60.00000000000001% {
		clip: rect(71px, 9999px, 22px, 0);
	  }
	  65% {
		clip: rect(16px, 9999px, 28px, 0);
	  }
	  70.00000000000001% {
		clip: rect(84px, 9999px, 41px, 0);
	  }
	  75% {
		clip: rect(78px, 9999px, 46px, 0);
	  }
	  80% {
		clip: rect(75px, 9999px, 69px, 0);
	  }
	  85% {
		clip: rect(95px, 9999px, 100px, 0);
	  }
	  90% {
		clip: rect(59px, 9999px, 80px, 0);
	  }
	  95% {
		clip: rect(65px, 9999px, 18px, 0);
	  }
	  100% {
		clip: rect(58px, 9999px, 91px, 0);
	  }
	}
	@-webkit-keyframes c2 {
	  0% {
		clip: rect(91px, 9999px, 28px, 0);
	  }
	  5% {
		clip: rect(36px, 9999px, 73px, 0);
	  }
	  10% {
		clip: rect(68px, 9999px, 18px, 0);
	  }
	  15.000000000000002% {
		clip: rect(60px, 9999px, 68px, 0);
	  }
	  20% {
		clip: rect(95px, 9999px, 73px, 0);
	  }
	  25% {
		clip: rect(70px, 9999px, 98px, 0);
	  }
	  30.000000000000004% {
		clip: rect(65px, 9999px, 2px, 0);
	  }
	  35.00000000000001% {
		clip: rect(5px, 9999px, 46px, 0);
	  }
	  40% {
		clip: rect(23px, 9999px, 11px, 0);
	  }
	  45% {
		clip: rect(56px, 9999px, 1px, 0);
	  }
	  50% {
		clip: rect(56px, 9999px, 42px, 0);
	  }
	  55% {
		clip: rect(4px, 9999px, 50px, 0);
	  }
	  60.00000000000001% {
		clip: rect(45px, 9999px, 67px, 0);
	  }
	  65% {
		clip: rect(3px, 9999px, 39px, 0);
	  }
	  70.00000000000001% {
		clip: rect(30px, 9999px, 1px, 0);
	  }
	  75% {
		clip: rect(44px, 9999px, 8px, 0);
	  }
	  80% {
		clip: rect(42px, 9999px, 61px, 0);
	  }
	  85% {
		clip: rect(25px, 9999px, 95px, 0);
	  }
	  90% {
		clip: rect(96px, 9999px, 46px, 0);
	  }
	  95% {
		clip: rect(65px, 9999px, 43px, 0);
	  }
	  100% {
		clip: rect(42px, 9999px, 12px, 0);
	  }
	  23% {
		-webkit-transform: scaleX(0.8);
				transform: scaleX(0.8);
	  }
	}
	@keyframes c2 {
	  0% {
		clip: rect(91px, 9999px, 28px, 0);
	  }
	  5% {
		clip: rect(36px, 9999px, 73px, 0);
	  }
	  10% {
		clip: rect(68px, 9999px, 18px, 0);
	  }
	  15.000000000000002% {
		clip: rect(60px, 9999px, 68px, 0);
	  }
	  20% {
		clip: rect(95px, 9999px, 73px, 0);
	  }
	  25% {
		clip: rect(70px, 9999px, 98px, 0);
	  }
	  30.000000000000004% {
		clip: rect(65px, 9999px, 2px, 0);
	  }
	  35.00000000000001% {
		clip: rect(5px, 9999px, 46px, 0);
	  }
	  40% {
		clip: rect(23px, 9999px, 11px, 0);
	  }
	  45% {
		clip: rect(56px, 9999px, 1px, 0);
	  }
	  50% {
		clip: rect(56px, 9999px, 42px, 0);
	  }
	  55% {
		clip: rect(4px, 9999px, 50px, 0);
	  }
	  60.00000000000001% {
		clip: rect(45px, 9999px, 67px, 0);
	  }
	  65% {
		clip: rect(3px, 9999px, 39px, 0);
	  }
	  70.00000000000001% {
		clip: rect(30px, 9999px, 1px, 0);
	  }
	  75% {
		clip: rect(44px, 9999px, 8px, 0);
	  }
	  80% {
		clip: rect(42px, 9999px, 61px, 0);
	  }
	  85% {
		clip: rect(25px, 9999px, 95px, 0);
	  }
	  90% {
		clip: rect(96px, 9999px, 46px, 0);
	  }
	  95% {
		clip: rect(65px, 9999px, 43px, 0);
	  }
	  100% {
		clip: rect(42px, 9999px, 12px, 0);
	  }
	  23% {
		-webkit-transform: scaleX(0.8);
				transform: scaleX(0.8);
	  }
	}
	@-webkit-keyframes clock-bag {
	  0% {
		-webkit-transform: translate(4px, 2px);
				transform: translate(4px, 2px);
	  }
	  2% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  4% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  6% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  8% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  10% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  12% {
		-webkit-transform: translate(1px, 1px);
				transform: translate(1px, 1px);
	  }
	  14.000000000000002% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  16% {
		-webkit-transform: translate(1px, 3px);
	
				transform: translate(1px, 3px);
	  }
	  18% {
		-webkit-transform: translate(4px, 4px);
				transform: translate(4px, 4px);
	  }
	  20% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  22% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  24% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  26% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  28.000000000000004% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  30% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  32% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  34% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  36% {
		-webkit-transform: translate(4px, 2px);
				transform: translate(4px, 2px);
	  }
	  38% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  40% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  42% {
		-webkit-transform: translate(4px, 3px);
				transform: translate(4px, 3px);
	  }
	  44% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  46.00000000000001% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  48% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  50% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  52% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  54% {
		-webkit-transform: translate(4px, 4px);
				transform: translate(4px, 4px);
	  }
	  56.00000000000001% {
		-webkit-transform: translate(3px, 3px);
				transform: translate(3px, 3px);
	  }
	  58% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  60% {
		-webkit-transform: translate(4px, 3px);
				transform: translate(4px, 3px);
	  }
	  62% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  64% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  66% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  68% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  70.00000000000001% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  72% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  74% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  76% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  78% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  80% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  82.00000000000001% {
		-webkit-transform: translate(1px, 2px);
				transform: translate(1px, 2px);
	
	
	  }
	  84% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  86% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  88% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  90% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  92.00000000000001% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  94% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  96% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  98% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  100% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  1% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
				transform: scaleY(3) skewX(-60deg);
	  }
	  2% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }/*
	  52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
				transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	  }*/
	  53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }
	}
	@keyframes clock-bag {
	  0% {
		-webkit-transform: translate(4px, 2px);
				transform: translate(4px, 2px);
	  }
	  2% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  4% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  6% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  8% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  10% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  12% {
		-webkit-transform: translate(1px, 1px);
				transform: translate(1px, 1px);
	  }
	  14.000000000000002% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  16% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  18% {
		-webkit-transform: translate(4px, 4px);
				transform: translate(4px, 4px);
	  }
	  20% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  22% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  24% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  26% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  28.000000000000004% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  30% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  32% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  34% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  36% {
		-webkit-transform: translate(4px, 2px);
				transform: translate(4px, 2px);
	  }
	  38% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  40% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  42% {
		-webkit-transform: translate(4px, 3px);
				transform: translate(4px, 3px);
	  }
	  44% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  46.00000000000001% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  48% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  50% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  52% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  54% {
		-webkit-transform: translate(4px, 4px);
				transform: translate(4px, 4px);
	  }
	  56.00000000000001% {
		-webkit-transform: translate(3px, 3px);
				transform: translate(3px, 3px);
	  }
	  58% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  60% {
		-webkit-transform: translate(4px, 3px);
				transform: translate(4px, 3px);
	  }
	  62% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  64% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  66% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  68% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  70.00000000000001% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  72% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  74% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  76% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  78% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  80% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  82.00000000000001% {
		-webkit-transform: translate(1px, 2px);
				transform: translate(1px, 2px);
	  }
	  84% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  86% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  88% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  90% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  92.00000000000001% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  94% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  96% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  98% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  100% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  1% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
				transform: scaleY(3) skewX(-60deg);
	  }
	  2% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }/*
	  52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
				transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	  }*/
	  53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }
	}
	@-webkit-keyframes tr-bag {
	  0% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  2% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  4% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  6% {
		-webkit-transform: translate(3px, 2px);
				transform: translate(3px, 2px);
	  }
	  8% {
		-webkit-transform: translate(1px, 1px);
				transform: translate(1px, 1px);
	  }
	  10% {
		-webkit-transform: translate(5px, 5px);
				transform: translate(5px, 5px);
	  }
	  12% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  14.000000000000002% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  16% {
		-webkit-transform: translate(4px, 3px);
				transform: translate(4px, 3px);
	  }
	  18% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  20% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  22% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  24% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  26% {
		-webkit-transform: translate(4px, 1px);
				transform: translate(4px, 1px);
	  }
	  28.000000000000004% {
		-webkit-transform: translate(3px, 3px);
				transform: translate(3px, 3px);
	  }
	  30% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  32% {
		-webkit-transform: translate(4px, 4px);
				transform: translate(4px, 4px);
	  }
	  34% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  36% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  38% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  40% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  42% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  44% {
		-webkit-transform: translate(1px, 4px);
	
				transform: translate(1px, 4px);
	  }
	  46.00000000000001% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  48% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  50% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  52% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  54% {
		-webkit-transform: translate(3px, 3px);
				transform: translate(3px, 3px);
	  }
	  56.00000000000001% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  58% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  60% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  62% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  64% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  66% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  68% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  70.00000000000001% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  72% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  74% {
		-webkit-transform: translate(4px, 1px);
				transform: translate(4px, 1px);
	  }
	  76% {
		-webkit-transform: translate(2px, 4px);
				transform: translate(2px, 4px);
	  }
	  78% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  80% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  82.00000000000001% {
		-webkit-transform: translate(2px, 4px);
				transform: translate(2px, 4px);
	  }
	  84% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  86% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  88% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  90% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  92.00000000000001% {
		-webkit-transform: translate(5px, 5px);
				transform: translate(5px, 5px);
	  }
	  94% {
		-webkit-transform: translate(3px, 2px);
				transform: translate(3px, 2px);
	  }
	  96% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  98% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  100% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  1% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
				transform: scaleY(3) skewX(-60deg);
	  }
	  2% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }/*
	  52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
				transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	  }*/
	  53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }
	}
	@keyframes tr-bag {
	  0% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  2% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  4% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	
	  6% {
		-webkit-transform: translate(3px, 2px);
				transform: translate(3px, 2px);
	  }
	  8% {
		-webkit-transform: translate(1px, 1px);
				transform: translate(1px, 1px);
	  }
	  10% {
		-webkit-transform: translate(5px, 5px);
				transform: translate(5px, 5px);
	  }
	  12% {
		-webkit-transform: translate(3px, 5px);
				transform: translate(3px, 5px);
	  }
	  14.000000000000002% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  16% {
		-webkit-transform: translate(4px, 3px);
				transform: translate(4px, 3px);
	  }
	  18% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  20% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  22% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  24% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  26% {
		-webkit-transform: translate(4px, 1px);
				transform: translate(4px, 1px);
	  }
	  28.000000000000004% {
		-webkit-transform: translate(3px, 3px);
				transform: translate(3px, 3px);
	  }
	  30% {
		-webkit-transform: translate(1px, 3px);
				transform: translate(1px, 3px);
	  }
	  32% {
		-webkit-transform: translate(4px, 4px);
				transform: translate(4px, 4px);
	  }
	  34% {
		-webkit-transform: translate(5px, 2px);
				transform: translate(5px, 2px);
	  }
	  36% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  38% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  40% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  42% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  44% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  46.00000000000001% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  48% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  50% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  52% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  54% {
		-webkit-transform: translate(3px, 3px);
				transform: translate(3px, 3px);
	  }
	  56.00000000000001% {
		-webkit-transform: translate(2px, 1px);
				transform: translate(2px, 1px);
	  }
	  58% {
		-webkit-transform: translate(5px, 3px);
				transform: translate(5px, 3px);
	  }
	  60% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  62% {
		-webkit-transform: translate(2px, 3px);
				transform: translate(2px, 3px);
	  }
	  64% {
		-webkit-transform: translate(5px, 4px);
				transform: translate(5px, 4px);
	  }
	  66% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  68% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  70.00000000000001% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  72% {
		-webkit-transform: translate(3px, 1px);
				transform: translate(3px, 1px);
	  }
	  74% {
		-webkit-transform: translate(4px, 1px);
				transform: translate(4px, 1px);
	  }
	  76% {
		-webkit-transform: translate(2px, 4px);
				transform: translate(2px, 4px);
	  }
	  78% {
		-webkit-transform: translate(2px, 2px);
				transform: translate(2px, 2px);
	  }
	  80% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  82.00000000000001% {
		-webkit-transform: translate(2px, 4px);
	
				transform: translate(2px, 4px);
	  }
	  84% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  86% {
		-webkit-transform: translate(4px, 5px);
				transform: translate(4px, 5px);
	  }
	  88% {
		-webkit-transform: translate(3px, 4px);
				transform: translate(3px, 4px);
	  }
	  90% {
		-webkit-transform: translate(1px, 4px);
				transform: translate(1px, 4px);
	  }
	  92.00000000000001% {
		-webkit-transform: translate(5px, 5px);
				transform: translate(5px, 5px);
	  }
	  94% {
		-webkit-transform: translate(3px, 2px);
				transform: translate(3px, 2px);
	  }
	  96% {
		-webkit-transform: translate(5px, 1px);
				transform: translate(5px, 1px);
	  }
	  98% {
		-webkit-transform: translate(2px, 5px);
				transform: translate(2px, 5px);
	  }
	  100% {
		-webkit-transform: translate(1px, 5px);
				transform: translate(1px, 5px);
	  }
	  1% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
				transform: scaleY(3) skewX(-60deg);
	  }
	  2% {
		-webkit-transform: scaleY(1) skewX(0deg);
				transform: scaleY(1) skewX(0deg);
	  }
	  51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }/*
	  52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
				transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	  }*/
	  53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
				transform: scaleX(1) scaleY(1) skewX(0deg);
	  }
	}
	@-webkit-keyframes bg-move {
	  0% {
		background-position: 0 0;
	  }
	  100% {
		background-position: 0 -32px;
	  }
	}
	@keyframes bg-move {
	  0% {
		background-position: 0 0;
	  }
	  100% {
		background-position: 0 -32px;
	  }
	}
	
	
	
/*閃光*/				  
.brightness-play { -webkit-animation:brightness2-play 1.8s -0.14s linear infinite ; animation:brightness2-play 1.8s -0.14s linear infinite ;}
	@keyframes brightness2-play {
	  0% { 
		filter:brightness(100%);
	  }
	  88% { 
		filter:brightness(100%);
	  }
	  91% { 
		filter:brightness(500%);
	  }
	  94% { 
		filter:brightness(100%);
	  }
	  97% { 
		filter:brightness(500%);
	  }
	  100% { 
		filter:brightness(100%);
	  }
	}

/*閃光*/				  
.brightness-play { -webkit-animation:brightness-play 2s infinite ;
				           animation:brightness-play 2s infinite ;}
	@-webkit-keyframes brightness-play {
	  0% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	  92% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	  94% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="2" /><feFuncG type="linear" slope="2" /><feFuncB type="linear" slope="2" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(200%); 
		        filter:brightness(200%);
	  }
	  96% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	  98% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="2" /><feFuncG type="linear" slope="2" /><feFuncB type="linear" slope="2" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(200%); 
		        filter:brightness(200%);
	  }
	  100% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	}
	@keyframes brightness-play {
	  0% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	  92% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	  94% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="2" /><feFuncG type="linear" slope="2" /><feFuncB type="linear" slope="2" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(200%); 
		        filter:brightness(200%);
	  }
	  96% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	  98% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="2" /><feFuncG type="linear" slope="2" /><feFuncB type="linear" slope="2" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(200%); 
		        filter:brightness(200%);
	  }
	  100% { 
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter'); 
		-webkit-filter:brightness(100%); 
		        filter:brightness(100%);
	  }
	}


.tr-bag {
  -webkit-transform: skewX(0deg) scaleY(1);
          transform: skewX(0deg) scaleY(1);
  -webkit-animation: tr-bag 4s linear infinite;
          animation: tr-bag 4s linear infinite;
}