@charset "big5";
/* CSS Document */

html { -webkit-text-size-adjust:none;}
html, body { width:100%; }
body { margin:0; padding:0; text-align:left; font-size:20px; line-height:1.7; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica;background:url(bg02.jpg) repeat-y top center;}
	@media screen and (max-width:767px){
		body { font-size:14px;height:100%; line-height:1.8;overflow: hidden;}
		html { -webkit-text-size-adjust:none;height:100%;overflow: hidden; }
		img{width:100%;height: auto;}
		
	}
/*{touch-action:pan-up;}*/
#menu_m {position:fixed;	top:0;	z-index:5;	width:100%;	background:#363636;}
#nav {border-bottom:1px solid #ebebeb;}
#nav div{position: relative; z-index: 1;}
#nav .swiper-slide span {margin:0 5px;	text-align:center;	display:block;	line-height:15px;font-size:12px;color:#FFF;padding: 10px 4px;letter-spacing: -0.5px;}
#nav .bar {	width:50px;	height:100%;position:absolute;	bottom:0px;z-index: 0;}
#nav .bar .color {width:90%;border-radius: 100px;	margin:6% auto;	height:80%;	background:#62acd1;}
.banner img {width:100%;display:block;}
.banner	.swiper-pagination {left:auto;	right:7px;	bottom:7px;	width:auto;	padding:2px 7px;border-radius:10px;	color:#fff;	background:rgba(0,0,0,.3);}
#page {height:100vh;/*padding-top:calc(43.75% + 50px); */position:relative;top:0;}
#page .slidepage {height:100%;overflow: hidden;width: 100vw;}
.swiper-slide{width:100vw;}
.scroll {height:100%;}
.slidescroll {height:auto;}
#footer {position:fixed;bottom:0;z-index:5;}
.box{height:calc(100vh - 44px);overflow-y: scroll; -webkit-overflow-scrolling:touch;position: relative;z-index: 8;}
@media screen and (min-width:767px){

#page {padding-top:0; }
#page .pagebox {display: block;}
#page .slidepage {width: 100%;}
	.box{height:auto;overflow-y: visible;}
	
			/*【程式切換】cate-fixed置頂後*/
			.menu_Area.cate-fixed { position: fixed; top:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop)); }	

}

/*回版頭*/
#gotop { display: none; position:fixed; z-index:5; right:30px; bottom:30px; padding:10px 10px 3px 10px; border-radius:50%; font:12px/30px Verdana; text-align:center; color:#ccc;  background-color:#000; cursor:pointer;}
#gotop { filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7;} 
#gotop:hover { filter:alpha(opacity=100); -moz-opacity:1; opacity:1;} 
#gotop::before { content: ""; position:absolute; top:7px; left:18px; width: 0; height: 0; border: 4px solid #ccc; border-color: transparent transparent #ccc; }
	@media screen and (max-width:767px){
		#gotop { right:10px; bottom:60px;}
	}



/*全BOX版面*/
.WRAPPER { position:relative; display:block; margin:0; padding:0; width:100%; ;}
.WRAPPER img {border:0; vertical-align:top;}
.WRAPPER a { text-decoration:none; color:inherit;}
.WRAPPER p { margin:0; padding:0; text-align:left;}
.WRAPPER * {}
.WRAPPER .mainArea { position:relative; display:block; margin:0 auto;  width:100%; z-index:1; }
	@media screen and (max-width:767px){
		.WRAPPER { height:100vh;overflow: hidden;}
	}

/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:left; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(105%);
  -webkit-transform:translateY(-6px);
     -moz-transform:translateY(-6px);
      -ms-transform:translateY(-6px);
       -o-transform:translateY(-6px);
          transform:translateY(-6px);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0px auto 0; width:960px;}
.Area960 img{margin: 0 auto}
	@media screen and (max-width:767px){
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		/*區塊_兩邊間距*/
	}
/*通用設定*/
.Area_BOX { margin:0 auto; padding:0; width:1220px; height:inherit; }
.for_pc { display: block;}
.for_mm { display: none;}
	@media screen and (max-width:767px){
		.Area_BOX { width:100%;}
		.for_pc { display: none;}
		.for_mm { display: block ;}
	}
	
/*LOGO*/
.momologo { position: relative; margin:0 auto; width:1220px; height:0;z-index:10}
.momologo a { position:absolute; top:15px; left:20px; background-image:url(logo_momoshop.png); width:200px; height:22px;}
.momologo a:hover { background-image:url(logo_momoshop_on.png);}
	@media screen and (max-width:767px){
.momologo{ position: relative; margin:0 auto; width:100%; height:0;z-index:9999}
.momologo a { position:absolute; top:3vw; left:5vw; background-image:url(logo_momoshop.png) no-repeat ;background-size:100%;width:40vw;height:4.3vw}
	.logo_bar{width:100%;padding: 0;text-align: center;position: absolute;background-color: #d6006d;}
	.logo_bar .app_top{height:30px;width: auto;}
	}
	
/*選單*/
.sky_block{position:relative;width:100%; height:100px;margin: 0 auto;}
.menu_Area{position: relative;display:block; z-index:10; top:0; left:0; width:100%; height:100px; background-color:#242424; margin: 0 auto}
/*【程式切換】cate-fixed置頂後*/
.menu_Area.cate-fixed .Area_BOX { position: fixed; top:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop)); background-color:#242424; }
.menu_Area .nav_Area { position:relative; display:block; margin:0; padding:0; width:1140px; height:inherit; margin: 0 auto}
.menu_Area .nav_Area li { float:left; position:relative; width:190px; height:96px; line-height:100px; text-align:center; list-style:none outside none; border-top: 4px solid #242424;}
.menu_Area .nav_Area li::before { content: ""; display:block; position:absolute; top:20px; width:1px; height:61px; background-color:#3b3b3b;}
.menu_Area .nav_Area li:first-child::before { display:none;}
.menu_Area .nav_Area li a { display:block; position:relative; font-size:27px; font-weight:bold; color:#fff; line-height: 34px; padding-top: 14px}
.menu_Area .nav_Area li i { display: inline-block; position:relative; top:16px; margin-right:5px; width:50px; height:50px; /*border-radius:100%; background-color:#ddd;*/}
.menu_Area .nav_Area li .event-icon       { background-image:url(icon.png); background-position: 0px 0px;}
.menu_Area .nav_Area li .installment-icon { background-image:url(icon.png); background-position: -50px 0px;}
.menu_Area .nav_Area li .calendar-icon    { background-image:url(icon.png); background-position: -100px 0px;}
.menu_Area .nav_Area li .discount-icon    { background-image:url(icon.png); background-position: -150px 0px;}
.menu_Area .nav_Area li .shopping-icon    { background-image:url(icon.png); background-position: -200px 0px;}
.menu_Area .nav_Area li .search-icon    { background-image:url(icon.png); background-position: -250px 0px;}
.menu_Area .nav_Area li.active { background-color: #62acd1}
.menu_Area .nav_Area li.active::before { display:none;}
.menu_Area .nav_Area li:hover a { color:#e8dc58;}
.menu_Area .nav_Area li.active .event-icon,
.menu_Area .nav_Area li:hover .event-icon       { background-image:url(icon.png); background-position: 0px 50px;}
.menu_Area .nav_Area li.active .installment-icon,
.menu_Area .nav_Area li:hover .installment-icon { background-image:url(icon.png); background-position: -50px 50px;}
.menu_Area .nav_Area li.active .calendar-icon,
.menu_Area .nav_Area li:hover .calendar-icon    { background-image:url(icon.png); background-position: -100px 50px;}
.menu_Area .nav_Area li.active .discount-icon,
.menu_Area .nav_Area li:hover .discount-icon    { background-image:url(icon.png); background-position: -150px 50px;}
.menu_Area .nav_Area li.active .shopping-icon,
.menu_Area .nav_Area li:hover .shopping-icon    { background-image:url(icon.png); background-position: -200px 50px;}
.menu_Area .nav_Area li:hover .search-icon    { background-image:url(icon.png); background-position: -250px 50px;}
.menu_Area .nav_Area .lingbg  { display:none;}
/*選單_保留區*/
.menu_Area .Nav_target { display:none; height:100px;}
/*【程式切換】cate-fixed置頂後*/
.menu_Area.cate-fixed .Nav_target { display:block;}



/*活動按鈕1*/

.Area_acty2 .box_2 ul li{list-style:none; margin:0; padding:0; }
.Area_acty2 .box_2 { z-index:1; position: relative; margin:0 auto; padding:0 10px 0; border-radius:0; text-align:center;width:1500px; height:170px; overflow:hidden;}
.Area_acty2 .box_2 .pagination { bottom:5px;}
.Area_acty2 .box_2 .swiper-pagination-bullet-active { background-color:#986212;}

	

/*黏人精*/
.fixedbox { display:inline-block; z-index:999; position:fixed; bottom:0px; right:0; margin:0; padding:0; border-radius:5px 0px 0px 5px; width:120px; background-color:rgba(0, 0, 0, 0.35)}
.fixedbox dd { margin:5px 0;}
.fixedbox a { display:block; font:bold 18px/1.5em "Century Gothic","微軟正黑體"; text-align:center; letter-spacing:-0.03em; color:#999; text-decoration:none; }
.fixedbox a:hover {color:#ffffff}
	@media screen and (max-width:767px){
		.menu_Area { position:relative; z-index:10; top: inherit; bottom:0; width:100%; height:50px;
			-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
			   -moz-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
				-ms-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
				 -o-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
					box-shadow:0px 0px 3px rgba(0,0,0,0.3);
		}
		
		/*選單*/
		.menu_Area .momologo { display:none;}
		.menu_Area .nav_Area { float:inherit; position:static; padding:2% 0 0 0; display:block; width:100%; height:100%;}
		.menu_Area .nav_Area li { float:left; position:relative; width:20%; height:inherit; line-height:17px; text-align:center; list-style:none outside none;}
		.menu_Area .nav_Area li::before { content: ""; display:block; position:absolute; top:0; width:1px; height:40px; background-color: transparent;}
		.menu_Area .nav_Area li a { display:block; width:100%; height:inherit; font-size:13px; }
		.menu_Area .nav_Area li i { display:none;}
		.menu_Area .nav_Area .lingbg  { display:block; position:absolute; top:0; left:0;  width:16.5%; height:4px; background-color:#ff0;}

	}
	
/*大看版*/
.BN_Area {width:100%; height:334px; overflow:hidden; background-color:#fff; background:url(bg01.jpg) no-repeat top center;z-index: 1;}
.BN_Area .BNall { z-index:1; position: relative;text-align:center;}
.BN_Area .BNall .uptodown{ position: absolute; width:100%; min-width:1220px;top: 283px; left: 655px;}
	@media screen and (max-width:767px){
		.BN_Area { width:100%; height: auto;background:#d72873;position: fixed;top:0;z-index: 0;padding-top: 50px;}
		.BN_Area .BNall { width:100%; height:auto; pointer-events: none;}
		.BN_Area .BNall img { width:100%; height: auto;}
		/*.BN_Area2::before{content: "";display: block; position: relative;height: 50px;width: 100%; padding-top:43.75%; }*/
	}
	


/*文案區*/
.article_Area { position:relative;background:url(bg02.jpg) repeat-y top center;}

.article_Area li * {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.article_Area1 { padding-top: 0px;padding-bottom: 20px;}
.article_Area2 { }
/*隱藏手機bn01*/
@media screen and (max-width:767px){		
		.bn01 {display: none;}
}


.article_Area .title { clear:both; position:relative; margin:0; padding:0; margin-top:40px; width:inherit; height:auto; font-size:48px; line-height:130px; letter-spacing:-1px; text-align:center; color:#fff; }
.article_Area .txt { position:absolute; top:0; right:200px; z-index:999}
.article_Area .txt a { background-color:#000; color:#FFF; font-size:18px; font-family:"微軟正黑體", "Century Gothic"; border-radius:50px; margin:0; padding:2px 20px;}
.article_Area .txt a:hover {color:#0066ad;}
.article_Area .title i img{ position:relative; top:-38px;margin-bottom: -38px;}
.article_Area .title b { position:relative;}
.article_Area .title b small {  font-size: 28px}
.article_Area .title.event_title::before { content: ""; position: absolute; z-index:0; top:0; left:0px; display:block; width:100%; height:100%; background:url(title_bg-2.png) no-repeat center top;}
.article_Area .section { clear:both; display:block; margin:0; padding:0;overflow:hidden; text-align:left;}
.article_Area .box-shadow li {}
.article_Area .box-shadow li:hover {}
.article_Area .box-shadow li:active	{}
.article_Area .title2 { clear:both; position:relative; margin:0; padding:0; margin-top:60px; width:inherit; height:113px; font-size:48px; line-height:130px; letter-spacing:-1px; text-align:center; color:#fff; }
.article_Area .title2 i img{ position:relative; top:-38px;}
.article_Area .title2::before { content: ""; position: absolute; z-index:0; top:0; left:0px; display:block; width:100%; height:100%; background-image:url(title_bg-3.png) ;}
.article_Area .title2 b { position:relative;}

	@media screen and (max-width:767px){
		.article_Area { padding-bottom:60%;}
		.article_Area .title { margin-top:10px; height:48px; font-size:16px; line-height:48px; background-image:none; background-color:#00bbb4;}
		.article_Area .dayday .title { margin-top:10px; height:48px; font-size:20px; line-height:48px; background-image:none; background-color:#139287;}
		.article_Area .title::before { background-image:none;}
		.article_Area .dayday .title::before { background-image:none;}
		.article_Area .title b { font-size:6vw;}
		.article_Area .title b small {  font-size: 3.5vw}
		.article_Area .title i img{ display:none; position:relative; top:-55px;}
		.article_Area .section { margin-top:10px;}
		.article_Area .txt { position:absolute; top:0; right:10px; z-index:999}
		.article_Area .txt a { font-size:14px; padding:2px 10px; }
	
	.article_Area .box-shadow li {
		-webkit-box-shadow:0px 2px 8px rgba(0,0,0,0.2);
		   -moz-box-shadow:0px 2px 8px rgba(0,0,0,0.2);
			-ms-box-shadow:0px 2px 8px rgba(0,0,0,0.2);
			 -o-box-shadow:0px 2px 8px rgba(0,0,0,0.2);
				box-shadow:0px 2px 8px rgba(0,0,0,0.2);
	}
	}
/*活動*/
.eventbox_Area { position: absolute !important; top:0; left:50%; margin:0 auto; margin:0px 0px 40px 130px !important; padding:0px 0px -50px 0px; width:365px; height:505px; overflow: hidden;}
.eventbox_Area:before,
.eventbox_Area:after  { content: ""; z-index:2; position:absolute; display:block; width:100%; height:auto; }
.eventbox_Area:before { top:0; left:0;height:auto; }
.eventbox_Area:after  { bottom:0; left:0;  }
.eventbox_Area .eventbox { position:relative; margin:0 auto; width:inherit; height:80%;padding:20px 0px 125px 0px }
.eventbox_Area .eventbox  li { float:left;  position:relative; /*margin-right:20px;*/ overflow:hidden; width:400px; height:80px; list-style:none outside none; color:#fff; font-size:21px; line-height:25px;  /*background-image:url(eventbox_bg.png);*/}
.eventbox_Area .eventbox  li:hover  { color:#ff0;}
.eventbox_Area .eventbox  li a { display:block; height:100%;  padding:10px 0px 50px 130px;margin:0px 0px 30px 0px }
.eventbox_Area .eventbox  li a .banklogo { position:absolute; top:13px; left:40px; width:80px; height:80px;  border-radius:80px; background-color:#fff;}
.eventbox_Area .eventbox  li a .banklogo img { width:80px; height: auto; }
.eventbox_Area .eventbox  li a p { padding-top:12px; font-weight:bold; line-height:30px; text-align:left;color:#ff0;}
.eventbox_Area .eventbox  li a strong { font-size:18px; font-weight: inherit; display:block; text-align:left; line-height:20px;}

/*左右按鈕*/
/*.eventbox_Area { z-index:500; position: relative; top:53px;}*/
.eventbox_Area .button { display:block;cursor:pointer;}
.eventbox_Area .button i { display:block; position:relative; margin:0; border-radius:80px; width:80px; height:80px; background-color:#727272;}
.eventbox_Area .button i:hover {  background-color:#ff0;}
.eventbox_Area .button i:hover::before { border-color:#CC0573;}
.eventbox_Area .button_left {z-index:700;  position:absolute; top:-20px; left:52%; width:40px; overflow:hidden; display:block; transform:rotate(90deg);}
.eventbox_Area .button_left i { left:-47px;}
.eventbox_Area .button_left i::before { content: ""; position:absolute; top:25%; right:18px; display:block;  width:30px; height:30px; border-left:2px solid #fff; border-top:2px solid #fff; transform:rotate(-45deg); transform-origin: right top;}
.eventbox_Area .button_right {z-index:800; display:block; position:absolute; bottom:-24px; left:48%; width:47px; overflow:hidden; display:block; transform:rotate(90deg);}
.eventbox_Area .button_right i {z-index:800;  }
.eventbox_Area .button_right i::before { display:block;content: ""; position:absolute; top:25%; left:18px; display:block; width:30px; height:30px; border-right:2px solid #fff; border-top:2px solid #fff; transform:rotate(45deg); transform-origin:left top;}

		/*小圓點*/
        .eventbox_Area .pagination { }
        .eventbox_Area .pagination .swiper-pagination-bullet { opacity:1; background-color:rgba(255,255,255,0.5);}
        .eventbox_Area .pagination .swiper-pagination-bullet-active { background-color:#011932;}

	@media screen and (max-width:767px){
		
         /*活動*/
		.eventbox_Area { position:relative!important; top:inherit; left:inherit; margin:0 auto!important; padding:10px 0 20px; width:100%; height:auto; overflow: hidden;}
		.eventbox_Area:before,
		.eventbox_Area:after  { display:none;}
		.eventbox_Area .eventbox { position:relative; margin:0 auto; padding:10px 0; height:200px;}
		.eventbox_Area .eventbox  li { float:left;  position:relative; /*margin-right:10px; */overflow:hidden; width:145px; height:inherit; list-style:none outside none; color:#fff; font-size:18px; line-height:20px; text-align:center; background-color: #d7007a; background-image:none;}
		.eventbox_Area .eventbox  li:hover  { color:#ff0;}
		.eventbox_Area .eventbox  li a { display:block; height:100%; padding-left: inherit ;text-align: center;}
		.eventbox_Area .eventbox  li a .banklogo { display:inline-block; position: static; top: inherit; left:inherit; margin:20px 0 5px; width:50px; height:50px;  border-radius:50px;  background-color:#FFF;}
		.eventbox_Area .eventbox  li a .banklogo img { width:50px; height: auto;}
		.eventbox_Area .eventbox  li a p { padding-top:0px; font-weight:bold; line-height:30px; color:#ff0; text-align:center;}
		.eventbox_Area .eventbox  li a strong { padding:0 10px 5px; font-size:13px; font-weight: inherit; display:block; text-align:center;line-height:14px;}

	
		/*左右按鈕*/
		.eventbox_Area { z-index:1; position: relative; top:0px;}
		.eventbox_Area .button { display:block; cursor:pointer;}
		.eventbox_Area .button i { display:block; position:relative; margin:inherit; border-radius:94px; width:50px; height:50px; background-color:#727272;}
		.eventbox_Area .button i:hover {  background-color:#eb57aa;}
		.eventbox_Area .button i:hover::before { border-color:#fff;}
		.eventbox_Area .button_left { position:absolute; top:38%; left:0; width:25px; overflow:hidden; display:inherit; transform:inherit; }
		.eventbox_Area .button_left i { left:-25px;}
		.eventbox_Area .button_left i::before { content: ""; position:absolute; top:25%; right:10px; display:block;  width:15px; height:15px; border-left:2px solid #fff; border-top:2px solid #fff; transform:rotate(-45deg); transform-origin: right top;}
		.eventbox_Area .button_right { display:inherit; position:absolute; top:38%; bottom:inherit; left:inherit; right:0; width:25px; overflow:hidden; display:inherit; transform:inherit;}
        .eventbox_Area .button_right i::before { display:inherit;content: ""; position:absolute; top:25%; left:10px; display:block; width:15px; height:15px; border-right:2px solid #fff; border-top:2px solid #fff; transform:rotate(45deg); transform-origin:left top;}
	
		/*小圓點*/
		.eventbox_Area .pagination { display: block; bottom:0 !important ;}
		.eventbox_Area .NUMBER { bottom:0px;}

	}

/*刷卡好康*/
.event_title {}
.event_section { }
.event_section ul { position:relative; margin:0; padding:0; padding:0 10px; width:inherit;}
.event_section li { float:left; position:relative; margin-bottom:20px; box-sizing:border-box; height:380px; background-color:#fff; list-style:none outside none;  cursor:pointer;}

/*1排4個*/
.event_section li { margin-left:1.33%; padding:0 1.5%; width:24%;}
.event_section li:nth-of-type(4n+1) { margin-left:0;}
.event_section { font-size:18px;}

/*1排3個
.event_section li { margin-left:1%; padding:0 3%; width:32.6%;}
.event_section li:nth-of-type(3n+1) { margin-left:0;}
.event_section { font-size:25px;}*/

/*1排2個
.event_section li { margin-left:2%; padding:0 3%; width:49%;}
.event_section li:nth-of-type(2n+1) { margin-left:0;}
.event_section { font-size:28px; }*/


.event_section li .banklogo { position:relative; text-align:center;}
.event_section li .banklogo img { position:relative; z-index:1; padding:15px 0 10px; background-color:#fff;}
.event_section li .banklogo::after {  content: ""; position:absolute; left:50%; bottom:0px; display:block; margin-left:-115px; border-radius:50%; width:230px; height:2px;
    -webkit-box-shadow:0px 0px 100px 20px rgba(128,0,28,0.7);
       -moz-box-shadow:0px 0px 100px 20px rgba(128,0,28,0.7);
        -ms-box-shadow:0px 0px 100px 20px rgba(128,0,28,0.7);
         -o-box-shadow:0px 0px 100px 20px rgba(128,0,28,0.7);
            box-shadow:0px 0px 2px 2px rgba(0,0,0,0.3);
			background-color: rgba(0,0,0,0.1);
}
.event_section li .banklogo span { display:none;}
.event_section li .contxt { margin:10px auto; height:200px; letter-spacing:-0.5px;}
.event_section li .contxt small{ position:relative; top:-3.5px;  font-size:13px; line-height:1.7;  margin:0; color:rgb(228,0,128) ; padding:1px 2px; /*outline:1px solid #F36;*/ border:1.5px #FF3399 solid;border-radius:5px; -webkit-border-radius: 5px; -moz-border-radius:5px;}
.event_section li .contxt strong { line-height:1.7; font-style:inherit; font-weight:bold; color:rgb(228,0,128);}
.event_section li .contxt span{ color:#CCC;}
.event_section li .contxt h3 { margin:0; padding:2px 8px; font-size:1em; font-weight:normal; color:#fff; background-color:rgb(228,0,128);}
.event_section li .contxt h3 strong { color:#fff; }

.event_section li       .more_button { margin:35px auto; padding:0; height:36px; font-size:16px; line-height:36px; text-align:center; color:#fff; background-color:rgba(150,150,150,0.8);}
.event_section li:hover .more_button { background-color:rgba(0,0,0,1);}
	@media screen and (max-width:767px){
		.event_section ul { padding:0 2%;}
		.event_section li { margin-left:2%; margin-bottom:10px; padding-bottom:20px; width:96%; height:auto; text-align:left;}
		.event_section li:nth-of-type(4n+1) { margin-left:2%;}
		.event_section li .banklogo img { padding:5px 0px;}
		.event_section li .banklogo::after { display:none;}
		.event_section li .contxt { margin:10px 15px 20px;  height: auto; font-size:20px;}
		.event_section li .contxt strong { }
		.event_section li .contxt h3 { font-size:20px; }
		.event_section li .more_button { width:90%;}
	}
	
/*查詢區塊*/
.event_section2_bg{width:1200px;background:#fff;margin-left:10px;}
.event_section2 li{ list-style:none;float:left;width:1100px;margin-left:40px;}
.event_section2 li .banklogo { position:relative; text-align:left; background-color:#fff;float:left;width:220px;}
.event_section2 li .banklogo img { position:relative; z-index:1; padding:0px 0 0px; background-color:#fff;width:200px;height:auto;text-align:left}
.event_section2 li .banklogo::after {}
.event_section2 li .banklogo span { display:none;}
.event_section2 li .contxt { margin:10px auto; width:700px;height:40px; letter-spacing:0px;float:left;}
.event_section2 li .contxt p:hover {color:#F30}
.event_section2 li .contxt small{ position:relative; top:3.5px;  font-size:27px; line-height:2;  margin:0 0 10px 0; color:rgb(228,0,128) ; padding:1px 2px; /*outline:1px solid #F36;*/ border:1.5px #FF3399 solid;border-radius:5px; -webkit-border-radius: 5px; -moz-border-radius:5px;}
.event_section2 li .contxt p { line-height:1.7; font-size:27px;font-style:inherit; font-weight:500; color:#333;}

.event_section2 li .contxt strong { line-height:1.7; font-size:27px;font-style:inherit; font-weight:bold; color:rgb(228,0,128);}
.event_section2 li .contxt span{ color:#CCC;}
.event_section2 li .contxt h3 { margin:0; padding:2px 8px; font-size:1em; font-weight:normal; color:#fff; background-color:rgb(228,0,128);}
.event_section2 li .contxt h3 strong { color:#fff; }

.event_section2 li       .button { margin:15px auto; padding:0; width:130px;height:35px; font-size:21px;font-weight:bold;  text-align:center; color:#fff; background-color:#f54312;border-radius:20px;float:left;}
.event_section2 li:hover .button { background-color:rgba(0,0,0,1);}
.event_section2 .titleA{padding:30px 0px 0px 20px;margin:0px 0px 30px 30px;font-size:35px;font-weight:bold;color:#F30;font-family:Arial, Helvetica;border-bottom:3px solid #F30;width:90%;}
.button2{ margin:40px 20px 0px 100px; padding:0;  float:left;width:100%;height:60px;}
.button2 a{ margin:30px 10px 0px 10px;padding:10px 30px 10px 30px;font-size:28px;  line-height:1.7;  text-align:center; color:#fff;font-weight:bold; background-color:#f54312;width:300px;height:auto;border-radius:5px;}
.button2 a:hover{ color:#fff;font-weight:bold; background-color:#4e4e4e;}
	@media screen and (max-width:767px){
		.event_section2_bg{width:96%;background:#fff;margin:2vw 1vw 1vw 2vw;}
		.event_section2 ul { padding:1vw 2vw;display:block;}
		.event_section2 li { margin:2vw 0vw 0vw 0vw; padding:1vw 0vw 2vw 2vw; width:98%; height:auto; text-align:center;}
		.event_section2 li:nth-of-type(4n+1) { margin-left:0%;}
		.event_section2 li .banklogo img { padding:0 30%;margin:0 auto;width:50vw;height:auto;text-align:left}
		.event_section2 li .banklogo::after { display:none;}
		.event_section2 li .contxt p { line-height:1.7; font-size:5.5vw;font-style:inherit; font-weight:500; color:#333;margin:0 auto;text-align:left;}
		.event_section2 li .contxt strong { line-height:1.7; font-size:5.5vw;font-style:inherit; font-weight:bold; color:rgb(228,0,128);}
		.event_section2 li .contxt { margin:1vw 2vw 2vw;  height: auto; font-size:8vw;}
		.event_section2 li .contxt strong { }
		.event_section2 li .contxt h3 { font-size:8vw; }
		.event_section2 li .more_button { width:90%;}
		.event_section2 li .button { width:40%;margin:0 10% 0 20%;padding:0 10% 0 15%}
		.event_section2 .titleA{padding:10vw 0 0 2vw;margin:5vw 0 0vw 3vw;font-size:7vw;font-weight:bold;color:#F30;font-family:Arial, Helvetica; line-height:1.9; border-bottom:3px solid #F30;width:90%;}
		.button2{ margin:4vw auto 0vw; padding:0;width:85%;height:50vw;}
.button2 a{ margin:3vw 1vw 0vw 1vw;padding:1vw 0;font-size:5vw;  line-height:1.7;  text-align:center; color:#fff;font-weight:bold; background-color:#f54312;width:100%;height:10vw;border-radius:5vw;display:block}
.button2 a:hover{ color:#fff;font-weight:bold; background-color:#4e4e4e;}
	}


	/*浮層內容*/
	.event_section li        .more_Area {}
	.event_section li.active .more_Area { position: fixed; z-index:10; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
	.event_section li        .more_Area .close_box { display:none;}
	.event_section li.active .more_Area .close_box { position: fixed; z-index:11; top:0; left:0; display:block; width:100%; height:100%; background-color: transparent;}
	.event_section li        .more_Area .more_box { position:fixed; z-index:90; top:10%; left:50%; transform: scale(0); transform-origin:100% 0;opacity:0;  margin-left:-30%; padding:20px; overflow:auto; -webkit-overflow-scrolling:touch; width:60%; height:80%; background-color:#fff;}
	.event_section li.active .more_Area .more_box { transform: scale(1); opacity:1; box-sizing:border-box;}
	.event_section li.active .more_Area .more_box .banklogo { margin-bottom:20px; width:100%; border-bottom:1px dashed #ccc; text-align: left;}
	.event_section li.active .more_Area .more_box .banklogo img { position:relative; z-index:1; padding:0px; padding-bottom:10px; background-color:#fff;}
	.event_section li.active .more_Area .more_box .banklogo::after { display:none;}
		@media screen and (max-width:767px){
			.event_section li        .more_Area { }
			.event_section li.active .more_Area { position: fixed; z-index:10; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
			.event_section li        .more_Area .close_box { display:none;}
			.event_section li.active .more_Area .close_box { position: fixed; z-index:11; top:0; left:0; display:block; width:100%; height:100%; background-color: transparent;}
			.event_section li        .more_Area .more_box { position:fixed; z-index:90; top:0%; left:50%; transform: scale(0); transform-origin:100% 0;opacity:0;  margin-left:-50%; padding:10px; overflow:auto; width:100%; height:100%; background-color:#fff;}
			.event_section li.active .more_Area .more_box { transform: scale(1); opacity:1; box-sizing:border-box;}
			.event_section li.active .more_Area .more_box .banklogo { margin-bottom:20px; width:100%; border-bottom:1px dashed #ccc; text-align: left;}
			.event_section li.active .more_Area .more_box .banklogo img { position:relative; z-index:1; padding:0px; padding-bottom:10px; background-color:#fff;}
			.event_section li.active .more_Area .more_box .banklogo::after { display:none;}
		}
	
	/*銀行資訊區*/
	.bank dl { margin:0; padding:0; margin-bottom:1rem; font-size:16px; }
	.bank dl:hover,
	.bank dl:active { background-color:#FFFFEA;}
	
	.bank dl dt { display:block; margin:0; padding:0; font-weight:bold;}
	.bank dl dd { display:block; margin:0; padding:0; padding-left:1rem; font-size:14px;color:#333;}
	.bank dl dd a{ color:#00F; text-decoration:none;}
	.bank dl dd b { color:#F00;}
	
	/*謹慎理財 信用至上*/
	.bank p.notes {  padding:20px 0; border-top:1px dashed #ccc; font-size:14px; font-weight:bold; line-height:22px; text-align:center; color:#f00;}
	.bank p.notes span { }
	.bank p.notes span a {color:#f00;}
	.bank p.notes span a:hover{ text-decoration:none;}
	
	/*特殊添加*/
	.color_red{ color:#F00;} /*文字紅色*/
	.bank dl dd.small { font-size:13px; }


/*輕鬆分期*/
.installment_title {}
.installment_section {}
.installment_section ul { display:inline-block; margin:0; padding:0; padding:0 10px; width:inherit;}
.installment_section li { float:left; position:relative; display:inline-block; margin:40px 10px 20px 10px; padding:90px 50px 40px; width: inherit; ist-style:none outside none; background-color:#fff; }
.installment_section li b { position: absolute; padding:0px 30px; top:20px; left:-10px; font-size:34px; font-weight: normal; color:#fff; background-color:#d7007a; }
.installment_section li span { display:block; font-size:16px;}
.installment_section p { text-align:center; color:#777777;}
	@media screen and (max-width:767px){
		.installment_section li { float:left; position:relative; display:inline-block; margin:10px 0; padding:5px 20px 20px 20px; width: inherit; font-size:1px; ist-style:none outside none; background-color:#fff; }
		.installment_section li b { position: static; display:block; margin:0 auto 10px; border-bottom:1px dotted #ccc; text-align:center; font-size:28px; font-weight:normal; color:rgb(228,0,128); background-color: transparent;}
		.installment_section li span { font-size:14px;}
		.installment_section p { font-size:14px; padding:0 10px;}
	}

/*行事曆*/
.calendar_title {}
.calendar_section { }
.calendar_section ul { position:relative; display:block; margin:0; padding:0; padding:0 10px; overflow:hidden; width:inherit;}
.calendar_section li { float:left; position:relative; margin-left:1.33%; margin-top:60px; margin-bottom:20px; padding-top:50px; width:24%; height:360px; background-color:#fff; list-style:none outside none;}
.calendar_section li:nth-of-type(4n+1) { margin-left:0;}
.calendar_section li.noimg { background-color:transparent; border: none; box-shadow: none;}
.calendar_section li.noimg:hover  { box-shadow: none;}
.calendar_section li.noimg:active { box-shadow: none;}
.calendar_section .weektxt { position: absolute; z-index:2; top:-50px; left:50%; display:block; margin-left:-50px; width:100px; height:100px; border-radius:50%; line-height:1; color:#fff; background-color:rgba(30,140,160,1);}
.calendar_section .weektxt b { display:block; font-size:30px; margin-top:25px; }
.calendar_section .weektxt span { display:block; font-size:15px;}
.calendar_section .banklogo { position:relative; text-align:center;}
.calendar_section .banklogo img { position:relative; z-index:1; padding:10px 0; background-color:#fff;}
.calendar_section .banklogo span { display:none;}
.calendar_section .contxt { margin: 0; font-size:30px; line-height:1.2; text-align:center; color:#000;}
.calendar_section .contxt small{ font-size:14px; margin-top:20px;}
.calendar_section .contxt strong { display:block; font-size:40px; font-weight:bold; font-style:inherit; color:rgb(228,0,128);}
.calendar_section .contxt_not {}

.calendar_section .channel {  position:absolute; bottom:0; padding:10px 0 20px 0; width:100%; height:120px; background-color:#f5f5f5; text-align:center;}
.calendar_section .channel small { display:block; color:#666; }
.calendar_section .channel b a { display:inline-block; width:70%; border-width:2px; border-style:solid;}
.calendar_section .channel .channel_momoshop a { margin-top:5px;  border-color:rgb(228,0,128);  color:rgb(228,0,128); }
.calendar_section .channel .channel_momoshop a:hover  { color:#fff; background-color:rgb(228,0,128);}
.calendar_section .channel .channel_momomall a { margin-top:10px; border-color:rgb(255,114,44); color:rgb(255,114,44);  }
.calendar_section .channel .channel_momomall a:hover  { color:#fff; background-color:rgb(255,114,44);}
.calendar_section p { text-align:center; color:#fff;}
	@media screen and (max-width:767px){
		.calendar_section ul { padding:0 2%;}
		.calendar_section li { margin:0; margin-top:40px;  margin-left:2%; margin-bottom:10px; padding:0; padding-top:25px; padding-bottom:70px; width:48%; height:170px; }
		.calendar_section li:nth-of-type(4n+1) { margin-left:2%;}
		.calendar_section li:nth-of-type(2n+1) { margin-left:0;}
		.calendar_section li.noimg { background-size:contain;}
	
		.calendar_section .weektxt { position: absolute; z-index:2; top:-30px; left:50%; display:block; margin-left:-35px; padding:0; width:70px; height:70px; border-radius:50%; line-height:1; color:#fff; background-color:rgba(30,140,160,1);}
		.calendar_section .weektxt b { display:block; font-size:24px; margin-top:16px; }
		.calendar_section .weektxt span { display:block; font-size:10px;}
		
		.calendar_section .banklogo { position:relative; padding:15px 0 0 0; text-align: center;}
		.calendar_section .banklogo img { width:140px; height:auto;}
	
		.calendar_section .contxt { margin:0; padding-left:10px; font-size:16px; line-height:1.8; text-align: center; color:#000;}
		.calendar_section .contxt strong { display:block; font-size:19px; font-weight:bold; font-style:inherit; color:rgb(228,0,128);}
		.calendar_section .contxt_not { padding-top:50px;}
		.calendar_section .channel {  position:absolute; bottom:0; padding:5px 0 20px 0; width:100%; height:80px; background-color:#f5f5f5; text-align:center;}
		.calendar_section .channel small { display:block; color:#666; }
		
		.calendar_section .channel b a { display:inline-block; width:90%; border-width:1px; font-size:14px;}
		.calendar_section p { font-size:14px; padding:0 10px;}
	
	/*黏人精*/
.fixedbox { display:none;}

	}
/*page1*/
@media screen and (max-width:767px){
.banklogo{width:76%;margin:0 auto;}
}

/*PAGE4*/
#slide_page4 .article_Area .top { position:relative; margin-top:30px; overflow:hidden; text-align:center;}
/*紅利折抵*/
.discount_title {}
.discount_section { font-size:15px; /*font-family:Helvetica;*/ color:#333; border:0px solid #ccc; /*overflow:hidden;*/ background-color:#fff;}
.discount_section .discount_table { display:table; width:100%; }
.discount_section .discount_table ul { position:relative; display:table-row; margin:0; padding:0; max-width: inherit; overflow:hidden;}
#title-none { display:none;} 
.fixed { position:fixed; display:table!important; z-index:99; top:100px; width:1220px!important;  } 
.discount_section .discount_table ul.discount_th li { padding:10px 0; color:#fff; background-color:#4d88ee; border:0;}
.discount_section .discount_table ul li { position:relative; display:table-cell; vertical-align:middle; margin:0; border-right:1px solid #eee; border-bottom:1px solid #eee; width:13%; line-height:1.5; text-align:center; list-style:none outside none; background-color:#fff; -webkit-box-sizing:border-box;  box-sizing:border-box; -webkit-box-shadow: none!important;  box-shadow: none!important; }
.discount_section .discount_table ul li:first-child { width:22%}  
.discount_section .discount_table ul li:last-child  { border-right:0;}  
.discount_section .discount_table ul li a { display: block; padding:25px 0; color:#4d88ee;}
.discount_section .discount_table ul li a i { display: inline-block; position:relative; top:3px; left:0; width:16px; height:16px;}
.discount_section .discount_table ul li a i::before,
.discount_section .discount_table ul li a i::after { content: ""; position:absolute; top:7px; left:2px;  width:12px; height:2px; background-color:rgba(116,116,207,1);}
.discount_section .discount_table ul li a i::before { transform: rotate(0deg);}
.discount_section .discount_table ul li a i::after  { transform: rotate(90deg);}
.discount_section .discount_table ul li a i { -webkit-transform: scale(1) rotate(0); transform: scale(1) rotate(0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%;}

.discount_section .moreArea { display:none; clear:both; margin:0; padding:20px 40px 40px; background-color:#f5f5f5; box-shadow: inset 0 0 10px rgba(0,0,0,0.2);}
.discount_section .moreArea p { text-align:left; text-align:justify; }
.discount_section .moreArea p b { display:block; color:#4d88ee; }
.discount_section .moreArea .p1 { padding:1rem; border-top:1px solid rgba(0,174,255,0.5); text-indent:-1.2rem; }
.discount_section .moreArea .p1:first-child { border-top:0;}
.discount_section .moreArea .p2 { padding-left:1.1rem; text-indent:-0.76rem; line-height:1.8;}
.discount_section .moreArea .p3 { padding-left:3rem; text-indent:-0.76rem; line-height:1.8;}
.discount_section .moreArea .p4 { padding-left:4.5rem;}
.discount_section .moreArea .close_button { display:block; margin:20px auto 0; padding:0 10px; border-radius:2px; max-width:50px; text-align:center; color:#fff; background-color:#666; cursor:pointer;}
.discount_section .moreArea .close_button:hover { background-color:#000; }

.discount_section .discount_no:hover    { z-index:2; position:relative; background-color: #FFC; /*box-shadow: 0 0 0 1px #FFC;  */} 
.discount_section .discount_no:hover  .discount_table       ul li                { background-color: #FFC;  }
.discount_section .discount_no:hover  .discount_table       ul li:nth-of-type(1) { background-color: #fff; }


.discount_section .discount_no.active .discount_table ul li { background-color: #FFC;} 
.discount_section .discount_no.active .discount_table ul li:nth-of-type(1) { background-color: #fff; }
.discount_section .discount_no.active .discount_table ul li a i { top:70px; left:20px;-webkit-transform: scale(2.5) rotate(-405deg); transform: scale(2.5) rotate(-405deg);}
.discount_section .discount_no.active .discount_table ul li a i::before,
.discount_section .discount_no.active .discount_table ul li a i::after { background-color:#000; }

.all_open,
.all_close { color:#FFFF81; cursor:pointer;}
.box_title img{margin:0 auto;}
.all_bank a{background-color: #d72873;
           	padding-bottom: calc(constant(safe-area-inset-bottom)*0.6);
			padding-bottom: calc(env(safe-area-inset-bottom)*0.6);}

		#slide_page4 .miaodian a{margin: 20px 5px 10px;}
		#slide_page4 .point a.btn1{position: absolute;bottom:7%;left: 22%;}
		#slide_page4 .point a.btn2{position: absolute;bottom:7%;right:22%;}


	@media screen and (max-width:768px){
		#slide_page4 .article_Area .top { width: 100%;}
		#slide_page4 .miaodian{overflow: hidden;}
		#slide_page4 .miaodian::after{ content: "";clear: both;}
		#slide_page4 .miaodian a { width: 48%;margin: 2vw 1%;float: left;}
		#slide_page4 .point {position: relative;}
		#slide_page4 .point .title{background-color: transparent;height:auto;position: relative;}
		#slide_page4 .point a.btn1{bottom:7%;left: 12vw;width: 35%;}
		#slide_page4 .point a.btn2{bottom:7%;right: 12vw;width: 35%}
		#slide_page4 .point .title::before{display: none;}
		#slide_page4 .box_title{margin-top:10px;}
     }
		#slide_page5 .tag_box{margin: 20px auto 0;width: 1030px;}
		#slide_page5 .tag_box a{margin: 0 10px 0;}
		#slide_page5 .card .mini_box a{padding: 10px 0 0 20px;}
		#slide_page5 .point .mini_box {padding-left: 7px;}
		#slide_page5 .point .mini_box a{margin: 6px;}
		#slide_page5 .process .mini_box {margin: 5px auto 0;width: 905px;}
		#slide_page5 .process .mini_box a{margin: 6px;}
     @media screen and (max-width:768px){
		#slide_page5 .miaodian .tag_box{overflow: hidden;margin-bottom: 3%;width: 100%}
		#slide_page5 .miaodian .tag_box::after{content: "";clear: both;}
		#slide_page5 .miaodian .tag_box a{display:block;width: 18.5%;margin: 0.75%;float: left;}
		#slide_page5 .card .mini_box a{display:block;width:100%;margin: 2% auto 4%;padding: 0;}
		#slide_page5 .abgne_tab_Area .abgne_tab{margin-bottom: 5%;}
		#slide_page5 .abgne_tab_Area .abgne_tab ul{overflow: hidden;padding: 0;margin: 2% auto 0;}
		#slide_page5 .abgne_tab_Area .abgne_tab ul::after{content: "";clear: both;}
		#slide_page5 .abgne_tab_Area .abgne_tab ul li{display:block;width:25%;;margin: 0%;float: left;list-style: none;}
		#slide_page5 .process .mini_box::after{content: "";clear: both;}
		#slide_page5 .process .mini_box{overflow: hidden;width: 100%;}
		#slide_page5 .process .mini_box a{display:block;width:32.5%;;margin: 0.4%;float: left;}
		#slide_page5 .process{margin-bottom: 5%;}
		#slide_page5 .box_title{margin-top:10px;}
      }
	@media screen and (max-width:768px){		
		.discount_section .discount_table ul.discount_th li { padding:0;}
		.discount_section .discount_table ul li { width:33.33%;}
		.discount_section .discount_table ul li:nth-of-type(1),
		.discount_section .discount_table ul li:nth-of-type(3),
		.discount_section .discount_table ul li:nth-of-type(4),
		.discount_section .discount_table ul li:nth-of-type(5) { display:none; }
		.discount_section .discount_table ul li a { padding:16px 0;}
		.discount_section .moreArea { padding:40px 20px 20px; font-size:14px;}
		.fixed { width:100%!important;top:11vw;  } 
 		.tag_item{position:absolute;top:calc(-45vw - 50px)}

	}
	@media screen and (max-width:414px){
		.discount_section .discount_table ul.discount_th li { padding:5px 0;}
		.discount_section .discount_no.active .discount_table ul li a i { top:70px; left:-10px;}
	}

/*說明*/
.comment::before,
.comment::after { content: "-";}
.comment,
.comment_small { position:relative; margin:20px auto; padding:10px;overflow:hidden; text-align:center; font-size:16px; font-weight:bold; color:#4D4DAD;box-sizing: border-box;}
.comment_small { font-size:15px;line-height: 1.8em; font-weight:inherit; text-align:justify; color:#000;}
.comment_small ol { padding:0 0.5rem 0 1rem;}
.comment_small ol li{margin: 0.5em 0;}
.comment_small p { padding:0 0rem; text-align: justify;}
.comment_small b { }
	@media screen and (max-width:768px){
		.comment::before,
		.comment::after { content: "";}

		.comment_small b { display:block;}	
	}

/*P5常見Q&A*/
.qa { width:1220px; position:relative;margin-top:0px; overflow:hidden;}
.content { position:relative; margin:20px auto; padding:0;}
.moreButton {width:100%; margin:0 auto 10px;/*; background-color: #ddd;text-shadow:#ffffff 1px 1px;*/}
.moreButton dl { }
.moreButton dt {cursor:pointer; /*margin:3% auto 0 auto; padding-right:2%; height:50px; font:bold 26px/1.8em '微軟正黑體', 'Century Gothic'; color:#ff6fcd; text-align:right; background-color:#999;border-top:solid 1px #ff6fcd;box-shadow: 0px 1px 0px 0px rgba(100%,100%,100%,1) inset;*/}
.moreButton dd {display: none; margin:0; padding:3%; font:bold 18px/1.8em '微軟正黑體', 'Century Gothic'; text-align:left; color:#602f12; background-color:rgba(180,141,79,0.2);/*text-shadow:#000 1px 1px; border:solid 1px #fffc00;  border-radius:0px 0px 5px 5px;border-top: inherit*/}
.moreButton a { color:#e40080; }
.moreButton .up {}
.moreButton .down {}
.moreButton .up img{ width:100%; height:auto }
.moreButton .down img{ width:100%; height:auto}
.moreButtontag { display:none;}
	@media screen and (max-width:767px){
		.qa { width:100%; position:relative; margin-top:2vw; padding:0; overflow:hidden;}
		.content { position:relative; margin:3% auto; padding:0;background-color: transparent;}
		.moreButton {width:100%; margin:0 auto 3%;/*; background-color: #ddd;text-shadow:#ffffff 1px 1px;*/}
		.moreButton dd {display: none; margin:0; padding:3%; font:bold 4vw/1.8em '微軟正黑體', 'Century Gothic'; text-align:left; color:#602f12; background-color:rgba(180,141,79,0.2);/*text-shadow:#000 1px 1px; border:solid 1px #fffc00;  border-radius:0px 0px 5px 5px;border-top: inherit*/}

			}	

/*PC-黏人精*/
.fixarea {	/*display: none;*/	width: 103px;	position: fixed;	left: 0;	top: 0px;	z-index: 999;}
.fixarea .fix_title {	display: block;	width: 100px;	height: 33px;	background: url(fixbox_title.png);	margin: 0 auto;	font: bold 18px/29px "微軟正黑體", "Microsoft JhengHei", Arial;	color: #ffd349;	text-align: center;}
.fixarea .fix_main {	display: block;	width: 85px;	height: auto;	background: #a0a0a0;	margin: 0 auto;}
.fixarea .fix_main ul {	margin: 0;	padding: 0;}
.fixarea .fix_main ul li {	padding: 4px 0;	list-style-type: none;	border-bottom: dashed 1px #FFFFFF;	text-align: center;	background: #a0a0a0;}
.fixarea .fix_main ul li:last-child {border-bottom: none;padding: 4px 0 8px 0;}
.fixarea .fix_main ul li:hover {background: #808080;transition: background 0.4s linear;}
.fixarea .fix_main ul li a {display: block;	width: 100%;font: 18px/20px "微軟正黑體", "Microsoft JhengHei", Arial;color: #FFF;text-decoration: none;}
.fixarea .fix_main ul li a b {	font: 28px/28px "微軟正黑體", "Microsoft JhengHei", Arial;}
.fixarea .fix_main ul li a:hover {	color: #FF0;}
.fixarea .fix_other {	display: block;	width: 85px;height: auto;background: #896b2e;margin: 0 auto;}
.fixarea .fix_other ul { margin: 0; padding: 0; overflow:hidden;}
.fixarea .fix_other ul li {	padding: 0;	list-style-type: none;	text-align: center;	width: 50%;	height: 28px;float:left;}
.fixarea .fix_other ul li a {	display: block;	width: 100%;font: 15px/28px "微軟正黑體", "Microsoft JhengHei", Arial;color: #FFF;text-decoration: none;	background: #896b2e;}
.fixarea .fix_other ul li a:hover {	color: #000;	background: #FF0;	transition: background 0.4s linear;}
    @media screen and (max-width:767px){
		.fixarea {display:none;}
    }

/*浮層嘿嘿*/
.blackBox { display:none; z-index:999; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75);}
.blackBox * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox  a { text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox .Boxclose { z-index:5; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}

/** 置底黏人精浮層區- **/
.flitermenu {/* display:none;*/ z-index:10;  position: fixed;  bottom: 45px; background-color:#f2f2f2; border-radius:10px; margin:0 5%; padding-bottom:60px; width:90%; /*height:190px;*/
 -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
       -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
        -ms-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
         -o-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
            box-shadow:0px 0px 8px rgba(0,0,0,0.5);
}
.flitermenu * { box-sizing:border-box;}
.flitermenu .trainglelist { display:none; position:absolute; bottom:-10px; left:48%; width:0; height:0; border-style:solid; border-width:10px 10px 0px 10px; border-color:#f2f2f2 transparent transparent transparent;   }
.flitermenu ul{ width:100%; height:auto; margin:0 ; padding:6%;  }
.flitermenu li{ float:left; display:block; margin-left:12%; margin-bottom:5%; width:25%; height:30px; border-radius:50px; text-align:center; font: bold 25px/30px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; color:#000; background-color: #999; }
.flitermenu li:nth-child(3n+1) { margin-left:0; }

.flitermenu li:hover { background-color: #F39;}
.flitermenu li a { color:#fff; }
@media screen and (min-width:400px){
	.flitermenu ul{ padding:4%;}
	.flitermenu li{ margin-bottom:3%;}
	}
@media screen and (min-width:600px){
	.flitermenu{ max-width:600px; margin:0 20px;}
	.flitermenu ul{ padding:2%;}
	.flitermenu li{ margin-bottom:3%;}
	}
	



/*浮層嘿嘿*/
.blackBox2 { display:none; z-index:999; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75);}
.blackBox2 * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox2  a { text-decoration:none;}
/*浮層基本*/
.blackBox2 .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox2 .box .but-close { clear:both; width:100%;}
.blackBox2 .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox2 .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox2 .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox2 .Boxclose2 { z-index:5; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}

/** 置底黏人精浮層區- **/
.flitermenu {/* display:none;*/ z-index:10;  position: fixed;  bottom: 45px; background-color:#f2f2f2; border-radius:10px; margin:0 5% 5%; padding-bottom:0px; width:90%; /*height:190px;*/
 -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
       -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
        -ms-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
         -o-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
            box-shadow:0px 0px 8px rgba(0,0,0,0.5);
}
.flitermenu * { box-sizing:border-box;}
.flitermenu .trainglelist { display:none; position:absolute; bottom:-10px; left:48%; width:0; height:0; border-style:solid; border-width:10px 10px 0px 10px; border-color:#f2f2f2 transparent transparent transparent;   }
.flitermenu ul{ width:100%; height:auto; margin:0 ; padding:6%;  }
.flitermenu li{ float:left; display:block; margin-left:12%; margin-bottom:5%; width:25%; height:30px; border-radius:50px; text-align:center; font: bold 24px/30px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; color:#000; background-color: #999; }
.flitermenu li:nth-child(3n+1) { margin-left:0; }

.flitermenu li:hover { background-color: #F39;}
.flitermenu li a { color:#fff; }
@media screen and (min-width:400px){
	.flitermenu ul{ padding:4%;}
	.flitermenu li{ margin-bottom:3%;}
	}
@media screen and (min-width:600px){
	.flitermenu{ max-width:600px; margin:0 20px;}
	.flitermenu ul{ padding:2%;}
	.flitermenu li{ margin-bottom:3%;}
	}
	
/*手機的版頭佔位設定*/
	.nothing{display: block; padding-bottom:calc(35.8% + 50px);}	   
	.nothing .nnb{display: block; padding-bottom: 30px;}	   
	.logo_bar{position:relative;top:0;left: 0;z-index: 10;} 

/*手機下方黏人精按鈕*/
  .all_bank { z-index:10; position: fixed; bottom:0; left:50%; width:100%;transform:translateX(-50%); }
  .all_bank a { display:block;  margin:0 auto; width:100%;}
  .all_bank img { width:100%; height:auto;vertical-align: bottom;}

/*隱鑶*/

.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}

