@charset "big5";

/*基本*/
body {margin: 0; padding:0;background-color: #ffd8ca;background: url(top_bg_04.jpg) repeat-y center bottom;background-size: 100%;}

/*全BOX版面*/
.WRAPPER { position: relative;	display: inline-block;	 margin: 0;	padding: 0 0 40px;	width:100%; min-width:1220px; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background-size: auto;background: url(bg.png) no-repeat center top;overflow: hidden}
.WRAPPER img { border:0; vertical-align:top;}
.WRAPPER a { text-decoration:none;}




/*版頭*/
.Area_top { position: relative;height:500px;top:40px;}
.Area_top .more{ position: absolute;top:35px;right:325px;}
.Area_top .momologo { z-index:999; position:absolute; top:-20px; left:50%; margin-left:-580px;}
.Area_top .momologo a { display:block; width:181px; height:20px; background: url(momo_logo.png) no-repeat; }
.Area_top .momologo a:hover{ filter: brightness(200%);}
	@media screen and (max-width:767px){
     .Area_top {height:55vw;}
     .Area_top .momologo { display: none; }

	}
.Area_top .go_bt:hover { filter: brightness(110%);}
.top_box{position: relative;top:0px; left:0px;min-width:1220px;width: 2000px;height: 700px; left:-390px;}
.back{position: absolute;top:0px; left:390px; background: url(thunder.png) no-repeat center top;width: 1204px;height: 636px;z-index:2;-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;}
.balls{position: absolute;top:0px; left:-170px; background: url(balls.png) no-repeat center top;width: 2411px;height: 810px;z-index:2;}
.out{position: absolute;top:15px;left:550px; width: 880px;height: 480px;-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;z-index:3;}
.top_box .top_bn_04{position: absolute; top:-10px;background: url(top_title.png) no-repeat center top;width: 880px;height: 480px;z-index:2;-webkit-animation: loading 0.8s  ease; -moz-animation: loading 0.8s  ease; animation: loading 0.8s  ease;}
.top_box .title2{position: absolute; top:377px;left:581px;z-index: 4;-webkit-animation: loading 0.8s  ease; -moz-animation: loading 0.8s  ease; animation: loading 0.8s  ease;}
.top_box .PD{-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;animation-delay: 1.5s;animation-fill-mode:both;position: absolute;left: 530px;top:310px; z-index: 5;}
.top_box .PD2{-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;animation-delay: 1.5s;animation-fill-mode:both;position: absolute;right: 500px;top:362px; z-index: 5;}
.top_box .PD3{-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;animation-delay: 1.5s;animation-fill-mode:both;position: absolute;right: 545px;top:22px; z-index: 5;}
.fang{position: absolute;top:-9px; left:385px; width: 1250px;height: 60px;z-index:2;-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;z-index:3;}
.fang img{width: 100%;position: absolute;left:0;top:0;opacity: 1;}
.fang img:nth-child(1){animation:img1 1s infinite}
.fang img:nth-child(2){animation:img2 1s infinite}
.top_box .left{position: absolute;top:18px;left:7px; width: 350px;height:90px;z-index: 9;}
.top_box .right{position: absolute;top:15px;right:80px; width: 400px;height:90px;z-index: 9;}
@media screen and (max-width:767px){
.top_box img{width:100%;}
.top_box{position: relative ;width:100%;background-size: 100%; min-width: 0;left: 0;margin: 0 auto;}
.top_box .fang{position: absolute;left:0vw;top:0vw;background-size: 100%;width:100%;height:51vw;animation-delay: 0.8s;animation-fill-mode:both;}
.fang img{width: 100%;position: absolute;left:0;top:0;opacity: 1;}
.top_box .title2{position: absolute; top:85vw;left:11vw;width:80%;overflow: hidden;-webkit-animation: movein_upon 0.6s  forwards; -moz-animation: movein_upon 0.6s  forwards; animation: movein_upon 0.6s  forwards;animation-delay: 1s}
.balls{position: absolute;top:0px; left:0; background: url(balls.png) no-repeat center top;width: 100%;height: 810px;z-index:2;}
.out{position: absolute;top:0;left:0; width:100%;height: 480px;animation: none;}
.top_box .top_bn_04_m{position: absolute; top:3vw;left: 10vw; background: url(top_title.png) no-repeat center top;background-size: 100%; width: 80%;height: 60vw;-webkit-animation: movein 0.8s  ease; -moz-animation: movein 0.8s  ease; animation: movein 0.8s  ease;}
.coin{ transform:rotate(-20deg);width: 9vw!important; position: relative; top:27vw; left:-36vw;}
.top_box .earth{display: :none;}
.top_box .left{position: absolute;top:22.5vw;left:12vw; width: 57vw;height:auto;animation:imgchange1 6s infinite;}
.top_box .right{position: absolute;top:23vw;left: 12vw; width: 57vw;height:auto;animation:imgchange2 6s infinite;}
	}
.top_box .mao{position: absolute;top:230px;right:500px; width:590px;height:200px;overflow: hidden}
.item1{position: absolute;top:142px;right:509px;z-index: 3;-webkit-animation: maochu 0.4s  forwards; -moz-animation: maochu .4s  forwards; animation: maochu .4s  forwards;animation-delay: 1s;animation-fill-mode:both;}
.item2{position: absolute;top:120px;right:457px;z-index: 3;-webkit-animation: maochu 0.4s  forwards; -moz-animation: maochu .4s  forwards; animation: maochu .4s  forwards;animation-delay: 1.3s;animation-fill-mode:both;}
.item3{position: absolute;top:116px;right:275px;z-index: 3;-webkit-animation: maochu 0.4s  forwards; -moz-animation: maochu 0.4s  forwards; animation: maochu .4s  forwards;animation-delay: 1.6s;animation-fill-mode:both;}
.item4{position: absolute;top:73px;right:262px;z-index: 3;-webkit-animation: maochu2 0.6s  forwards; -moz-animation: maochu2 0.6s  forwards; animation: maochu2 .6s  forwards;animation-delay: 2s;animation-fill-mode:both;}
.item5{position: absolute;top:18px;right:71px;z-index: 3;-webkit-animation: maochu2 0.6s  forwards; -moz-animation: maochu2 0.6s  forwards; animation: maochu2 .6s  forwards;animation-delay: 2.4s;animation-fill-mode:both;}
.item6{position: absolute;top:4px;right:22px;z-index: 3;-webkit-animation: maochu2 0.6s  forwards; -moz-animation: maochu2 0.6s  forwards; animation: maochu2 .6s  forwards;animation-delay: 2.8s;animation-fill-mode:both;}

@keyframes img1{
	0%{opacity:1;}
	30%{opacity:1;}
  100%{opacity:0;}
}
@keyframes img2{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes imgchange1{
	0%{transform:scaleY(0);}
	1%{transform:scaleY(0);}
	2%{transform:scaleY(1);}
	49%{transform:scaleY(1);}
	50%{transform:scaleY(0);}
	100%{transform:scaleY(0);}
	
}
@keyframes imgchange2{
	0%{transform:scaleY(1);}
	1%{transform:scaleY(0);}
	50%{transform:scaleY(0);}
	51%{transform:scaleY(1);}
	100%{transform:scaleY(1);}
	
}

@keyframes maochu{
	0%{transform:translateY(60px);opacity:0}
	1%{transform:translateY(60px);opacity:1}
	100%{transform:translateY(0);}	
}
@keyframes maochu2{
	0%{transform:translateY(150px);opacity:0}
	1%{transform:translateY(150px);opacity:1}
	100%{transform:translateY(0);}	
}
/*版頭動畫*/

	@-webkit-keyframes loading{
		0%{-webkit-transform:rotate(0deg);}

		100%{-webkit-transform:rotate(4320deg);}
	}
	@keyframes loading{
		0%{-webkit-transform:rotate(0deg);}

		100%{-webkit-transform:rotate(4320deg);}
		}
	@-webkit-keyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
	}


.tobig{-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;animation-delay: 1.5s;animation-fill-mode:both;position: absolute; z-index: 5;}
	@keyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
		}
	@-moz-eyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
        }
/*進場*/
.movein{ -webkit-animation:movein 0.5s  ease ; animation:movein 0.5s  ease}
	@-webkit-keyframes movein { 
		0% {-webkit-transform: translate(-100vw,10vw);} 
		98% {-webkit-transform: translate(2vw,-2vw);} 
		100% {-webkit-transform: translate(0,0);}
	}
	@keyframes movein{ 
		0% {transform: translate(-100vw,10vw); }
		98% {transform: translate(3vw,-0.5vw);} 
		100% {transform: translate(0,0);}
	}
.movein_upon{ -webkit-animation:movein_upon 0.5s  ease ; animation:movein_upon 0.5s  ease}
	@-webkit-keyframes movein_upon { 
		from{-webkit-transform: translate(0,0);} 
		to {-webkit-transform: translate(0,-350px);}
	}
	@keyframes movein_upon{ 
		from {transform: translate(0,0); }
		to {transform: translate(0,-350px);}
	}

/*閃光*/				  
.brightness-play { -webkit-animation:brightness-play 1s ease ;
				           animation:brightness-play 1s ease ;}
	
	@keyframes brightness-play {
	  0% {filter:brightness(100%);  }
	  60% {filter:brightness(100%);  }
	 70% {filter:brightness(200%);  }
	 80% {filter:brightness(100%);  }
	 90% {filter:brightness(200%);  }
	  100% {filter:brightness(100%);  }
	}
/*亮亮*/	
.lighter_hover:hover {filter:brightness(150%); }



.lighter { -webkit-animation:lighter 1s infinite;
			animation:lighter 1s infinite ;}
	
	@keyframes lighter {
	  0% {filter:hue-rotate(0);  }
	  60% {filter:hue-rotate(60deg);  }
	  100% {filter:hue-rotate(0);  }
	}
	@media screen and (max-width:767px){
		.top_box{width:100%;background-size: 100%; min-width: 0;left: 0;}
		.top_box .top_bn_04{width:100%;background: url(top_title_m.png)no-repeat center top;background-size: 96%; left:0;top:-12vw;}

	@-webkit-keyframes movein_upon { 
		from{-webkit-transform: translate(0,0);} 
		to {-webkit-transform: translate(0,-53vw);}
	}
	@keyframes movein_upon{ 
		from {transform: translate(0,0); }
		to {transform: translate(0,-53vw);}
	}
	}
/*版頭銀行BN*/

/*--活動按鈕_1-----*/	
.Area_topbon { position: relative; top:30px;left:7px ; z-index: 5; width: 792px; height:239px; background: url(top_btn_bg.png) no-repeat center top;}			
.Area_topbon ul{ text-align: center;left:193px;top:45px;overflow: hidden;position: relative;}			
.Area_topbon ul li{list-style: none;float: left; display: block;margin: 0 10px;padding: 0 4px;}	
.Area_topbon ul li a{display: block;}	
.now_link{display: block; margin:25px auto 0!important;position: relative;top:0px; z-index:10;text-align: center;}




/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; text-align:center;  }
.Area a { position:relative; display:inline-block;} 

.WRAPPER .go_bt {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
.WRAPPER .go_bt:hover {
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}

.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
	}

/*銀行輪播*/
.BANK_sw_Area{position: relative;width:1027px;margin: 20px auto;}
.Bank_BN {width: 1027px;height: 109px;overflow: hidden;position: relative;;z-index: 8;margin: 0;}
		.Bank_BN .rolling {width: 100%; margin: 0 auto;animation: bank_rolling_m 15s infinite linear;animation-direction:normal;}
		.Bank_BN .rolling a{display: block;height: 109px; margin: 0;text-align: left;}
		.Bank_BN img{ width:100%;}


	@keyframes bank_rolling_m{
		0%{-webkit-transform:translate(0,-436px);}
		01%{-webkit-transform:translate(0,-327px);}
		25%{-webkit-transform:translate(0,-327px);}
		26%{-webkit-transform:translate(0,-218px);}
		50%{-webkit-transform:translate(0,-218px);}
		51%{-webkit-transform:translate(0,-109px);}
		75%{-webkit-transform:translate(0,-109px)}
		76%{-webkit-transform:translate(0,0);}
		100%{-webkit-transform:translate(0,0);}
		}

	@-webkit-keyframes bank_rolling_m{
		0%{-webkit-transform:translate(0,-431px);}
		01%{-webkit-transform:translate(0,-324px);}
		25%{-webkit-transform:translate(0,-324px);}
		26%{-webkit-transform:translate(0,-216px);}
		50%{-webkit-transform:translate(0,-216px);}
		51%{-webkit-transform:translate(0,-108px);}
		75%{-webkit-transform:translate(0,-108px)}
		76%{-webkit-transform:translate(0,0);}
		100%{-webkit-transform:translate(0,0);}
		}

/*Area1*/
.Area1 { position: relative; margin:0 auto;width:1200px;height: 478px;background-image: url(Area2_bg.png);top:;padding: }
.Area1 .box {width: 1100px; overflow: hidden;position: absolute;top: 120px;left:50px;padding-bottom: 15px;}
.Area1 a.more{display: block; width: 165px;height: 44px; top:41px;left:722px;background-image:url(js_btn.png);}
.Area1 ul {list-style: none; margin: 0; padding: 0;padding-bottom:10px; }
.Area1 li {list-style: none;margin: 0; padding: 0; }
.Area1 .swiper-button-next {top:55%; right:30px;background: url(goto_right_db.png) no-repeat center top!important; width: 17px!important;height:40px!important;opacity: 1;}
.Area1 .swiper-button-prev {top:55%;  left:30px;background: url(goto_left_db.png) no-repeat center top!important;width: 17px!important;height:40px!important;opacity: 1;}
.Area1 .pagination {bottom:0px!important;}

/*Area2*/
.Area2 { position: relative; z-index:6; margin:0 auto;left:10px;top:30px; overflow: visible;  }
.Area2 .inside{width:1198px!important;height: 638px;background:url(Area1_01.png) no-repeat center top;border:none!important;overflow: hidden}
.Area2 .today{position: absolute;top:95px;left: 45px; background:url(today_bg.png) no-repeat center top;width: 424px; height: 226px;}
.Area2 .today .buynow_btn{display: block;background:url(buynow_btn.png) no-repeat center top;width: 173px; height: 42px;margin: 175px 0 0 238px;}
.Area2 .top_PD_01 {position: relative; margin: 0;padding: 0 30px;width:625px;height: 230px;top:105px; left:497px;overflow: hidden;}
.Area2 .top_PD_01 .change{width: 630px;height: 213px;padding-bottom: 30px;overflow: hidden;position: absolute;}
.Area2 .top_PD_01 .swiper-button-next { right:10px;background: url(goto_right.png) no-repeat center top; width: 16px!important;height:38px!important;opacity: 1;}
.Area2 .top_PD_01 .swiper-button-prev { left:10px;background: url(goto_left.png) no-repeat center top;width: 16px!important;height:38px!important;opacity: 1;}
.Area2 .top_PD_01 .change ul{margin: 0;padding: 0;}
.Area2 .top_PD_01 .change li{margin: 0;padding: 0;list-style: none;}
.Area2 .top_PD_01 .change li a:hover{display: block; filter: brightness(110%);}

.Area2 .top_PD_02 { position: absolute;display: block; top:363px; left:567px;width:600px;height:187px;padding-bottom: 40px; overflow: hidden;}
.Area2 .top_PD_02  .swiper-pagination-bullet-active { background-color:#2357FF;}
.Area2 .top_PD_02  .button:hover { filter: brightness(100%) hue-rotate(20deg); }
.Area2 .top_PD_02  .swiper-button-next { right:0px;top:125px;background: url(goto_right_b.png) no-repeat center top; width: 18px!important;height:20px!important;opacity: 1;z-index: 5}
.Area2 .top_PD_02  .swiper-button-prev { left:0px;top:125px;background: url(goto_left_b.png) no-repeat center top;width: 18px!important;height:20px!important;opacity: 1;z-index: 15}
.Area2 .top_PD_02 ul{padding: 0;margin-left:0;}
.Area2 .top_PD_02 li{list-style: none;padding: 0; margin: 0;}
.Area2 .top_PD_02 a{margin: 10px 0;}

.Area2 .topbox a{margin: 10px 0;}
.Area2 .topbox{margin:0;position: absolute;top:400px; left:55px;}
.Area2 .topbox .bo{width:440px;height: 80px;overflow: hidden;}
.Area2 .topbox .bobo{animation: bo_roll 15s infinite linear;animation-direction:normal;}

	@keyframes bo_roll{
		0%{-webkit-transform:translate(0,-160px);}
		30%{-webkit-transform:translate(0,-160px);}
		31%{-webkit-transform:translate(0,-80px);}
		60%{-webkit-transform:translate(0,-80px);}
		61%{-webkit-transform:translate(0,0);}
		99%{-webkit-transform:translate(0,0);}
		100%{-webkit-transform:translate(0,-160px)}
		}


/*待森*/
.Area_gd { position: relative; background-image: url(Area3_bg.png); width: 1209px; height: 397px; margin-bottom:50px;left:0px;top:50px;}
.Area_gd .box {}
.Area_gd .box ul li {float: left;width:auto;list-style: none;}
.Area_gd .box ul li:nth-child(1) {position: relative;top:39px;left: 49px;}
.Area_gd .box ul li:nth-child(2) {position: relative;top:21px;left: 17px;}
.Area_gd .box ul li:nth-child(3) {position: relative;top:35px;left: 58px;}
.Area_gd .box ul li:nth-child(4) {position: relative;top:140px;left: 128px;}
.gd_more {display: block; position: relative;top:50px;right: -41px;}


/*Area3*/
.Area3 { position: relative;width: 1219px;height:308px; margin-bottom:50px;background-image: url(Area4_bg.png);left:0px;top:50px;}
.Area3 .a3_right {float: left;width: 85%;margin: -3px 0 0 203px;}
.Area3 .a3_right ul{overflow: hidden;padding: 0;}
.Area3 .a3_right li{float: left;list-style: none;margin:5px; }
.Area3 .more { z-index:5; position:absolute; top:0px; right:320px;margin-top: -15px;}
.Area3 .box .game { position:relative; padding:10px 0 20px;}
	
/*Area4*/
.Area4 {  position: relative;margin-bottom:50px;top:20px;left:0px;}
.iframe{margin:0;padding: 0;}
.Area4 .gd_more {display: block; position: relative;top:-1190px;left: 968px; font-family: Century Gothic; font-size:30px;color: #7ee5ff; background-color: #FFF;font-weight: 500;height: 35px;width: 100px;line-height: 30px;border-radius: 30px;}
.Area4 .gd_more:hover {background-color: #FFFCC4;}

/*Area5*/
.Area5 {  position: relative;margin-bottom:50px;margin-top:-370px;}
.Area5 .more { z-index:5; position:absolute; top:0px; right:323px;margin-top: -15px;}
.Area5 .box .game { position:relative; display:inline-block; padding:0 0px 50px 30px;}
.Area5 .box .game_b::before {content:"";height: 350px;width: 20px; border-left:thin dashed #CCC;display:block;float: left;}
.Area5 .box .game li{list-style: none;}
.Area5 .box .txt { position: absolute; bottom: 32px; right:132px; margin: 0; padding: 0; width: 167px; font-size:15px; line-height:15px; color:#95aaf9; text-align:right;}
.Area5 .count{ font-family:Century Gothic;color: #b81c00;font-size: 24px!important;position: relative;left:-51px;}

/*Area6*/
.Area6 {  position: relative;margin-bottom:0px; background:url(ms_bg.jpg) no-repeat center 40px;width: 1220px;height: 607px;left:0px;top:-55px;}
.Area6 .TIMER {display: block;position: absolute; top:122px; left:640px; margin:0px; margin-left:100px; padding: 0px;width:320px;z-index: 9999; text-align: left;}
.Area6 .TIMER input {margin:0px; padding:0px; border:0px; width:80px; height:60px; font:60px/60px Century Gothic; color:#fff; letter-spacing:0px; text-align:right; background:transparent;}
.Area6 .TIMER input.HH {margin-right:30px;}
.Area6 .TIMER input.MM {margin-right:25px;}
.Area6 .TIMER input.SS {margin-right:0px;}
.Area6 .TIMER_text { display:inline-block; margin:0px; padding:0px; border:0px; width:80px; height:60px; font:60px/60px  "Century Gothic"; color:#fff; letter-spacing:0px; text-align:right; background:transparent; }
.Area6 .TIMER #HH  { margin-right:30px;}
.Area6 .TIMER #MM  { margin-right:25px;}
.Area6 .TIMER #SS  { margin-right:0px;}

.Area_floor{margin-left:35px;}
