@charset "big5";

/*回版頭*/
/*
#gotop { display: none; position:fixed; z-index:5; right:20px; bottom:30px;padding:10px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#000;  background-color:rgba(255,255,255,0.7); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
#gotop:hover { padding-top:40px; background-color:#fff;} 
#gotop::before { content: ""; position:absolute; top:7px; left:18px; width: 0; height: 0; border: 4px solid #000; border-color: transparent transparent #000; }
	@media screen and (max-width:767px){
		#gotop { right:20px; bottom:20px; }
	}
*/


/*PC右側黏人精+goTop+回版頭*/
.fixarea { z-index:99; position:fixed; right:-5px; top:30px; display: none; width:200px; text-align: center; font-family:"微軟正黑體", "Microsoft JhengHei", Arial; }
.fixarea .title img {
	  -webkit-transition: all 0.2s ease;
		 -moz-transition: all 0.2s ease;
		  -ms-transition: all 0.2s ease;
		   -o-transition: all 0.2s ease;
			  transition: all 0.2s ease;}
 /*由前到後的分別是：[動畫名稱momoco]，[撥放時間1秒]，[10張影格_取決於圖片內有幾個動作]，[撥放幾次_infinite=重複]，[alternate=會倒著撥回去]*/
    .icon_m { position:relative; z-index:5; top:0; left:40px; margin-left:; width:146px; height:110px; background: url(UFO.png);
        -webkit-animation: icon_m_go 3s steps(17) infinite ;
                animation: icon_m_go 3s steps(17) infinite;
    }
    @-webkit-keyframes icon_m_go {
       from { background-position:    0px; }
         to { background-position: -2482px; }
    }
    
    @keyframes icon_m_go {
       from { background-position:    0px; }
         to { background-position: -2482px; }
    }

/*.fixarea .title:hover img { -webkit-transform:translateY(-5px); transform:translateY(-5px);}*/
.fixarea .fix_box { margin:0 auto 0 auto;}
.fixarea ul { margin:0; padding:0; list-style:none;}
.fixarea li { position:relative; margin:0; padding:0; font-size:16px; line-height:20px;}
.fixarea a {display: block;height: 100%;width: 100%;}
.fixarea .fix_main ul{}
.fixarea .fix_main li { padding:0;margin: 0 auto;}
.fixarea .fix_main li:nth-child(1){background: url(fix_box_01.png) no-repeat center top;width: 121px;height: 133px;}
.fixarea .fix_main li:nth-child(2){background: url(fix_box_02.png) no-repeat center top;width: 121px;height: 161px;}
.fixarea .fix_main li:nth-child(3){background: url(fix_box_03.png) no-repeat center top;width: 121px;height: 172px;}
.fixarea .fix_main li:nth-child(4){background: url(fix_box_04.png) no-repeat center top;width: 121px;height: 127px;}
.fixarea .fix_main li:nth-child(1):hover{background: url(fix_box_on_01.png) no-repeat center top;width: 121px;height: 133px;}
.fixarea .fix_main li:nth-child(2):hover{background: url(fix_box_on_02.png) no-repeat center top;width: 121px;height: 161px;}
.fixarea .fix_main li:nth-child(3):hover{background: url(fix_box_on_03.png) no-repeat center top;width: 121px;height: 172px;}
.fixarea .fix_main li:nth-child(4):hover{background: url(fix_box_on_04.png) no-repeat center top;width: 121px;height: 127px;}


.fixarea .title_b  { background: url(fix_box_05.png) no-repeat center top;width: 121px;height:103px;margin: 0 auto;}
.fixarea .title_b:hover  { background: url(fix_box_on_05.png) no-repeat center top;width: 121px;height:103px;margin: 0 auto;}


/*活動紀錄查詢浮層*/
.refArea { width:700px; position:relative; display:block; margin: 0 auto 10px; padding:0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.refArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.refArea .closeBN a:hover { background-color:#666; text-decoration:none}
.refArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.refArea .title2 { margin:20px auto 0px; font:bold 28px/1em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.1em;  color:#fff; text-align:center}
.refArea .title3 { margin-top:10px; font:bold 18px/1em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.1em;  color:#fff; text-align:center}
.refArea .ref_Date ul { margin: 0 auto; padding: 10px 50px;}
.refArea .ref_Date li { display:inline-block; margin:5px; padding:0px; width:70px; height:70px;border-radius:50%; text-shadow:rgba(0%,0%,0%,0.15) 1px 1px; color:#fff; letter-spacing: -0.05em; text-align:center; background-color:#979797;text-align:center; box-shadow: 0px 0px 3px 3px rgba(0%,0%,0%,0.15),0px 0px 0px 5px rgba(100%,100%,100%,0.1) inset;}
.refArea .ref_Date li .month {font:bold 20px/1.5em "Century Gothic"; margin: 5px auto 0 auto; border-bottom:#FFF solid 1px; width:80%}
.refArea .ref_Date li .date {font:bold 20px/1em "Century Gothic"; margin:0; margin-top:4px}
.refArea .ref_Date li.opendate { background-color:#000000; box-shadow: 0px 0px 3px 3px rgba(0%,0%,0%,0.15),0px 0px 0px 5px rgba(100%,100%,100%,0.1) inset;color:#fff;  }
.refArea .ref_List table { margin:0 auto; padding: 10px 0;}
.refArea .ref_List .table2 {font:bold 20px/1.2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em; color:#FFF; text-align:center; background-color:#999}
.refArea .ref_List .table3 {font:bold 20px/1.2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.0001em; color:#000; text-align:center; background-color:#FFF}
.refArea .ref_List table td,
.refArea .ref_List table td { border: 1px solid #340d4d; font: bold 20px/1.5em "微軟正黑體", "Microsoft JhengHei", "Century Gothic";}
.refArea .ref_List .txtsmall { padding:40px; padding-top:10px; font: 12px/18px "微軟正黑體", "Microsoft JhengHei", "Century Gothic"; color:#fff;  text-align:left;}
	@media screen and (max-width:767px){
		.refArea { width:90%;}
		.refArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
		.refArea .title  { margin:0 5%; font-size:30px;}
		.refArea .title2 { margin:10px auto 0px; font-size:20px; }
		.refArea .title3 { margin:10px auto 0px; font-size:14px; }
		.refArea .ref_Date ul { margin:0 auto; padding: 10px 20px 20px; text-align:center;}
		.refArea .ref_Date li { margin:3px; width:40px; height:40px;}
		.refArea .ref_Date li .month { font-size:12px; line-height:1.3em; margin-top:4px;}
		.refArea .ref_Date li .date { margin-top:2px; font-size:12px;}
		.refArea .ref_List table { }
		.refArea .ref_List .table2 { font-size:12px;}
		.refArea .ref_List .table3 { font-size:12px;}
		.refArea .ref_List .table2 td,
		.refArea .ref_List .table3 td { font-size:12px; line-height:1.2em;}
		.refArea .ref_List .txtsmall { padding:20px; padding-top:10px; font-size:12px; line-height:18px; color:#fff;  text-align:left;}
	}
	/*分享*/
.FBLINEArea { width:1000px; position:relative; display:block; margin: 0 auto; padding:0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.FBLINEArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.FBLINEArea .closeBN a:hover { background-color:#666; text-decoration:none}
.FBLINEArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.FBLINEArea .box { margin: 10px auto; padding: 20px 20px;}
.FBLINEArea .box .btn_share{ display: block; margin: 20px auto 30px; width: 702px; height: 118px; }
@media screen and (max-width:767px){
		.FBLINEArea { width:90%;}
		.FBLINEArea .title  { margin:0 5%; font-size:30px;}
		.FBLINEArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
}	
	/*簽到*/
.singArea { width:1000px; position:relative; display:block; margin: 0 auto; padding:0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.singArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.singArea .closeBN a:hover { background-color:#666; text-decoration:none}
.singArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.singArea .box { margin: 10px auto; padding: 20px 20px;}
@media screen and (max-width:767px){
		.singArea { width:90%;}
		.singArea .title  { margin:0 5%; font-size:30px;}
		.singArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
}
	
/*飄-上下*/
.uptodown-play { -webkit-animation:uptodown-play 1.5s ease-in-out infinite alternate;
				         animation:uptodown-play 1.5s ease-in-out infinite alternate;}
	@-webkit-keyframes uptodown-play { 
		0%   { -webkit-transform: translate(0,-20px); } 
		100% { -webkit-transform: translate(0,0);}
	}
	@keyframes uptodown-play { 
		0%   { transform: translate(0,-20px);} 
		100% { transform: translate(0,0);}
	}

/*飄-下上*/
.downtoup-play { -webkit-animation:downtoup-play 15s ease-in-out infinite alternate;
				         animation:downtoup-play 15s ease-in-out infinite alternate;}
	@-webkit-keyframes downtoup-play { 
		0% { 
			-webkit-transform: translate(0,0);  
		} 
		100% { 
			-webkit-transform: translate(0,-20px);
		}
	}
	@keyframes downtoup-play { 
		0% { 
			transform: translate(0,0);  
		} 
		100% { 
			transform: translate(0,-20px);
		}
	}
 
/*放大縮小*/
.zoominzoomout-play { -webkit-animation-duration: 0.7s;  animation-duration: 0.7s; animation-delay:-1s;  -webkit-animation-name: zoominzoomout-play;  animation-name: zoominzoomout-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1);} 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
	}







