@charset "big5";
/* CSS Document */

/** 入稿區基本 **/
.content_Area { position:relative; display:inline-block; margin:0px auto 0px auto; padding: 0px 0px 0px 0px; width:1220px;}
.buttonAera_more { position: relative; top:15px; right:15px; padding-left:17px; padding-right:10px;  border-radius:60px; width:90px; height:40px; background-color: #666; text-align:center;}
.buttonAera_more a { display:block; padding-top:5px; font: bold 24px/29px Century Gothic; color:#fff; text-decoration: none; letter-spacing:-0.05em;}
.buttonAera_more:hover { background-color: #000;}
.buttonAera_more .btnGO { margin:5px; float:right; width:20px ;height:20px;}

/*超級強牌公版layout_1220_5xn_0410A公版*/
.layout_1220_5xn_0410A_Area { margin:0 auto; text-align:center; }
.layout_1220_5xn_0410A_Area .box {margin:0 auto; z-index:1; position:relative;background-color: #000;width: 1220px;}
	/*超級強牌layout_1220_5xn_0410A*/
	.layout_1220_5xn_0410A  { position: relative; display:block; margin:0px auto 0px; padding:0 0 0 0px; width:100%; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; text-align: center;} 
	.layout_1220_5xn_0410A h2 { display: none; position:relative; top:0px; margin:0px 0 0 0; padding:0px; overflow:hidden; height:143px; font-size:46px; line-height:135px;  color:#fff; letter-spacing:-3px; text-indent: 110%;}
	.layout_1220_5xn_0410A h2 b { }
	.layout_1220_5xn_0410A h2 .buttonAera_more { display:none;}
	.layout_1220_5xn_0410A h2 .buttonAera_more:hover {display:none;}
	.layout_1220_5xn_0410A ul { display:inline-block; margin:0px auto; width:100%; padding:0px;}
	.layout_1220_5xn_0410A ul li { float:left; display:inline-block; position:relative; margin:0 1% 2%; padding:0; width: 48%;  list-style: none outside none; background-color:#fff;
					  -webkit-transition: all 0.2s ease;
						 -moz-transition: all 0.2s ease;
						  -ms-transition: all 0.2s ease;
						   -o-transition: all 0.2s ease;
							  transition: all 0.2s ease;}
	.layout_1220_5xn_0410A ul li:hover { z-index:5; -webkit-transform:translateY(-6px); transform:translateY(-6px); box-shadow:0 3px 30px rgba(0,0,0,0.4);}
	.layout_1220_5xn_0410A ul li a {text-decoration:none;}
	.layout_1220_5xn_0410A ul li .logo { display:none; z-index:1; position:absolute; top:5px; left:5%; border-bottom:1px solid #000; width:90%; height: 30px; overflow:hidden;}
	.layout_1220_5xn_0410A ul li .logo a { display:block; font-size:18px; line-height:30px; color: #ff0060;}
	.layout_1220_5xn_0410A ul li .logo a b { }
	.layout_1220_5xn_0410A ul li .logo a i { }
	.layout_1220_5xn_0410A ul li .logo:hover a {  color:#d92670;}
	.layout_1220_5xn_0410A ul li .PD {}
	.layout_1220_5xn_0410A ul li .PD a::before,
	.layout_1220_5xn_0410A ul li .PD a::after { content: ""; position:absolute; top:33px; left:5%; display: none; width:6px; height:6px; border-radius:10px; overflow: hidden; background-color:#000;}
	.layout_1220_5xn_0410A ul li .PD a::after { left:inherit; right:5%;}
	.layout_1220_5xn_0410A ul li .PD a img { display:block; margin:10px auto; padding:0px; width:90%; height:auto;}
	.layout_1220_5xn_0410A ul li .PD a h3 { margin:0 auto 5px; padding:0 10px; width:81%; height: 26px; overflow:hidden; font-size:16px; line-height:26px; color: #fff; background-color:#5f5f5f; }
	.layout_1220_5xn_0410A ul li .PD:hover a h3 {color:#fff;}
	.layout_1220_5xn_0410A ul li .PD a h4 { margin:0; padding:0 10px; height: 40px; overflow:hidden; font-weight: 300; font-size:15px; line-height:20px;  color:#000}
	.layout_1220_5xn_0410A ul li .PD:hover a h4 {color:#d92670;}
	.layout_1220_5xn_0410A ul li .PD a h4 b { display:block;height:21px;overflow: hidden;}
	.layout_1220_5xn_0410A ul li .PD a h4 br { display: none;}
	.layout_1220_5xn_0410A ul li .PD a p { margin:0;  height:38px; line-height:38px; color:#d92670;overflow: hidden;}
	.layout_1220_5xn_0410A ul li .PD a p del {  font-size:14px; font-family: Century Gothic; color:#5e5e5e;}
	.layout_1220_5xn_0410A ul li .PD a p b { font-size:14px; letter-spacing:-1px;}
	.layout_1220_5xn_0410A ul li .PD a p .money { font-weight: bold; font-size:14px; font-family: Century Gothic;}
	.layout_1220_5xn_0410A ul li .PD a p .Price { font-size:26px; font-family: Century Gothic; letter-spacing:-1px; }
	.layout_1220_5xn_0410A ul li .PD a p small { font-size:14px; letter-spacing:-1px;}
	
	.layout_1220_5xn_0410A ul li .more {  bottom:0px; left:5%; margin:0px auto; padding:0; border-top:1px solid #d7d7d7; width:90%; height:36px; overflow:hidden; text-align: right;}
	.layout_1220_5xn_0410A ul li .more a { position:relative; display: block; margin:0 auto; height:36px; overflow:hidden;  }
	.layout_1220_5xn_0410A ul li .more a b { z-index:1; position:relative; display: inline-block; padding:0 15px 0 20px; height:36px; overflow:hidden; font-weight:300; font-size:16px; line-height:36px; color:#9c9c9c;}
	.layout_1220_5xn_0410A ul li .more a i { position:absolute; top:50%; right:5px; display:block; border-top:2px solid #9c9c9c; border-right:2px solid #9c9c9c; width:8px; height:8px; -webkit-transform:translateY(-50%) rotate(45deg); -moz-transform:translateY(-50%) rotate(45deg); -ms-transform:translateY(-50%) rotate(45deg); -o-transform:translateY(-50%) rotate(45deg); transform:translateY(-50%) rotate(45deg); }
	.layout_1220_5xn_0410A ul li .more:hover b { color:#000;}
	.layout_1220_5xn_0410A ul li .more:hover i { border-color:#000;}
	
	
	
		@media screen and (max-width:375px){
	.layout_1220_5xn_0410A ul li .PD a p .Price { font-size:24px;}
	
}
	
	
	/*
	@media screen and (max-width:767px){
	}
	*/
	

















