
/** 全BOX **/
.mmainArea { position:relative; display:inline-block; margin:0px auto; padding:0px; width:100%; /*z-index:1;*/ text-align:center;background-color: #00aeff;}
.mmainArea * { margin:0px; padding:0px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.mmainArea img { border:0px; vertical-align:top;}
.mmainArea  {margin:0px; padding:0px; list-style:none outside none}
.mmainArea li {margin:0px; padding:0px; float:left}
.mmainArea a { text-decoration:none;} 

/**  今日最大牌 **/

.mmainArea .brandArea img { width:100%; height:auto; }
.mmainArea .brandArea a { display:block;}
.mmainArea .brand {}
.mmainArea .brand_ { width:1220px;}
.mmainArea .brand_li { width:100%; float: left;}
/** 入稿區 **/
.bran { display:inline-block;margin:0; padding:0 0.5vw; width:100%; height:auto;}
.bran  li { position:relative; display: inline-block;width:32.3%;  margin:0.5%; box-sizing: border-box; height: auto; border: 0px; background-color:#5f5f5f;}
.bran  li a { display:block; }
.bran .TIMG { background:#fff;}
.bran .TIMG a img { width: 100%; height: auto;}
.bran .PD_LOGO { position:relative; margin-top:-3vw; width:100%; text-align:center;}
.bran .PD_LOGO a{ height:37px;width: 90%; overflow: hidden;border-radius:60px; background: #FFF;margin: 0 auto;}
.bran .PD_LOGO a img { width: auto; height:80%; background-color:#fff; margin-top: 3%;}
.bran .PD_SLOGAN { margin-top:5px; margin-bottom:4px; width: 100%; height:16px; overflow: hidden;}
.bran .PD_SLOGAN a { font-size:14px; line-height:18px; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:center; color:#fff; text-decoration:none;}
.bran .PD_NAME {  width: 100%; height:16px; overflow: hidden; margin:0 auto; margin-bottom:12px;}
.bran .PD_NAME a { font-size:14px; line-height:18px; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:center; color: #fff; text-decoration:none; font-weight:bold;}
.bran .PD_GO { display:none; margin:0 auto; margin-bottom:15px; width:100px; height:25px; background-color:#000; }
.bran .PD_GO a { font-size:16px; line-height:23px; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:center; color: #fff; text-decoration:none;}
.bran  li:hover {
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
       -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
        -ms-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
         -o-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
            box-shadow:0px 0px 10px rgba(0,0,0,0.7);
}
.bran li:hover .PD_GO a { color:#FF0;}

/** 共用標題 **/
.mmainArea .title { margin:5% 2% 0 2%; text-align:center; clear: left;}
.mmainArea .title img { width: auto; height:auto;}
.mmainArea .title1 { display:block; border:solid 7px #fff900; font:30px/1.5em '微軟正黑體', 'Century Gothic','Microsoft JhengHei', Arial, Helvetica; color:#fff900; text-align:center; background-color: #fd009b;}
.mmainArea .title2 { width:60px; height:60px;}
.mmainArea .title2 { display:block; border:solid 3px #fff900; font:50px/1.2em '微軟正黑體', 'Century Gothic','Microsoft JhengHei', Arial, Helvetica;; color:#fff900; text-align:center; background-color:#fd009b;}
.mmainArea .title3 { display:block; border:solid 3px #fff900; font:24px/1.5em '微軟正黑體', 'Century Gothic','Microsoft JhengHei', Arial, Helvetica;; color:#fff900; text-align:center; letter-spacing: -0.05em; }
	
	
	
	/*
	@media screen and (max-width:767px){
	}
	*/
	

















