@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0;background-color:#8ae5ff;}


/*全BOX版面*/
.WRAPPER { z-index:0; position: relative; display:block; margin: 0 auto; padding: 0 0 10vw; width:100%;  max-width:960px; overflow:hidden; text-align:left; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background-color:#8ae5ff;}
.WRAPPER img {width:100%; }
.WRAPPER a { text-decoration:none;}

.BGpackage{ position:absolute;width:100%; margin: 0 auto 0;text-align: center;z-index: 0;top:0px;}	
.BGpackage .bg1{position: absolute;width:100%;top:0;left:0; margin:0 auto;}	
.BGpackage .bg2{display: none;position: absolute;width: 100%;top:0;left:0; margin:0 auto;}	
.BGpackage .bg3{display: none;position: absolute;width:2000px;top:2190px;left:-390px; margin:0 auto;}	
.BGpackage .bg4{display: none;position: absolute;width:2000px;top:3793px;left:-390px; margin:0 auto;}	
.BGpackage .cloud{position: absolute;margin: 0 auto;width: 146%;top:0;left:0;animation:cloud_move_m 5s linear infinite; animation-direction:alternate;}	




/*animate*/
	.tobig{animation:tobig 1.5s ease-out both;animation-delay: 1s; }
.Area_top .tobig{animation:tobig 1s ease-out both;animation-delay: 1.5s;}
	@-webkit-keyframes tobig { 	0% { transform: scale(0)} 	100%{ transform: scale(1)} 	}
	@keyframes tobig { 	0% { transform: scale(0)} 	100%{ transform: scale(1)} 	}

		@-webkit-keyframes heart{   
			0% { transform: scale(1)} 
			50% { transform: scale(1.5)} 
			100%{ transform: scale(1)} 
		}
		@keyframes heart { 
			0% { transform: scale(1)} 
			50% { transform: scale(1.5)} 
			100%{ transform: scale(1)} 
		}
		@-webkit-keyframes cloud_move {   
			0% { transform: translate(-100px,-40px)} 
			25% { transform: translate(-50px,-20px)} 
			50% { transform: translate(0px,0px)} 
			75% { transform: translate(50px,-20px)} 
			100% { transform: translate(100px,-40px)} 
		}
		@keyframes cloud_move { 
			0% { transform: translate(-100px,-40px)} 
			25% { transform: translate(-50px,-20px)} 
			50% { transform: translate(0px,0px)} 
			75% { transform: translate(50px,-20px)} 
			100% { transform: translate(100px,-40px)}
		}
		@-webkit-keyframes cloud_move_m {   
			0% { transform: translateX(-20vw)} 
			50% { transform: translateX(0vw)} 
			100% { transform: translateX(-20vw)} 
		}
		@keyframes cloud_move_m { 
			0% { transform: translateX(-20vw)} 
			50% { transform: translateX(0vw)} 
			100% { transform: translateX(-20vw)} 
		}
		@-webkit-keyframes airplane {   
			0% {transform: translate(-196px,-304px) }
			100% {transform:translate(0px,0px) } 
		}
		@keyframes airplane{ 
			0% {transform:translate(-196px,-304px) }
			100% {transform:translate(0px,0px) } 
        }


@keyframes img1{0%{opacity:1;}  50%{opacity:1;}  100%{opacity:0;}}
@keyframes img2{0%{opacity:0;}	50%{opacity:1;}  100%{opacity:1;}}

/*旋轉*/
.rerolling {-webkit-animation:rolling 40s linear infinite;
			     animation:rolling 40s linear infinite;animation-direction: reverse; }

.rolling {-webkit-animation:rolling 8s linear infinite;
			     animation:rolling 8s linear infinite;}

@-webkit-keyframes rolling{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@keyframes rollimg{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}

@keyframes flyin{
0%{transform: translate(1220px,0px)}
20%{transform: translate(915px,30px)}
40%{transform: translate(610px,0px)}
60%{transform: translate(3050px,30px)}
100%{transform: translate(0px,0px)}
}

/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area1220 { margin:0 auto; width:100%;}
.Area960 { margin:0 auto; width:100%;}


	/** 倒數 **/
	.Area_top .TimerNick { z-index:2; position: absolute;bottom:-1.5vw; left:0; width: 100vw; color: #00aeff; font-size:4.5vw; line-height:7vw; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
	.Area_top .TimerNick .clock{display: inline-block;width:4.5vw;height:auto;position: absolute;left: -5vw;top:0;padding: 1vw 0;}
	.Area_top .time_day { position:relative; display:inline-block; font-weight:800; letter-spacing: -0.1em;color:#00aeff;font-size: 4.5vw;}
	.Area_top .TIMER { display:inline-block; font-size: 3.5vw; text-align:center; font-weight:700; font-family:"微軟正黑體",Century Gothic;}
	.Area_top .TIMER img { width:40px; height:auto; filter: drop-shadow(0 0 20px rgba(255,255,255,1))}
	.Area_top .TIMER b { position:relative; top:0; font-size:inherit; line-height:inherit; }
	.Area_top .TIMER .FontStyle { display:inline; margin:0px 0 0 -0.8vw; padding:0; border:0px; font-size:5vw;font-weight:500; text-align:right;  letter-spacing: -0.02em;}
	.Area_top .TIMER span { position:relative; top:-2px; }

	/** 倒數閃燈 **/
	.Area_time  {
	  -webkit-animation:TIMERLan 0.25s infinite alternate linear;
		 -moz-animation:TIMERLan 0.25s infinite alternate linear;
		  -ms-animation:TIMERLan 0.25s infinite alternate linear;
		   -o-animation:TIMERLan 0.25s infinite alternate linear;
			  animation:TIMERLan 0.25s infinite alternate linear;}
		@keyframes TIMERLan {
			0%   { 
			  -webkit-transform:scale(1);
				 -moz-transform:scale(1);
				  -ms-transform:scale(1);
				   -o-transform:scale(1);
					  transform:scale(1);	
			}
			100% { 
			  -webkit-transform:scale(0.95);
				 -moz-transform:scale(0.95);
				  -ms-transform:scale(0.95);
				   -o-transform:scale(0.95);
					  transform:scale(0.95);	
			}
		}
.title{height: auto;margin-bottom: -1.2vw;}
/*版頭*/
.Area_top { z-index:2; height:50vw;}
.Area_top .title{pointer-events: none;  z-index:4;position: absolute;top:0;left:0;animation: heart 0.3s linear;animation-delay: 0.5s;}
.Area_top .subtitle{ z-index:2;position: absolute;top:0px;left:0vw;}
.Area_top .subtitle a{ z-index:4;position: relative;top:27vw;left:0; width:70vw;height:15vw;}
.Area_top .subtitle a img{position: relative;top:-27vw;width: 100vw;}
.Area_top .airplane{pointer-events: none; top:15vw;left:49vw;width: 48vw;height: 36vw; z-index:2;position: absolute;animation: airplane 1.5s ease both;animation-delay: 1s;}
.Area_top .airplane img{width: 100%;}
.Area_top .box_1 { position:relative;}
.Area_top .box_2 { position: absolute; top:0; left:0;}
.Area_top .box_btn {position: absolute;top:20px;left:116px; margin:0 auto; padding:50px 0 30px 0; width:90%;z-index: 8;}
.Area_top .btn_logo{position: absolute;top:27px;left: -94px;}
.Area_top .box_btn .btn_more,
.Area_top .box_btn .btn_list { float:right; width:194px;margin: 0 5px;}
	@media screen and (max-width:767px){
		.Area_top {}
		.Area_top .title{}
		.Area_top .subtitle{ }
		.Area_top .airplane{ }
		
.Area_top .box_btn {top:25px;left:auto;right: 5px; padding:0;margin: 0; width:22vw;}
.Area_top .btn_logo{position: absolute;top:-6vw;left: -76vw;width:22vw;}
.Area_top .box_btn .btn_more,
.Area_top .box_btn .btn_list { float:right; width:20vw;margin:1vw;}
	}



/*4BTN*/
.Area1 {height: 35vw;margin-top:0vw;z-index: 5;}
.Area1 .box{}
.Area1 .box ul{margin: 0 auto;padding: 0;text-align: center;width:100%;}
.Area1 .box ul li{list-style: none;float: left;position: relative;width: 24%;}
.Area1 .box ul li:nth-child(1){margin:0 0.5vw 5vw;}
.Area1 .box ul li:nth-child(2){margin:5vw 0.5vw 0;}
.Area1 .box ul li:nth-child(3){margin:5vw 0.5vw 0;}
.Area1 .box ul li:nth-child(4){margin:0 0.5vw 5cw;}
.Area1 .box ul li:nth-child(4) a{background: url(btn4_4.png) no-repeat center top;background-size: 100%;}

	@media screen and (max-width:425px){.Area1 {margin-top:-2vw}}
	@media screen and (max-width:320px){.Area1 {margin-top:-1vw}}



/*直播&活動BN*/
.Area2{text-align: left;top:5vw;}
.Area2 .box{width: 96%;margin: 0 auto;}
.Area2 .bn01{position: relative;width: 100%; z-index: 2}
.Area2 .bn01 a{top:0vw;position: relative;}
.Area2 .bn01 img.PD{position: absolute; pointer-events: none;bottom: -4vw;left:8vw;width: 80%;}
.Area2 .bn02{position: relative;top:0.5vw;height:55vw;}
.Area2 .bn02_1{float: left;position: relative;width:60%;}

.Area2 .bn02_1 .box_{width:100%;position: absolute;top:0;left:0;margin: 0 auto;overflow: hidden;padding-bottom: 10px;}
.Area2 .bn02_1 .box_ .swiper-pagination{bottom:0px!important;}
.Area2 .bn02_1 .box_ .swiper-pagination-bullet{width: 10%!important;height: 1.2vw!important;margin: 0 2px 1px;border-radius: 0!important;}
.Area2 .bn02_2{float: right;width: 38%;}
.Area2 .bn02_2 a{float: left;position: relative;display: block;width: 100%;margin: 0 0 5%;padding: 0;}
.Area2 .bn02_2 a img{position: relative;}
.box_bg{position: relative;width: 100%}

/*直播影片*/
.Area3{position:relative;margin-top: 5vw}
.Area3 img{width: 96%;}
.Area3 .box {}
.Area3 .box_viedo { position:absolute; top:22%; left:5%; right:6%;bottom:7%;}



/*剁手搶*/
.Area4 { margin:5 auto 0; padding:0 0 20px 0; width:1220px;}
.Area4 .title { position:relative;width: 90%;margin: 0 auto;}
.Area4 .title img { vertical-align: bottom;}
.Area4 .box { }
		.Area4 { position:relative; margin:0; padding:2% 0 8% 0; width:100%; /*background:url(Area_PD0_bg.png) repeat center top; background-size:100%;*/ }
		.Area4 .box {}

	/*剁手搶layout_1220_2xn_0308A公版*/
	.layout_1220_2xn_0308A { clear:both; position:relative; display:block; margin:0 auto; padding:0 0 35px 0; overflow:hidden; width:1200px; height: auto; text-align:center; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}
	.layout_1220_2xn_0308A .box { z-index:1; position:relative; }
	.layout_1220_2xn_0308A .swiper-slide-prev,
	.layout_1220_2xn_0308A .swiper-slide-next{}
	.layout_1220_2xn_0308A .product_Area { display:block; margin:0; padding:0; width:600px; list-style:none;}
	.layout_1220_2xn_0308A .product_Area .dateTime { background:#000;}
	.layout_1220_2xn_0308A .product_Area .dateTime .time { height:50px; font-weight:bold; font-size:40px; line-height:50px; text-align:center; color:#fff;}
	.layout_1220_2xn_0308A .product_Area .dateTime .time .a { font-family:"Century Gothic"; color:#ff0; padding-left:20px;}
	.layout_1220_2xn_0308A .product_Area .dateTime .time .b { color:#ff0;}
	.layout_1220_2xn_0308A .product_Area li { display:block; height:310px; background:#f1f1f1; border-right: thin dotted  #999999; border-bottom: thin dotted  #999999 }
	.layout_1220_2xn_0308A .product_Area li:last-child { border-right: none }
	.layout_1220_2xn_0308A .product_Area li .productImage { float:left; margin:10px; width:300px; height:300px;}
	.layout_1220_2xn_0308A .product_Area li .productImage img { width:270px; height:270px;}
	.layout_1220_2xn_0308A .product_Area li .brand { float:left;  padding:10px 0px 0px 5px; width:275px;height:35px; font:bold 24px/30px "微軟正黑體", Helvetica; color:#333; text-align:left; overflow:hidden;}
	.layout_1220_2xn_0308A .product_Area li .brand2 {float:left;  padding:0px 5px; width:275px; height:50px; font:17px/21px "微軟正黑體",Helvetica; color:#333; text-align:left; overflow:hidden;}
	.layout_1220_2xn_0308A .product_Area li .discountArea { float:left; width:142px; height:49px; margin:6px 130px 3px 4px;  background:url(btn-sale.png) no-repeat center top}
	.layout_1220_2xn_0308A .product_Area li .discountArea .discount { display:inline-block; float:right;padding:3px 0px 0px 5px; font:bold 29px/42px "微軟正黑體",Helvetica; *line-height:50px; text-align:left; letter-spacing:-2px; color:#fff;}
	.layout_1220_2xn_0308A .product_Area li .discountArea .discount span { font: 42px/42px Century Gothic; *line-height:50px; color:#fff; letter-spacing:-2px;}
	.layout_1220_2xn_0308A .product_Area li .discountArea .discounttxt {margin:-10px 0px 0px 6px; padding:0px; font:bold 18px/35px "微軟正黑體",Helvetica; color:#FFF; letter-spacing:-2px;}
	.layout_1220_2xn_0308A .product_Area li .discountArea .oldPrice {margin:0.5vw 0 0; padding:0px; font:bold 4vw/5vw Century Gothic; color:#FFF;}
	.layout_1220_2xn_0308A .product_Area li .discountArea .oldPrice span {font:13px/20px Century Gothic; letter-spacing:-1px; text-decoration:line-through; color:#FFF;}
	.layout_1220_2xn_0308A .product_Area li .price { float:left; width:136px;display:inline-block;  text-align:left; font:bold 19px/50px Century Gothic; color:#e40073;}
	.layout_1220_2xn_0308A .product_Area li .price span { font:49px/50px Century Gothic; letter-spacing:-5px; color:#e40073;}
	.layout_1220_2xn_0308A .product_Area li .price small { font:bold 18px/24px "微軟正黑體",Helvetica; color:#e40073;}
	.layout_1220_2xn_0308A .product_Area li .last { float:left; width:158px; margin-top:20px; padding:0px; font:bold 14px/18px "微軟正黑體",Helvetica; letter-spacing:-1px; color:#000;}
	.layout_1220_2xn_0308A .product_Area li .last span { display:inline-block; margin:0px -8px 0px -12px; padding:0px; width:50px; font:20px/28px "Century Gothic"; letter-spacing:-0.5px; text-align:center; color:#666;}
	.layout_1220_2xn_0308A .product_Area li .last small { font:bold 14px/18px "微軟正黑體",Helvetica; color:#000}
	.layout_1220_2xn_0308A .product_Area li .goShop { float:left; margin-left:5px}

	.layout_1220_2xn_0308A .product_Area li .goShop img { width:275px; height:66px;}
		/*@media screen and (max-width:737px){ */
			.layout_1220_2xn_0308A { padding:0; width:100%; overflow:inherit;}
			.layout_1220_2xn_0308A .product_Area {  width:100%; list-style:none;}
			.layout_1220_2xn_0308A .product_Area .dateTime .time { height:40px; font-size:20px; line-height:40px;}
			.layout_1220_2xn_0308A .product_Area .dateTime .time .a { padding-left:5px;}
			.layout_1220_2xn_0308A .product_Area li { padding-top:0px;float:left;width:100%;  height: auto; display:inline-block;background:#f1f1f1; border-right: none; border-bottom: thin dotted  #999999 }
			.layout_1220_2xn_0308A .product_Area li:last-child { border-right: none }
			.layout_1220_2xn_0308A .product_Area li .productImage { float:left; margin:1%; width:50%;  height: auto; margin-bottom:0;}
			.layout_1220_2xn_0308A .product_Area li .productImage img {width:100%;  height: auto;}
			.layout_1220_2xn_0308A .product_Area li .brand { float: none;  padding:3% 2% 0; width:auto; height:6vw; overflow:hidden; font:bold 5vw/6vw "微軟正黑體","Microsoft JhengHei",Helvetica; color:#333; text-align: left; overflow:hidden;}
			.layout_1220_2xn_0308A .product_Area li .brand2 { float: none;  padding:0 2% 1vw;width:auto; height:16vw; overflow:hidden; font:14px/20px "微軟正黑體","Microsoft JhengHei",Helvetica; color:#333; text-align:left; overflow:hidden;}
	
			.layout_1220_2xn_0308A .product_Area li .discountArea { position:relative; margin-left:50%; width:44%;top:-6vw; height:12vw;; margin:2px auto 0; background:url(btn-sale.png) no-repeat left top;background-size: 100%;}
			/*.layout_1220_2xn_0308A .product_Area li .discountArea:before {content: ""; position:absolute; top:4px; left:0px; border-radius:50%; width:1px; height:1px; background-color:#F1F1F1; box-shadow: 0px 0px 0 2px #F1F1F1, 0px 8px 0 2px #F1F1F1, 0px 16px 0 2px #F1F1F1, 0px 24px 0 2px #F1F1F1, 0px 32px 0 2px #F1F1F1, 0px 40px 0 2px #F1F1F1, 0px 48px 0 2px #F1F1F1;}
			.layout_1220_2xn_0308A .product_Area li .discountArea:after {content: ""; position:absolute; top:4px; right:0px; border-radius:50%; width:1px; height:1px; background-color:#F1F1F1; box-shadow:0px 0px 0 2px #F1F1F1, 0px 8px 0 2px #F1F1F1, 0px 16px 0 2px #F1F1F1, 0px 24px 0 2px #F1F1F1, 0px 32px 0 2px #F1F1F1, 0px 40px 0 2px #F1F1F1, 0px 48px 0 2px #F1F1F1;}*/
			.layout_1220_2xn_0308A .product_Area li .discountArea .discount {position: absolute;left:11vw;top:1vw;display:block;padding:0; font:bold 6vw/6vw "微軟正黑體","Microsoft JhengHei",Helvetica; text-align:left; letter-spacing:-2px; color:#fff;}
			.layout_1220_2xn_0308A .product_Area li .discountArea .discount span { position:relative;font: 8vw/10vw Century Gothic; color:#fff; letter-spacing:-2px;}
			.layout_1220_2xn_0308A .product_Area li .discountArea .discounttxt {position: absolute;top:3.8vw;left:0.5vw; display:block; margin:0; padding:0px; font:bold 5vw/8.5vw "微軟正黑體","Microsoft JhengHei",Helvetica; color:#FFF; letter-spacing:-2px;}
			.layout_1220_2xn_0308A .product_Area li .discountArea .oldPrice { position: absolute; display:block; top:0vw;left: 1.5vw; display: inline-block;  color:#FFF;}
			.layout_1220_2xn_0308A .product_Area li .discountArea .oldPrice span { font:12px/12px Century Gothic; letter-spacing:-1px; text-decoration:line-through; color:#FFF; }
	
			.layout_1220_2xn_0308A .product_Area li .price { float: left; width:100%;display:inline-block;  text-align:center; font:bold 19px/1em  Century Gothic; color:#e40073;margin-top: -4vw; }
			.layout_1220_2xn_0308A .product_Area li .price span { font:49px/1em Century Gothic; letter-spacing:-3px; color:#e40073;}
			.layout_1220_2xn_0308A .product_Area li .price small { font: bold 30px/1em "微軟正黑體","Microsoft JhengHei",Helvetica; color:#e40073;}
			.layout_1220_2xn_0308A .product_Area li .last { float:inherit; width:100%; margin-left:0%; margin-top:0px; padding:0px 0 2% 0; font:bold 16px/1.3em  "微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px; color:#000;}
			.layout_1220_2xn_0308A .product_Area li .last span { display:inline-block; margin:0; padding:0 2%; width: auto; font:20px/1em  "Century Gothic"; letter-spacing:-0.5px; text-align:center; color:#666;}
			.layout_1220_2xn_0308A .product_Area li .last small { font:bold 16px/1em "微軟正黑體","Microsoft JhengHei",Helvetica; color:#000}
			.layout_1220_2xn_0308A .product_Area li .goShop {width:90%; float: none; margin:0 auto; padding:5%; margin-left:0px}
			.layout_1220_2xn_0308A .product_Area li .goShop img { width:100%; height: auto;}
		/*}*/
	@media screen and (max-width:375px){
		.layout_1220_2xn_0308A .product_Area .dateTime .time {  font-size:17px; }
}
		/*剁手搶goShop選單*/
		.topnavArea img:first-child {display:none;}
		.topnavArea a:hover img,
		.topnavArea .selected img {display:none;}
		.topnavArea a:hover img:first-child,
		.topnavArea .selected img:first-child {display:inline-block;}
			/*@media screen and (max-width:737px){ */
				.topnavArea img:first-child {display:none;}
				.topnavArea a:hover img,
				.topnavArea .selected img {display: inline-block;}
				.topnavArea a:hover img:first-child,
				.topnavArea .selected img:first-child {display:none;}
			/*}*/
		
		/*剁手搶左右按鈕*/
		.layout_1220_2xn_0308A .button { z-index:100; position:absolute; top:45%; right:0; display:block; overflow:hidden; width:40px; cursor:pointer; -webkit-transform:translateY(-50%); transform:translateY(-50%); transform-origin: center center;}
		.layout_1220_2xn_0308A .button i { display:block; position:relative; border-radius:100%; width:80px; height:80px; background-color:#E3007C; opacity:0.8;}
		.layout_1220_2xn_0308A .button i::before { content: ""; position:absolute; top:50%; left:8%; display:block; width:25%; height:25%; border-left:2px solid #fff; border-top:2px solid #fff; transform:translate(0%,-50%) rotate(135deg); transform-origin: center center;}
		.layout_1220_2xn_0308A .button i:hover {  background-color:#ff0;}
		.layout_1220_2xn_0308A .button i:hover::before { border-color:#CC0573;}
		.layout_1220_2xn_0308A .button-prev { right:inherit; left:0; transform:rotate(180deg) translateY(50%); }
		.layout_1220_2xn_0308A .swiper-button-disabled { display:none;}
			/*@media screen and (max-width:737px){*/ 
				.layout_1220_2xn_0308A .button { display:none;}
				.layout_1220_2xn_0308A .pagination { bottom: -5%!important;  } 
				.layout_1220_2xn_0308A .swiper-pagination-bullet { margin:0 3px !important;  width:6px !important; height:6px !important;}
/*}*/

.Area5 { margin-top: 5vw;}			
.Area5 .box{background:#000;}			
			
.Area6{ margin-top: 5vw;}


/*各部輪播*/
.Area7 {z-index: 10; } 
.Area7 .box{overflow: hidden } 
.Area7 .acty_bank{padding-bottom: 3vw;} 
.Area7 .box_ .swiper-pagination-bullet { margin:0 3px !important;  width:6px !important; height:6px !important;}


.Area8 { margin-top: 5vw;} 
.Area8 .box{background:#00aeff;} 
.Area9 { margin-top: 5vw;} 
.Area9 .box{background:#00aeff;  } 

	

/*隱鑶*/

		.for_pc { display:none !important;}


	