@charset "big5";
/* CSS Document */

/** 基本 **/
body {margin: 0;padding: 0;}

/** 全BOX **/
.mmainArea { position:relative; display:inline-block; margin:0px auto; padding:0px; width:100%; /*z-index:1;*/ text-align:center;}
.mmainArea * { margin:0px; padding:0px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.mmainArea img { border:0px; vertical-align:top;}
.mmainArea ul {margin:0px; padding:0px; list-style:none outside none}
.mmainArea li {margin:0px; padding:0px; float:left}
.mmainArea a { text-decoration:none;} 




/**  今日最大牌 **/

.mmainArea .brandArea img { width:100%; height:auto; }
.mmainArea .brandArea a { display:block;}
.mmainArea .brand {}
.mmainArea .brand_ul { width:1220px;}
.mmainArea .brand_li { width:100%; float: left;}
/** 入稿區 **/
.bran { display:inline-block; margin:131px 10px 10px; padding:0px; width:1220px;}
.bran ul { margin:0; padding:0; width:100%; height:auto;margin-top: -8px;}
.bran ul li { position:relative; display: inline-block; box-sizing: border-box; height: auto; border: 0px; background-color:#5f5f5f;}
.bran ul li { width:224px; height:340px; margin:8px; }

.bran ul il a { display:block; }
.bran .TIMG { background:#fff;}
.bran .TIMG a img { width: 100%; height: auto;}
.bran .PD_LOGO { position:relative; margin-top:-8px; width:100%; text-align:center;}
.bran .PD_LOGO a img { width: auto; height:40px; background-color:#fff; border-radius:60px; 
    -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.2);
       -moz-box-shadow:0px 0px 4px rgba(0,0,0,0.2);
        -ms-box-shadow:0px 0px 4px rgba(0,0,0,0.2);
         -o-box-shadow:0px 0px 4px rgba(0,0,0,0.2);
            box-shadow:0px 0px 4px rgba(0,0,0,0.2);
}
.bran .PD_SLOGAN { margin-top:5px; margin-bottom:8px; width: 100%; height:18px; overflow: hidden;}
.bran .PD_SLOGAN a { font-size:17px; line-height:18px; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:center; color:#fff; text-decoration:none;}
.bran .PD_NAME {  width: 200px; height:40px; overflow: hidden; margin:0 auto; margin-bottom:8px;}
.bran .PD_NAME a { font-size:16px; line-height:18px; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:center; color: #fff; text-decoration:none; font-weight:bold;}
.bran .PD_GO { display:none; margin:0 auto; margin-bottom:15px; width:100px; height:25px; background-color:#000; }
.bran .PD_GO a { font-size:16px; line-height:23px; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:center; color: #fff; text-decoration:none;}
.bran ul li:hover {
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
       -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
        -ms-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
         -o-box-shadow:0px 0px 10px rgba(0,0,0,0.7);
            box-shadow:0px 0px 10px rgba(0,0,0,0.7);
}
.bran li:hover .PD_GO a { color:#FF0;}






/** 共用標題 **/
.mmainArea .title { margin:5% 2% 0 2%; text-align:center; clear: left;}
.mmainArea .title img { width: auto; height:auto;}
.mmainArea .title1 { display:block; border:solid 7px #fff900; font:30px/1.5em '微軟正黑體', 'Century Gothic','Microsoft JhengHei', Arial, Helvetica; color:#fff900; text-align:center; background-color: #fd009b;}
.mmainArea .title2 { width:60px; height:60px;}
.mmainArea .title2 { display:block; border:solid 3px #fff900; font:50px/1.2em '微軟正黑體', 'Century Gothic','Microsoft JhengHei', Arial, Helvetica;; color:#fff900; text-align:center; background-color:#fd009b;}
.mmainArea .title3 { display:block; border:solid 3px #fff900; font:24px/1.5em '微軟正黑體', 'Century Gothic','Microsoft JhengHei', Arial, Helvetica;; color:#fff900; text-align:center; letter-spacing: -0.05em; }



/** 延遲載圖用 **/
.mainArea .articleList * img.lazy {display:none} 
