@charset "big5";
/* CSS Document */

/*************** 配色版面 **************/
/*閃購日分會場
.mmainArea { background:#FD403E;}
.TV_CONTENT ul h3 { color:#fff; }
.TV_CONTENT ul h3 span { color:#fff; }
*/
/*粉色
.mmainArea { background:#e49aa3;}
.TV_CONTENT ul h3 { color:#fff; }
.TV_CONTENT ul h3 span { color:#db6373; }
*/
/*黑色
.mmainArea { background:#373737;}
.TV_CONTENT ul h3 { color:#fff; }
.TV_CONTENT ul h3 span { color:#666; }
*/
/*藍色
.mmainArea { background:#17c3b7;}
.TV_CONTENT ul h3 { color:#fff; }
.TV_CONTENT ul h3 span { color:#00867c; }
*/