@charset "big5";
/* CSS Document */
/*
 * 導覽/選單高亮組件v10-20170831
 * 
 * 【分類區】 <ul>
 * 【分類標】 <b>分類標<i></i></b>
 * 【切換樣式】 在<div class="NavArea">加class 
 *              NavArea-fixed-bottom 	選單一開始就置底
 *              NavArea-noBTN 			不要展開選單
 * 
 */


@media screen and (max-width: 960px) {

	/*選單外掛*/
	.NavArea { z-index:10; display: block; margin-bottom:0px; text-align:left; font: 15px/44px "Century Gothic","微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
	.NavArea * ,
	.NavArea *:before ,
	.NavArea *:after { margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box;}

				
		/*選單_黑底*/
		/*cate-open 展開後*/	.NavArea.cate-open .Nav_bg { z-index:5; position: fixed; top:0; left:0; display:none; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
								.NavArea.cate-open .Nav_bg { display: block;}
		
		/*選單_保留區*/
		.NavArea .Nav_target { display:none; height:44px;}
		/*cate-fixed置頂後*/	.NavArea.cate-fixed .Nav_target { display:block; }
		/*【切換樣式】NavArea-fixed-bottom永遠浮動置底*/		.NavArea.NavArea-fixed-bottom .Nav_target { display:none !important;}

		/*選單_選單區*/
		.NavArea .Nav_box { z-index:99; position:relative; background-color: rgba(255,255,255,1);}
		/*cate-fixed置頂後*/	.NavArea.cate-fixed .Nav_box { position: fixed; top:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop)); box-shadow:0 0 10px rgba(0,0,0,0.3);}
		/*【切換樣式】NavArea-fixed-bottom永遠浮動置底*/		.NavArea.NavArea-fixed-bottom .Nav_box {  position: fixed !important; top: inherit  !important; bottom:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop))}
		
			/*前置標*/
			.NavArea .Nav_toptext { z-index:100; position: absolute; top:0; width:72px; height:100%; text-align:center; color:#f00; letter-spacing:-0.5px;}
			.NavArea .Nav_toptext:after  { content: ""; position: absolute;  top:11px;  right:0px; display:block; width:1px; height:22px; background-color:#000;!important}
			.NavArea .Nav_toptext:before { content: ""; display: block; position: absolute; top:0px; right:-16px; width:16px; height:100%;  /*background-image: repeating-linear-gradient(90deg, rgba(0,0,0,0.7) -2%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 120%);*/}
			/*cate-open 展開後*/ .NavArea.cate-open .Nav_toptext { display:none;}
		
			/*按鈕區*/
			.NavArea .Btn { z-index:1; position:relative;}
			.NavArea .Btn b { display:none; padding:0 10px; opacity:0.75;}
			.NavArea .Btn b:before { content: "切換會場"; color:#000; }
			.NavArea .Btn i { position: absolute; top:0; right:0; display:block; width:44px; height:44px; cursor:pointer; /*box-shadow:-1px 0 3px rgba(150,150,150,0.1);*/ }
			.NavArea .Btn i:before { content: ""; position:absolute; top:50%; left:50%; display:block; border:1px solid #000; border-width:0 1px 1px 0; width:20%; height:20%; -webkit-transform:translate(-50%,-50%) rotate(45deg); transform:translate(-50%,-70%) rotate(45deg); -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
			/*cate-open 展開後*/	.NavArea.cate-open .Btn {}
									.NavArea.cate-open .Btn b { display:block; height:44px;}
									.NavArea.cate-open .Btn i {/*box-shadow: none;*/}
									.NavArea.cate-open .Btn i:before { -webkit-transform:translate(-50%,-50%) rotate(225deg); transform:translate(-50%,-30%) rotate(225deg);}
			/*【切換樣式】NavArea-fixed-bottom永遠浮動置底*/	.NavArea.NavArea-fixed-bottom .Btn i:before { -webkit-transform:translate(-50%,-50%) rotate(225deg); transform:translate(-50%,-30%) rotate(225deg);}
				/*cate-open 展開後*/	.NavArea.NavArea-fixed-bottom.cate-open .Btn i:before { -webkit-transform:translate(-50%,-70%) rotate(45deg); transform:translate(-50%,-70%) rotate(45deg);}
			
			/*【切換樣式】NavArea-noBTN不要展開按鈕*/		.NavArea.NavArea-noBTN .Btn { display:none;}

			/*選單*/
			.NavArea .Nav { z-index:5; position:relative; margin:0 0 0 72px; padding:0; overflow-y: hidden; width:calc(100% - 116px); height:44px; white-space: nowrap;
							 -webkit-overflow-scrolling: touch;
								-moz-overflow-scrolling: touch; 
								 -ms-overflow-scrolling: touch; 
								  -o-overflow-scrolling: touch; 
									 overflow-scrolling: touch;}
			.NavArea .Nav ul { position:relative; /*display:inline-block;*/ list-style:none outside none; white-space: nowrap;}
			.NavArea .Nav li,
			.NavArea .Nav b { float:none; z-index:1; position:relative; display:inline-block; padding:0 12px; width:auto; height:44px; text-align:center;}
			.NavArea .Nav b:after { content: ""; position:relative; top:5px; left:5px; display:inline-block; border:1px solid #000; border-width:0 1px 1px 0; width:7.5px; height:7.5px; -webkit-transform:translate(-50%,-50%) rotate(-45deg); transform:translate(-50%,-70%) rotate(-45deg);}
			.NavArea .Nav li:after  { content: ""; position: absolute;  top:13px; right:0px; display:block; width:1px; height:18px; background-color:#ccc;!important}
			.NavArea .Nav li:last-child::after  { display:none;}
			.NavArea .Nav a { display:block;  position:relative; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0); color:inherit; text-decoration:none;}
			.NavArea .Nav i { z-index:-1; position: absolute; top:50%; left:50%; border-radius:44px; width:108%; height:70%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
			/*cate-hover高亮*/		.NavArea .Nav .cate-hover a { color:#fff;}	
									.NavArea .Nav .cate-hover i { background-color:#F2235E;}
			/*cate-open 展開後*/	.NavArea.cate-open .Nav { overflow-y:initial; margin:0; width:100%; height: inherit;}
									.NavArea.cate-open .Nav ul { display:block; overflow:hidden; width:100%; padding:1%; white-space: inherit;}
									.NavArea.cate-open .Nav li { float:left; width:33.2%;}
									.NavArea.cate-open .Nav li::after  { display:none;}
									.NavArea.cate-open .Nav b { float:left; width:100%;}
									.NavArea.cate-open .Nav b:after { display:none;}
									.NavArea.cate-open .Nav a { color:#000;}
									.NavArea.cate-open .Nav a i { background-color:rgba(255,255,255,1) !important; background-color:#F6F7F9 !important;}
									.NavArea.cate-open .Nav b i { display:none; width:96%; background-color:#F2235E; }
									
			/*【切換樣式】NavArea-noBTN不要展開按鈕*/		.NavArea.NavArea-noBTN .Nav { width: calc(100% - 72px);}

  /*高亮顏色*/
  .NavArea .Nav .cate-hover i {}
  
  /*高亮顏色-區塊1*/				.NavArea .Nav ul:nth-child(1) .cate-hover i,
  /*分類標*//*cate-open 展開後*/	.NavArea.cate-open .Nav ul:nth-child(1) b i { /*background-color:#FFD000;*/}
  
  /*高亮顏色-區塊2*/				.NavArea .Nav ul:nth-child(2) .cate-hover i,
  /*分類標*//*cate-open 展開後*/	.NavArea.cate-open .Nav ul:nth-child(2) b i { /*background-color:#71DECB;*/}

	/*分類標*/
	.NavArea .Nav b { color:#F00;}
	.NavArea .Nav b:after { border-color:#F00;}
		
}
	
	



