@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0; background:linear-gradient(#eff6e4,#e1f798 70%)}


/*回版頭*/
#gotop { display:none; border-radius:20px; position:fixed; padding:10px 10px 3px 10px; right:30px; bottom:30px; font:12px/30px  Verdana;background:#000 url(gotopBtnBk.png) no-repeat center 7px; color:#fff; cursor:pointer; z-index:5}
#gotop { filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6}
	

.WRAPPER { position: relative;	display:inline-block;	margin:0;	padding: 0;	width:100%; min-width:1220px; overflow:hidden;background:url(bg.png) center top no-repeat; }
.WRAPPER img { border:0; vertical-align:top; width:auto; height:auto;}
.mainArea { position:relative; display:block; margin:0 auto; padding:0 0 30px 0; width:1220px; z-index:0; }	
@media screen and (max-width:767px){
/*全BOX版面*/	
.WRAPPER { position: relative;	display: inline-block;	margin: 0;	padding: 0;	width:100%; background:none; background-color:#000; min-width:100%;background:url(top_bg_m.png) center top no-repeat;}
.WRAPPER img { border:0; vertical-align:top; width:100%; height:auto;}
.mainArea { width:100%; padding:0;}	
/*回版頭*/
#gotop { right:0px; bottom:60px;}

}


/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;}
.Area .go_bt:hover {
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area1220 { width:100%;}
		.Area960 { width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
	}


/*版頭*/
.top { position:relative; margin:0; padding:0; width:1220px; height:582px;}
.top .knowmore{ position:absolute; top:340px; right:32px;transform: rotate(8deg)}
.top .momologo { position:absolute; top:20px; left:20px; width:181px; height:20px; background:url(icon-momologo2.png); z-index:6; }
.top .momologo:hover {background:url(icon-momologo.png); }
.top .top_title { position:absolute; top:90px; right:75px; z-index:5;pointer-events: none;}
.top .icon { position:absolute; top:566px; left:28px; z-index:5;}
.top .zhaoyun { position:relative; margin: 0 auto; z-index:-1;}
@media screen and (max-width:767px){
.top .knowmore{ position:absolute; top:68%; left:-4vw;width:34vw;transform: rotate(0deg);filter: hue-rotate(-25deg);}
/*版頭*/
.top { position:relative; margin:0; padding: 0; width:100%; height:auto;}
.top .title.for_phone { pointer-events: none;}
.top .top_title { position:relative; top:0; right:100px; z-index:5; width:100%; height:auto;}
}
@media screen and (min-width:767px){
.top .knowmore:hover{transform: rotate(11deg);filter:brightness(120%);transition:all 0.2s linear;}	
}
.content{background:url(box_bg_03.png) repeat-y center top;background-size: 100%;}
.box_title{margin: 0 auto;}
.btn_list{position:relative;margin: 15px auto;text-align: center;z-index: 10;}
/*第三區*/
.box3 { position:relative; height:auto; margin:20px auto 0; padding:0;}
.box3 a { display:block;}
.box3 a:hover { transform:translateY(5px);}
.box3 .btn1 { position:relative;display: inline-block;margin:0 5px;}
.box3 .btn2 { position:relative;display: inline-block;margin:0 5px; }
@media screen and (max-width:767px){
	.btn_list{margin: 3vw auto;}
/*第三區*/
.box3 { position:relative; width:100%; height:auto; margin:4% 0 0 0; padding:0;}
.box3 a { display:block;}
.box3 a:hover { transform:translateY(5px);}
.box3 .btn1 { position:relative; top:0; width:40%; height:auto;}
.box3 .btn2 { position:relative; top:0; width:40%; height:auto;}		
}


/*大輪盤*/
.topbn {position:relative; display:block; margin:0 auto; padding: 0; width:820px; height:820px;overflow: hidden;}
.topbn .roBottom{ position:absolute; t z-index:1;}
.topbn .roBody{ position:absolute;z-index:2;top:0;}
.topbn .roCenter{ position:absolute;z-index:4; top:215px; left:273px;}
.topbn .roResult { display:none; position:absolute; z-index:5;top:0;}

@media screen and (max-width:767px){
/*大輪盤*/
.topbn {position:relative; display:block; margin:0 auto; padding: 0; width:90%; height:100%;}
.topbn .roBottom{ position:absolute; t z-index:1;}
.topbn .roBody{ position:absolute;z-index:2;top:0;left: 0;}
.topbn .roCenter{ position:absolute;z-index:4; top:23%; left:30%; width:40%; height:auto;}

}

/*轉轉轉*/
.rotate-play { -webkit-animation:rotate-play 10s linear infinite ;
				       animation:rotate-play 10s linear infinite ;}
	@keyframes rotate-play {
	  100% { 
			transform: rotate(360deg);
	  }
	}
/*轉轉轉*/
.rotate-play-quick { -webkit-animation:rotate-play 1s linear infinite ;
				       animation:rotate-play 1s linear infinite ;}
	@keyframes rotate-play {
	  100% { 
			transform: rotate(360deg);
	  }
	}



/*旋轉背景設*/
.rotate {-webkit-animation: 1s linear 0s normal none infinite rotate;
			     animation: 1s linear 0s normal none infinite rotate;}
@-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}
}


/*第四區*/
.box4 { position:relative; background:url(box4_bg.png);  margin:20px auto 0; padding:0;}
@media screen and (max-width:767px){
/*第四區*/
.box4 { position:relative; background:none; width:100%; height:auto; margin:4% 0 10% 0; padding:0;}
}
/*影片*/
.youtubeArea { position:relative;margin: 20px auto 0; width: 84%;padding-bottom: 50%;}
/*.youtubeArea::before { content:"";display: block; position: relative;width: 100%;padding-bottom: 60%;}*/
.youtubeArea iframe {position: absolute;top:0;left: 0;width:100%; height:100%;}
                                
@media screen and (max-width:767px){
/*影片*/
.youtubeArea { margin: 2vw auto 0; padding-bottom:50%;}
.youtubeArea * { margin:0; padding:0;}
.youtubeArea iframe { position:absolute; top:0; left:0; }
}
/*黏人精*/
.fixbar{ position:fixed;top:100px;right:20px; z-index:99; width:120px;  border-radius:140px; background-color:rgba(255,255,255,0.7); color:#000; font:bold 20px/20px "微軟正黑體", "Microsoft JhengHei", Arial; text-align:center; }
.fixbar:before { content: "";display: block;background:url(fix_pic.png) no-repeat center top;background-size: 100%; width: 110px;height: 95px;position: relative;top:-20px;right:-20px;margin-bottom: -20px;}
.fixbar:after { content: "";display: block;pointer-events: none; background:url(fix_pic2.png) no-repeat center top;background-size: 100%; width: 26px;height: 27px;position: absolute;top:310px;left: 2px;}
.fixbar li { padding:20px 0;position: relative;}
.fixbar li::after {content: "";display: block; width: 60%;height: 1px;background: #FFF;position: absolute;bottom:0px;left: 20%;}
.fixbar li:last-child::after {display: none}
.fixbar li:last-child {margin: 5px auto 10px;}
.fixbar li:last-child a::before {content: "";display: block; width: 0 ;height: 0;border-style: solid; border-width: 0 7px 12px 7px;border-color: transparent transparent #000 transparent;margin: 0 auto 5px;}
.fixbar li:last-child a:hover::before {margin: -2px auto 7px;border-color: transparent transparent #FF5F00 transparent; transition:all 0.3s linear;}

.fixbar li a{ color:#000; text-decoration:none;}
.fixbar li a:hover{ color:#FF5F00; transition:all 0.3s linear;}
@media screen and (max-width:767px){
.fixbar{ position:fixed; top:0; right:inherit; z-index:99; width:100%; border:#CCC solid 1px; border-radius:0; background-color:rgba(255,255,255); color:#000; font:bold 14px/14px "微軟正黑體", "Microsoft JhengHei", Arial; text-align:center; box-sizing:border-box; height:60px; }
.fixbar li {border-bottom:none; border-right:#CCC solid 1px; padding:2% 0; float:left; width:14%; height:50%;}
.fixbar li:last-child{ border-bottom:none; border-right:none;}
.fixbar li a{ color:#000; text-decoration:none;}
.fixbar li a:hover{ color:#FF0; transition:all 0.5s linear;}
.fixbar li a img{ width:auto; height:35px;}
 .btn_more { z-index:1; position: absolute; top:2.3%; right:-6.5%; width:31%;}

}
@media screen and (max-width:500px){
.fixbar li {padding:3% 0;}
}
@media screen and (max-width:400px){
.fixbar li {padding:4% 0;}
}



/*浮層嘿嘿*/
.blackBox { display:none;}
.blackBox_play { z-index:99; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75);}
.blackBox a{ text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:block; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #fff; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#fff;}
/*通知浮層*/
.agreeArea { position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:500px; font-family:"Century Gothic", "微軟正黑體", sans-serif;}
.agreeArea * { margin:0; padding:0;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box h3 { height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#fff; background-color:#70101c;}
.agreeArea .box p { margin:0 auto; margin-top:1rem; padding:0px; width:100%; text-align:center; font-size:1.3em;}
.agreeArea .box p { }
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
@media screen and (max-width:767px){
		.tags{position:absolute;top:-44px;}
}




/*按鈕*/
.Area_register {  z-index:5; position: absolute; top: 510px; right: 180px;width: 360px;}
.Area_register .box{ margin: 0;padding: 0;} 
.Area_register .registerbn { display:inline-block;width:calc(50% - 4px);}
.Area_register .registerbn img{width: 100%;}
	@media screen and (max-width:767px){
		.Area_register {  z-index:5; position: relative; top:0; left:0;width: 100%; }
        .Area_register .registerbn { display:inline-block;width:40%;}
	
}


/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
