@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0; background:linear-gradient(#c508ea,#ac00ce 70%)}


/*回版頭*/
#gotop { display:none; border-radius:20px; position:fixed; padding:10px 10px 3px 10px; right:30px; bottom:30px; font:12px/30px  Verdana;background:#000 url(gotopBtnBk.png) no-repeat center 7px; color:#fff; cursor:pointer; z-index:5}
#gotop { filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6}
	

.WRAPPER { position: relative;	display:inline-block;	margin:0;	padding: 0;	width:100%; min-width:1220px; overflow:hidden;background:url(bg.png) center top no-repeat; }
.WRAPPER img { border:0; vertical-align:top; width:auto; height:auto;}
.mainArea { position:relative; display:block; margin:0 auto; padding:0 0 30px 0; width:1220px; z-index:0; }	
@media screen and (max-width:767px){
/*全BOX版面*/	
	body{height:100vh;overflow:hidden;}
.WRAPPER { position: relative;	display: inline-block;	margin: 0;	padding: 0 0;height:100vh; width:100vw;background:none;  min-width:100%;}
.WRAPPER img { border:0; vertical-align:top; width:100%; height:auto;}
.mainArea { width:100%;height:100%; padding:0;position: fixed;}	
/*回版頭*/
#gotop { right:0px; bottom:60px;}

}

/*{touch-action:pan-up;}*/

#menu_m {position:fixed;	top:0;left: 0;	z-index:5;	width:100%;	background:#363636;}
#nav {border-bottom:1px solid #ebebeb;}
#nav div{position: relative; z-index: 1;}
#nav .swiper-slide{width: 25%!important;}
#nav .swiper-slide span {margin:0 5px;	text-align:center;	display:block;	line-height:44px;font-size:14px;color:#FFF;padding:0 4px;letter-spacing: -0.5px;}
#nav .bar {	width:50px;	height:100%;position:absolute;	bottom:0px;z-index: 0;}
#nav .bar .color {width:90%;border-radius: 100px;	margin:6% auto;	height:80%;	background:#62acd1;}
.banner img {width:100%;display:block;}
.banner	.swiper-pagination {left:auto;	right:7px;	bottom:7px;	width:auto;	padding:2px 7px;border-radius:10px;	color:#fff;	background:rgba(0,0,0,.3);}
#page {/*padding-top:calc(43.75% + 50px); */position:relative;top:0;z-index: 6;height:100%;}
#page .slidepage {height:100%;;width: 100vw;}

/*.swiper-slide{width:100vw;}*/
.scroll {height:100%;}
.slidescroll {height:auto;}
#footer {position:fixed;bottom:0;z-index:5;}
.box{position: relative;z-index: 8;}
@media screen and (max-width:767px){
#Area_top{position: fixed;top:44px;background:url(top_bg_m.png) center 0px no-repeat;background-size: 100%;}
#page {top:0;x}	
#page .swiper-slide{overflow-y: scroll;/*height:calc(100vh - 44px);*/height:100%;;box-sizing: border-box; -webkit-overflow-scrolling:touch;}
#page .slidepage .box_border { margin-bottom: 100px;}
	#page .putitdown{padding-top:77%;}
}
@media screen and (min-width:767px){
#page {padding-top:0;}
#page .pagebox {display: block;}
#page .slidepage {width: 100%;}
	.box{height:auto;overflow-y: visible;}
	
			/*【程式切換】cate-fixed置頂後*/
			.menu_Area.cate-fixed { position: fixed; top:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop)); }	

}

/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;}
.Area .go_bt:hover {
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area1220 { width:100%;}
		.Area960 { width:100%;}
		.Area a { position:relative; display:block;} 
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
	}


/*版頭*/
.top { position:relative; margin:0; padding:0; width:1220px; height:670px;}
.top .knowmore{ position:absolute; top:285px; left:210px;}
.top .momologo { position:absolute; top:20px; left:20px; width:181px; height:20px; background:url(icon-momologo2.png); z-index:6; }
.top .momologo:hover {background:url(icon-momologo.png); }
.top .top_title { position:absolute; top:90px; right:75px; z-index:5;pointer-events: none;}
.top .icon { position:absolute; top:566px; left:28px; z-index:5;}
.top .zhaoyun { position:absolute; top: 0;left: 135px; margin: 0 auto; z-index:-1;pointer-events: none;}
@media screen and (max-width:767px){
.top .knowmore{ position:absolute; top:43%; left:9vw;width:28vw;}
/*版頭*/
.top { position:relative; margin:0; padding: 0 0 31% 0; width:100%; height:auto;}
	.top .title{pointer-events:none;}
}

.content{position: relative; width:100%;margin: 0 auto;background:url(box_bg.jpg) repeat-y center top;background-size: 100%;overflow: hidden;border-radius: 15px;
         box-shadow: 4px 4px 4px rgba(255,255,255,0.5), -4px -4px 4px rgba(255,255,255,0.5);}

.box_border{margin: 0 auto;border-radius: 18px;background: linear-gradient(30deg,#ec75fd, #fde9ff,#ec75fd,#fde9ff,#ec75fd); padding: 15px;width: 98%; box-sizing: border-box;border:5px solid #FFF;
	       box-shadow: 4px 4px 4px #ec70fd inset, -4px -4px 4px #ec70fd inset, 4px 4px 4px #f7cfff, -4px -4px 4px #f7cfff;}
.content img{width: 100%;}
.box_title{margin: 0 auto;}
.btn_list{position:absolute;top:23%;right:6%;margin: 0 auto;text-align: center;z-index: 10;}
/*第三區*/
.box3 { position:relative; height:auto; margin:20px auto 0; padding:0;}
.box3 .content{ padding-bottom: 40px;}
.box3 a { display:block;}
.box3 .btn1 { position:relative;display:block;margin:0 5px;}

@media screen and (max-width:767px){
.box_border{margin: 0 auto;border-radius: 5vw;background: linear-gradient(30deg,#ec75fd, #fde9ff,#ec75fd,#fde9ff,#ec75fd); padding: 2vw;width: 98%; box-sizing: border-box;border:1vw solid #FFF;
	       box-shadow: 4px 4px 4px #ec70fd inset, -4px -4px 4px #ec70fd inset, 4px 4px 4px #f7cfff, -4px -4px 4px #f7cfff;}
.content{border-radius: 3vw;}	
	
/*第三區*/
.box3 { position:relative; width:100%; height:auto;  margin:4% 0 10% 0;  padding:0;}
.box3 a { display:block;}
.box3 a:hover { transform:translateY(5px);}
.box3 .btn1 { position:relative; top:0; height:auto;width: 100%;}
.btn_list{top:23%;right:4%;width: 25vw;}
	
}
/*第四區*/
.box4 { position:relative; margin:20px auto 0; padding:0;}
@media screen and (max-width:767px){
/*第四區*/
.box4 { position:relative; background:none; width:100%; height:auto; margin:4% 0 10% 0; padding:0;}
}
/*第五區*/
.box5 { position:relative;  margin:20px auto 0; padding:0;}
@media screen and (max-width:767px){
.box5 { position:relative; background:none; width:100%; height:auto; margin:4% 0 10% 0; padding:0;}
.box6{ margin:4% 0 10% 0; }
}
/*大輪盤*/
.topbn {position:absolute;left: 10%;bottom:9%; display:block; margin:50px auto 0; padding: 0; width:80%; height:auto;}
.topbn img{width: 100%;}
.topbn .roMain{position:relative;}
.topbn .roMain .bingo_bg{position:relative;}
.topbn .roMain .bingo_bg2{position:relative;display: none;}
.topbn .roMain.over .bingo_bg{display: none;}
.topbn .roMain.over .bingo_bg2{display: inherit;}
.topbn .roMain.over{-webkit-animation:boom 0.5s linear 6 ; animation:boom 0.5s linear 6 ;}
.topbn .roMain .bingo{position:absolute;top: 0;left:0;z-index: 2;}
.topbn .roResult{position:absolute;top:0;z-index: 8;}
.topbn ul{padding:0;margin:0 auto;overflow: hidden;width: 58%;position: absolute;top:59%;left: 21%; z-index: 10;}
.topbn ul::after{content:"";clear: both;}
.topbn ul li{float: left;width: 46%;margin: 0 2%;}
.topbn ul li a{display: block;}
.topbn ul li a img:first-child{}
.topbn ul li a img:last-child{display: none;}
.topbn ul li a:hover img:first-child{display: none;}
.topbn ul li a:hover img:last-child{display: inherit;}
@media screen and (max-width:767px){
/*大輪盤*/
.topbn {display:block; margin:0 auto; padding: 0; width:85%; height:65%;left: 6%;bottom:1%;}


}



/*轉轉轉*/
.boom { -webkit-animation:boom 0.5s linear infinite ; animation:boom 0.5s linear infinite ;}
	@keyframes boom {
	  0% { transform: rotate(-1deg) translateY(0px);	  }
	  25% { transform: translateY(5px);	  }
	  50% { transform: rotate(1deg) translateY(0px);	  }
	  75% { transform: translateY(5px);	  }
	  100% { transform: rotate(-1deg) translateY(0px);	  }
	}
	@-webkit-keyframes boom {
	  0% { transform: rotate(-1deg) translateY(0px);	  }
	  25% { transform: translateY(5px);	  }
	  50% { transform: rotate(1deg) translateY(0px);	  }
	  75% { transform: translateY(5px);	  }
	  100% { transform: rotate(-1deg) translateY(0px);	  }
	}





/*影片*/
.youtubeArea { position:relative;margin: 20px auto 0; width: 84%;padding-bottom: 50%;}
/*.youtubeArea::before { content:"";display: block; position: relative;width: 100%;padding-bottom: 60%;}*/
.youtubeArea iframe {position: absolute;top:0;left: 0;width:100%; height:100%;}
                                
@media screen and (max-width:767px){
/*影片*/
.youtubeArea { margin: 2vw auto; padding-bottom:50%;}
.youtubeArea * { margin:0; padding:0;}
.youtubeArea iframe { position:absolute; top:0; left:0; }
}
/*黏人精*/
.fixbar{ position:fixed;top:100px;right:20px; z-index:99; width:100px;  border-radius:140px; background-color:rgba(0,0,0,0.5); color:#FFF; font:bold 20px/20px "微軟正黑體", "Microsoft JhengHei", Arial; text-align:center; }
.fixbar:before { content: "";display: block;background:url(fix_pic.png) no-repeat center top;background-size: 100%; width: 110px;height: 110px;position: relative;top:-10px;right:0px;margin-bottom: -20px;}
.fixbar:after { content: "";display: block;pointer-events: none; background:url(fix_pic2.png) no-repeat center top;background-size: 100%; width: 50px;height: 60px;position: absolute;top:345px;left: -25px;}
.fixbar li { padding:15px 0;position: relative;}
.fixbar li::after {content: "";display: block; width: 60%;height: 1px;background: #FFF;position: absolute;bottom:0px;left: 20%;}
.fixbar li:last-child::after,
.fixbar li:nth-last-child(2)::after {display: none;}
.fixbar li:last-child {margin: 5px auto 10px;}
.fixbar li:last-child a::before {content: "";display: block; width: 0 ;height: 0;border-style: solid; border-width: 0 7px 12px 7px;border-color: transparent transparent #FFF transparent;margin: 0 auto 5px;}
.fixbar li:last-child a:hover::before {margin: -2px auto 7px;border-color: transparent transparent #FFFF00 transparent; transition:all 0.3s linear;}

.fixbar li a{ color:#FFF; text-decoration:none;}
.fixbar li a:hover{ color:#FFFF00; transition:all 0.3s linear;}
@media screen and (max-width:767px){
.fixbar{ position:fixed; top:0; right:inherit; z-index:99; width:100%; border:#CCC solid 1px; border-radius:0; background-color:rgba(255,255,255); color:#000; font:bold 14px/14px "微軟正黑體", "Microsoft JhengHei", Arial; text-align:center; box-sizing:border-box; height:60px; }
.fixbar li {border-bottom:none; border-right:#CCC solid 1px; padding:2% 0; float:left; width:14%; height:50%;}
.fixbar li:last-child{ border-bottom:none; border-right:none;}
.fixbar li a{ color:#000; text-decoration:none;}
.fixbar li a:hover{ color:#FF0; transition:all 0.5s linear;}
.fixbar li a img{ width:auto; height:35px;}
 .btn_more { z-index:1; position: absolute; top:2.3%; right:-6.5%; width:31%;}

}
@media screen and (max-width:500px){
.fixbar li {padding:3% 0;}
}
@media screen and (max-width:400px){
.fixbar li {padding:4% 0;}
}



/*浮層嘿嘿*/
.blackBox { display:none;}
.blackBox_play { z-index:99; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75);}
.blackBox a{ text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:block; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #fff; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#fff;}
/*通知浮層*/
.agreeArea { position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:500px; font-family:"Century Gothic", "微軟正黑體", sans-serif;}
.agreeArea * { margin:0; padding:0;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box h3 { height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#fff; background-color:#70101c;}
.agreeArea .box p { margin:0 auto; margin-top:1rem; padding:0px; width:100%; text-align:center; font-size:1.3em;}
.agreeArea .box p { }
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
@media screen and (max-width:767px){}

/*詳情*/

.mainArea .box6 .content {text-align: left;padding: 0;}
.mainArea .box6 .content .box{width: 96%;margin: 0 auto;}
.mainArea .box6 .content h2 { margin:10px 0; padding:0; font:bold 1.2em/1.5em "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color:#FFFF00;}
.mainArea .box6 .content h1 { margin:10px 0 0 20px; padding:0; font:bold 2em/2em "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color:#FFF;}
.mainArea .box6 .content ul { margin:10px 0 20px 20px; padding:0; font: 16px/1.8 "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color:#FFF;}
.mainArea .box6 .content ol { margin:10px 0 20px 50px; padding:0;}
.mainArea .box6 .content li {	padding:5px 0; font: 16px/1.8 "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color: #FFF;}
@media screen and (max-width:750px) {

	.mainArea .box6 .content h2 { margin:5% 0; padding:0; font:bold 1em/1.2em "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color:#FFFF00;}
	.mainArea .box6 .content h1 { margin:5% 0 10% 5%; padding:0; font:bold 1.8em/1.5em "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color:#FFF;}
	.mainArea .box6 .content ul { margin:5% 0 10% 5%; padding:0; font: 16px/1.8 "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color:#FFF;}
	.mainArea .box6 .content ol { margin:5% 0 10% 10%; padding:0;}
	.mainArea .box6 .content li {padding:2% 0; font: 16px/1.8 "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica; color: #FFF;}
	.mainArea .box6 .content li a{display: inline-block;margin-left: 3vw;color: #FFFF00;border-bottom: 1px solid #FFFF00;line-height: 1.2em;}
}

/*按鈕*/
.Area_register {  z-index:5; position: absolute; top: 563px; left: 153px;width: 360px;}
.Area_register .box{ margin: 0;padding: 0;} 
.Area_register .registerbn { display:inline-block;width:calc(50% - 4px);}
.Area_register .registerbn img{width: 100%;}
	@media screen and (max-width:767px){
		.Area_register {  z-index:5; position: absolute;top:inherit;bottom:3%; left:0;width: 55%; margin: 0;}
        .Area_register .registerbn { display:inline-block;width:40%;}

}


/*公版*/

.m_close{}
.m_open{ display:none !important;}




/** 入稿區基本 **/
.content_Area { position:relative; display:inline-block; margin:0px auto 20px; padding: 0; width:960px;}
	@media screen and (max-width:768px){
		.content_Area { position:relative; display:inline-block; margin:0px auto 20px auto; padding: 0; width:100%;}
	}

/** 公版模組layout_1220_1f4s_1103A **/
.layout_1220_1f4s_1103A  { width:100%; ;margin:0 auto ;font-size: 0;} 
.layout_1220_1f4s_1103A h2 {position: relative;top: 0px; margin: 0;padding: 0px;font: 45px/80px "微軟正黑體","Microsoft JhengHei",Helvetica;color: #FFF;letter-spacing: -3px;overflow: hidden;width: 1220px; height:25px;display: none}
.layout_1220_1f4s_1103A h2 b {font: bold 45px/80px "微軟正黑體","Microsoft JhengHei",Helvetica; color:#FFF; letter-spacing:-3px;}
.layout_1220_1f4s_1103A h2 a{ display: block; margin:0;color:#fff;font: bold 26px/39px "微軟正黑體","Microsoft JhengHei",Helvetica; padding-right:5px}
.layout_1220_1f4s_1103A h2 .buttonAera_more {width: 127px;height: 39px;background: url(more.png) no-repeat scroll  center top;left: 31px;top: 41px;}
.layout_1220_1f4s_1103A h2 .buttonAera_more:hover a {color:#ffafd8;}
.layout_1220_1f4s_1103A ul { margin:20px 0; padding:0 0 0 11px; overflow: hidden;}
.layout_1220_1f4s_1103A ul:;after {content:"";clear: both;}
.layout_1220_1f4s_1103A ul li { text-align: left; float:left; display:inline-block; position:relative; margin:40px 6px 18px 0px; padding:0px 0px 0px 0px; width: 215px; height:363px; list-style: none outside none; background:#FFF; z-index:5; }
.layout_1220_1f4s_1103A ul li h5 {  padding:0 10px; margin:-24px 0 0 0; float:left; overflow:hidden; font-weight: bold; font-size:15px; line-height:24px; text-align:center;  color:#282d33; background:#e9b849; border-top-right-radius:6px;border-top-left-radius:6px;  text-overflow: ellipsis;font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}

.layout_1220_1f4s_1103A ul li a {text-decoration:none; }
.layout_1220_1f4s_1103A ul li .other {text-align: center;}
.layout_1220_1f4s_1103A ul li a img { display:block; margin:0; padding:5px; width:205px; height:205px;}
.layout_1220_1f4s_1103A ul li a h3 { margin:0px; padding:0 10px; height: 30px;font: bold 18px/30px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center;color: #282d33; background:#e9b849;}
.layout_1220_1f4s_1103A ul li a h4 { margin:8px 0 2px; padding:0 10px; height: 20px; overflow:hidden; font: 15px/20px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center;color:#000}
.layout_1220_1f4s_1103A ul li:hover a h4 {color:#d92670;}
.layout_1220_1f4s_1103A ul li a p { margin:0; padding:0 10px; height: 38px;text-align: center; color:#d92670;}
.layout_1220_1f4s_1103A ul li a p del { padding-right:5px; font: 16px/38px Century Gothic; color:#5e5e5e;}
.layout_1220_1f4s_1103A ul li a p b { font: bold 16px/38px "微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px;}
.layout_1220_1f4s_1103A ul li a p .money { font: bold 16px/38px Century Gothic; }
.layout_1220_1f4s_1103A ul li a p .Price { font: 38px/38px Century Gothic; letter-spacing:-1px;}
.layout_1220_1f4s_1103A ul li a p small { font: 16px/38px "微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px;}
.layout_1220_1f4s_1103A ul li .other { display:block; margin:0; padding: 3px 0 0 0; width:100%; height:27px; overflow:hidden;}
.layout_1220_1f4s_1103A ul li .other b{ display:block; width:160px; height:24px; overflow:hidden; padding:0; margin:0 auto; border-radius: 24px;font: bold 16px/24px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center;  color:#FFF; background-color:#282d33;}
.layout_1220_1f4s_1103A ul li .other b:hover { background-color:#e9b849;}
.layout_1220_1f4s_1103A ul li .other a{ text-decoration:none; color:#F00;}

/*layout RWD*/	
	@media screen and (max-width:768px){
		/** 入稿區基本 **/
		.content_Area  { position:relative; display:block; -webkit-box-sizing:border-box; box-sizing:border-box;margin: 5% 0; padding:0 0 2%; width: 100%;  margin: 3% auto;height:auto; overflow:hidden; font-size:14px; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;  background-size:100%;}
		.content_Area * { -webkit-box-sizing:border-box; box-sizing:border-box; text-align: left;}
		.content_Area h2 { position: relative; margin:0 auto; padding: 0px; overflow:hidden; font-weight: bold; font-size:20px; line-height:48px; color: #000; text-align: left; letter-spacing: -0.05em;}
		.content_Area h2 span:before { content:"▌"; color:#000;}
		.content_Area h2 span { position:relative; padding:0 2%;}
		.content_Area .buttonAera_more { float:right; position: absolute; top:12px; right:2%; margin:0; padding:0 10px; border-radius:24px; width:auto; height: auto; background-color:rgba(0,0,0,0.7);}
		.content_Area .buttonAera_more a { display:block; font-size:13px; line-height:24px; color:#fff; text-decoration: none; letter-spacing:-0.05em;}
		
		/** 公版模組.layout_1220_1f4s_1103A **/
		.layout_1220_1f4s_1103A { position: relative;  display: inline-block; margin: 0; padding: 0; height: auto; width:96%; background-size:100%;}
		.layout_1220_1f4s_1103A * { -webkit-box-sizing:content-box ; box-sizing: content-box; text-align: center;}
		.layout_1220_1f4s_1103A h2 { display: block;    padding-top: 15px;  margin:-3% auto ;  font-size:30px; color:#FFF; text-align:center;}
		.layout_1220_1f4s_1103A ul {overflow: hidden; display: block; margin: 0 auto; padding:2vw 0 10vw; width: 100%; }
		.layout_1220_1f4s_1103A ul li { float: left; position:relative; display: inline-block; margin:1%; padding:0 ;width:48%; height:auto; background:transparent;}
/*		.layout_1220_1f4s_1103A ul li:nth-child(odd) { margin-right:2%; margin-left:2%;}*/
		.layout_1220_1f4s_1103A ul li a {  margin:0; padding:0; width:100%; height:auto; text-decoration:none; }
		.layout_1220_1f4s_1103A ul li a h5 {  padding:0 2%; margin:0; float:left; height: 24px; overflow:hidden; font-size:13px; line-height:24px; text-align:center; border-top-right-radius:6px;border-top-left-radius:6px!important; max-width:96%; text-overflow: ellipsis;}
		.layout_1220_1f4s_1103A ul li a .imgArea { display:block; width:100%; float:left; background-color:#FFF; border-bottom:1px dotted #FFF;}
		.layout_1220_1f4s_1103A ul li a .imgArea img { margin:0; padding:0; width:100%; height:auto;}
		.layout_1220_1f4s_1103A ul li .textArea{display:block; width:100%; float:left; background-color:#FFF;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 {  margin:0 0 0 0; padding:4% 0 0 0; width: 100%; height:20px; overflow:hidden; font-weight:normal; font-size:14px; line-height:20px;  color: #333; text-align: center;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 b { margin:0px; padding:0px; font-weight:bold; font-size:17px; line-height:20px;}
		.layout_1220_1f4s_1103A ul li a .textArea h3  {  margin:0 auto;  padding:1% 10% 0 10%;  overflow:hidden; font-size:14px;text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea h3 b { margin:0px; font-weight:normal; padding:0px;  font-size:14px;  }
		.layout_1220_1f4s_1103A ul li a .textArea p { margin:0 0 0 0; padding:0; height:30px; overflow:hidden; line-height:26px;  text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea p del { padding-left:2px; font-size:14px; font-family: Century Gothic; }
		.layout_1220_1f4s_1103A ul li a .textArea p b { font-size:13px; letter-spacing:-1px;}
		.layout_1220_1f4s_1103A ul li a .textArea p .money { font-size:14px; font-weight:bold; font-family: Century Gothic; }
		.layout_1220_1f4s_1103A ul li a .textArea p .Price { font-size:24px; font-family: Century Gothic; letter-spacing:-1px; }
		.layout_1220_1f4s_1103A ul li a .textArea p small { }
		.layout_1220_1f4s_1103A ul li .other { display: block;margin:0; padding:5% 0; width:100%; height:30px; overflow:hidden;   font-weight:normal; font-size:14px;color: #333; line-height:30px; background-color:#FFF; text-align:center;}
		.layout_1220_1f4s_1103A ul li .other b{ display:block; width:70%; height:30px; overflow:hidden; padding:0 2%; margin:0 auto; border-radius: 30px;font-size:16px; line-height:30px; letter-spacing:-1px;}
		.layout_1220_1f4s_1103A ul li .other a{ text-decoration:none; }
		.layout_1220_1f4s_1103A ul li .other b:hover { }
		.layout_1220_1f4s_1103A ul li .other a:hover { }
		.layout_1220_1f4s_1103A ul li a img { display:block; margin:0; padding:0; width: 100%; height: auto;}
		.layout_1220_1f4s_1103A ul li a p { padding: 0 10px 2px 0;}
	}
	@media screen and (min-width:320px) and (max-width:374px){
		
		.layout_1220_1f4s_1103A h2 { display: none;    padding-top: 10px;  margin:-2.5% auto ;  font-size:22px; color:#fff; text-align:center;}
		.layout_1220_1f4s_1103A h2 img { padding-top: 10px; }
		.layout_1220_1f4s_1103A ul li a .textArea h5 {  padding:0 2%; margin:0; float:right; height: 20px; overflow:hidden; font-weight:normal; font-size:12px; line-height:20px; text-align:center;  color:#fff; background-color:#606060 !important;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 {  margin:0 0 0 0; padding:2% 0 0 0; width: 100%; overflow:hidden; font-weight:normal; font-size:12px; line-height:20px;  color: #333;text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 b { margin:0px; padding:0px; font-weight:bold; font-size:14px; line-height:20px;;  color: #d92670;}
		.layout_1220_1f4s_1103A ul li a .textArea h3  {}
		.layout_1220_1f4s_1103A ul li a .textArea h3 b { margin:0px; font-weight:normal; padding:0px;  font-size:12px; line-height:18px;}
		.layout_1220_1f4s_1103A ul li a .textArea p { margin:0 0 0 0; padding:0 8%; height:26px; overflow:hidden; line-height:28px; color:#d92670;text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea p del { padding-left:2px; font-size:12px; font-family: Century Gothic; }
		.layout_1220_1f4s_1103A ul li a .textArea p b { font-size:13px; letter-spacing:-1px;}
		.layout_1220_1f4s_1103A ul li a .textArea p .money { font-size:14px; font-weight:bold; font-family: Century Gothic; }
		.layout_1220_1f4s_1103A ul li a .textArea p .Price { font-size:20px; font-family: Century Gothic; letter-spacing:-1px; }
		.layout_1220_1f4s_1103A ul li a .textArea p small { }
	}

/*版型微調*/
.title_7{ width:100%; margin:4% 0 0 0;}
.bnArea { position:relative;}
.bnArea.m_close { position: absolute; top:0; left:0; display:block; margin: 20px 0 0 0; width: 267px; height: 400px; /*background-color:rgba(0,0,0,0.5);*/}
   



/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
		.swiper-slide.for_phone{display:block!important;}
	}



		