@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0;background-color: #ffe0c6;}

/*全BOX版面*/
.WRAPPER { position: relative; display:block; margin: 0 auto; padding: 0; width:100%;  min-width:1220px; overflow:hidden; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; }
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
		@media screen and (max-width:767px){
		.WRAPPER { min-width: inherit; }
		.WRAPPER img {  width:100%!important;  height:auto;}
	}
	
/*背景*/
.bgtop   { z-index:0; position:absolute; top:0; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop.jpg) no-repeat center 0px;}
@media screen and (max-width:767px){
.bgtop { z-index:-1; position:absolute; top:0; left:0; width:100%;min-width:inherit; height:100%; background: url(bgtop_m.jpg) no-repeat center 0; background-size:100%;animation-delay: 1s; animation-duration: 3s!important;}
}

/*延遲載圖*/
.lazy { min-width:1px; min-height:1px;}

/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(110%);
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
.Area980 { margin:0 auto; width:980px;}
.Area .up_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .up_bt:hover { filter: brightness(110%);
  -webkit-transform:translateY(-5px);
     -moz-transform:translateY(-5px);
      -ms-transform:translateY(-5px);
       -o-transform:translateY(-5px);
          transform:translateY(-5px);}

	@media screen and (max-width:767px){
		.Area1220 { width:100%;}
		.Area960 { width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
	}



/*版頭*/
.Area_top { position:relative; z-index:1; height:660px;}
.Area_top .cloud_l{position: absolute;top:193px;left: -478px; animation:cloud_move 1s linear both; -webkit-animation:cloud_move 1s linear both;}
.Area_top .cloud_r{position: absolute;top:169px;right: -484px; animation:cloud_move2 1s linear both; -webkit-animation:cloud_move2 1s linear both;}
.Area_top .time_day { position:absolute; top:0; left:0;}
.Area_top .title { position: absolute; top:5px; left:75px;}
.Area_top .logo{position:absolute;top:0px;left:30px;z-index: 8;}
.Area_top .logo img{width: 140px;}
.Area_top .sub_title{position:absolute;bottom: 6%;left: 13%;}
	@media screen and (max-width:767px){
.Area_top { position: relative;padding-top:0px; height:0; padding-bottom:66%;margin-bottom: 6vw}
.Area_top .logo{position:absolute;top:0px;left: 1.8vw;width: 18vw;z-index: 5;}
.Area_top .title{left: 0;width: 100%;top:5%;}
.Area_top .top_line{position: absolute;z-index: 0;padding-top: 30%;top:0;}
.Area_top .sub_title{position:absolute;bottom: 0;left: 3%;width: 94%;}
}

		@keyframes cloud_move { 
			0% {transform: translateX(-550px); } 
			100%{transform: translateX(0px); } 
		}
		@-webkit-keyframes cloud_move { 
			0% {-webkit-transform: translateX(-550px); } 
			100%{-webkit-transform: translateX(0px); } 
		}
		@keyframes cloud_move2 { 
			0% {transform: translateX(550px); } 
			100%{transform: translateX(0px); } 
		}
		@-webkit-keyframes cloud_move2 { 
			0% {-webkit-transform: translateX(550px); } 
			100%{-webkit-transform: translateX(0px); } 
		}


		


.Area.Area1220 .box{background: url(box_bg.png) repeat center top;padding: 10px 0;width: 1180px;margin: 0 auto;}
.Area .content{position:relative;width:100%;box-sizing: border-box;}
.Area .box .border_box{position:relative;border:1px solid #bb1501;border-width: 0 4px 0;margin: 0 auto ;width:1156px;box-sizing: border-box;}
	@media screen and (max-width:767px){
.Area.Area1220 .box{width:96%;margin: 0 auto;padding: 1% 0;}
.Area .box .border_box{width: 100%;margin: 0 auto;background: url(box_m.png) repeat-y center top;background-size: 100%;padding: 2vw 0;border:none;}
}


.content h2{font:bold 40px/90px Century Gothic,微軟正黑體 ;color: #d38542;position: relative;margin: -15px auto 15px;display:inline-block; }
.content h2 b{font:bold 44px/90px Century Gothic,微軟正黑體 ;vertical-align: bottom;}
.content h2 small{font:bold 20px/70px Century Gothic;}
.content h2::before{content:"" ;position: absolute;top:25px;left: -90px;width: 90px;padding-top:44%; display: block;background: url(dot.png) no-repeat center top;}
.content h2::after{content:"" ;position: absolute;top:25px;right: -90px;width: 90px;padding-top:44%;display: block;background: url(dot.png) no-repeat center top;}
h5{font:bold 24px/26px 微軟正黑體;color: #313a44;}
.line{margin: 40px auto;}
@media screen and (max-width:767px){
	.content h2{font:bold 7.3vw/9vw Century Gothic,微軟正黑體 ; }
	.content h2::before{content:"" ;position: absolute;top:2.5vw;left:-10vw;width: 8vw;display: block;background-size: 100%}
    .content h2::after{content:"" ;position: absolute;top:2.5vw;right:-10vw;width: 8vw;display: block;background-size: 100%;}
	.line{margin: 8vw auto;width: 90%;}
}
			
.btn_more{height:36px;background-color: #000;color:#FFF;border-radius:10px;padding: 0 15px;  font:bold 24px/34px 微軟正黑體;position: relative;;box-shadow: 2px 2px 2px rgba(0,0,0,0.5), -1px -1px rgba(255,255,255,1); }				
.btn_more2{top:28px;right:-170px;}		
.btn_more:hover{background-color: #11929f;}	
.btn_data{}		
@media screen and (max-width:767px){
	.btn_more{height:auto;border-radius: 40px 0 0 40px;top:5vw;right:0;font:bold 6vw/10vw 微軟正黑體; position: absolute;float: right;z-index: 15;padding: 0 1.5vw 0 3vw;}
}

.Area .title{z-index: 2;position: absolute;margin-bottom: 0px;;}				

.Area .btn_box{z-index: 2;position: absolute;margin-bottom: 0px;right:200px;top:70px;}				
.Area .btn_box a{background-color: #000;display:inline-block;margin:0 5px;}
.Area .btn_box a:hover{background-color: #11929f;}

.Area1{margin-top:00px;z-index: 8;}	
.Area1 .card_box{width: 100%;text-align: left;overflow: hidden;}	
.Area1 .card_box .A1_btn{margin-top:15px;}	
.Area1 .card_box::after{content: ""; clear: both;}	
.Area1 .card_box .left_box{width: 653px;display: inline-block;margin-left:7%;float: left; }	
.Area1 .card_box .right_box{width: 280px;display: inline-block;margin-right: 7%; float: right;padding-top: 60px;}	
.Area1 .left_box .card{width: 100%; padding-top: 45.5%; background: url(card_bg.png) no-repeat center top;position: relative;}	
@media screen and (max-width:767px){
	.Area1 .card_box {text-align: center;}	
	.Area1 .card_box .left_box{width: 92%;margin: 0 auto; float: inherit; }	
	.Area1 .left_box .card{background-size: 100%;}
	.Area1 .card_box .right_box{width: 50vw;margin: 3vw auto 2vw;padding: 0 ;float: inherit; }
	.Area1 .card_box .A1_btn{margin:0 auto;}	
}


.Area1 ol{list-style: disc;margin-left: 5.5%;}	
.Area1 ol li{text-align: left;font:bold 24px/28px 微軟正黑體;}	
@media screen and (max-width:767px){
.Area1 ol{list-style: disc;margin-left: 0%;margin-top: 0;width: 84%;}	
.Area1 ol li{text-align: left;font:bold 4vw/4vw 微軟正黑體;margin: 1.5vw auto;}				
}
.Area1 ul{position:relative; overflow: hidden;padding: 0;margin: 0 auto;}
.Area1 ul::after{content:"";clear: both;}
.Area1 ul li{display:block;float: left; position: relative;list-style: none;;}
.Area1 .left_box ul {position: absolute;top:10%;left: 4%;box-sizing: border-box;}
.Area1 .left_box ul li p{display:block;margin: 0 auto;position: absolute;top:37%;left: 25%;width: 50%;font:bold 34px/34px Century Gothic;text-align: center;color: #414141;}
.Area1 .left_box ul li img{vertical-align: middle}
.Area1 .left_box ul li img:last-child{display: none;}
.Area1 .left_box ul li.off p{top:12px;left:-6px;transform: rotate(-45deg);color: #c4040d;font:bold 15px/15px Century Gothic;width: 3em;}
.Area1 .left_box ul li.off img:first-child{display: none;}
.Area1 .left_box ul li.off img:last-child{display: block;}
@media screen and (max-width:767px){

.Area1 .left_box ul {left: 1%;padding:2% 0 0 3%; width: 100%;top:6%}
.Area1 .left_box ul li{width: 18.9%;padding-bottom: 0%;}
.Area1 .left_box ul li p{font:bold 5vw/5vw Century Gothic;}
.Area1 .left_box ul li.off p{ top:1%;left: -16%; transform: rotate(-45deg);color: #c4040d;font:bold 3vw/4vw Century Gothic;width: 3em;text-align: center;}
}
@media screen and (max-width:320px){
	.Area1 .left_box ul li.off p{ top:4%;left: -25%;}
}

.Area1  ul.PD_box{padding: 0;margin-left: 2.5%}
.Area1  ul.PD_box li{margin:8px 3px;text-align: left;}
.Area1  ul.PD_box li p{position: absolute;bottom:11%;right:4%;font: 15px/24px 微軟正黑體;color: #d6bd95;}
.Area1  ul.PD_box li p span{font:bold 25px/24px Century Gothic;margin: 0 2px;}
.Area1  ul.PD_box li .PD_btn_box{position: absolute;bottom:2%;left: 2%; z-index: 5;}
.Area1  ul.PD_box li a.PD_btn{display: inline-block;position: relative;margin:0;}
.Area1  ul.PD_box li.off a.PD_btn:nth-child(2) {pointer-events: none;}
.Area1  ul.PD_box li.off a.PD_btn:nth-child(2) img{opacity: 0;}
.Area1  ul.PD_box li.off a.PD_btn:nth-child(2) i{position: absolute;top:0;left: 0;z-index: 5; display: block;width: 100%;height: 100%;background: url(btn_03_full.png) no-repeat center top;background-size: 100%;}

@media screen and (max-width:767px){
.Area1  ul.PD_box li{width: 47%;}	
.Area1  ul.PD_box li a.PD_btn{width: 48%;}
.Area1  ul.PD_box li p{position: absolute;bottom:7%;right:4%;font: 3vw/5vw 微軟正黑體;color: #d6bd95;}
.Area1  ul.PD_box li p span{font:bold 4.5vw/5vw Century Gothic;margin: 0 2px;}
.Area1  ul.PD_box li .PD_btn_box{position: absolute;bottom:0%;left: 2%; z-index: 5;}
}


/*動畫*/
.turn{animation:turn 4s linear infinite;-webkit-animation:turn 4s linear infinite;}
.turn2{animation:turn 4s linear infinite;-webkit-animation:turn 4s linear infinite;}
@-webkit-keyframes turn{
	0%{ opacity:0;}
	32.5%{ opacity:0;}
	33%{ opacity:1;}
	40.5%{ opacity:1;}
	41%{ opacity:0;}
	100%{ opacity:0;}
}
@keyframes turn{
	0%{ opacity:0;}
	32.5%{ opacity:0;}
	33%{ opacity:1;}
	40.5%{ opacity:1;}
	41%{ opacity:0;}
	100%{ opacity:0;}
}
.rotate_pig{animation:rotate_pig 4s linear infinite;-webkit-animation:rotate_pig 4s linear infinite;}
@-webkit-keyframes rotate_pig{
	0%{ transform: rotate(0deg);}
	4%{ transform: rotate(-5deg);}
	12%{ transform: rotate(5deg);}
	16%{ transform: rotate(0deg);}
	100%{ transform: rotate(0deg);}
}
@keyframes rotate_pig{
	0%{ transform: rotate(0deg);}
	4%{ transform: rotate(-5deg);}
	12%{ transform: rotate(5deg);}
	16%{ transform: rotate(0deg);}
	100%{ transform: rotate(0deg);}
}
.Area2{margin-top:80px;}
.Area2 .title .btn_more{right:310px; }
.Area2 a.PD_btn{}
.Area2 .count{position: absolute;bottom:10px;left:5px;font:bold 20px/20px 微軟正黑體;}
.Area2 .count span{font:bold 24px/24px Century Gothic;}
.Area2 .PD_bg{position: relative;}
.reg_Area{position: absolute;bottom:95px;right:175px;display: inline-block;}
.reg_Area a{box-shadow: 3px 4px 5px rgba(0,0,0,0.5);border-radius: 12px;display: block;background-color: #007683; }
.reg_Area a img{box-shadow: 0 2px 1px 0 rgba(255,255,255,0.5) inset;border-radius: 12px;background-color: #007683;  }
.reg_Area .count{font:20px/32px Century Gothic,微軟正黑體;text-align: left;padding-left: 10px;}
.tag {position:absolute!important}
.footer{position:relative; height:70px;text-align:center; margin-top:60px; padding-top:0px; color:#fff; font:14px/70px 微軟正黑體;background-color: #000;}
	@media screen and (max-width:767px){
		.footer{position:relative; height:70px;text-align:center; margin-top:60px; padding-top:8px;padding-bottom: 65px; color:#000; font:14px/20px 微軟正黑體;background-color:transparent;}
		.tag {position:absolute;top:calc(-2% - 44px)}

}



/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}