@charset "big5";


	@-webkit-keyframes button {
		0% {	transform: scale(1);}
		100% {	transform: scale(1.1);}
	}
	@keyframes button {
		0% {	transform: scale(1);}
		100% {	transform: scale(1.1);}
	}
	 @media screen and (max-width:750px) {
		.WRAPPER .mainArea div li:hover {
			animation-play-state: paused;
			-webkit-animation-play-state: paused;
			box-shadow: none;
		}
	}


/*
.zoominzoomout {-webkit-animation-duration: 0.8s;  animation-duration: 0.8s;  -webkit-animation-name: zoominzoomout;  animation-name: zoominzoomout;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes zoominzoomout {   0% { transform: scale(1); } 100%{ transform: scale(0.95);}}
@keyframes zoominzoomout { 0% { transform: scale(1);} 100%{ transform: scale(0.95);}}

.WRAPPER .mainArea div li:hover {
	z-index: 10;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	animation-play-state: running;
	-webkit-animation-play-state: running;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: button;
	animation-name: button;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


.zoominzoomout {-webkit-animation-duration: 0.8s;  animation-duration: 0.8s;  -webkit-animation-name: zoominzoomout;  animation-name: zoominzoomout;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes zoominzoomout {   0% {   transform: scale(1); } 100%{ transform: scale(0.95);}}
@keyframes zoominzoomout { 0% { transform: scale(1);} 100%{ transform: scale(0.95);}}


.approch1 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: approch1;  animation-name: approch1;  -webkit-animation-iteration-count: 1;    animation-iteration-count:1; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes approch1 { 0% { transform: translate(0,-100px); opacity:0.2 } 100%{ transform: translate(0,0); opacity:1 }}
@keyframes approch1 { 0% { transform: translate(0,-100px); opacity:0.2 } 50%{ transform: translate(0,50px); opacity:0.5 } 100%{ transform: translate(0,0); opacity:1 }}

.uptodown {
  -webkit-animation:uptodown 1s infinite alternate ease-in-out;
          animation:uptodown 1s infinite alternate ease-in-out;
	}
@-webkit-keyframes uptodown { 0% { transform: translate(0,-5px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown { 0% { transform: translate(0,-5px);  } 100%{ transform: translate(0,0);}}


.downtoup {
  -webkit-animation:downtoup 1s infinite alternate ease-in-out;
          animation:downtoup 1s infinite alternate ease-in-out;
	}
@-webkit-keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-5px);}}
@keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-5px);}}



.leftright { 
  -webkit-animation:leftright 1s infinite alternate ease-in-out; transform-origin: center bottom;
          animation:leftright 1s infinite alternate ease-in-out; transform-origin: center bottom;
	}
@-webkit-keyframes leftright { 0% { transform: rotate(-5deg)} 100%{ transform: rotate(5deg)} }
@keyframes leftright {		   0% { transform: rotate(-5deg)} 100%{ transform: rotate(5deg)}}

*/
