@charset "big5";

/*基本*/
body {margin: 0; padding:0; background:#55c2ff; }
.pc { }
.mobile { display:none;}
	/*@media screen and (max-width:768px){
		.pc { display:none !important;}
		.mobile { display:block !important;}
	}*/
*{text-decoration:none; list-style: none;}
.mobile .topsky{ width:100%; height: 44px;background-color: rgba(90,191,255,1.00)}


/*全BOX*/
.WRAPPER {	position: relative;	display: inline-block;	margin: 0;	padding: 0 0 50px 0; width: 100%; text-align: left;overflow: hidden;}
.WRAPPER * {font-family:"Century Gothic","微軟正黑體","Microsoft JhengHei",Helvetica;}
.WRAPPER img { border:0; vertical-align:top;}
.WRAPPER .mainArea { position:relative; display:block; margin:0 auto; padding: 0; width:1220px;  z-index:0;}
	/*@media screen and (max-width:768px){
		.WRAPPER {	position: relative;	display: inline-block;	margin: 0;	padding: 0;	width: 100%; overflow: hidden; background:none !important}
		.WRAPPER .mainArea {position:relative; display:block; margin:0 auto; padding: 0; width:100%;  z-index:0;}
	}*/


/*共用*/
.WRAPPER .mainArea h2 { font-size:80px; line-height:1.4em; text-align:left; letter-spacing:-3px; color:#fff200;}
.WRAPPER .mainArea h3 { font-size:24px; line-height:1.4em; text-align:left; letter-spacing:-1px; color:#fff;}
.WRAPPER .mainArea .title { width:100%; height:95px;}
.WRAPPER .mainArea .title { font-weight:bold; font-size:60px; line-height:95px; color:#FFF; text-align:center; letter-spacing:-3px;}
.WRAPPER .mainArea .title span {color:#ffda45}
.WRAPPER .mainArea .text6 { margin:10px 0 0 0; padding:0; width:100%; height:22px; font-weight:bold; font-size:20px; line-height:22px; text-align:center; letter-spacing:0px; color:#000; opacity:0.5;/}
.WRAPPER .mainArea .text7 { margin:30px 0 0 -20px; padding:0; width:100%; height:22px; font-size:16px; line-height:1.3; text-align:center; letter-spacing:0px; color:#FFF; }
.WRAPPER .mainArea .new { display:inline-block; margin:0 0 0 5px; padding:0; width:40px; height:24px; font-size:14px; line-height:24px; text-align:center; letter-spacing:0px; color:#FFF; background:#ff3030;}
.WRAPPER .mainArea .ang { margin:0 auto; width: 0; height:0; line-height:0; border-style: solid; border-width: 7px 5px 0 5px; border-color: #FFF200 transparent transparent transparent;
						_border-color: #FFF200 #FFF200 #FFF200 #FFF200;
						_filter: progid:DXImageTransform.Microsoft.Chroma(color='#FFF200');}
	/*@media screen and (max-width:768px){
		.WRAPPER .mainArea .title { width:100%; height:auto;}
		.WRAPPER .mainArea .title { font-weight:bold; font-size:50px; line-height:1.6em; ;color:#FFF; text-align:center; letter-spacing:-3px;}
		.WRAPPER .mainArea .title span {color:#ffda45}
		.WRAPPER .mainArea .title img{ display:none;}
		.WRAPPER .mainArea .text6 { margin:10px 0 0 0; padding:0; width:100%; height:22px; font-weight:bold; font-size:20px; line-height:22px; text-align:center; letter-spacing:0px; color:#000; opacity:0.5; }
		.WRAPPER .mainArea .text7 { margin:0; padding:0; width:100%; height:22px; font-size:14px; line-height:16px; text-align:center; letter-spacing:0px; color:#FFF;}
		.WRAPPER .mainArea .new {  display:inline-block; margin:0 0 0 2%; padding:0 1%; width: auto; height:auto; background:#ff3030; font-size:14px; line-height:20px; text-align:center; letter-spacing:0px; color:#FFF;}
	}*/

/*版頭*/
.WRAPPER .mainArea .pcTop {position: relative; margin:0 0 0 -65px ; padding:0; width:1383px; height:560px; z-index:-1;}
.WRAPPER .mainArea .pcTop .pc {}
	/*@media screen and (max-width:768px){
		.WRAPPER .mainArea .pcTop { width:100%; height:auto;margin:0 ; padding:0;}
		.WRAPPER .mainArea .pcTop img { width:100%; height:auto;}
	}*/


/*折價券*//*選單*/
.menutableArea {float:left; position:relative; margin:0px auto; padding:0px 0px 2px 0px; width:100%}
.menutableArea .meneu span {float:left}
.menutableArea iframe {float:left}
.topnavArea div:first-child {display:none;}
.topnavArea a:hover div,
.topnavArea .selected div {display:none;}
.topnavArea a:hover div:first-child,
.topnavArea .selected div:first-child {display:inline-block;width: 405px;height: 74px;background-image: url(btn_top_2.png)}
.meneuon {display:none;}
.meneuoff {display:inline-block;width: 405px; height: 74px;}
.selected .meneuon { display:inline-block; width: 405px;height: 74px; background-image: url(btn_top_1.png);background-repeat: no-repeat; color: #f245ba;font-size: 25px;font-weight: 600;line-height: 75px; padding:0;}
.selected .meneuon b{margin-left: 70px; font-size: 40px;font-weight: 700;}
.selected .topnavArea {display:none}
.advisoryArea .meneu dd {display: block; float:left; margin:0px; padding:0px; position:relative; cursor:pointer; height: 74px;}
.advisoryArea .meneu dd a{color:#5E1F76;font-size: 25px;font-weight: 600;padding:0;line-height: 75px;}
.advisoryArea .meneu dd a b{font-size: 40px;font-weight: 700;margin-left: 70px;}
.advisoryArea .meneu dd:first-child {float:left; margin:0px; padding:0px; position:relative; cursor:pointer}
.advisoryArea .meneu { width: 1220px; height: 74px;margin: 0;}
.tabcontent {margin:0px; padding:0px;}


/*	@media screen and (max-width:768px){
.menutableArea {float:left; position:relative; margin:0px auto; padding:0px 0px 0 0px; width:100%}
.menutableArea .meneu span {float:left}
.menutableArea iframe {float:left}
.topnavArea div:first-child {display:none;}
.topnavArea a:hover div,
.topnavArea .selected div {display:none;}
.topnavArea a:hover div:first-child,
.topnavArea .selected div:first-child {display:inline-block;width: 33.3%;height: 13vw; background-image: url(mm_btn_top_2.png);background-size: contain;text-align: center;}
.meneuon {display:none; width: 33.3vw!important; height:13vw!important;background-image: url(mm_btn_top_1.png)!important;background-repeat: no-repeat; background-size: contain;}
.meneuoff {display:inline-block;width: 33.3vw; height:13vw ;background-size: contain;background-repeat: no-repeat; }
.selected {padding-top: 1vw;}
.selected .meneuon span.btn_word{ width:90%;display:inline-block; height:13vw ; text-align: center;color: #f245ba;font-size: 4vw;font-weight: 600;line-height: 1; padding:0;margin: 1vw 0 0 0!important;}
.selected .meneuon span.btn_word b{margin-left: 0; font-size:6vw;font-weight: 700;}
.selected .topnavArea {display:none}
.advisoryArea .meneu span.topnavArea{width:90%;margin:0;padding:0;}
.advisoryArea .meneu span.btn_word {text-align: center; margin:1vw 0 0 3.5vw;padding:0;}
.advisoryArea .meneu dd {display: block; float:left; margin:0px; padding:0px;height: 13vw;width: 33.3vw; }
.advisoryArea .meneu dd a{color: #FFF;font-size: 4vw;font-weight: 500;padding:0;line-height: 1;}
.advisoryArea .meneu dd a b{margin: 0 ;padding: 0; font-size: 6vw;font-weight: 700;letter-spacing:-0.5vw;}
.advisoryArea .meneu dd:first-child {float:left; margin:0px; position:relative; cursor:pointer}
.advisoryArea .meneu { width: 100%; height:12vw;margin: 0;}
.tabcontent {margin:0; padding:0px;}
	}*/


/*折價券*/
.WRAPPER .mainArea .Area1	{ margin:0px 0 70px 0; padding:0 0 10px 0; width:1220px; height:auto; z-index:2;}
.WRAPPER .mainArea .Area1 .mycoup ul {width: 944px; padding: 0; margin: 0 auto; } 
.WRAPPER .mainArea .Area1 .mycoup ul li { float: left; margin:50px 25px 0 25px; list-style: none; display: block; } 
.WRAPPER .mainArea .Area1 .mycoup ul li a {display: block; }
.WRAPPER .mainArea .Area1 .ticket ul {margin:60px auto 10px; width:1160px; padding: 0;} 
.WRAPPER .mainArea .Area1 .ticket ul li	{display: inline-block; float:left; margin:0 20px 20px; padding:0px 0px 0px 0; width:540px; height:210px; background:url(ticket_p.png) no-repeat right top;border-radius: 20px;overflow: hidden;} 
.WRAPPER .mainArea .Area1 .ticket ul li a {display: inline-block;}
.WRAPPER .mainArea .Area1 .ticket ul li .cp_left{ width: 100px;height: 210px; overflow: hidden;display: inline-block;position: relative;top:0;border-right:1px dashed #FFF;background-color: rgba(0,0,0,0.2);}
.WRAPPER .mainArea .Area1 .ticket ul li .cp_left p{ width:40px;font-size: 20px;color: #FFF;line-height: 20px;position: absolute;top:45px;left:30px;}
.WRAPPER .mainArea .Area1 .ticket ul li .cp_left p::after{ content: "";position: absolute;bottom:-54px;left:-4px;background-image: url(sear.png);width:48px;height:48px;}
.WRAPPER .mainArea .Area1 .ticket ul li .cp_left:hover p{color: #FFF84D}
.WRAPPER .mainArea .Area1 .ticket ul li .coupArea { width: 350px;padding-right: 80px; overflow: hidden;display: inline-block; }
.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price {  margin:0 0px 0 0px;overflow: hidden; padding:10px 5px 0 0; font-weight:bold; font-size:127px; line-height:1; color:#FFF;  letter-spacing:-4px; }
.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price .price1{ float: right;font-size:127px; font-style: normal; }
.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price .bw{ float: right;font-size:90px; font-style: normal; margin: 30px 0 0 0; }
.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price .off{ float: right;font-size:24px; margin: 82px 0 0 0; }
.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price small { float: right;font-size:24px;margin:82px 2px 0 0 ;padding: 0;}
.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .text7{ display: block; margin: 0 auto;padding: 0 0 50px 0;clear: both;}
.WRAPPER .mainArea .Area1 .ticket ul .changColor {}
.WRAPPER .mainArea .Area1 .ticket ul li:hover { transform:scale(0.97)}
.WRAPPER .mainArea .Area1 .ticket ul li .logo12h  {  margin:5px;  width:70px; height:70px;z-index:1}
.WRAPPER .mainArea .Area1 .ticket ul li .logo12h img { width:100%; height:auto;}
.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(4n+2),
.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(4n+3) {background-image:url(ticket_z.png);}
.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(4n+2) .coupArea .price,
.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(4n+3) .coupArea .price {color:#fff}
.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(4n+3) .coupArea .price .useThreshold { background:#4d4d4d; color:#fff}
.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(4n+2) .button,
.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(4n+3) .button {color:#ffe073}
.WRAPPER .mainArea .Area1-1 {background:#EFEFEF;margin-bottom: 50px; padding-bottom: 60px; border-radius: 0 0 20px 20px;}
.WRAPPER .mainArea .Area1-1 .title { }

	/*@media screen and (max-width:768px){
		.WRAPPER .mainArea .Area1 {margin:-25vw 0 0 0; padding: 0;width:100%;overflow: hidden;}
		.WRAPPER .mainArea .Area1 .mycoup ul {width:98%;  margin:0 1%; padding: 5% 0; } 
		.WRAPPER .mainArea .Area1 .mycoup ul li { float: left; width: 48%; height: auto; margin:0 1% ;  list-style: none; display: block;} 
		.WRAPPER .mainArea .Area1 .mycoup img {float: left; margin:0;  list-style: none; display: block; width: auto; height: 11.5vw;}
	    .WRAPPER .mainArea .Area1 .mycoup ul li a {display: block; overflow: hidden; }
		.WRAPPER .mainArea .Area1 .ticket ul {margin:0; padding: 0;  width:100%;background-color: #efefef; } 
		.WRAPPER .mainArea .Area1 .ticket ul li {display:block; margin:0 0 0 2vw; padding: 0; width:95%; height:28vw;  background-image:url(mm_ticket_p.png);background-size: contain;background-repeat: no-repeat;} 
		.WRAPPER .mainArea .Area1 .ticket { margin:0; padding:0; width:100%; height:auto;}
		.WRAPPER .mainArea .Area1 .ticket ul li .coupArea { width:100%; height:26vw; }
		.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price { display: block; margin:0.5vw 18vw 0 0 ; padding:0;  font-weight:bold; font-size:15vw; height:16vw; color:#FFF; text-align:center; letter-spacing:0.1vw; }
		.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price .price1 { font-size: 16vw;}
		.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price .bw{ font-size:10vw; font-style: normal; margin: 4.5vw 0 0 0; }
		.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price .off { margin:8.5vw 0 0 0;position: relative; font-size:5vw;letter-spacing:-2px;}
		.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .price small { margin:8.5vw 0 0 6vw;font-size:5vw; color: rgba(255,255,255,1.00);}
		.WRAPPER .mainArea .Area1 .ticket ul li .coupArea .text7 {color: #FFF; margin:  0;padding: 0 ;}
		.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(odd) {background-image:url(mm_ticket_z.png);}
		.WRAPPER .mainArea .Area1 .ticket ul li:nth-child(even) {background-image:url(mm_ticket_p.png);}
        .WRAPPER .mainArea .Area1-1 { padding-bottom: 60px; margin: -10vw 0 0 0;}
		.WRAPPER .mainArea .Area1-1 {border-radius: 0 ;margin:0;background-color: #efefef;}
		.WRAPPER .mainArea .Area1 .ticket ul li .logo12h  { margin:5px;  width:15%; height:auto;z-index:1}
		.WRAPPER .mainArea .Area1 .ticket ul li .logo12h img { width:100%; height:auto;}

	}*/

/*品牌折價券*/
.WRAPPER .mainArea .Area1 .Area1-1 .ticket2 { background-color:#efefef;}
.WRAPPER .mainArea .Area1 .ticket2 ul { width: 1034px; margin:60px auto 10px; padding: 0; } 
.WRAPPER .mainArea .Area1 .ticket2 ul li { display:block; float:left; margin:0 25px 0 25px; padding:0px ; background-image:url(ticket_f.png);background-repeat: no-repeat;} 
.WRAPPER .mainArea .Area1 .ticket2 ul li a {display: block;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .ticket_right_box {  margin: 0;padding:0;text-align: right;width: 70%;float: right;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .button {  margin:0; padding:60px 5px 0 5px; width:23px; height:80px;  z-index:3; font-weight:bold; font-size:20px; line-height:20px; color:#fff; text-align:left; letter-spacing:-3px;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea { width:467px; height:210px; /*background:rgba(0,0,0,0.2)*/}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .text7{ margin: 0 2px; padding: 0;text-align: center;width: 320px;height:45px; font-weight: normal;overflow: hidden;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price { margin:5px 0 0 0; padding: 0; font-weight:bold;  color:#FFF;  letter-spacing:-6px;overflow: hidden;text-align: center;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price .bw {font-size: 32px;margin:0 5px;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price span.price1 { font-size: 127px; text-align:left;overflow: hidden;line-height:70px!important;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price .button { font-size: 25px;line-height: 0.9; width: 26px;display: inline-block;}
.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price small { font-size:30px;margin: 0 ;padding: 0;letter-spacing:-4px; }
.WRAPPER .mainArea .Area1 .ticket2 ul li:hover { transform:scale(0.97)}
.WRAPPER .mainArea .Area1 .ticket2 ul li .logo12h  {  margin:5px;  width:70px; height:70px;z-index:1}
.WRAPPER .mainArea .Area1 .ticket2 ul li img { float:left; width:130px; height:auto;margin: 70px 0 0 5px; }
	/*@media screen and (max-width:768px){
		.WRAPPER .mainArea .Area1 .ticket2 ul { margin:0; padding: 0;  width:100%;} 
		.WRAPPER .mainArea .Area1 .ticket2 ul li {display:block; margin:1vw 0 0 2vw; padding: 0; width:95% ; height: 30vw ; background-image:url(mm_ticket_f.png);background-size: contain;background-repeat: no-repeat;} 
		.WRAPPER .mainArea .Area1 .ticket2 { z-index: 0; margin:0; padding:0; width:100%; height:auto;}
		.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea { width:100%; height:30vw; }	
		.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .ticket_right_box {width: 70%; margin: 2% 1% 0 0;}
		.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price {  width: 100%; margin:0 2% 0 0 ; padding: 0 0 0 0;  font-weight:bold; color:#FFF; line-height: 1; text-align:center; letter-spacing:0.1vw; }
		.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price .price1 { font-size: 15vw; display:inline-block;}
		.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price .button { font-size:5vw; width: auto;letter-spacing:-0.5vw;padding: 0;height: auto;}
		.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price small { font-size:4vw;padding: 0 1.5vw 0 0; }
		.WRAPPER .mainArea .Area1 .ticket2 ul li .coupArea .price .text7{margin: 0 0 0 10vw;line-height: 1;}
		.WRAPPER .mainArea .Area1 .ticket2 ul li  img {width: 27%;margin: 8vw 0 0 1vw; height:auto;}
}*/


/*推薦商品AD
@media screen and (max-width:768px){
.WRAPPER .mainArea .Area2 { margin:0; padding:0;width:100%; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;overflow: hidden;}
.WRAPPER .mainArea .Area2 img{background-color: #efefef;}
.WRAPPER .mainArea .AD_content{float:left;  padding: 5vw 0 15vw 0 ; background-color: #d6d1ff; width: 100%;}
.WRAPPER .mainArea .AD_content_l{float: left;width: 49%;margin-left:1vw;padding: 0;}
.WRAPPER .mainArea .AD_content_r{float: right;width: 49%;margin-right: 1vw;padding: 0;}
.WRAPPER .mainArea .Area2 .mark_top{width: 24vw;background-color: #FFF;font-weight: 700;}
.WRAPPER .mainArea .Area2 .down_area{width: 98%; background-color: #FFF;}
.WRAPPER .mainArea .Area2 .AD_content img {margin: 1vw;}
.WRAPPER .mainArea .Area2 .text_box_01{ font-weight: 700;margin: 2vw 0 0 1vw;line-height: 1; letter-spacing:-0.4vw; }
.WRAPPER .mainArea .Area2 .text_box_02{margin: 1vw 0 0 1vw;padding-right: 1.5vw;line-height: 1;letter-spacing:-0.4vw; height: 5vh;}
.WRAPPER .mainArea .Area2 .text_box_03{color: #d82570;margin: 1vw; text-align: right;font-size: 8vw;letter-spacing:-0.4vw;margin: 1vw;padding-right: 1.5vw; }
.WRAPPER .mainArea .Area2 .text_box_03 small{font-size: 4vw;}
.WRAPPER .mainArea .Area2 .text_box_04{ margin: 0 auto;color: #FFF; background-color: #888;text-align: center;line-height: 8vw; font-size: 3vw;width: 35vw; border-radius: 4vw 4vw 0 0}
.WRAPPER .mainArea .Area2 {}
	}*/

/*熱銷分類輪播*/
.Area3 .acty2 .swiper-slide {margin: 0;padding: 0; }
.Area3 .acty2 .container {overflow:hidden; }
.Area3 .acty_area{ width:1220px; }
.Area3 .acty2 { padding:0 ;margin: 0 auto;width: 1145px;}
.Area3 .acty2 .swiper-button-next { top:57%; right:12px;}
.Area3 .acty2 .swiper-button-prev { top:57%; left:12px;}
.Area3 .acty2 .pagination {position:relative!important; }
.Area3 .acty2 .swiper-pagination-bullet{margin:0 2px;}
/*熱銷*/
.WRAPPER .mainArea .Area3	{ margin:0 ; padding:50px 0 0 0 ;  width:1220px; z-index:2; overflow: hidden;background-color: none!important;}
.WRAPPER .mainArea .Area3 .Area3-1	{background-color:#ffe6ed;border-radius: 0 0 20px 20px;padding: 0 0 30px 0;}
.WRAPPER .mainArea .Area3 ul {margin:0 0 0 -1px; padding: 20px 0; width:580px; } 
.WRAPPER .mainArea .Area3 ul li	{ display: block;float: left; margin:6px; padding:0; width:275px; height:165px; }
.WRAPPER .mainArea .Area3 ul li	.hot_sale_bg{margin: 0;padding: 0; display: block; width: 275px; height: 165px; background:#ffb7b7}
.WRAPPER .mainArea .Area3 ul li	.hot_sale_bg2{margin: 0;padding: 0; display: block; width: 275px; height: 165px; background:#fff5ce}
.WRAPPER .mainArea .Area3 ul li .textArea { display:inline-block; width:50%; margin:50px 0 0 0; text-align:center; float:left; font-weight:bold; font-size:29px; line-height:1em; color:#000; text-align:center; letter-spacing:-1px;}
.WRAPPER .mainArea .Area3 ul li .textArea .more { display:inline-block; margin:20px 0 0 0; padding:3px 14px; border-radius:99em; background:#000; font-size:14px; line-height:1em; color:#FFF; text-align:center; letter-spacing:-1px; }
.WRAPPER .mainArea .Area3 ul li .imgArea { display:inline-block;float:left;margin:0;width:50%;text-align:right}

	/*@media screen and (max-width:768px){
		.WRAPPER .mainArea .Area3 {margin:0; padding:0; width:100%; z-index:2; clear: both;background-color: #d6d1ff;}
		.WRAPPER .mainArea .Area3 .Area3-1	{border-radius: 0;}
		.WRAPPER .mainArea .Area3 img .mobile { background-color: #d6d1ff;}
		.WRAPPER .mainArea .Area3 .acty_area{width:100%; margin: 0; padding:5vw 0 10vw 0;}
		.WRAPPER .mainArea .Area3 .acty2{padding: 0;margin: 0;width: 100%;}
		.WRAPPER .mainArea .Area3 ul { margin:0 0 0 0; padding:1.5% 0 0 0; width:100vw;height: auto;} 
		.WRAPPER .mainArea .Area3 ul li	{display: inline-block; float:left; margin:1vw; padding:0; width:48vw; height:auto; background:#ffd9c2}
		.WRAPPER .mainArea .Area3 ul li	.hot_sale_bg{ display: block; width: 95%; height:auto;}
		.WRAPPER .mainArea .Area3 ul li	.hot_sale_bg2{display: block; width: 95%; height:auto;}
		.WRAPPER .mainArea .Area3 ul li .textArea {display:inline-block; width:50%; margin:15% 0 0 0; text-align:center; float:left; font-weight:bold; font-size:5vw; line-height:1em; color:#e08853; text-align:center; letter-spacing:-1px;}
		.WRAPPER .mainArea .Area3 ul li .textArea .more { display:inline-block; margin:10% 0 0 0; padding:5% 10%; background:#e08853; font-size:4vw; line-height:1em; color:#FFF; text-align:center; letter-spacing:-1px; }
		.WRAPPER .mainArea .Area3 ul li .imgArea { display:inline-block;float:left;margin:0; padding: 0; width:50%;text-align:right}
		.WRAPPER .mainArea .Area3 ul li img { width:100%;padding-left: 10.5%;}
		.WRAPPER .mainArea .Area3 ul li:nth-child(1) {background:#fff5ce}
		.WRAPPER .mainArea .Area3 ul li:nth-child(2) {background:#ffb7b7}
		.WRAPPER .mainArea .Area3 ul li:nth-child(3) {background:#ffb7b7}
		.WRAPPER .mainArea .Area3 ul li:nth-child(4) {background:#fff5ce}
		.WRAPPER .mainArea .Area3 ul li:nth-child(even) .textArea {color:#000;}
		.WRAPPER .mainArea .Area3 ul li:nth-child(even) .textArea .more {background:#000}
		.Area3 .acty2 .swiper-button-next { display: none;}
		.Area3 .acty2 .swiper-button-prev { display: none;}
		.Area3 .acty2 .pagination { }
		}*/

/*銀行*/
.WRAPPER .mainArea .Area4	{margin:0 0 0 0; padding:0 00 0; width:1220px; height:auto; z-index:2;}
.WRAPPER .mainArea .Area4 .title { margin-top: 100px;}
.WRAPPER .mainArea .Area4 .bank_Area{}
	/*@media screen and (max-width:768px){

		.WRAPPER .mainArea .Area4 .title { margin-top: 0;background-color:#ffe6ed}
		.WRAPPER .mainArea .Area4  {margin:0; padding: 0; width:100%; height:auto; z-index:2; }
		.WRAPPER .mainArea .Area4  .textArea { display:inline-block; width:100%; margin:0; text-align:center; float:left; }
		.WRAPPER .mainArea .Area4  .textArea .txt1 { margin: 15px 0 0 0; font-weight:bold; font-size:32px; line-height:1em; color:#fff; text-align:center; letter-spacing:-1px;}
		.WRAPPER .mainArea .Area4  .textArea .txt2 { font-size:32px; line-height:1em; color:#fff; text-align:center; letter-spacing:-1px;}
		.WRAPPER .mainArea .Area4  .textArea .price { height:60px; font-weight:bold; font-size:60px; line-height:1em; ;color:#fff200; text-align:center; letter-spacing:-1px; }
		.WRAPPER .mainArea .Area4  .textArea .price small { font-size:20px;}
		.WRAPPER .mainArea .Area4 :nth-child(6)	{display: inline-block; float:left; margin: 0 1% 1% 0; padding:5% 0 6% 0; width:32%; height: auto; background:#4d4d4d !important;}
		.WRAPPER .mainArea .Area4  .mobile { display: inline-block;}
		}*/



/*銀行輪播*/
.Area4 .Area_cantantBaseBN { margin:0; padding:40px 0 0 0px; width:1220px;  z-index:5; background-color:#cffcd5;  }
.Area4 .Area_cantantBaseBN .box { overflow:hidden; margin:0 auto; width: 93%; padding: 10px 0 50px 0; height: auto; }
.Area4 .Area_cantantBaseBN .bank_Area { display: inline-block; float:left; margin:0 10px 10px 10px; padding:0 ;  background-color: #FFF; text-align: center; border-radius: 10px;box-shadow: 5px 5px 0 0 #000; height: 250px; width: 205px!important;}
.Area4 .Area_cantantBaseBN .bank_Area img{ margin-top: 20px;}
.Area4 .Area_cantantBaseBN .bank_Area span{font-size: 30px;font-weight: 700;color: #000; border-bottom: thin solid #aaa; }
.Area4 .Area_cantantBaseBN .bank_Area p{font-size: 18px;color: #000;margin-bottom: 40px; }
.Area4 .Area_cantantBaseBN .swiper-button-next { top:71%; right:12px;}
.Area4 .Area_cantantBaseBN .swiper-button-prev { top:71%; left:12px;}
.Area4 .Area_cantantBaseBN .pagination { }
/*	@media screen and (max-width:768px){
		.Area4 .Area_cantantBaseBN { width: 100%; margin:0; padding:0px 0 15vw 0; z-index:5; background-color:#cffcd5;  }
		.Area4 .Area_cantantBaseBN .bank_Area span{font-size: 6.8vw;}
		.Area4 .Area_cantantBaseBN .bank_Area p{font-size: 5vw;}
		.Area4 .Area_cantantBaseBN .bank_Area { width:44.2% !important;height: 65vw; margin:0 3% 2vw 2.5%; }
		.Area4 .Area_cantantBaseBN .box {width: 100%; margin: 0;padding: 5vw  0 5vw 0;}
		.Area4 .Area_cantantBaseBN .swiper-button-next { display: none;}
		.Area4 .Area_cantantBaseBN .swiper-button-prev { display: none;}
		.Area4 .Area_cantantBaseBN .pagination {  }
	}*/
/*銀行更多*/
.WRAPPER .more{text-align:center;margin: 0; padding: 10px 0 60px 0; background-color:#cffcd5;border-radius: 0 0 20px 20px;font-size:45px;color: #FFF; font-weight: 400; }
.WRAPPER .more a{ display: block; width: 909px;height: 87px; text-align:center;line-height: 85px; margin: 0 auto;padding: 0; background-image: url(bank_more.png);background-repeat: no-repeat; font-size:47px;color: #FFF; font-weight: 400;letter-spacing: 4px;}
	/*@media screen and (max-width:768px){
		.WRAPPER .more{margin:-10vw 0 0 0 ; padding:0 0 8vw;border-radius:0}
		.WRAPPER .more a{width: 90%;background-image: url(mm_bank_more.png);background-size: contain;font-size: 7.5vw;line-height:2; letter-spacing: 0;}
	}*/


/*活動*/
.WRAPPER .mainArea .Area6 {margin:100px 0 50px 0; padding:0 0 10px 0; width:1220px; height:auto; z-index:2;}
.WRAPPER .mainArea .Area6 .Area6-1 {padding-bottom: 20px;background-color: #c0f0fd; border-radius: 0 0 20px 20px;}
.WRAPPER .mainArea .Area6 .title{ margin:0;}
.WRAPPER .mainArea .Area6 ul { margin:15px 0 0 0; padding: 50px 0 30px 35px; top:0; left:0;  width:1185px; } 
.WRAPPER .mainArea .Area6 ul li	{display: inline-block; float:left; margin:0 20px 20px 0; padding:0 0 0 0; width:370px; height: auto;border: 1px solid#FFF;}
.WRAPPER .mainArea .Area6 ul li	.bnArea { margin:0; padding:0; width:370px; height:185px;}
.WRAPPER .mainArea .Area6 ul li	.bnArea img { margin:0; padding:0;width:100%; height:auto;}
.WRAPPER .mainArea .Area6 ul li .time { width:360px; height:40px;padding:0 0 0 10px; background:rgba(0,0,0,0.2);  font-weight:bold; font-size:24px; line-height:40px; color:#000; text-align:left; letter-spacing:-1px;}
.WRAPPER .mainArea .Area6 ul li .main {width:360px; height:60px; padding:0 0 0 10px; font-size:16px; line-height:24px; color:#4d4d4d; text-align:left;background-color: #FFF; letter-spacing:0px; overflow:hidden;}


	/*@media screen and (max-width:768px){
		.WRAPPER .mainArea .Area6 .title{ background-color: #d2fcd7;}
		.WRAPPER .mainArea .Area6	{  margin:0; padding: 0 0 2% 0; width:100%; height:auto; z-index:2; background:#c0f0fd;}
		.WRAPPER .mainArea .Area6 ul { margin:2% 3% 0 3%; padding:0 0 3% 0; width:94%; background-color: none;} 
		.WRAPPER .mainArea .Area6 ul li	{display: inline-block; float:left; margin:0 0 10% 0 ; padding:0 0 0 0; width:100%; height: auto; }
		.WRAPPER .mainArea .Area6 ul li	.bnArea { margin:0; padding:0; width:100%; height:auto;}
		.WRAPPER .mainArea .Area6 ul li	.bnArea img { margin:0; padding:0;width:100%; height:auto;}
		.WRAPPER .mainArea .Area6 ul li .time { width:98%; height:auto; padding:0 0 0 2%; background:rgba(0,0,0,0.2);  font-weight:bold; font-size:20px; line-height:1.4em; color:#000; text-align:left; letter-spacing:-1px;}
		.WRAPPER .mainArea .Area6 ul li .main {width:96%; height:auto; padding:0 2% 0 2%; border-bottom: 1px dotted #CCC; font-size:16px; line-height:24px; color:#4d4d4d; text-align:left; letter-spacing:0px; overflow:hidden;}
	}*/




