@charset "big5";

/*回版頭*/
#gotop { display:none; border-radius:20px; position:fixed; padding:10px 10px 3px 10px; right:30px; bottom:30px; font:12px/30px  Verdana;background:#777 url(gotopBtnBk.png?t=1551146883672) no-repeat center 7px; color:#fff; cursor:pointer; z-index:5}
#gotop { filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6}
	/*@media screen and (max-width:750px){
		#gotop { right:0px; bottom:60px;}
	}*/
	
/*假天*/
.maintoptopArea { position:absolute; z-index:9999;}
.maintoptopArea .noheaderArea { margin:0; padding:0; height: auto;}
.maintoptopArea .noheaderArea dd { margin:0px; padding:0px;}
.maintoptopArea .noheaderArea .floatleft { position: relative; top:8px; margin-left:0px;}
.maintoptopArea .noheaderArea .floatright { position:absolute; top:9px; margin-left:1120px;}
.maintoptopArea .noheaderArea .icon-momologo img { width:272px; height:40px;}
.maintoptopArea .noheaderArea .icon-home img { width:30px; height:30px; margin-left:48px;}
.maintoptopArea .noheaderArea .icon-line img { width:30px; height:30px; margin-left:34px;}
.maintoptopArea .noheaderArea .icon-fb img { width:30px; height:30px;}
	/*@media screen and (max-width:754px){
		.maintoptopArea { display:none;}
	}*/



/*黏人快速鍵*/
.fixed_Area {z-index:999; position:fixed; top:30px; right:7%; margin-left:615px; font-family:"微軟正黑體",Helvetica;}
.fixed_Area h2 { display:block; margin:0; padding:0; width:108px; }
.fixed_Area h4 { display:block; margin:0; padding:0; font-weight:bold; font-size:18px; line-height:22px; color:000; letter-spacing:-1px; text-align:center; text-decoration:none; background:url(spider_body.png?t=1551146883673) repeat center;}
.fixed_Area h4 p {display:block; text-align:center; margin:0px 10px 0px 10px; padding:10px 2px; border-top:solid #fff200 1px;}
.fixed_Area h4 p:first-child{border-top:0;}
.fixed_Area h4.fixedBox {padding:5px 0px 0px 0px; width:108px}
.fixed_Area h4.fixedBox:last-child {padding:0px 0px 20px 0px; border-radius:0px 0px 90px 90px }
.fixed_Area h4.fixedBox a { display:block; color:#ff0088; text-decoration:none}
.fixed_Area h4.fixedBox a:hover {color:#fff200;}
	/*@media screen and (max-width:750px){
		.footerArea { display:none!important;} 
		.fixed_Area h2 { display:none;}
		.fixed_Area { z-index:10; position:fixed; top:0; left:0; bottom:0; display:block; margin:0; padding:0 2%; width:96%; height:44px; border-radius:0; background:rgba(19,109,240,0.9); }
		.fixed_Area * { box-sizing:border-box;}
		.fixed_Area h4 { display:block; margin:0; padding:0; width:100%; font-weight:bold; line-height:1.5;  font-size:13px; color:#000; letter-spacing:0px; text-align:center; text-decoration:none; background:none;}
		.fixed_Area h4.fixedBox { margin:0; padding:0; width:100%;}
		.fixed_Area h4 p { display:inline-block; margin:0 ; padding:0 2%; width:24%; border-bottom:none; border-right:solid #67a5ff 1px; font-weight: normal; text-align:center;  }
		.fixed_Area h4 p:nth-of-type(4) { border-right:none;}
	}*/
	/*
	@media screen and (max-width:320px){
		.fixed_Area h2 { display:none;}
		.fixed_Area {z-index:10; position:fixed; top:inherit; left:0px; bottom:0px; margin:0; padding:0 5%; position:fixed; width:90%; height:34px; border-radius:20px; background:#136df0; display:block;}
		.fixed_Area h4 { display:block; margin:0; padding:0; width:100%; font:bold 12px/22px "微軟正黑體",Helvetica bold; color:000; letter-spacing:0px; text-align:center; text-decoration:none; background:none}
		.fixed_Area h4.fixedBox { margin:0;padding:0; width:100%;}
		.fixed_Area h4 p { display:inline-block;text-align:center; margin:5px 0; padding:0;  border-bottom:none; border-right:solid #67a5ff 1px }
	}
	*/
	
	
	
