@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0;}

/*全BOX版面*/
.WRAPPER { position: relative; display:block; margin: 0 auto; padding: 0; width:100%;  min-width:1220px; overflow:hidden; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background: #00CCFF  url(bg.jpg) repeat-y center 0;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
		@media screen and (max-width:767px){
		.WRAPPER { min-width: inherit; }
		.WRAPPER img {  width:100%;  height:auto;}
	}
	
/*背景*/
.bgbg{pointer-events:none;}
.bgtop   { z-index:0; position:absolute; top:0px; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop.jpg) no-repeat center -80px;}
.bgtop01   { z-index:0; position:absolute; top:800px; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop01.png) no-repeat center top;
			 -webkit-animation:bgtop01-play 60s -50s linear infinite;
					 animation:bgtop01-play 60s -50s linear infinite;}
.bgtop03   { z-index:0; position:absolute; top:5500px; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop01.png) no-repeat center top;
			 -webkit-animation:bgtop01-play 60s -50s linear infinite;
					 animation:bgtop01-play 60s -50s linear infinite;}
.bgtop05   { z-index:0; position:absolute; top:12800px; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop01.png) no-repeat center top;
			 -webkit-animation:bgtop01-play 60s -50s linear infinite;
					 animation:bgtop01-play 60s -50s linear infinite;}
		@keyframes bgtop01-play { 
			0%    { opacity:0; transform: translate3d(-400px, -400px, 0); } 
			10%    { opacity:1; } 
			90%    { opacity:1; } 
			100%  { opacity:0;  transform: translate3d(0, 0, 0);} 
		}
		
.bgtop02   { z-index:0; position:absolute; top:1200px; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop02.png) no-repeat center top;
			 -webkit-animation:bgtop02-play 60s linear infinite;
					 animation:bgtop02-play 60s linear infinite;}
.bgtop04   { z-index:0; position:absolute; top:3800px; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop02.png) no-repeat center top;
			 -webkit-animation:bgtop02-play 60s linear infinite;
					 animation:bgtop02-play 60s linear infinite;}
.bgtop06   { z-index:0; position:absolute; top:8000px; left:0; width:100%; min-width:1220px; height:100%; background: url(bgtop02.png) no-repeat center top;
			 -webkit-animation:bgtop02-play 60s linear infinite;
					 animation:bgtop02-play 60s linear infinite;}
		@keyframes bgtop02-play { 
			0%    { opacity:0; transform: translate3d(400px, -400px, 0); } 
			10%    { opacity:1; } 
			90%    { opacity:1; } 
			100%  { opacity:0;  transform: translate3d(0, 0, 0);} 
		}

.bgend   { z-index:0; position: relative; top:0; left:0; width:100%; min-width:1220px; height:210px; background: url(bgend.gif) no-repeat center top ;}
	@media screen and (max-width:767px){
		.bgtop { min-width: inherit;  background: url(m_bgtop.png) no-repeat center 40px; background-size:100%;}
		.bgend { display:none; }
	}



/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(110%);
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
.Area980 { margin:0 auto; width:980px;}
.Area .up_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .up_bt:hover { filter: brightness(110%);
  -webkit-transform:translateY(-5px);
     -moz-transform:translateY(-5px);
      -ms-transform:translateY(-5px);
       -o-transform:translateY(-5px);
          transform:translateY(-5px);}
a.lighter:hover{filter: brightness(110%);}
	@media screen and (max-width:767px){
		.Area1220 { width:100%;}
		.Area960 { width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
	}



/*版頭*/
.Area_top { position:relative; z-index:1; height:790px;margin-top: 48px;}
.Area_top .more_btn{position:absolute;top:126px;right:279px;}
.Area_top .time_day { position:absolute; top:0; left:0;}
.Area_top .title { position: absolute; top:-2px; left:366px;}
.Area_top .acty_box{position:absolute;display: inline-block;top:269px;left:132px;z-index: 15;}
	/*主標跳動*/
	.Area_top .title:hover img { -webkit-animation:titlehover-play 0.8s ease-in infinite;
									     animation:titlehover-play 0.8s ease-in infinite;}
		@-webkit-keyframes titlehover-play {   
			0% ,60% ,100%  { -webkit-transform: translateY(0px); transform: translateY(0px);} 
			40%, 80%  { -webkit-transform: translateY(-15px); transform: translateY(-15px);} 
			}
		@keyframes titlehover-play { 
			0% ,60% ,100%  { -webkit-transform: translateY(0px); transform: translateY(0px);} 
			40%, 80%  { -webkit-transform: translateY(-15px); transform: translateY(-15px);} 
		}
	/*小物件1*/
	.topicon_01 { position:absolute; -webkit-transform-origin:center bottom; transform-origin:center bottom; }
	.topicon_01 i { position: absolute; bottom:0; left:0; -webkit-transform-origin:center 80%; transform-origin:center 80%;}
	.topicon_01 span { position:relative;}
	.topicon_01_1 { position:absolute; top:16px; left:-52px;}
	.topicon_01_1 img { width:86%}
	.topicon_01_2 {display:none ; position:absolute; top:218px; left: 263px;z-index: 8}
	.topicon_01_2 img { width:83%}
	.topicon_01_3 {display: ; position:absolute; top:103px; right:235px;}
	.topicon_01_4 {display:none ; position:absolute; top:80px; right:-276px;}
	.topicon_01_5 { position:absolute; top:-27px; left:262px;display: none;}
	
	/*小物件碰碰車*/
	.topicon_02 #svg_BumperCars { z-index:0; position:absolute; top:104px; left:190px;}
			
	/*小物件3跳跳馬*/
	.topicon_02 #svg_BouncingHorse1 {display: none; z-index:0; position:absolute; top:268px; right:321px; width:40px; height:40px; -webkit-transform-origin:center bottom; transform-origin:center bottom;}
	.topicon_02 #svg_BouncingHorse2 { display: none;z-index:0; position:absolute; top:300px; right:343px; width:40px; height:40px; -webkit-transform-origin:center bottom; transform-origin:center bottom;}
	
		/*彈性1*/
		.bounce-play  { transform:scaleY(0.6);
						-webkit-animation:bounce-play 0.8s infinite alternate;
								animation:bounce-play 0.8s infinite alternate;}
			@keyframes bounce-play {
			  0 { }
			  20%, 100%   { transform:scaleY(1);}
			}
			
		/*彈性2*/
		.bounce2-play  { transform:scaleY(0.8);
						-webkit-animation:bounce2-play 0.8s infinite alternate;
								animation:bounce2-play 0.8s infinite alternate;}
			@keyframes bounce2-play {
			  0 { }
			  20%, 100%   { transform:scaleY(1);}
			}
		
		/*爆炸*/
		.woowoo-play  { -webkit-animation:woowoo-play 0.8s cubic-bezier(.19,.39,.03,1.33) infinite alternate;
								animation:woowoo-play 0.8s cubic-bezier(.19,.39,.03,1.33) infinite alternate;}
			@keyframes woowoo-play {
			  from { transform:scale(0);}
			  to   { transform:scale(1);}
			}

.colorful{-webkit-animation:colorful 2s steps(2) infinite ;
				animation:colorful 2s steps(2) infinite ;}

			@keyframes colorful {
			  from { filter:hue-rotate(0deg);}
			  to   {filter:hue-rotate(-120deg);}
			}

	/*版頭icon*/
	.Area_top_icon_ { position:absolute;}
	.Area_top_icon_01 { top:586px; left:590px;}
		
	/** 倒數 **/
	.Area_top .TimerNick { position:absolute; top:526px; left:900px; transform:skewY(-30deg);}
	.Area_top .TIMER { text-align:center; color: #fff; line-height:58px; font-weight:300;  font-family:Century Gothic;}
	.Area_top .TIMER b { position:relative; top:0; font-size:inherit; line-height:inherit; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; letter-spacing: -0.05em; }
	.Area_top .TIMER .FontStyle { display:inline-block; margin:0px; padding:0; border:0px; width:auto; font-size:58px; text-align:right; }
	.Area_top .TIMER span { display:inline-block; font-size:58px;  letter-spacing: -0.05em; }

.Area_top .title img{width:470px;}


	/** 倒數閃燈 **/
	.Area_time  {
	  -webkit-animation:TIMERLan 0.25s infinite alternate linear;
		 -moz-animation:TIMERLan 0.25s infinite alternate linear;
		  -ms-animation:TIMERLan 0.25s infinite alternate linear;
		   -o-animation:TIMERLan 0.25s infinite alternate linear;
			  animation:TIMERLan 0.25s infinite alternate linear;}
		@keyframes TIMERLan {
			0%   { 
			  -webkit-transform:scale(1);
				 -moz-transform:scale(1);
				  -ms-transform:scale(1);
				   -o-transform:scale(1);
					  transform:scale(1);	
			}
			100% { 
			  -webkit-transform:scale(0.95);
				 -moz-transform:scale(0.95);
				  -ms-transform:scale(0.95);
				   -o-transform:scale(0.95);
					  transform:scale(0.95);	
			}
		}
		/*倒數秒閃閃*/
		.timeout-play { -webkit-animation:timeout-play 0.5s infinite alternate;
								 animation:timeout-play 0.5s infinite alternate;}
			@-webkit-keyframes timeout-play { 
				0% {opacity:1;} 
				50% {opacity:1;} 
				51% {opacity:0;} 
				100% { opacity:0;}
			}
			@keyframes uptodown-play { 
				0% {opacity:1;} 
				50% {opacity:1;} 
				51% {opacity:0;} 
				100% { opacity:0;}
			}


.Area_top .bank_box{position:absolute;top:388px;left: 604px;transform: skewY(-31deg);height: 125px;width: 350px;overflow: hidden;}
.Area_top .bank_box img{width:100%;}
.Area_top .bank_box ul{padding: 0;}
.Area_top .bank_box ul li{list-style: none;}
.Area_top .bank_box .box_bank_{height:125px;}


.Area_acty2{ z-index:5; position:relative; margin-top:-212px;}
.Area_acty2 ul{position: absolute;top:-17px;left:124px; padding: 0;overflow: hidden;width:970px; }
.Area_acty2 ul::after{content: "";clear:both;}
.Area_acty2 ul li{list-style: none;float:left;}
.Area_acty2 ul li.act_btn_01{position: relative;}
.Area_acty2 ul li.act_btn_01 a:last-child{position: absolute;top:0;left: 0;}


.banner_btn{margin:80px auto 40px;display: block;}
h2{font:bold 40px/50px 微軟正黑體;color: #FFF;position: relative;}
h5{font:24px/26px 微軟正黑體;color: #FFF;}
.line{width:70%;margin: 40px auto;height: 1px;background: #FFF;}
.logo{position:absolute;top:-48px;left:71px;}
.logo img{width: 140px;}
.Area1{margin-top:30px;z-index: 8;}				
.Area1 .title .btn_more{width: 80px;height:40px;background-color: #FFF;color:#f02564;border-radius:50px;font:bold 26px/40px 微軟正黑體;position: absolute;top:80px;right:260px;box-shadow: 2px 2px rgba(0,0,0,0.3); }				
.Area1 .btn_more2{width: 80px;height:40px;background-color: #FFF;color:#f02564;border-radius:50px;font:bold 26px/40px 微軟正黑體;position: absolute;top:5px;right:205px;box-shadow: 2px 2px rgba(0,0,0,0.3); }				
.Area1 .title .btn_data{width: 80px;height:40px;background-color: #FFF;color:#f02564;border-radius:50px;font:bold 26px/40px 微軟正黑體;position: absolute;top:80px;right:170px;box-shadow: 2px 2px rgba(0,0,0,0.3);}				
.Area .title a:hover{background-color: #FFED4F}				
.Area1 .btn_more2:hover{background-color: #FFED4F}				
.Area1 ul{;padding: 0;margin: 0 auto;}
.Area1 ul li{display: inline-block;position: relative;list-style: none;margin:0;}
.Area1 ul li img{border:1px solid #000;}
.Area1 ul li.off i{width: 100%;height: 100%;background: url(Area1_off.png) no-repeat center top;position: absolute;top:0;left: 0;}
.Area1 .box{position:relative;background-color:rgba(255,255,255,0.2);padding: 30px 0 10px;border: 1px solid #FFF;border-radius: 5px;margin-top: 0px;}
.Area1 .content{position:relative;width: 96%;margin: 0 auto;overflow: hidden;padding-bottom: 30px;}
.Area1 .button{top:49%!important;}
.Area1 .pagination{bottom:0px!important;}

.btn_box{position:relative;margin: 60px auto; width: 1220px;}
.btn_box a{display: block;}

/*動畫*/
@-webkit-keyframes turn{
	0%{ opacity:0;z-index: 1;}
	49.5%{ opacity:0;z-index: 1;}
	50%{ opacity:1;z-index: 5;}
	100%{ opacity:1;z-index: 5;}
}
@keyframes turn{
	0%{ opacity:0;z-index: 1;}
	49.5%{ opacity:0;z-index: 1;}
	50%{ opacity:1;z-index: 5;}
	100%{ opacity:1;z-index: 5;}
}

.turn{animation:turn 6s linear infinite;-webkit-animation:turn 6s linear infinite;position: relative;}
.turn2{animation:turn 6s linear infinite reverse;position: absolute;}

/*銀行*/
.Area2 { z-index:1; margin-top:60px; }
.Area2 .title{ position: relative;margin-bottom:-40px;z-index: 3; }
.Area2 .box { position:relative; font-size:0; line-height:0;}
.Area2 .box_1 { position:absolute; top:81px; left:-20px; width:525px;}
.Area2 .box_1 a{margin: 28px auto; }
.Area2 .box a:hover{background: none; }
.Area2 .box_2 { position:absolute; top:32px; left:478px; padding:30px 30px 55px; overflow:hidden; width:637px; height:202px;}
.Area2 .box_2 .go_bt:hover { filter: brightness(105%);
									  -webkit-transform:scale(0.95);
										 -moz-transform:scale(0.95);
										  -ms-transform:scale(0.95);
										   -o-transform:scale(0.95);
											  transform:scale(0.95);}
.Area2 .box_2 ul { margin:0; padding:0; list-style:none;}
.Area2 .box_2 li { float:left; margin:0; padding:0; list-style:none;}
.Area2 .box_2 li img { width:auto; height:200px;}
.Area2 .box_2 .swiper-pagination {  transform:scale(0.7);}
.Area2 .box_2 .swiper-slide { opacity:0.3;
								  -webkit-transition: all 0.2s ease;
									 -moz-transition: all 0.2s ease;
									  -ms-transition: all 0.2s ease;
									   -o-transition: all 0.2s ease;
										  transition: all 0.2s ease;}
.Area2 .box_2 .swiper-slide-active,
.Area2 .box_2 .swiper-slide-prev,
.Area2 .box_2 .swiper-slide-next { opacity:1;}
.Area2 .icon1 { position:absolute; top:-302px; left:112px; overflow:hidden;}
.Area2 .icon1 span { position:relative; top:20px; display:block; width:464px; height:369px;}
.Area2 .icon1 span img {}
.Area2 .icon1 span b { position:absolute; top:0; left:0; display:block; width:100%; height:200%; background-position: center top; background-repeat:no-repeat; background-size:100%;}
.Area2 .icon1 span b:nth-of-type(1) { background-image:url(icon1_01.png);}
.Area2 .icon1 span b:nth-of-type(2) { background-image:url(icon1_02.png);}
.Area2 .icon1 span b:nth-of-type(3) { background-image:url(icon1_03.png);}
.Area2 .icon1 span b:nth-of-type(4) { background-image:url(icon1_04.png);}
.Area2 .box .button { display:none;} 
.Area2:hover .box .button { display: block;} 

.Area2_22 {margin: 100px auto 0px;}
.Area2_22 .box {position: relative;margin: 0px auto 20px;overflow: hidden;padding-bottom: 25px;}
.Area2_22 .box ul { margin:0 auto 0; padding:0; list-style:none;overflow: hidden;width: 1185px}
.Area2_22 .box li { float:left; margin:8px; padding:0; list-style:none;}
.Area2_22 .box li img{width: 280px;}
.Area2_22 .button{top:40%!important;}
.Area2_22 .pagination{bottom:5px!important;}
.Area2_22 .box .button { display:none;} 
.Area2_22:hover .box .button { display: block;} 

.Area3{margin-top:60px;}
.Area3 .title .btn_more{width: 80px;height:40px;background-color: #FFF;color:#f02564;border-radius:50px;font:bold 26px/40px 微軟正黑體;position: absolute;top:90px;right:170px;box-shadow: 2px 2px rgba(0,0,0,0.3); }			
.Area3 .box{background-color:rgba(255,255,255,0.2);padding: 40px 0 10px;border: 1px solid #FFF;border-radius: 5px;margin-top: 0px;}

.Area3 .count{font:bold 40px/60px 微軟正黑體;background:rgba(0,0,0,0.4);color: #FFF;width: 400px;/*border-radius: 50px;*/margin: 10px auto; }
.Area3 .count h3{font:bold 44px/60px Century Gothic;vertical-align: bottom; width: 80px;overflow: hidden;display:inline-block;margin: 0;}
.Area3 ul{padding:0;margin: 0 auto;}
.Area3 ul li{list-style: none;display: inline-block;margin: 8px;width: 370px;}
.Area3 ul li img{width: 100%;}

.Area4{position: relative;margin: 70px auto 0px;}
.Area4 .box {position: relative;margin: 0px auto 20px;}
.Area4 .box .content{width: 92%;overflow: hidden;margin: 0 auto;padding-bottom: 30px;}
.Area4 .box ul { margin:0; padding:0; list-style:none;}
.Area4 .box li { float:left; margin:0; padding:0; list-style:none;}
.Area4 .button{top:40%!important;}
.Area4 .pagination{bottom:5px!important;}

/*秒殺倒數*/
.Area_daysale { position:relative;margin-top: 80px; overflow:inherit; color:#fffF00;}
.Area_daysale .TIMER { z-index: 10; display: block;position: absolute; top:15.5%; left:52.4%; margin:0px; margin-left:60px; padding: 0px; width:320px; text-align: left;color:#FFFF00;}
.Area_daysale .TIMER_text { display:inline-block; margin:0px; padding:0px; border:0px; width:100px; height:60px; font:60px/60px "Century Gothic";  letter-spacing:0px; text-align:right; background:transparent; }
.Area_daysale .TIMER #HH  { margin-right:30px;}
.Area_daysale .TIMER #MM  { margin-right:30px;}
.Area_daysale .TIMER #SS  { margin-right:0px;}
.Area_daysale .TIMER_DAY { position:absolute; top:7%; left:11%;  display:block; width:260px; font-size:94px; font-weight:800; letter-spacing:-5px; font-family:Century Gothic;text-align:center;/* text-shadow:5px 5px 0 rgba(0,0,0,0.3);*/}
.Area_daysale .TIMER_DAY small { padding:0 5px; font-size:40px;}

.Area5  {margin:0px auto 80px;}
.Area5 .box {position: relative;margin: 0px auto 20px;width: 88%;}
.Area5 .box .content{width: 90%;overflow: hidden;margin: 0 auto;padding-bottom: 30px;}
.Area5 .box ul { margin:0; padding:0; list-style:none;}
.Area5 .box li { float:left; margin:0; padding:0; list-style:none;}
.Area5 .button{top:44%!important;}
.Area5 .pagination{bottom:5px!important;}



/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}