@charset "big5";

/*基本*/
body {margin: 0; padding:0;}

/*全BOX版面*/
.WRAPPER { position: relative;	display: inline-block;	margin: 0;	padding: 0 0 40px;	width:100%; min-width:1220px; overflow:hidden; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background: url(bg.jpg) repeat center top;}
.WRAPPER img { border:0; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		.WRAPPER { min-width: inherit;  background: url(m_bg.png) repeat center top; background-size:100%;padding-bottom: 50vw}
		.WRAPPER img {  width:100%; height:auto;}
	}

/*背景*/
.bgtop { position: absolute; top:0px; left:0; width:100%; min-width:1220px; height:880px; background: url(bgtop.jpg) no-repeat center top;}

/*--- 手機背景---*/
.bg { z-index:0; position:absolute; width:100%; height:0; padding-bottom:100%; overflow:hidden; top:44px;}
.bg .bgtop     { position:absolute; top:0; left:0; margin:0; padding:0; width:100%;min-width:inherit;height:100%; background: url(bgtop.jpg) no-repeat center top; background-size:100%;}
.bg .bgtop_top { position:absolute; top:0; left:0; width:100%; height:100%; background: url(bgtop_07.png) no-repeat center top; background-size:100%;}
.bg .bgtop_03  { position:absolute; top:0; left:0; width:100%; height:100%; background: url(bg03.png) repeat-x center top;background-size:100% ;
	animation: background 40s;
    -webkit-animation: background 40s;
	animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;}
.bg .bgtop_02 { position:absolute; top:0; left:0; width:100%; height:100%; background: url(bg02.png) repeat-x center top;background-size:100% ;
	animation: background 10s;
    -webkit-animation: background 10s;
	animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;}
.bg .bgtop_01 { position:absolute; top:0; left:0; width:100%; height:100%; background: url(bg01.png) repeat-x center top;background-size:100% ;
	animation: background 5s;
    -webkit-animation: background 5s;
	animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;}	

 @keyframes background {
	 100% {background-position: -100vw 0px}
}
@-webkit-keyframes background {
	 100% {background-position-x: -100vw}
}

.momoco {z-index: 10; position: absolute; top: 57vw; left: 5%; width: 20vw;-webkit-animation:run_phone 1s ease ;animation:run_phone 1s ease}
.momoco img{ width:100%; height:auto;}
	@-webkit-keyframes run_phone { 
		0%   { -webkit-transform: translate(-30vw,10vw); } 
		100% { -webkit-transform: translate(0,0);}
	}
	@keyframes run_phone { 
		0%   { transform: translate(-30vw,10vw);} 
		100% { transform: translate(0,0);}
	}

.coin {z-index: 9; position: absolute; top: 4vw; left: 12%; right: 80%;-webkit-animation:coin_move 10s linear infinite ;animation:coin_move 10s linear infinite}
.coin  img{ width:100%; height:auto;}
	@-webkit-keyframes coin_move  { 
		0%   { -webkit-transform: translate(100vw,62vw); } 
		50% { -webkit-transform: translate(0,62vw);}
		55% { -webkit-transform: translate(0,-80vw) scale(0.05);}
	}
	@keyframes coin_move  { 
		0%   { transform: translate(100vw,62vw);} 
		50% { transform: translate(0,62vw);}
		55% { transform: translate(0,-80vw) scale(0.05);}
	}
		

/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
.Area .go_bt:hover {filter: hue-rotate(-30deg);
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
	}

/*版頭*/
.Area_top { height:658px;}
.Area_top .top_box {position: relative; display: block;margin: 0 auto;padding: 0; width: 1220px; height: 2000px;}
.Area_top .momologo { z-index:2; position:absolute; top:15px; left:50%; margin-left:-580px;}
.Area_top .momologo a { display:block; width:220px; height:30px; background: url(momo_logo.png) no-repeat;}
.Area_top .momologo a:hover{ background: url(momo_logo_on.png) no-repeat;}
.Area_top .go_bt:hover { filter: brightness(110%);}

/*背景*/
.bgtop { z-index:0; position: absolute; top:0; left:0; width:100%; min-width:1220px; height:630px; background: url(bgtop.png) no-repeat center top;}


    /*背景1藍色*/.Area_top1 { z-index:1; position: absolute; top:0px; left:-390px; width:2000px; height:630px; background: url(Area_top1.png) repeat-x;
							 -webkit-animation: backgroundScroll 45s linear infinite;
								-moz-animation: backgroundScroll 45s linear infinite;
								 -ms-animation: backgroundScroll 45s linear infinite;
									 animation: backgroundScroll 45s linear infinite; }
    
	/*背景2樹*/.Area_top2 { z-index:1; position: relative;position: absolute; top:0px; left:-390px; width:2000px; min-width:1220px; height:630px; background: url(Area_top2.png) repeat-x;
							 -webkit-animation: backgroundScroll 25s linear infinite;
								-moz-animation: backgroundScroll 25s linear infinite;
								 -ms-animation: backgroundScroll 25s linear infinite;
									 animation: backgroundScroll 25s linear infinite;}
 /*背景3磚頭*/.Area_top3 { z-index:1; position: relative;position: absolute; top:0px; left:-390px; width:2000px; min-width:1220px; height:645px; background: url(Area_top3.png) repeat-x;
 							 -webkit-animation: backgroundScroll 15s linear infinite;
								-moz-animation: backgroundScroll 15s linear infinite;
								 -ms-animation: backgroundScroll 15s linear infinite;
									 animation: backgroundScroll 15s linear infinite;}

			.Area_top4 { z-index:1; position: relative; width:100%; min-width:1220px;}
			.Area_top4 .momoco_pc {position: absolute;top: 445px;left:10px;display: inline-block; width: 144px;  height: 144px;background: url(momo_animation_72.png) no-repeat;
									-webkit-animation: run 0.5s steps(15) infinite;
									   -moz-animation: run 0.5s steps(15) infinite;
								        -ms-animation: run 0.5s steps(15) infinite;
									        animation: run 0.5s steps(15) infinite;}
											
			 .Area_top5 { z-index:1; position: relative; width:100%; min-width:1220px;padding-top: 110px;}
	/*主標*/.top_title1 { z-index:1; position: absolute; top:20; left:130px;}
	/*副標*/.top_title2 { z-index:3; position: relative; margin-top:-29px;}

@-webkit-keyframes run {
	 0 {background-position-x:    0px}
	 100%{background-position-x: -2160px}
}
 @keyframes run {
	 0 {background-position:0px 0px}
	 100% {background-position: -2160px 0px}
}		
			
	
@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -2000px 0;} 
}
@keyframes backgroundScroll {
from {background-position: 0 0;}  
to {background-position: -2000px 0;}  
}
	

/*區塊1*/
.Area1 { margin-top:0px; width:1220px;}
.Area1 .box {position: relative; margin:0 auto; padding:0; background-color:#0a1230; border:10px solid #353c59; width:1220px; border-radius:20px; box-sizing:border-box;}
.Area1 .box .title{ position:relative; top:0px; left:0px; margin-top:-70px;}
	@media screen and (max-width:767px){
		.Area1 { margin-top:2%; width:100%;}
		.Area1 .box { width:96%;  border-radius:4vw; border:2vw solid #353c59;}
		.Area1 .box .title{margin-top:-7%;}

	}


/*文案區*/
.textArea { color:#fff; text-align:center; margin:2% 5%;}
.textArea a { text-decoration:none;}
.textArea h2 { margin:0; padding:0 0 0 0;  font-size:40px; line-height:2em; letter-spacing:-1px; color:#fff; text-align:center;}
.textArea h3 { margin:0; padding:0 0 15px 0;  font-size:30px; line-height:1.2em;}
.textArea h4 { margin:0; padding:0 0 15px 0;  font-size:30px; line-height:1.2em;}
.textArea h5 { margin:0; padding:0 0 15px 0;  font-size:24px; line-height:1.2em;}
.textArea strong { color:#ffd090;}
.textArea ul { margin:0 auto; padding:0 0 20px 0;text-align: center;}
.textArea ul li { display: inline-block;width: 21%;margin: 0.5%; line-height:1.7em ;border-radius: 10px; padding: 1%; text-align:center; list-style:none; background: rgba(255,255,255,0.7);box-shadow:0px 3px 0 rgba(0,0,0,1); }
.textArea ul li:hover{background: rgba(255,255,255,1); }
.textArea ul li .PD_img{width: 100%;margin: 0 auto;}
.textArea ul li .btn{width:70%;margin: 10px auto 5px;font:bold 24px/1.5em 微軟正黑體;color: #004e96;border-radius: 70px;background:linear-gradient(#b2daff ,#6ea1ed 15%);box-shadow:0px 3px 0 #004e96,0px 5px 5px rgba(0,0,0,0.4);}
.textArea table { margin-top:20px; margin-bottom:20px; border-collapse:collapse; width: 100%; text-align:center; font-size:22px; line-height:1.5em; text-align:center;  color:#000; background-color:#FFF;}
.textArea th { padding:5px; border:1px solid #ddd; background:#ddd; font-size:0.8em; }
.textArea tr:nth-child(1) { color:#fff; background:#af6b00;}
.textArea td { padding:5px; border:1px solid #5e3900; font-size:0.8em; width:50%; }
.textArea td:nth-child(1) { width:33%;}
.textArea td:nth-child(2) { width:33%;}
.textArea .table2 { margin-top:20px; margin-bottom:20px; border-collapse:collapse; text-align:center;font-size:22px; line-height:1.5em;  text-align:center}
.textArea .table2 th { padding:5px; border:1px solid #ddd; background:#ddd; font-size:0.8em; }
/*.textArea .table2 tr:nth-child(1) { background:#000;}*/
.textArea .table2 td { padding:5px; border:1px solid #ddd; font-size:0.8em; width:20%; }
.textArea .table2 td:nth-child(1){ width:35%; font-weight:800;}
.textArea .table2 td:nth-child(2){ width:15%;}
.textArea .table2 td:nth-child(3){ width:15%;}
.textArea .table2 td:nth-child(4){ width:35%;}
.textArea .table2 td a{ text-decoration:none; color:#FF0; background:#000; padding:2px 5px; border-radius:20px;}
.textArea .table2 td b{ color:#f00; }

.textArea .buttonBase { text-align:center;}
.textArea .buttonArea { position: relative;	display: inline-block;	margin: 10px 10px 40px; }
.textArea .buttonArea div { display: inline-block; margin:0; padding:0 0 0 40px; border:3px solid #ffc980;  font-size:36px; line-height:70px; font-weight:bold;  color:#fff; text-align:center;letter-spacing:-2px; background:#B20015; border-radius:60px;}
.textArea .buttonArea div:hover { background:#71121C; }
.textArea .buttonArea div .btnGO { margin:0; padding:15px 20px 0 20px;}
	@media screen and (max-width:767px){
		.textArea {margin:0 auto;padding-bottom: 5vw}
		.textArea h2 { font-size:30px; line-height:2em; }
		.textArea h3 { font-size:18px; line-height:1.2em; }
		.textArea h4 { font-size:16px; line-height:1.2em; }
		.textArea h5 { font-size:16px; line-height:1.2em; }
		.textArea p { margin:0 3% ;font-size:14px; line-height:1.2em; }
		.textArea ul { margin:0 auto; padding:0;text-align: left;margin-left: 3%;}
		.textArea ul li { width: 47%;padding: 2%;box-sizing: border-box;margin-bottom: 2vw;background-color:#FFF;}
		.textArea ul li .btn{font:bold 4.5vw/1.5em 微軟正黑體;}
		.textArea table { margin:0 2%; border-collapse:collapse; width:96%; height:auto;text-align:center; font-size:1em;  text-shadow: none;}
		.textArea table tr {width:10%; height:auto;}
		.textArea table td { width:10%; height:auto;}
		.textArea .table2 { margin:0 2%; border-collapse:collapse; width:96%; height:auto;text-align:center;  font-size:1em; line-height:1.2em;}
		.textArea .table2 th { padding:5px; border:1px solid #ddd; background:#ddd; font-size:0.8em; }
		/*.textArea .table2 tr:nth-child(1) { background:#000;}*/
		.textArea .table2 td { padding:5px; border:1px solid #ddd; font-size:0.8em; width:20%; }
		.textArea .table2 td:nth-child(1){ width:30%;}
		.textArea .table2 td:nth-child(2){ width:20%;}
		.textArea .table2 td:nth-child(3){ width:15%;}
		.textArea .table2 td:nth-child(4){ width:35%;}
		.textArea .table2 td a{ text-decoration:none; color:#FF0; background:#000; padding:2px 5px; border-radius:20px;}
		.textArea .table2 td b{ color:#f00; padding:0;}
		.textArea .buttonBase { text-align: center; text-shadow: none;}
		.textArea .buttonArea {margin: 10px 0 0px;}
		.textArea .buttonArea div { font-size:20px; line-height:50px; margin-bottom:15px;}
		.textArea .buttonArea div .btnGO { margin:0; padding:10px 10px 0 20px; width:auto; height:40px;}
	}
	
.Area3 .img_box{width:100%;position:relative;margin:0 auto 20px; padding-top:125%;background-color:rgba(255,255,255,1);}
.Area3 .img_box img{width:100%;}
.Area3 .img_box .img01_1{width:18%;position:absolute;top:26%;left:3%}
.Area3 .img_box .img01_2{width:18%;position:absolute;top:26%;left:23%}
.Area3 .img_box .img01_3{width:18%;position:absolute;top:26.5%;left:43%}
.Area3 .img_box .img02_1{width:30%;position:absolute;top:2%;left:2%}
.Area3 .img_box .img02_2{width:30%;position:absolute;top:2%;left:33%}
.Area3 .img_box .img03{width:34%;position:absolute;top:2%;left:64%}
.Area3 .img_box .img04{width:29%;position:absolute;top:40%;left:2%}
.Area3 .img_box .img05{width:29%;position:absolute;top:40%;left:33%}
.Area3 .img_box .img06{width:47%;position:absolute;top:77%;left:2%}
.Area3 .img_box .img07{width:47%;position:absolute;top:88%;left:3%}
.Area3 .img_box .img08{width:47%;position:absolute;top:77%;left:51%}

.Area3 .img_box2{width:100%;position:relative;margin:0 auto 20px;padding-top:55%;background-color:rgba(255,255,255,1);}
.Area3 .img_box2 img{width:100%;}
.Area3 .img_box2 .img09{width:29%;position:absolute;top:2%;left:0.5%}
.Area3 .img_box2 .img10{width:29%;position:absolute;top:2%;left:30%}
.Area3 .img_box2 .img11{width:43.8%;position:absolute;top:2%;left:60%}
	@media screen and (max-width:767px){
.Area3 .img_box2{margin:0 auto 5vw;}
.Area3 .img_box{margin:0 auto 5vw;}		
	}
/*隱鑶*/
.for_pc {}
.for_m { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_m { display: block !important;}
	}
