@charset "big5";
/* CSS Document */

/*基本*/
html, body{ margin:0; padding:0; background-color:rgba(22,22,22,1); }

/*全BOX版面*/
.WRAPPER { z-index:0; position: relative; display:block; margin: 0 auto; padding:0; width:100%;  min-width:1220px; text-align:left; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		.WRAPPER { padding-bottom:10vw; min-width: inherit;  overflow:hidden;}
		.WRAPPER img {  width:100%;  height:auto;}
	}
	

/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(110%);
  -webkit-transform:none;
	 -moz-transform:none;
	  -ms-transform:none;
	   -o-transform:none;
		  transform:none;}
.Area1220 { margin:0 auto; width:100%;}
.Area960 { margin:0 auto; width:100%;}
	@media screen and (min-width:768px){
		.Area .go_bt:hover {
		  -webkit-transform:translateY(-6px);
			 -moz-transform:translateY(-6px);
			  -ms-transform:translateY(-6px);
			   -o-transform:translateY(-6px);
				  transform:translateY(-6px);}		
		.Area1220 { width:1220px;}
		.Area960 { width:960px;}
	}


/*區塊_切割PC*/
.Area_gird { margin: 0 auto; padding:0;}
.Area_gird:after  { content: ""; display:block; clear:both;}
	@media screen and (min-width:768px){
		.Area_1bn_PC a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn_PC a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn_PC a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_4bn_PC a { float:left; margin:0 0.5% 2% ; padding:0; width:24%; list-style: none;}
		.Area_5bn_PC a { float:left; margin:0 0.5% 2% ; padding:0; width:19%; list-style: none;}
		.Area_1bn_nopadding_PC a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding_PC a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding_PC a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		.Area_6bn_nopadding_PC a { float:left; margin:0; padding:0; width:16.6%; list-style: none;}
	}
	
/*區塊_切割Phone*/
	@media screen and (max-width:767px){
		.Area_1bn_Phone a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn_Phone a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn_Phone a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding_Phone a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding_Phone a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding_Phone a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
	}


/*活動標*/
.Area_logo   { z-index:10; position:absolute; top:50px; left:50%; margin-left:-570px; width:0; }
.Area_logo a { display:block;}
	@media screen and (max-width:767px){
		.Area_logo   { top:44px; left:2%; margin-left:0; width:17%; }
	}

/*PC背景*/
	@media screen and (min-width:768px){
		.bgtop { z-index:-40; position:absolute; top:0; left:0; width:100%; height:1600px; background: url(bgtop.jpg) no-repeat center top;}
		/*.bgtop2 { z-index:-41; position: absolute; top:1500px; left:0; width:100%; min-width:1220px; height:1200px; background: url(bgtop2.jpg) repeat-y center bottom;}*/
/*背板*/.Area_top1 { z-index:1; position: absolute; top:225px; left:0; width:100%; min-width:1220px; height:880px; background: url(Area_top1.png) no-repeat center top;}
/*音響*/.Area_top2 { z-index:1; position: relative;}
		.Area_top2 span { position: absolute; top:260px; left:0; width:100%; min-width:1220px; height:880px; background: url(Area_top2.png) no-repeat center top;}
/*金幣*/.Area_top3 { z-index:1; position: relative;}
		.Area_top3 span { position: absolute; top:250; left:-50px; width:100%; min-width:1220px; height:880px; background: url(Area_top3.png) no-repeat center top;}
		
	}


/*Phone背景*/
	@media screen and (max-width:767px){
		.m_bgtop { z-index:-40; position: absolute; top:0; left:0; width:100%; height:100%; background: url(m_bgtop.jpg) no-repeat center 44px; background-size:100%;}
		.m_Area_top3 { z-index:1; position: relative;}
		.m_Area_top3 span { position: absolute; top:0; left:-50px; width:100%; min-width:1220px; height:880px; background: url(Area_top3.png) no-repeat center top;}
	}
	

/*版頭*/
.Area_top { height:750px; }
.Area_top > .box { }
	@media screen and (max-width:767px){
		.Area_top { margin-top:0; height:auto;}
		.Area_top > .box .box_1 { padding-top:0vw; }
	}
	
	/*主標*/.top_title1 { z-index:1; position: relative; top:190px;}
	/*副標*/.top_title2 { z-index:3; position: relative; margin-top:-55px;}
			@media screen and (max-width:767px){
				/*主標*/.top_title1 { padding-top:0;top:0;}
				/*副標*/.top_title2 { margin-top:-1vw;}
			}
			
		/*查詢詳情btn*/
.top_btn{top:255px;text-align: right}
		.btn_ a { display:block; border-radius:100px; padding:0 25px; background-color:rgba(0,0,0,0.6); font-size:25px; line-height:40px; color:#fff;}	
		.btn_list { z-index:2; position:relative; top:25px; right:160px;}
		.btn_more { z-index:2; position:relative; top:-37px; right:23px;}
			@media screen and (max-width:767px){
				.top_btn{position: absolute!important;top:2vw;text-align: right}
				.btn_ a { border-radius:100px 0 0 100px; padding:0 2vw 0 4vw; font-size:4vw; line-height:7vw;}
				.btn_list { top:5%; right:3vw;width: 23vw;}
				.btn_more { top:5%; right:3vw;width: 23vw; }
			}
		


.Area2 .btn_reg{position:absolute;bottom:150px;left: 105px;}
.Area2 .count{position:absolute;bottom:95px;left: 155px;font: 36px/40px 微軟正黑體;color:#FFF;}
	@media screen and (max-width:767px){
.Area2 .btn_reg{position:absolute;width: 40vw;bottom: 17%;left: 7%;}	
.Area2 .count{position:absolute;bottom:9%;left: 13%;font: 5vw/5.5vw 微軟正黑體;color:#FFF;}
}


.Area3{margin-top:40px;}
.Area3 .btn_reg{position:absolute;bottom:150px;left: 105px;}
.Area3 .count{position:absolute;bottom:95px;left: 155px;font: 36px/40px 微軟正黑體;color:#FFF;}
	@media screen and (max-width:767px){
.Area3{margin-top:4vw;}
.Area3 .btn_reg{position:absolute;width: 40vw;bottom: 17%;left: 7%;}	
.Area3 .count{position:absolute;bottom:9%;left: 13%;font: 5vw/5.5vw 微軟正黑體;color:#FFF;}
}


.Area4{margin-top:40px;}
.Area4 .btn_reg{position:absolute;bottom:150px;left: 105px;}
.Area4 .count{position:absolute;bottom:95px;left: 155px;font: 36px/40px 微軟正黑體;color:#FFF;}
	@media screen and (max-width:767px){
.Area4{margin-top:4vw;}
.Area4 .btn_reg{position:absolute;width: 40vw;bottom: 17%;left: 7%;}	
.Area4 .count{position:absolute;bottom:9%;left: 13%;font: 5vw/5.5vw 微軟正黑體;color:#FFF;}
}


.Area5{margin-top:40px;}
.Area5 .btn_reg{position:absolute;bottom:150px;left: 105px;}
.Area5 .count{position:absolute;bottom:95px;left: 155px;font: 36px/40px 微軟正黑體;color:#FFF;}
	@media screen and (max-width:767px){
.Area5{margin-top:4vw;}
.Area5 .btn_reg{position:absolute;width: 40vw;bottom: 17%;left: 7%;}	
.Area5 .count{position:absolute;bottom:9%;left: 13%;font: 5vw/5.5vw 微軟正黑體;color:#FFF;}
}


.Area6{margin-top:40px;}
.Area6 .btn_reg{position:absolute;bottom:150px;left: 105px;}
.Area6 .count{position:absolute;bottom:95px;left: 155px;font: 36px/40px 微軟正黑體;color:#FFF;}
	@media screen and (max-width:767px){
.Area6{margin-top:4vw;}
.Area6 .btn_reg{position:absolute;width: 40vw;bottom: 17%;left: 7%;}	
.Area6 .count{position:absolute;bottom:9%;left: 13%;font: 5vw/5.5vw 微軟正黑體;color:#FFF;}
}





@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes animate-negative {
  0% {
    width: 100%;
  }
}
@keyframes animate-negative {
  0% {
    width: 100%;
  }
}




/*phone手機輪播用*/
.WRAPPER_swiper-wrapper { }
.WRAPPER_swiper-wrapper ul { margin:0; padding:0; list-style:none;}
.WRAPPER_swiper-wrapper li { }
	@media screen and (max-width:767px){
		.WRAPPER_swiper-wrapper { position: relative; display:block; margin: 0 auto; padding: 0; width:100%; }
		.WRAPPER_swiper-wrapper ul { margin:0; padding:0; list-style:none;}
		.WRAPPER_swiper-wrapper li { height: 100%; box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px; z-index: 1;
									-webkit-transform-style: preserve-3d;
									-moz-transform-style: preserve-3d;
									-ms-transform-style: preserve-3d;
									transform-style: preserve-3d; transform:perspective(1000px);}
		.WRAPPER_swiper-wrapper li .li_box { transform-origin:top center;}
		.WRAPPER_swiper-wrapper .swiper-pagination { right:5px !important; }
		.WRAPPER_swiper-wrapper .swiper-pagination span { margin:10px 0 !important; width:6px; height:6px; background-color:#fff;}
		.WRAPPER_swiper-wrapper .swiper-pagination-bullet { opacity:0.3; }
		.WRAPPER_swiper-wrapper .swiper-pagination-bullet-active {  opacity:1; background-color:#EF2334 !important;}
		.WRAPPER_swiper-wrapper .gobtn_btn { z-index:10; position:absolute; bottom:0; left:0; width:100%; height:38px; text-align:center;}
		.WRAPPER_swiper-wrapper .gobtn_btn a { display:block;}
		.WRAPPER_swiper-wrapper .gobtn_btn img { width: auto; height:38px;}
		.WRAPPER_swiper-wrapper .swiper-button-disabled { display:none !important;}
	}
	
/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
	