@charset "big5";
/* CSS Document */

/*回版頭*/
#gotop { display: none; position:fixed; z-index:5; right:20px; bottom:30px; padding:14px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#fff;  background-color:rgba(0,0,0,0.5); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
#gotop:hover { padding-top:40px;} 
#gotop::before { content: ""; position:absolute; top:7px; left:19px; width: 0; height: 0; border: 4px solid #fff; border-color: transparent transparent #fff; }
/*白色*/
#gotop { color:#000; background-color:rgba(255,255,255,0.7);}
#gotop::before { border-color: transparent transparent #000;}
	@media screen and (max-width:767px){
		#gotop { right:10px; bottom:50px; }
	}


/*PC分會場header*/
.cantantBase { z-index:10; position: absolute; top:0; left:0; width:100%; text-align:right; background-color: rgba(58,58,58,0.75);
				  -webkit-transition: all 0.3s ease;
					 -moz-transition: all 0.3s ease;
					  -ms-transition: all 0.3s ease;
					   -o-transition: all 0.3s ease;
						  transition: all 0.3s ease;}
.cantantBase.fixactive { background-color: rgba(0,0,0,0.8);  box-shadow:0 2px 20px rgba(0,0,0,.3); }
.cantantBase .box { position:relative; margin:0 auto; width:1220px; height:50px;}
.cantantBase .momologo { z-index:1; position:absolute; top:15px; left:50%; transform:translateX(-590px); }
.cantantBase .momologo a { display:block; width:200px; height:22px; background:url(momo_logo.png);}
.cantantBase .momologo a:hover { background:url(momo_logo_on.png);}
.cantantBase ul {display:inline-block;  margin:0 5px 0 0; padding:0; list-style:none;  text-align:center; }
.cantantBase ul li { float:left; display:inline-block; position:relative; margin:0; padding:0; margin-left:30px; font-size:16px; line-height:50px;}
.cantantBase ul li::before { content:""; position:absolute; top:30%; left:-15px; display:block; width:1px; height:40%; background-color:#fff; opacity:.2; }
.cantantBase ul li:first-child::before { display:none;}
.cantantBase ul li a { display:block; color:#fff;}
.cantantBase ul li:hover a{ color:#ffffc8;}
.cantantBase ul .btn_on a { color:#ffffc8;}
/*
	@media screen and (max-width:767px){
		.cantantBase { background-color:#fff; box-shadow:0 2px 10px rgba(0,0,0,.2);}
		.cantantBase * { -webkit-box-sizing:border-box; box-sizing:border-box;}
		.cantantBase .box { width:100%; height:44px;}
		.cantantBase .momologo { display:none;}
		.cantantBase ul { margin:0 auto; width:100%;}
		.cantantBase ul li { margin-left:0; width:20%; height:44px; font-size:12px; line-height:16px; text-shadow: none;}
		.cantantBase ul li::before { display:none;}
		.cantantBase ul li a { padding-top:5px; color:#000;}
		.cantantBase ul li:hover a{ color:#C63002; }
		.cantantBase ul .btn_on a { color:#C63002;}
		.cantantBase ul .btn_on { border-bottom: 3px solid #C63002}
	}*/


/*通知浮層*/
.agreeArea { z-index:1; position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:700px; font-family:"Century Gothic", "微軟正黑體", sans-serif; /*text-align:justify; word-break:break-all;*/}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea .box .txtArea { height:600px; overflow:auto; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.agreeArea .box h3 { margin:0; padding:0; height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#000; background-color:#ffd710;}
.agreeArea .box p { margin:10px auto; margin-top:1rem; padding:0 0 0 24px; text-align:center; font-size:1em; text-align:left; line-height:1.2em; color:#000;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.agreeArea .box ul,
.agreeArea .box ol { margin:0;}
.agreeArea .box li { margin:0 20px 10px 0px; font-size:0.9em;}
.agreeArea .box table { margin: 0 5%; width:90%;  border-collapse:collapse;}
.agreeArea .box th { padding:5px; border:1px solid #CCC; background:#eee; font-size:0.8em; }
.agreeArea .box td { padding:5px; border:1px solid #CCC; font-size:0.8em; vertical-align:top; }
.agreeArea .box table ul,
.agreeArea .box table ol { padding:0 0 0 20px;}
.agreeArea .box table li { margin:0 0 10px 0px;}


/*浮層嘿嘿*/
.blackBox_play {}
.blackBox { display:none; z-index:9; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75); }
.blackBox * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox  a { text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox .Boxclose { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}
.blackBox .box h4 {height: 3rem; font-size: 0.8rem; font-weight: 100; text-align: center; color: #000;}

.blackBox_IT { display:block; z-index:inherit; position:static; width:auto; height:auto; background: none;}


/*分享浮層*/
.floatBox { position:relative; margin:2% auto; padding: 2% 0; width:700px; height:auto; background-color:rgba(34,34,34,0.75); text-align:center; position:relative; border-radius:20px;}
.floatBox img { width:100%; height:auto;}
.floatBox .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.floatBox .go_bt:hover { filter: brightness(120%);
  -webkit-transform:translateY(-6px);
     -moz-transform:translateY(-6px);
      -ms-transform:translateY(-6px);
       -o-transform:translateY(-6px);
          transform:translateY(-6px);}
.floatBox .closeButton { display:block; cursor:pointer; position:absolute; top:-20px; right:-20px; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none; z-index:2}
.floatBox .closeButton:hover {background-color:#666; text-decoration:none;}
.floatBox .title  { margin:0; border-bottom:1px solid #fff59c; font:bold 60px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#fff59c; text-align:center}
.floatBox .box_ { margin:0 auto; width:90%;}
.floatBox .box_:after { content: ""; display:block; clear:both;}
.floatBox .box_btn { margin:20px auto 0; width:90%;}
.floatBox .box_btn a { display:block; margin:3% 0;}
.floatBox .box_btn img { width:100%;}
.floatBox .box_btn2 a { float:left; margin:0 1%; width:48%;}
	@media screen and (max-width:767px){
		.floatBox { padding:5% 0; width:90%; height: auto;}
		.floatBox .closeButton {display:block; position:absolute; top:-15px; right:-15px; width:30px; height:30px; border-radius:50%; border:solid 2px #999999; font:bold 30px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none; z-index:2}
		.floatBox .closeButton:hover {background-color:#666; text-decoration:none}
		.floatBox .title  { margin:0 5%; font-size:30px;}
		.floatBox .box_btn { margin:2% auto 0; }
	}

/*footer*/
.footer { margin:50px auto 0; padding:100px 0;  font-family:"Century Gothic", "微軟正黑體", sans-serif; background:#3d2d21; text-align:left; color:#FFF;}
.footer img{ width:100%; height:auto;}
.footer .txtArea { height:auto; overflow:auto; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.footer h3 { margin:0; padding:0 0 0 10px; height:3rem; font-size:2.25rem; font-weight:800;line-height:3rem; }
.footer p { margin:10px auto; margin-top:1rem; padding:0 0 0 10px; text-align:center; font-size:1.25em; text-align:left; line-height:1.2em;}
.footer p b { display:block; padding-bottom:0px;}
.footer p span { }
.footer .qrcodeimg { text-align:center; }
.footer .qrcodeimg a { color:#3d2d21;}
.footer .qrcodeimg img { width:100%; height:auto;}
.footer .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.footer .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.footer .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.footer .agree_table th a{ color:#c70026; text-decoration:underline;}
.footer .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.footer ul,
.footer ol { margin:0;}
.footer li { margin:0 20px 10px 0px; font-size:1em;  color:#FFF0CF;}
.footer li a{  color:aqua;}
.footer table { margin: 0 5%; width:90%;  border-collapse:collapse;}
.footer th { padding:5px; border:1px solid #CCC; background:#eee; font-size:0.8em; }
.footer td { padding:5px; border:1px solid #CCC; font-size:0.8em; vertical-align:top; }
.footer table ul,
.footer table ol { padding:0 0 0 20px;}
.footer table li { margin:0 0 10px 0px;}
	@media screen and (max-width:767px){
		.footer { padding:15% 0;}
		.footer p {  font-size:1.1em;}
		.footer ul,
        .footer ol { padding:0 0 0 8vw!important;}
	}
/*遠進高斯模糊*/
.zoomfilter-play  { -webkit-animation:zoomfilter-play 0.5s ease-in-out ;
				            animation:zoomfilter-play 0.5s ease-in-out  ;}
	@-webkit-keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
	@keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
							

/*飄-上下*/
.uptodown-play { -webkit-animation:uptodown-play 1.5s infinite alternate;
				         animation:uptodown-play 1.5s infinite alternate;}
	@-webkit-keyframes uptodown-play { 
		0% { -webkit-transform: translate(0,-10px);  } 
		100% { -webkit-transform: translate(0,0); }
	}
	@keyframes uptodown-play { 
		0% { transform: translate(0,-10px);  } 
		100% {  transform: translate(0,0); }
	}

/*飄-下上*/
.downtoup-play { -webkit-animation:downtoup-play 1.5s infinite alternate;
				         animation:downtoup-play 1.5s infinite alternate;}
	@-webkit-keyframes downtoup-play { 
		0% { -webkit-transform: translate(0,0);   } 
		100% {  -webkit-transform: translate(0,-10px); }
	}
	@keyframes downtoup-play { 
		0% { transform: translate(0,0); } 
		100% { transform: translate(0,-10px); }
	}
	
/*熱*/
.hue-rotate-play { -webkit-animation:hue-rotate-play 2s linear infinite alternate;
				           animation:hue-rotate-play 2s linear infinite alternate;}
	@keyframes hue-rotate-play {
	  0% { 
		filter:brightness(90%);
	  }
	  50% { 
		filter:brightness(105%) ;
	  }
	  100% { 
		filter:brightness(90%) ;
	  }
	}



/*轉轉3*/
.rotate3-play { -webkit-animation:rotate3-play 20s linear infinite ;
				       animation:rotate3-play 20s linear infinite ;}
	@keyframes rotate3-play {
	  100% { transform: rotate(-360deg);}
	}

/*背景飄上*/
.bgupup-play { -webkit-animation:bgupup-play 40s linear infinite ;
				       animation:bgupup-play 40s linear infinite ;}
	@keyframes bgupup-play {
	  100% { background-position: center -925px; }
	}


/*心跳A*/
.heartbeat-play {-webkit-animation-duration: 1.1s;  
				  animation-duration: 1.1s;  
				 -webkit-animation-name: heartbeat-play;  
				         animation-name: heartbeat-play;  
				 -webkit-animation-iteration-count: infinite;    
				          animation-iteration-count:infinite;/* -webkit-animation-direction: alternate;animation-direction: alternate;*/}
	@-webkit-keyframes heartbeat-play {   
		0%   { -webkit-transform: scaleX(0.98); transform: scaleX(0.95); filter:brightness(120%);} 
		40%  { -webkit-transform: scaleX(1); transform: scaleX(1); filter:brightness(100%);} 
		60%  { -webkit-transform: scaleX(0.98); transform: scaleX(0.95); filter:brightness(120%);} 
		80%  { -webkit-transform: scaleX(1); transform: scaleX(1); filter:brightness(100%);}
		100% { -webkit-transform: scaleX(0.98); transform: scaleX(0.95); filter:brightness(120%);} 
		}
	@keyframes heartbeat-play { 
		0%   { -webkit-transform: scaleX(0.98); transform: scaleX(0.95); filter:brightness(120%);} 
		40%  { -webkit-transform: scaleX(1); transform: scaleX(1); filter:brightness(100%);} 
		60%  { -webkit-transform: scaleX(0.98); transform: scaleX(0.95); filter:brightness(120%);} 
		80%  { -webkit-transform: scaleX(1); transform: scaleX(1); filter:brightness(100%);}
		100% { -webkit-transform: scaleX(0.98); transform: scaleX(0.95); filter:brightness(120%);} 
	}

/*放大縮小*/
.zoominzoomout-play { 
	-webkit-animation-name: zoominzoomout-play;  
			animation-name: zoominzoomout-play;  
	-webkit-animation-duration: 0.5s;  
			animation-duration: 0.5s;
	-webkit-animation-delay: 0s;  
			animation-delay: 0s;  
	-webkit-animation-iteration-count: infinite;    
			animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
			animation-direction: alternate;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
	}
	
/*彈跳*/	
.bounce-play {
				-webkit-animation-name: bounce-play;
						animation-name: bounce-play;
				-webkit-animation-duration: 3s;
						animation-duration: 3s;
				-webkit-animation-timing-function:linear;
						animation-timing-function:linear;
				-webkit-animation-iteration-count:infinite;
						animation-iteration-count:infinite;}
	@-webkit-keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% { -webkit-transform: translateY(0); transform: translateY(0); }
	  10% { -webkit-transform: translateY(-10%); transform: translateY(-10%);  }
	  15% { -webkit-transform: translateY(-5%); transform: translateY(-5%);  }
	}
	@keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% { -webkit-transform: translateY(0); transform: translateY(0); }
	  10% { -webkit-transform: translateY(-10%); transform: translateY(-10%);  }
	  15% { -webkit-transform: translateY(-5%); transform: translateY(-5%);  }
	}


/*彈跳2-超活潑*/	
.bounce2-play { -webkit-animation:bounce2-play 1s -1s infinite alternate ;
				        animation:bounce2-play 1s -1s infinite alternate ;}
	@-webkit-keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}
	@keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}



/*主標微亮*/		  
.minbright-play { -webkit-animation:minbright-play 1s linear infinite alternate; animation:minbright-play 1s linear infinite alternate ;}
	@-webkit-keyframes minbright-play {
	  0% { filter:brightness(100%);  }
	  100% { filter:brightness(120%);  }
	}
	@keyframes minbright-play {
	  0% { filter:brightness(100%);  }
	  100% { filter:brightness(120%);  }
	}

/*閃光1*/				  
.brightness1-play { -webkit-animation:brightness1-play 4s infinite ; animation:brightness1-play 4s infinite ;}
	@keyframes brightness1-play {
	  0% { filter:brightness(100%);  }
	  92% { filter:brightness(100%);  }
	  94% { filter:brightness(200%);  }
	  96% { filter:brightness(100%);  }
	  98% { filter:brightness(200%);  }
	  100% { filter:brightness(100%);  }
	}

/*閃光2*/				  
.brightness2-play { -webkit-animation:brightness2-play 4s infinite ; animation:brightness2-play 0.2s infinite linear alternate ;}
	@keyframes brightness2-play {
	  0%   { filter: hue-rotate(0deg);}
	  100% { filter: hue-rotate(-25deg);}
	}
