@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0;background-color: #150e42;}


/*全BOX版面*/
.WRAPPER { position: relative; display:block; margin: 0 auto; padding:0; width:100%;  min-width:1220px; overflow:hidden; text-align:left; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		.WRAPPER { padding-bottom:0px; min-width:inherit; background-size:30px;}
		.WRAPPER img { width:100%; height:auto;}
	}

	
/*背景*/
.bgtop { z-index:0; position: fixed; top:0; width:100%; height:1295px; background: url(bg.jpg) no-repeat center top;}
.bgtop1 { z-index:0; position: absolute; top:180px; width:100%; height:960px; background: url(drums.png) no-repeat center top;animation:jump 1s linear both infinite;}
.bgtop2 { z-index:0; position: absolute; top:65px; width:100%; height:1500px; background: url(band.png) no-repeat center top;}


.Area_top:hover .bgtop1{animation:jump 1s linear both;}

		@keyframes jump {  
			 0%   {transform: translateY(0); } 
			 10%   {transform: translateY(5px); } 
			 20%   {transform: translateY(0px); } 
			 30%   {transform: translateY(5px); } 
			 40%   {transform: translateY(0px); } 
			 100% {transform: translateY(0px); }
			 }  



	@media screen and (max-width:767px){
		
.bgtopm{position:absolute;top:-44px;left: 0;z-index: 0;}
	}


/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.go_bt:hover { filter: brightness(110%);
  -webkit-transform:translateY(-3px);
     -moz-transform:translateY(-3px);
      -ms-transform:translateY(-3px);
       -o-transform:translateY(-3px);
          transform:translateY(-3px);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
.Area800 { margin:0 auto; width:800px;}
	@media screen and (max-width:767px){
		.Area {width: 96vw!important;}
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:96%;}
		.Area800 { margin:0 auto; width:96%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		/*區塊_兩邊間距*/
	}

/*版頭*/
.Area_top { position:relative; margin-top:125px; }
.Area_top .logoTOP{position:absolute;left: 20px ;top:-60px;}
.Area_top .btn { position: absolute; top:335px; right:50px;}
.Area_top .topmain{margin-left: 111px;}
.Area_top .rline div{content: "";width:450px;height:1px;background-color: #e8039b;display: block;animation: rline 0.8s linear both;animation-delay: 1.2s;}
.Area_top .rline{transform: rotate(-30deg);display: inline-block;position: absolute;top :116px;left: 159px;z-index: -1;}
.Area_top .rline.second{top :403px;left: 657px;z-index: -1;}
.Area_top .Area_top_txt1 { position: absolute;top:440px;left: 300px; }
.Area_top .Area_top_txt1 p { z-index:1; position:absolute; top:0; left:0; margin:0; padding:0 0 0 245px; width:100%; height:100%; -webkit-box-sizing:border-box; box-sizing:border-box; text-align:right;}
.Area_top .Area_top_txt1 p b { float: left; display:block; width:48px; height:70px; margin: 12px 3px; font-size:54px; line-height:70px; border-radius: 7px; font-family:"Century Gothic"; color:#fff; text-align:center; background:#ff578e; border:1px solid #FFF;}
	@media screen and (max-width:767px){
		.Area_top { position: relative; margin-top:-44px;left:0; height:60vw;width: 100%!important;}
		.Area_top .logoTOP{position:absolute;left: 0px ;top:calc( 44px + 5%);width: 40%; }
		.Area_top .topmain{margin-left: 0;}
		.Area_top .btn_more{width:16vw;font:bold 4.5vw/7vw 微軟正黑體;color: #150d49 ;background-color: #f9c988;border-radius: 100px;position: absolute;top:calc( 44px + 4%);right:3vw;}
		.Area_top .btn { top:33vw; right:2%; width:23%;}
		.Area_top .box_ {position: relative;}
		.Area_top .box_2 { margin-top:-5px; -webkit-animation:none; animation:none;}
		.Area_top .rline div{width:46vw;}
        .Area_top .rline{top :36.5%;left: 1%;}
        .Area_top .rline.second{top :66%;left: 53%;}
		.Area_top .Area_top_txt1 { position: absolute;top:inherit;bottom:0; left:0; margin-left:0;}
		.Area_top .Area_top_txt1 img{ position: relative;bottom:0; left:0;}
		.Area_top .Area_top_txt1 p { padding:0 0 0 41vw;margin: -1.2vw;}
		.Area_top .Area_top_txt1 p b { margin:4.5% 0.8vw 0 0; width:4.2vw; height:5.8vw; font:bold 4.5vw/5.8vw  Century Gothic;background-size:100%;border-radius: 3px;}
		.Area_top .slideRight_plus.for_phone{ position: relative;margin-left: 0;}
	}

		@keyframes rline {  
			 0%   {transform: scaleX(0); } 
			 100% {transform: scaleX(1);}
			 }  

.Area_timer{margin:40px auto;}

@media screen and (max-width:767px){
	
.Area_timer{margin:9vw auto 4vw;}	
	
}
/*共用名片樣式*/
.votecard { position:relative;border-radius: 0 0 30px 30px;padding: 10px;}
.votecard * { -webkit-box-sizing:border-box; box-sizing:border-box;}
.votecard ul { display:inline-block; margin:0 auto; padding:20px 0 0;list-style:none; width: 100%;text-align: center;overflow: hidden;}
.votecard ul::after { content: "";clear:both;}
.votecard li { float:left; position:relative; margin:0 0.5% 20px; padding:0px; width:32%;overflow: hidden;border:1px solid #5c5c5c;background-color: #0b0f1a;		}
.votecard li .topicon { z-index:2; position:absolute; top:-44px; left:-29px;}
.votecard li .votecard_box { padding:10px 10px 6px!important;margin-bottom: 5px; overflow:hidden; background:linear-gradient(90deg,#000,#31384a);text-align: left;}
.votecard li .photo {overflow:hidden;width:160px;display: inline-block;}
.votecard li .photo a { display:block;}
.votecard li .photo .go_bt:hover {
								  -webkit-transform:translate3d(0,0,0);
									 -moz-transform:translate3d(0,0,0);
									  -ms-transform:translate3d(0,0,0);
									   -o-transform:translate3d(0,0,0);
										  transform:translate3d(0,0,0);}
.votecard li .photo img {width:100%; height:auto;}

.votecard li .txt { position:relative; padding:5px 0 0 10px!important;  overflow:hidden;;width: 195px;height:160px;display: inline-block;}
.votecard li .txt h3 { float:left; margin:0; padding:0; font-size:18px;line-height: 22px; color:#FFF;overflow:hidden;white-space: nowrap;font-weight: normal; text-align: left!important;}
.votecard li .txt h3.heady{font-weight: 800;}
.votecard li .txt h3 b { overflow:hidden; font-size: 38px;color:#ff578e;font:bold 38px/40px Century Gothic;/*text-overflow: ellipsis;word-break: keep-all;*/}
.votecard li .txt h4 { float:left; margin:0; padding:0; font-size:20px; font-weight:800;}
.votecard li .txt .line { clear:both; padding:5px 0 0; line-height:0;} 
.votecard li .txt .line img { width:100%; height:auto;}
.votecard li .txt p  { margin:0; padding:0; font-size:24px; text-align:center;}
.votecard li .txt p b { padding-left:5px; font-size:40px; font-family:Century Gothic;  color:#ff578e;}
.votecard li .txt h3,
.votecard li .txt h4,
.votecard li .txt p { overflow:hidden; width: 100%; text-overflow: ellipsis;word-break: keep-all;} /*文字溢出時…，強制不換行*/
.votecard li .votecard_btn { margin:0 auto; padding:3px 0; display:inline-block; width:80%; }
.votecard li .votecard_btn a { float:left; display:block; width:46%; text-align:center;margin:0 2%;}

	@media screen and (max-width:767px){
		.votecard  {border-radius: 0 0 9px 9px; padding: 0 1%;}
		.votecard ul { padding:0!important; margin: 0; width:97%;}
		.votecard li { margin:4% 0 4% 0; }
		.votecard li .topicon { top:-5vw; left:-2.5vw; width:14vw;}
		.votecard li .votecard_box { border-width:0; border-radius:0px;text-align: left; padding: 1.5vw;}
		.votecard li .photo { padding:0%; border-radius:0;width: 45%;}
		.votecard li .txt { padding:4%!important; border-radius:0 0 10px 10px;height: auto;width: 100%;}
		.votecard li .txt h3:first-child {margin-top: 4%;}
		.votecard li .txt h3 { font-size:4vw;line-height: 6vw;white-space: nowrap;overflow: hidden;}
		.votecard li .txt h3 b { display:inline-block;font:bold 6vw/6vw 'Century Gothic';vertical-align: bottom}
		.votecard li .txt h4 { font-size:4vw;}
		.votecard li .txt h3 { float: none;}
		.votecard li .txt .line { padding:2vw 0; overflow:hidden;} 
		.votecard li .txt .line img { width:200%; height:auto;}
		.votecard li .txt p  { font-size:4vw;text-align: center}
		.votecard li .txt p b { display:block; font-size:6vw; }
		.votecard li .votecard_btn { padding:2vw 0 0;margin: 0 auto;width:60%;}
	    .votecard li .votecard_btn a { margin: 0 auto;}
		.votecard li .votecard_btn a:first-child { margin-bottom:1.5vw;}
	}


/*人氣王*/
.votecardTOP { position:relative;border-radius: 0 0 30px 30px;padding: 10px;}
.votecardTOP * { -webkit-box-sizing:border-box; box-sizing:border-box;}
.votecardTOP ul { display:inline-block; margin:0 auto;padding: 40px 0 0 20px;list-style:none; width: 100%;text-align: center;overflow: hidden;}
.votecardTOP ul::after { content: "";clear:both;}
.votecardTOP li { float:left; position:relative; margin:0 0.5% 20px; padding:0px; width:32%;overflow: hidden;}
.votecardTOP li .votecard_box { padding: 10px; overflow:hidden; background:linear-gradient(90deg,#000,#31384a);border:1px solid #f99888;text-align: left;}
.votecardTOP li:hover .votecard_box { box-shadow: 0 5px 20px rgba(155,134,71,0.5);}
.votecardTOP li .pt {float: left;}
.votecardTOP li::after{content: "";clear: both;}
.votecardTOP li .photo {overflow:hidden;border: 1px solid #000;display:block;width: 160px;position: relative;top:0px;left:0;}
.votecardTOP li .photo a { display:block;}
.votecardTOP li .photo img {width:100%; height:auto;}
.votecardTOP li .team{position: relative; width:auto;height:50px;top:0;}
.votecardTOP li .txt { position:relative; overflow:hidden; text-align: left;display:block;width:190px;height:160px;padding: 3px 0 0 10px}
.votecardTOP li .txt h3 { float:left;width: 100%; margin:0; padding:0; font-size:18px;line-height: 26px; color:#FFF;overflow:hidden;white-space: nowrap;font-weight: normal;}
.votecardTOP li .txt h4 { float:left; margin:0; padding:0; font-size:20px; font-weight:800;}
.votecardTOP li .votecard_btn { margin:0 auto; padding:5px 0; display:inline-block; width:100%; }
.votecardTOP li .votecard_btn a { float:left; display:block; width:50%; text-align:center;}
	@media screen and (max-width:767px){
		.votecardTOP  {border-radius: 0 0 9px 9px; padding: 4vw 4% 4vw;}
		.votecardTOP .btn_toplist{width: 50%;margin: 2vw auto;}
		.votecardTOP li .team{width: 24vw;height:9vw;right:inherit; border-radius:0 0 5px 5px;  color:#FFF;font:bold 5vw/9vw '微軟正黑體';text-align: center;}
		.votecardTOP ul { padding:0!important; margin:2% auto 0;width: 100%;}
		.votecardTOP li { margin:1% 0;width:100%; }
		.votecardTOP li .votecard_box { border-width:0;text-align: left; padding: 1.5vw 1.5vw 0.5vw 1.5vw;border:1px solid #f99888;}
		.votecardTOP li .photo { padding:0% 0 0 2vw; border-radius:0;left:0vw;width: 39vw;top:0;}
		.votecardTOP li .txt { padding:3% 0 0 3%; border-radius:0 0 10px 10px;width: 48%;top:0;height:32vw;background-size: 100%}
		.votecardTOP li .txt h3 { float: none;font-size:3.5vw;line-height: 6vw;white-space: nowrap;overflow: hidden;}
		.votecardTOP li .votecard_btn { padding:2vw 0 0;}
	    .votecardTOP li .votecard_btn a { width:100%;}
		.votecardTOP li .votecard_btn a:first-child { margin-bottom:1.5vw;}
	}


/*排行榜*/
.Area1 { position:relative;margin-top: -10px;}
.Area1 .box{ background-color:rgba(0,0,0,0.3);border-radius: 20px;}
.Area1 * { -webkit-box-sizing:border-box; box-sizing:border-box;}
.Area1 .title { position:relative;}
.Area1 .title .Area_top3_title1 { position:relative;display: block; top:0;width: auto; padding:15px 25px 0; border-radius: 10px 10px 0 0;margin:0 auto;}
.Area1 .title .btn_toplist { position:absolute; top:33px; right:20px;}
	@media screen and (max-width:767px){
		.Area1{width: 90vw!important;}
	.Area1 .title .btn_toplist { position:absolute;width: 37%; top:1vw; right:0vw;}	
}
	/*名片樣式修改*/
	.Area1 .votecard li:nth-child(2) .photo { background-color:#c3c4c6;}
	.Area1 .votecard li:nth-child(3) .photo { background-color:#c07c2d;}
	.Area1 .votecard li:nth-child(2) .txt:before { background-image:url(votecard_icon1b.png)}
	.Area1 .votecard li:nth-child(3) .txt:before { background-image:url(votecard_icon1c.png)}
	.Area1 .votecard li:nth-child(3n+1) { -webkit-animation-delay:1.0s; animation-delay:1.0s;}
	.Area1 .votecard li:nth-child(3n+2) { -webkit-animation-delay:1.1s; animation-delay:1.1s;}
	.Area1 .votecard li:nth-child(3n+3) { -webkit-animation-delay:1.2s; animation-delay:1.2s;}
	@media screen and (max-width:767px){
		.Area1 { position:relative; margin-top:3vw;}
		.Area1 .title .Area_top3_title1 { width:100%;margin: 0;padding: 0vw 5vw 0;}
		.Area1 .title .btn_toplist { width:33.3%;}
	}

/*階段+搜尋*/
.Area2 { margin: 50px auto 0;}
.Area2 .title { position: relative;}
.Area2 .title .Area2_title1 { position: relative;margin-bottom: 15px;}
.Area2 .box_search { position: absolute;margin: 0;right:482px;bottom:0px; padding:0; text-align: left;}
.Area2 .box_search .input { position:relative; border:2px solid #6a6a6a;box-sizing: border-box; border-radius:8px; overflow:hidden; width:320px; height:40px; font-size:24px; line-height:60px; color:#fff; background-color:#fff;}
.Area2 .box_search .input input {position: relative;top:-12px;left: 0; padding:0 0 0 20px;border: none; width:250px; height:40px; font-size:20px; letter-spacing:-0.05em;  line-height:60px; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:left; }
.Area2 .box_search .input input { -webkit-appearance: none;	/* Safari 和 Chrome，常用於iOS下移除內建樣式 */
									         -moz-appearance: none;	/* FireFox */
										          appearance: none;
												  outline:none; /*取消選取藍框*/}
.Area2 .box_search .input a { position:absolute;  margin:-0.1vw 0 0;top:0; right:0; display:block; padding:7px 15px 10px 10px; text-align:center; background-color:#6a6a6a; color: #FFF;font:bold 20px/24px '微軟正黑體';vertical-align:top;}
.Area2 .box_search .input:hover { border-color:#3f4cb8; background-color:#fff; }
.Area2 .box_search .input:hover a { background-color:#3f4cb8; }
	@media screen and (max-width:767px){

		.Area_timeline { margin-top:2vw;width: 100%!important;} 
		.Area_timeline .box_timeline { float: none; margin: 5vw 0 3vw;} 
				.Area_timeline .box_timeline .btn_time{display: inline-block;width: 49%;}
		.Area2 .box_search {position: relative; top:0;left: 0; margin:2vw auto 0; width:86%; }
		.Area2 .box_search .input { border-width:1px;border-radius: 8px; width:100%; height:10vw; overflow:hidden; font-size:4vw; line-height:40px;}
		.Area2 .box_search .input:focus { border:0;}
		.Area2 .box_search .input input { width:80%; height:40px; font-size:4vw; line-height:40px;top:0}
		.Area2 .box_search .input a { padding:0 4vw 0 ;font:4vw/10vw '微軟正黑體';margin: 0}
		.Area2 .box_search .input a img { position:relative; top:2vw; width:70%; height:auto;}
	}


/*名片變色*/
.typeA .votecard_box{background: linear-gradient(90deg,transparent,#e8707d)!important;}
.typeA .votecard_box .txt h3.heady{color:#fe8491 !important;}
.typeB .votecard_box{background: linear-gradient(90deg,transparent,#49c0d1)!important;}
.typeB .votecard_box .txt h3.heady{color:#54d0e2 !important;}
.typeC .votecard_box{background: linear-gradient(90deg,transparent,#30a676)!important;}
.typeC .votecard_box .txt h3.heady{color:#36dc96 !important;}



/*投票區*/
.Area2 .ABC_btn {text-align: right;padding-right: 25px;}		  
		.Area2 .ABC_btn a{font:bold 20px/40px '微軟正黑體';color: #FFF; width:100px;text-align: center;background-color: #332576;border-radius: 10px;margin: 15px 3px 0;}		  
		.Area2 .ABC_btn a:nth-child(2){background-color: #e9707d;}		  
		.Area2 .ABC_btn a:nth-child(3){background-color: #4ac2d3;}	
		.Area2 .ABC_btn a:nth-child(4){background-color: #30a777;}	

.Area2 ul{width: 100%;}
.Area2 li .votecard_box{padding: 0;}
.Area2 li .txt{padding: 0;}
.Area2 li .txt h3{margin: 5px 0 0 0;}
.Area2 .votecard_btn_all a{ margin:20px auto; }
.Area2 .vote_btn_l {font:bold 20px/40px '微軟正黑體';color: #FFF;background: #3f4cb8;border-radius: 10px; }
.Area2 .vote_btn_r {font:bold 20px/40px '微軟正黑體';color: #FFF;background: #6a6a6a;border-radius: 10px;}
.Area2 li .txt h4.white {display: inline-block;color: white;background: #008da7;border-radius: 0 0 10px 0;width: 140px;text-align: center;font:bold 26px/44px '微軟正黑體';}
.Area2 li .txt h3 {display: inline-block;width: 100%;text-align: center;}
	@media screen and (max-width:767px){
		.Area2 {width: 100%!important;margin: 4vw 0 2vw;}
		.Area2 .ABC_btn {padding-right: 0;margin: 2.5vw auto 0;height: auto;text-align: center;}
		.Area2 .ABC_btn a{width:20%;text-align: center;font:bold 4.2vw/10vw '微軟正黑體';margin: 0 calc(1.5% - 4px);border-radius: 8px;}
		.Area2 .votecard_btn_all a{ margin-top:20px; }
		.Area2 .votecard_btn_all img { width:70%;}
			.Area2 .votecard ul { margin-top: 2vw;width:92%;}
			.Area2 .votecard li { width:46%;margin: 2%;padding-bottom: 1%;}
            .Area2 li .votecard_box {padding: 2vw;}
            .Area2 li .votecard_box .photo{width:100%;}
			.Area2 .votecard li .txt:before { background-position:105% 20%; background-size:30%;}
			.Area2 .votecard li .txt h4 { font:bold 4vw/7.6vw '微軟正黑體';width: 50%;}
			.Area2 .votecard li .txt h4 span{ display: inline-block;width: 45%;}
			.Area2 .votecard li .txt h3 { width: 100%;line-height: 1em;}
			.Area2 .votecard li .txt h3:nth-child(3){ width: 100%;}
			.Area2 .votecard li .txt .line img { width:100%; height:auto;}
			.Area2 .votecard li .txt p  { font-size:4vw;text-align: center;margin-bottom: 3vw;}
			.Area2 .votecard li .txt p b { display:inline; font-size:6.5vw;line-height: 6.5vw;color: #ff5b91;}
		.Area2 .vote_btn_l {font:bold 5vw/9vw '微軟正黑體';border-radius: 8px;width: 98%!important; }
		.Area2 .vote_btn_r { font:bold 5vw/9vw '微軟正黑體';border-radius: 8px;width: 98%!important; }
		

	}

/*注意事項*/
.Area_bgfooter { margin-top:20px; color:#ffa493; background:#0c101c; text-align:left;}
.Area_bgfooter .box { margin:0 auto; width:1020px; padding:30px 55px;}
.Area_bgfooter p { font-weight:800; font-size:30px; line-height:1.5rem;}
.Area_bgfooter ul { }
.Area_bgfooter ol { }
.Area_bgfooter li { margin-bottom:1.2rem; font-size:18px; line-height:1.8rem; text-align:justify;}
	@media screen and (max-width:767px){
		.Area_bgfooter { padding-bottom:50px;width: 100vw!important;}
		.Area_bgfooter .box { width:90%; padding:5%;}
		.Area_bgfooter p { font-size:34px;}
		.Area_bgfooter ul { padding-left:8%;}
		.Area_bgfooter ol { padding-left:8%;}
		.Area_bgfooter li { margin-bottom:1.2rem; font-size:16px; line-height:1.8rem;}
	}



		/*好麻煩的浮層*/
		.float_box{position: relative; width:810px;background-color: #000;border:1px solid #FFF; margin: 10px auto;padding: 30px 20px 10px;text-align: left;z-index: 99;}
		.float_box .content{overflow: hidden;width:100%;position: relative;top: -55px;margin-bottom: -50px}
		.float_box .content::after{content: "";clear: both;}
		.float_box .img_box{width: 100%;box-sizing: border-box;position: relative;}
		.float_box .img_box img{width: 100%;}
		.float_box .img_box a{display: none;position: absolute;top:0;left: 0;}
		.float_box .img_box a.ready{display: block;}
		.float_box .txt_box{position: relative; padding:5px 25px 0px;margin-bottom: 20px}
		.float_box h5{font:30px/38px '微軟正黑體';color:#FFF;margin: 0;letter-spacing: 0px;overflow: hidden;white-space: nowrap;width: 100%;}
		.float_box p{margin:5px 0 ;font:18px/24px '微軟正黑體';color: rgba(255,255,255,0.5); height: 118px;overflow: hidden;}
		.box_l{float:left;position: relative;width:300px;text-align: center;}
		.box_r{float:left;position: relative;width:calc(100% - 300px);}
		.box_r .label{color: #FFF;}
		.box_r .btn_vote{position:relative;vertical-align: text-bottom;display:inline-block;text-align: center; margin: 0px 0 0 25px; font:bold 27px/27px "微軟正黑體","Century Gothic";padding: 8px 22px;text-decoration: none;color: #FFF;background: #ff3854;border-radius: 5px;}
		.box_l .vote_num{width:100%;font:24px/30px '微軟正黑體';padding: 5px 0 15px;color: #FFF;text-align: center;}
		.box_l .vote_num span{font:28px/30px Century Gothic;}

		.float_box .share_btn{height: 50px;display: inline-block;border: 1px solid rgba(255,255,255,0.5);padding: 5px 12px 0 12px;margin: 0 10px;}
		.float_box .share_btn a{display: inline-block;  }	
		.float_box .share_txt{font:bold 27px/46px '微軟正黑體';color: #FFF; letter-spacing: -1px;padding:0;vertical-align:top;  display: inline-block;text-align: left;}
		.close_btn{position:relative;display:block;float: right; right:-50px;top:-50px; width:40px;height: 40px;border-radius: 50%;border:2px solid #BBB; background: rgba(100,100,100,0.5);}
		.close_btn::before{content: "";position: absolute;top:18px;left: 7px; width: 26px;height:4px;transform:rotate(45deg);background: #FFF;}
		.close_btn::after{content: "";position: absolute;top:18px;left: 7px; width: 26px;height:4px;transform:rotate(-45deg);background: #FFF;}

		
			@media screen and (max-width:767px){
				.float_box{width:96vw;padding: 0;text-align: center;}		
				.float_box .content{top:0;margin-bottom: 0;}		
				.close_btn{top:-2vw;right:-2vw;position: absolute;z-index: 12;}
				.box_l{position:absolute;width:52%;margin: 0 auto;padding:4% 0 0 4%; z-index:10; }
				.box_l .img_box{position:relative;width:45vw;margin: 0;display: inline-block;}
				.box_r{position:relative;width:98%;margin:0 auto;top:0;right:0;}
				.box_l .vote_num{position:absolute;width: 80%;margin: 0 auto;font:5vw/6vw '微軟正黑體';display: inline-block;vertical-align: top;text-align: left; color: #000;padding: 5% 0 0 3%;}
				.box_l .vote_num span{font:5.8vw/6vw '微軟正黑體';}
				.float_box .share_box{position: relative;bottom:0;width: 100%;}
				.float_box .share_txt{font:bold 4vw/5vw '微軟正黑體';width: 100%;letter-spacing: 0;text-align: center;}
				.float_box .share_txt span{font:bold 5vw/5vw '微軟正黑體';}
				.float_box .share_btn{position: absolute;top:28vw;right:4%;height:auto;width:31vw;margin: 0;padding: 2vw;}
		        .float_box .share_btn a{width: 14.5vw;}
		        .float_box .share_btn a img{width: 100%;}
				.float_box .txt_box{padding: 3vw 4vw 5vw;text-align: right;width: 88%;margin:49% auto 0;overflow: hidden;}
				.float_box .txt_box p{text-align: left;font:normal 4.5vw/6vw '微軟正黑體';height: auto;}
				.float_box .txt_box h5{text-align: left;font:normal 5.5vw/6.5vw '微軟正黑體';white-space: nowrap;overflow: hidden;letter-spacing: 0;}
				.float_box .txt_box h5:nth-child(1){width: 100%;display: inline-block;margin-top: 2vw;}
				.float_box .txt_box h5:nth-child(2){width: 100%;display: inline-block;}
				.float_box .txt_box::after{width:14vw;height: 14vw; background-size: 100%;bottom:-2vw;right:-2vw;}
		        .float_box .txt_box::before{width:14vw;height: 14vw;background-size: 100%;top:-2vw;left:-2vw; }
				.box_r .btn_vote{font:bold 5vw/0.8em '微軟正黑體';width:23%;padding: 3vw 7.5vw;background: #000; margin-top: 3vw;position: absolute;top:13vw;right:3%;}
				.box_r .label{ width:24vw;font:bold 6vw/6vw '微軟正黑體';padding: 0;font-weight: 900!important;}	
}

/*變色*/
.float_box.typeA{background-image: linear-gradient(90deg,transparent,#e8707d 90%);background-size: 100%;}
.float_box.typeA h5.label{color:#FE8491;}
.float_box.typeB{background-image: linear-gradient(90deg,transparent,#4ac1d2 90%);background-size: 100%;}
.float_box.typeB h5.label{color:#54d0e2;}
.float_box.typeC{background-image: linear-gradient(90deg,transparent,#30a777 90%);background-size: 100%;}
.float_box.typeC h5.label{color:#36dc96;}
	@media screen and (max-width:767px){
.float_box.typeA{background-image: linear-gradient(0deg,transparent,#e8707d 90%);background-size: 100%;}
.float_box.typeB{background-image: linear-gradient(0deg,transparent,#4ac1d2 90%);background-size: 100%;}
.float_box.typeC{background-image: linear-gradient(0deg,transparent,#30a777 90%);background-size: 100%;}
}
/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
	