@charset "big5";
/* CSS Document */

/*回版頭
#gotop { display: none; position:fixed; z-index:5; right:20px; bottom:30px;padding:10px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#fff;  background-color:rgba(0,0,0,0.5); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
#gotop:hover { padding-top:40px;} 
#gotop::before { content: ""; position:absolute; top:7px; left:18px; width: 0; height: 0; border: 4px solid #fff; border-color: transparent transparent #fff; }
	@media screen and (max-width:767px){
		#gotop { right:10px; bottom:50px; }
	}*/


/*選單*/
.fixbox { z-index:10; position: absolute; top:0; left:0; width:100%; height:50px; font-size:18px; line-height:50px; font-family:"Century Gothic", "微軟正黑體", sans-serif;background: transparent; }
.fixbox ul { margin:0 auto; padding:0; overflow:hidden; width:1220px; list-style:none; }
.fixbox ul li { float:left; position:relative; margin:0; padding:0; height:50px; }
.fixbox ul li.logo { margin-right:360px;}
.fixbox ul li a { display: inline-block; text-decoration:none;}
.fixbox ul li img { width:auto; height:50px;}
.fixbox ul li .txt { padding:0 12px; color:#faab9d;}
.fixbox ul li .txt:hover,
.fixbox ul li:hover a.txt { line-height: 35px;color: #FFF;}
.fixbox ul li.btn_on a.txt{ color:#FFF; line-height: 35px;}
.fixbox ul li::after{position: absolute;content: ""; right: 0;top:16px;width: 1px;height:16px;background-color: #faab9d;}
.fixbox ul li:first-child::after,
.fixbox ul li:last-child::after{display: none;}
	@media screen and (max-width:767px){
		.fixbox{ z-index:10; position:fixed; top:0px; width:100%; height:44px;
					-webkit-overflow-scrolling:touch;
					-moz-overflow-scrolling:touch;
					-ms-overflow-scrolling:touch;
					-o-overflow-scrolling:touch;
					overflow-scrolling:touch;}
		.fixbox * { -webkit-box-sizing:border-box; box-sizing:border-box;}
		.fixbox ul { margin:0 auto; width:100%; }
		.fixbox ul li { width:14%;height: 44px; overflow:hidden;}
		.fixbox ul li .txt {}
		.fixbox ul li .txt { padding:0; padding-top:6px; width:100%; height:44px; font-size:12px;  line-height:16px; text-align:center;}
		.fixbox ul li.logo { display:none;}
		.fixbox ul li.fbShare,
		.fixbox ul li.lineShare { width:8%; }
		.fixbox ul li.fbShare img,
		.fixbox ul li.lineShare img { position:relative; width:100%; height:auto;  }
		.fixbox ul li:hover a.txt {  background-color: #FFF; border-radius: 0;line-height:16px;color: #000;}
		.fixbox ul li.btn_on a.txt { color:#333; background-color: #fff; border-radius: 0px;line-height: 16px;}
		.fixbox ul li.btn_on a.txt { color:#333; background-color: #fff; border-radius: 0px;line-height: 16px;}
		.fixbox ul li.btn_on {border-bottom: 2px solid #ff0090;}
	}
/*Phone置頂滑動選單*/
.m_fixarea{ z-index:999;  position: fixed; top:0; /*top:inherit;*/ left:0; margin:0; padding:0; overflow: scroll; overflow-y: hidden; border:0; width: 100%; height: 40px; box-shadow:0 0 10px rgba(0,0,0,0.3);
			-webkit-overflow-scrolling: touch; -moz-overflow-scrolling: touch; -ms-overflow-scrolling: touch; -o-overflow-scrolling: touch; overflow-scrolling: touch;
		    -webkit-animation:fade-in 1.5s; animation:fade-in 1.5s; overflow:hidden;}
.m_fixarea:after  { content: ""; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#f2f2f2;
    background-color: rgba(255,255,255,0.95);
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;}		
	
.m_fixarea ul { margin:0;  padding:0; list-style: none;}
.m_fixarea ul li{ width:80px;}
.m_fixarea ul li:after  { content: ""; position: absolute;  top:12px; /* right:0px; */display:block; width:1px; height:18px; background-color:#f2f2f2;!important}
.m_fixarea ul li a { display:block; text-decoration:none;}
.m_fixarea ul li .txt{ display:block; padding:0; width: 100%; height:50px; text-align:center; font-size:16px; line-height:40px;  color:#000; font:bold; font-family:"Century Gothic", "微軟正黑體", sans-serif;  background-size: 100% 100%; }
.m_fixarea ul li .txt:hover{color:#F00;}
.m_fixarea .fixbox { margin-left:80px; overflow:hidden;}
.m_fixarea .fixbox_toptext { z-index:1000; position: fixed; top:0; top:inherit; border:0; width:80px; height: 40px; color:#e7ab01; text-align:center; font-size:16px; line-height:40px; font:bold; font-family:"Century Gothic", "微軟正黑體", sans-serif; letter-spacing:-1px;  color:#F00; }
.m_fixarea .fixbox_toptext:after  { content: ""; position: absolute;  top:11px;  right:0px; display:block; width:1px; height:18px; background-color:#000;!important}
.m_fixarea .fixbox_toptext:before { content: ""; display: block; position: absolute; top:0px; right:-16px; width:16px; height:38px;  /*background-image: repeating-linear-gradient(90deg, rgba(0,0,0,0.7) -2%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 120%);*/}


/*Phone置底選單*/
.footerArea { display:none!important;} /*把手機原本的地關掉*/
.Fixedfooter { z-index:1000; position: fixed; bottom: 0; width:100%;}
.Fixedfooter * ,
.Fixedfooter *:before ,
.Fixedfooter *:after { margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box;}
.Fixedfooter .Fixedfooter_box { position: fixed; bottom: 0; width:100%; height: 50px; max-width:767px; background-color:#e78b7c; /* background-color:#f2143c; background-image: repeating-linear-gradient(45deg, #d9193b -2%, #ff2302 120%);*/
								height: calc(50px + constant(safe-area-inset-bottom) );
								height: calc(50px + env(safe-area-inset-bottom) );
								-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
								   -moz-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
									-ms-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
									 -o-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
										box-shadow:0px 0px 8px rgba(0,0,0,0.5);}
.Fixedfooter .Fixedfooter_box ul { position: absolute; left: 0; top: 0px; margin: 0; padding: 0; width: 100%; list-style: outside none none;}
.Fixedfooter .Fixedfooter_box li { float: left; padding-top:2px; width:50%; height:45px; text-align: left; }
.Fixedfooter .Fixedfooter_box li a { position:relative; display:block;color: #000046;text-align:center; text-decoration: none; cursor: pointer;}
.Fixedfooter .Fixedfooter_box li a span{ position:relative; display:inline-block; color: #000046; font-size:14px; line-height:14px; text-align:left;left: 5px;bottom:18px;}
.Fixedfooter .Fixedfooter_box li a i { display:inline-block;position: relative; margin:3px auto; width:40px; height:40px; background-repeat: no-repeat; background-position: center center; background-size: auto 100%;}
.Fixedfooter .Fixedfooter_box li:nth-of-type(1) i { background-image: url(Fixedfooter_icon_1.png);}
.Fixedfooter .Fixedfooter_box li:nth-of-type(2) i { background-image: url(Fixedfooter_icon_2.png);}
.Fixedfooter .Fixedfooter_box li:nth-of-type(3) i { background-image: url(Fixedfooter_icon_3.png);}
.Fixedfooter .Fixedfooter_box li:nth-of-type(4) i { background-image: url(Fixedfooter_icon_4.png);}
.Fixedfooter .Fixedfooter_box li:hover a { color:#ffffc8;}
/*.Fixedfooter .Fixedfooter_box li:hover:nth-of-type(1) i { background-image: url(Fixedfooter_icon_1_on.png);}
.Fixedfooter .Fixedfooter_box li:hover:nth-of-type(2) i { background-image: url(Fixedfooter_icon_2_on.png);}
.Fixedfooter .Fixedfooter_box li:hover:nth-of-type(3) i { background-image: url(Fixedfooter_icon_3_on.png);}
.Fixedfooter .Fixedfooter_box li:hover:nth-of-type(4) i { background-image: url(Fixedfooter_icon_4_on.png);}*/
.Fixedfooter .Fixedfooter_box li.cate-hover a { color:#ffffc8;}
.Fixedfooter .Fixedfooter_box li.cate-hover:nth-of-type(1) i { background-image: url(Fixedfooter_icon_1_on.png);}
.Fixedfooter .Fixedfooter_box li.cate-hover:nth-of-type(2) i { background-image: url(Fixedfooter_icon_2_on.png);}
.Fixedfooter .Fixedfooter_box li.cate-hover:nth-of-type(3) i { background-image: url(Fixedfooter_icon_3_on.png);}
.Fixedfooter .Fixedfooter_box li.cate-hover:nth-of-type(4) i { background-image: url(Fixedfooter_icon_4_on.png);}
	/*選單_黑底*/
	.Fixedfooter .Fixedfooter_bg {}
			/*【程式切換】cate-open 展開後*/
			.Fixedfooter.cate-open .Fixedfooter_bg { position: fixed; top:0; left:0; display:none; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
			.Fixedfooter.cate-open .Fixedfooter_bg { display: block;}

	/*浮層區-Phone置底選單*/
	.Fixedfooter_agree { display:none; z-index:10;  position: fixed;  bottom: 65px; background-color:#e78b7c;  border-radius:10px; margin:0 5%; width:90%; box-shadow:0px 0px 20px rgba(0,0,0,0.5);
				bottom: calc(65px + constant(safe-area-inset-bottom) );
				bottom: calc(65px + env(safe-area-inset-bottom) );}
	.Fixedfooter_agree * { box-sizing:border-box;}
	.Fixedfooter_agree .trainglelist { position:absolute; bottom:-10px; left:48%; width:0; height:0; border-style:solid; border-width:10px 10px 0px 10px; border-color:#e78b7c transparent transparent transparent;   }
	.Fixedfooter_agree ul { width:100%; height:auto; margin:0 ; padding:3%; }
	.Fixedfooter_agree ul:after { content:""; display:block; clear:both;}
	.Fixedfooter_agree li { float:left; display:block; margin-left:2%; margin-top:3%; width:32%; height:30px; border-radius:50px; text-align:center; font: bold 14px/30px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; color:#fff; background-color:#000046; }
	.Fixedfooter_agree li:nth-child(3n+1) { margin-left:0; }
	.Fixedfooter_agree li:nth-child(1),
	.Fixedfooter_agree li:nth-child(2),
	.Fixedfooter_agree li:nth-child(3) {margin-top:0; }
	.Fixedfooter_agree li a { color:#fff; }
		/*特殊狀況*/
		.Fixedfooter_agree3 li:nth-of-type(1),
		.Fixedfooter_agree3 li:nth-of-type(2) { width:49%; background-color:#000;}
		.Fixedfooter_agree3 li:nth-child(3n+1) { margin-left:2%; }
		.Fixedfooter_agree3 li:nth-child(1),
		.Fixedfooter_agree3 li:nth-child(3),
		.Fixedfooter_agree3 li:nth-child(6) { margin-left:0; }
		.Fixedfooter_agree3 li:nth-child(3) {margin-top:3%; }
	.Fixedfooter_agree li:hover { background-color: #fff;}
	.Fixedfooter_agree li:hover a { color:#F92D4F;}
	.Fixedfooter_agree li.cate-hover { background-color: #fff;}
	.Fixedfooter_agree li.cate-hover a { color:#F92D4F;}



/*PC左側黏人精+goTop+回版頭*/
.fixarea_l { z-index:99; position:fixed; left:0px; top:80px; width:165px; text-align: center; font-family:"微軟正黑體", "Microsoft JhengHei", Arial;
			-webkit-transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); -webkit-transform-origin:top right; transform-origin:top right;
			  -webkit-transition: all 0.2s ease;
				 -moz-transition: all 0.2s ease;
				  -ms-transition: all 0.2s ease;
				   -o-transition: all 0.2s ease;
					  transition: all 0.2s ease;}
.fixarea_l_off { -webkit-transform: rotate3d(0,0,0,0deg) translate3d(0,0,0); transform: rotate3d(0,0,0,0deg) translate3d(0,0,0);}
.fixarea_l .title { position:relative;background-color: #444;width: 70%;color: #FFF;margin: 0 auto;}
.fixarea_l .title img {}
.fixarea_l .footer {width: 108px;height:20px;background: #FFF;border-radius: 0 0 20px 20px;margin: 0 auto;}
.fixarea_l .fixbox_head{position: relative;width:108px;  background-color: #231951;color: #948eff;margin: 0 auto;border-radius: 10px 10px 0 0;font:bold 20px/2.6em 微軟正黑體; }
.fixarea_l .title .icon{position:relative;top:-35px;margin-bottom: -40px;}
.fixarea_l .fix_box { margin:0 auto; }
.fixarea_l ul.fix { margin:0px auto 0;width: 108px; padding:5px 0 5px; list-style:none;overflow: hidden;background: #f9b388;border-radius: 0 0 10px 10px; }
.fixarea_l ul.fix li { position:relative; width: 90%; height:40px;margin:0 auto; padding:2px 0 0; font:bold 15px/40px 微軟正黑體; }
.fixarea_l ul.fix li::after {content: "";width: 80%;height: 1px;background: rgba(0,0,0,0.4);position: absolute;left:10%;bottom:-1px; }
.fixarea_l a { display:block; text-decoration:none; color:#231951;}
.fixarea_l a:hover{ color:#D30048}
.fixarea_l ul.fix li:last-child::after{display: none;}
.fixarea_l .fix_main { }
.fixarea_l .fix_main li { padding:12px 0 8px;  height:40px;}
/*.fixarea_l .fix_main li::before { content: ""; display: block; position: absolute; bottom:0; left:18%; width:64%; height:1px; background-color:#5b0000; background-color:rgba(255,255,255,0.2);}*/
.fixarea_l .fix_other {}
.fixarea_l .fix_other li { padding:5px 0; }
/*.fixarea_l .fix_other li:before { content: ""; display: block; position: absolute; bottom:0; left:18%; width:64%; height:1px; background-color:#5b0000; background-color:rgba(255,255,255,0.2);}
.fixarea_l .fix_other li:last-child::before { display:none;}*/
.fixarea_l  .btn_on a { color:#F8DAA5; }
.fixarea_l .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.fixarea_l .go_bt:hover { filter: brightness(105%);}

.fixarea_l ul.fix2 { margin:0px auto 0;width: 108px; padding:5px 0 30px; list-style:none;overflow: hidden;background: #593d46;border-radius: 0 0 50px 50px;overflow: hidden;}
.fixarea_l ul.fix2::after {content: "";clear:both}
.fixarea_l ul.fix2 li { position:relative;float: left; width: 30%; height:34px;margin:0 0 0 13%; padding:0; font-size:15px; line-height:34px;/*border-bottom: 1px solid #ff457e;*/}
.fixarea_l ul.fix2 li:nth-child(odd)::after {content: "";width: 1px;height: 34px;background: rgba(255,255,255,0.2);position: absolute;left: 38px;bottom:-2px; box-shadow: 1px 0px 0 rgba(0,0,0,0.2);}
.fixarea_l ul.fix2 li:nth-child(even)::after {content: "";width: 90px;height: 1px;background: rgba(255,255,255,0.3);position: absolute;left: -51px;bottom:-1px;box-shadow: 1px 1px 0 rgba(0,0,0,0.2); }
.fixarea_l ul.fix2 li:last-child::after {display: none; }
.fixarea_l ul.fix2 a { display:block; text-decoration:none; color:#FFF;}
.fixarea_l ul.fix2 a:hover{ color:#FFFF00;}
.fixarea_l ul.fix2 li:last-child::after{display: none;}

	
/*黏人快速鍵(白色款)*/
.fixed_Area {z-index:999; position:fixed; top:100px; right:0px; width:120px; font-weight:800; font-size:16px; line-height:48px; font-family:Century Gothic, "微軟正黑體",Helvetica; text-align:center;
			-webkit-transform: rotate3d(0,0,0,0deg) translate3d(0,0,0); transform: rotate3d(0,0,0,0deg) translate3d(0,0,0); -webkit-transform-origin:top right; transform-origin:top right;
			  -webkit-transition: all 0.2s ease;
				 -moz-transition: all 0.2s ease;
				  -ms-transition: all 0.2s ease;
				   -o-transition: all 0.2s ease;
					  transition: all 0.2s ease;}
.fixed_Area a { display:block; text-decoration: none; color: #000;}
.fixed_Area img {-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-ms-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease;}
.fixed_Area .box { margin:0 20px 0 0; }
.fixed_Area .box ul { margin:0; padding:0; list-style:none;}
.fixed_Area .box li { margin:0 0 1px 0; padding:0; height:48px; background-color:rgba(255,255,255,0.6);}
.fixed_Area .box li a { letter-spacing:-1px;height:48px; overflow:hidden;}
.fixed_Area .box li a:hover { background-color:rgba(255,255,255,1);}
.fixed_Area .box li.cate-hover { background-color:rgba(255,255,255,1);}
.fixed_Area .box h2 { margin:0; padding:0;}
	/*快速導覽*/
	.fixed_Area h3 { position: absolute; top:100px; right:-50px; margin:0; padding:35px 0 0 0; border-radius:10px; width:48px; height:82px; font-size: 16px; line-height:30px; writing-mode: tb-lr; writing-mode: vertical-lr; -webkit-writing-mode: vertical-lr; background-color:rgba(255,255,255,0.6); text-align:left; cursor:pointer;
			-webkit-transform-origin:top left; transform-origin:top left;
			  -webkit-transition: all 0.2s ease;
				 -moz-transition: all 0.2s ease;
				  -ms-transition: all 0.2s ease;
				   -o-transition: all 0.2s ease;
					  transition: all 0.2s ease;}
	.fixed_Area h3 i { position: absolute; top:0; right:0; display:block; width:50px; height:50px; cursor:pointer;}
	.fixed_Area h3 i:before { content: ""; position:absolute; top:41%; left:37%; display:block; border:1px solid #000; border-width:0 1px 1px 0; width:15%; height:15%; -webkit-transform:translate(-50%,-50%) rotate(135deg); transform:translate(-50%,-50%) rotate(135deg); -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
			/*黑色款*/
			.fixed_Area.fixed_Area-dark a { color: #fff;}
			.fixed_Area.fixed_Area-dark .box li { background-color:rgba(0,0,0,0.5);}
			.fixed_Area.fixed_Area-dark .box li a:hover { background-color:rgba(0,0,0,1);}
			.fixed_Area.fixed_Area-dark .box li.cate-hover { background-color:rgba(0,0,0,1);}
            .fixed_Area.fixed_Area-dark h3 {background-color:rgba(0,0,0,0.5);color: #fff; }
            .fixed_Area.fixed_Area-dark h3  i:before { border-color:#fff;}

			/*收合黏人精*/
			.fixed_Area.fixed_Area_hide { -webkit-transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); }
			.fixed_Area.fixed_Area_hide h3 { -webkit-transform: rotate3d(0,0,0,0deg) translate3d(-185px,0,0); transform: rotate3d(0,0,0,0deg) translate3d(-185px,0,0); 
											 -webkit-transition-delay:0.2s; transition-delay:0.2s;}


/*通知浮層*/
.agreeArea { z-index:1; position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:700px; font-family:"Century Gothic", "微軟正黑體", sans-serif; /*text-align:justify; word-break:break-all;*/}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea .box .txtArea { height:600px; overflow-y:auto;}
.agreeArea .box h3 { margin:0; padding:0; height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#000; background-color:#ffd710;}
.agreeArea .box p { margin:10px auto; margin-top:1rem; padding:0 0 0 24px; text-align:center; font-size:1em; text-align:left; line-height:1.2em; color:#000;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.agreeArea .box ul,
.agreeArea .box ol { margin:0;}
.agreeArea .box li { margin:0 20px 10px 0px; font-size:0.9em;}
.agreeArea .box table { margin: 0 5%; width:90%;  border-collapse:collapse;}
.agreeArea .box th { padding:5px; border:1px solid #CCC; background:#eee; font-size:0.8em; }
.agreeArea .box td { padding:5px; border:1px solid #CCC; font-size:0.8em; vertical-align:top; }
.agreeArea .box table ul,
.agreeArea .box table ol { padding:0 0 0 20px;}
.agreeArea .box table li { margin:0 0 10px 0px;}


/*浮層嘿嘿*/
.blackBox_play {}
.blackBox { display:none; z-index:9; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75); }
.blackBox * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox  a { text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox .Boxclose { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}
.blackBox .box h4 {height: 3rem; font-size: 0.8rem; font-weight: 100; text-align: center; color: #000;}



/*遠進高斯模糊*/
.zoomfilter-play  { -webkit-animation:zoomfilter-play 0.5s ease-in-out ;
				            animation:zoomfilter-play 0.5s ease-in-out  ;}
	@-webkit-keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
	@keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
							
/*搖夾子*/
.clip-play { -webkit-animation:clip-play 1.3s infinite ease-in-out alternate ;
				     animation:clip-play 1.3s infinite ease-in-out alternate ;}
	@-webkit-keyframes clip-play {
		   0% { -webkit-transform:translateX(50%) rotate(-3deg); transform:translateX(50%) rotate(-3deg);}
		 100% { -webkit-transform:translateX(-50%) rotate(3deg); transform:translateX(-50%) rotate(3deg);}
	}
	@keyframes clip-play {
		   0% { -webkit-transform:translateX(50%) rotate(-3deg); transform:translateX(50%) rotate(-3deg);}
		 100% { -webkit-transform:translateX(-50%) rotate(3deg); transform:translateX(-50%) rotate(3deg);}
	}
							

/*飄-上下*/
.uptodown-play { -webkit-animation:uptodown-play 1.5s infinite alternate;
				         animation:uptodown-play 1.5s infinite alternate;}
	@-webkit-keyframes uptodown-play { 
		0% { 
			-webkit-transform: translate(0,-20px);  
		} 
		100% { 
			-webkit-transform: translate(0,0);
		}
	}
	@keyframes uptodown-play { 
		0% { 
			transform: translate(0,-20px);  
		} 
		100% { 
			transform: translate(0,0);
		}
	}

/*飄-下上*/
.downtoup-play { -webkit-animation:downtoup-play 1.5s infinite alternate;
				         animation:downtoup-play 1.5s infinite alternate;}
	@-webkit-keyframes downtoup-play { 
		0% { 
			-webkit-transform: translate(0,0);  
		} 
		100% { 
			-webkit-transform: translate(0,-20px);
		}
	}
	@keyframes downtoup-play { 
		0% { 
			transform: translate(0,0);  
		} 
		100% { 
			transform: translate(0,-20px);
		}
	}



/*轉轉3*/
.rotate3-play { -webkit-animation:rotate3-play 20s linear infinite ;
				       animation:rotate3-play 20s linear infinite ;}
	@keyframes rotate3-play {
	  100% { 
			transform: rotate(-360deg);
	  }
	}

/*背景飄上*/
.bgupup-play { -webkit-animation:bgupup-play 40s linear infinite ;
				       animation:bgupup-play 40s linear infinite ;}
	@keyframes bgupup-play {
	  100% { background-position: center -925px;
	  }
	}


/*心跳A*/
.heartbeat-play {-webkit-animation-duration: 1.4s;  animation-duration: 1.4s;  -webkit-animation-name: heartbeat-play;  animation-name: heartbeat-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;/* -webkit-animation-direction: alternate;animation-direction: alternate;*/}
	@-webkit-keyframes heartbeat-play {   
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		}
	@keyframes heartbeat-play { 
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
	}

/*放大縮小*/
.zoominzoomout-play { -webkit-animation-duration: 0.5s;  animation-duration: 0.5s; animation-delay:0s;  -webkit-animation-name: zoominzoomout-play;  animation-name: zoominzoomout-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
	}
	
/*彈跳*/	
.bounce-play { -webkit-animation:bounce-play 3s linear infinite ;
				          animation:bounce-play 3s linear infinite ;}
	@-webkit-keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	  }
	
	  10% {
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
	  }
	
	  15% {
		-webkit-transform: translateY(-5%);
		transform: translateY(-5%);
	  }
	}
	
	@keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	  }
	
	  10% {
		-webkit-transform: translateY(-10%);
		transform: translateY(-10%);
	  }
	
	  15% {
		-webkit-transform: translateY(-5%);
		transform: translateY(-5%);
	  }
	}


/*彈跳2-超活潑*/	
.bounce2-play { -webkit-animation:bounce2-play 1s -1s infinite alternate ;
				        animation:bounce2-play 1s -1s infinite alternate ;}
	@-webkit-keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}
	
	@keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}



/*主標微亮*/		  
.minbright-play { -webkit-animation:minbright-play 1s linear infinite alternate; animation:minbright-play 1s linear infinite alternate ;}
	@-webkit-keyframes minbright-play {
	  0% { 
		filter:brightness(100%);
	  }
	  100% { 
		filter:brightness(120%);
	  }
	}
	@keyframes minbright-play {
	  0% { 
		filter:brightness(100%);
	  }
	  100% { 
		filter:brightness(120%);
	  }
	}

/*閃光1*/				  
.brightness1-play { -webkit-animation:brightness1-play 4s infinite ; animation:brightness1-play 4s infinite ;}
	@keyframes brightness1-play {
	  0% { 
		filter:brightness(100%);
	  }
	  92% { 
		filter:brightness(100%);
	  }
	  94% { 
		filter:brightness(200%);
	  }
	  96% { 
		filter:brightness(100%);
	  }
	  98% { 
		filter:brightness(200%);
	  }
	  100% { 
		filter:brightness(100%);
	  }
	}

/*閃光2*/				  
.brightness2-play { -webkit-animation:brightness2-play 4s infinite ; animation:brightness2-play 0.2s infinite linear alternate ;}
	@keyframes brightness2-play {
	  0%   { filter: hue-rotate(0deg);}
	  100% { filter: hue-rotate(-25deg);}
	}
