@charset "big5";
/* CSS Document */
/** Ghvzon__layout_640__20160930 **/

/** 基本 **/
body { margin:0px; padding:0px;}

/*全BOX版面*/
.WRAPPER {position:relative; display:inline-block; margin:0; padding:0; width:100%; }
.WRAPPER .mmainArea { position:relative; margin:0px auto; padding:0px; width:100%; max-width:640px; z-index:1; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
.mmainArea ul { margin:0px; padding:0px; list-style:none outside none}
.mmainArea li { margin:0px; padding:0px; float:left; }
.mmainArea img { border:0px; vertical-align:top;}
.mmainArea a { text-decoration:none;} 

/*版頭*/
/*.mmainArea .hot-sale { margin:0px; padding:0px 0px 0px 0px; width:100%;}
.mmainArea .hot-sale img { width:100%; height:auto;}
.mmainArea .hot-sale2 { margin:0px; padding:0px 0px 0px 0px; width:100%;}
.mmainArea .hot-sale2 img { width:50%; height:auto;}
*/

/** 入稿區基本 **/
.m_content_Area  { border-top:3px dotted #FFF;position:relative; display:block; -webkit-box-sizing:border-box; box-sizing:border-box; margin: 0 auto; padding:0; width: 100%; height:auto; overflow:hidden; font-size:14px; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; }
.m_content_Area * { -webkit-box-sizing:border-box; box-sizing:border-box; text-align: left;}




/**h5 廠商名稱**/
/**h4 行銷標**/
/**h3 品名標**/
/**P  價錢標**/
/**other 系列商品連館按鈕**/

/** 公版模組layout_640_2x4_1b_D02 **/

.layout_640_2x4_1b_D02 * { -webkit-box-sizing:content-box ; box-sizing: content-box; text-align: center; }
.layout_640_2x4_1b_D02 h2 { display: block;    padding-top: 15px;  margin:0 auto ;  font-size:30px; color:#666!important; text-align:center;}
.layout_640_2x4_1b_D02 ul { overflow:hidden; display: block; margin:0 auto; padding:5% 0; width:100%;  }
.layout_640_2x4_1b_D02 ul li { float: left; position:relative; display: inline-block; margin:0 0 1% 0; padding:0 ;width:49%; height:auto; }
.layout_640_2x4_1b_D02 ul li:nth-child(odd) { margin-right:2%;}
.layout_640_2x4_1b_D02 ul li a { display: block; margin:0; padding:0; width:100%; height:auto; text-decoration:none; }
.layout_640_2x4_1b_D02 ul li a h5 {  padding:0 2%; margin:0 ; float:left; height: 24px; overflow:hidden; font-weight:normal; font-size:15px; line-height:24px; text-align:center;  color:#fff; background-color:#971b0f; border-top-right-radius:6px;border-top-left-radius:6px; !important; max-width:96%; text-overflow: ellipsis;}
.layout_640_2x4_1b_D02 ul li a .imgArea { display:block; width:100%; float:left; background-color:#FFF; border-bottom:1px dotted #FFF;}
.layout_640_2x4_1b_D02 ul li a .imgArea img { margin:0; padding:0; width:100%; height:auto;}
.layout_640_2x4_1b_D02 ul li a .textArea{display:block; width:100%; float:left; background-color:#FFF;}
.layout_640_2x4_1b_D02 ul li a .textArea h4 {  margin:0 0 0 0; padding:4% 0 0 0; width: 100%; height:20px; overflow:hidden; font-weight:normal; font-size:14px; line-height:20px;  color: #333; text-align: center;}
.layout_640_2x4_1b_D02 ul li a .textArea h4 b { margin:0px; padding:0px; font-weight:bold; font-size:17px; line-height:20px;;  color: #333;}
.layout_640_2x4_1b_D02 ul li a .textArea h3  {  margin:0 auto;  height:43px;  padding:1% 10% 0 10%;  overflow:hidden; font-weight:normal; font-size:14px; line-height:20px;  color: #333; text-align:center;}
.layout_640_2x4_1b_D02 ul li a .textArea h3 b { margin:0px; font-weight:normal; padding:0px;  font-size:14px; line-height:20px;;  color: #333;}
.layout_640_2x4_1b_D02 ul li a .textArea p { margin:0 0 0 0; padding:0 8%; height:26px; overflow:hidden; line-height:26px; color:#D62672; text-align:center;}
.layout_640_2x4_1b_D02 ul li a .textArea p del { padding-left:2px; font-size:14px; font-family: Century Gothic; color:#9D9D9D;}
.layout_640_2x4_1b_D02 ul li a .textArea p b { font-size:13px; letter-spacing:-1px;}
.layout_640_2x4_1b_D02 ul li a .textArea p .money { font-size:14px; font-weight:bold; font-family: Century Gothic; }
.layout_640_2x4_1b_D02 ul li a .textArea p .Price { font-size:24px; font-family: Century Gothic; letter-spacing:-1px; }
.layout_640_2x4_1b_D02 ul li a .textArea p small { }
.layout_640_2x4_1b_D02 ul li .other { display: block;margin:0 0 5% 0; padding:3% 0 6% 0; width:100%; height:30px; overflow:hidden;   font-weight:normal; font-size:14px;color: #333; line-height:30px; background-color:#FFF; text-align:center;}
.layout_640_2x4_1b_D02 ul li .other b{ display:block; width:70%; height:30px; overflow:hidden; padding:0 2%; margin:0 auto; border-radius: 30px;font-size:13px; letter-spacing:-1px; color:#FFF; background-color:#666;}
.layout_640_2x4_1b_D02 ul li .other a{ text-decoration:none; color:#F00;}

@media screen and (min-width:320px) and (max-width:374px){
.layout_640_2x4_1b_D02 h2 { display: block;    padding-top: 10px;  margin:0 auto ;  font-size:22px; color:#fff; text-align:center;}
.layout_640_2x4_1b_D02 ul li a .textArea h5 {  padding:0 2%; margin:0; float:right; height: 20px; overflow:hidden; font-weight:normal; font-size:12px; line-height:20px; text-align:center;  color:#fff; background-color:rgba(0,0,0,0.4) !important;}
.layout_640_2x4_1b_D02 ul li a .textArea h4 {  margin:0 0 0 0; padding:2% 0 0 0; width: 100%; overflow:hidden; font-weight:normal; font-size:12px; line-height:20px;  color: #333;text-align:center;}
.layout_640_2x4_1b_D02 ul li a .textArea h4 b { margin:0px; padding:0px; font-weight:bold; font-size:14px; line-height:20px;;  color: #333;}
.layout_640_2x4_1b_D02 ul li a .textArea h3  {}
.layout_640_2x4_1b_D02 ul li a .textArea h3 b { margin:0px; font-weight:normal; padding:0px;  font-size:12px; line-height:18px;;  color: #333;}
.layout_640_2x4_1b_D02 ul li a .textArea p { margin:0 0 0 0; padding:0 8%; height:26px; overflow:hidden; line-height:28px; color:#D62672;text-align:center;}
.layout_640_2x4_1b_D02 ul li a .textArea p del { padding-left:2px; font-size:12px; font-family: Century Gothic; color:#9D9D9D;}
.layout_640_2x4_1b_D02 ul li a .textArea p b { font-size:13px; letter-spacing:-1px;}
.layout_640_2x4_1b_D02 ul li a .textArea p .money { font-size:14px; font-weight:bold; font-family: Century Gothic; }
.layout_640_2x4_1b_D02 ul li a .textArea p .Price { font-size:20px; font-family: Century Gothic; letter-spacing:-1px; }
.layout_640_2x4_1b_D02 ul li a .textArea p small { }
	
}
/** 公版模組layout_640_2x4_1b_D02 結束 **/