@charset "big5";
/* CSS Document */

/*基本*/
body { margin:0px; padding:0px;background-image: url(bg_l.jpg);}
h2{color:#876418!important;}

/*全BOX*/
.mmainArea { position:relative; margin:0px auto; padding:0px; padding-top:50px; width:100%; z-index:-1;background-image:url(m_01.jpg);background-size: contain;background-repeat: no-repeat;}
.mmainArea ul {margin:0px; padding:0px; list-style:none outside none}
.mmainArea li {margin:0px; padding:0px; float:left}
.mmainArea img { border:0px; vertical-align:top;}
.mmainArea a { text-decoration:none;} 

/*版頭*/
.mmainArea { margin:0px; padding:0px 0px 0px 0px; width:100%;}
.mmainArea .btn_s {position: relative; top:40vw; margin:0 auto; padding:0; width:90%;overflow: hidden;}
.mmainArea .btn_s .left{float: left;width: 49%;}
.mmainArea .btn_s .right{float:right;width: 49%;}
.mmainArea .btn_s .go_movie{width:100%;}
.mmainArea .hot-sale {margin:45vw 0 50px 0; padding:0px ; width:100%;}
.mmainArea .hot-sale2 { margin:0px; padding:0px 0px 0px 0px; width:100%;}
.mmainArea .hot-sale2 img {}
.mmainArea .hot-sale2 a { display:block;}

.mmainArea .hot-sale3 { margin:0px; padding:0px 0px 0px 0px; width:100%;}
.mmainArea .hot-sale3 img { width:33.3%; height:auto; float:left;}

.mmainArea .hot-sale5 { margin:0 ; padding:0 ; width:100%; overflow:hidden; background:#ebebeb;}
.mmainArea .hot-sale5 img { width:20%; height:100%; float:left; margin:0 1%;}


.mmainArea .bank { margin:0px; padding:0px 0px 0px 0px; width:100%;}
.mmainArea .bank img { width:100%; height:auto;}

.mmainArea .top {margin:0; padding:0px; width:100%; z-index:0;}
.mmainArea .hot-sale .bt01 { margin:0px; padding:0px 0px 0px 0px; width:15%; position:absolute; z-index:2; top:0.2%; right:7%;}
.mmainArea .hot-sale .bt02 { margin:0px; padding:0px 0px 0px 0px; width:12%; position:absolute; z-index:2; top:0.7%; right:1%;}



/** 倒數 **/
.mmainArea .TimerNick { position:relative; top:40vw; left:0; display:inline-block; width:100%; height:20vw;background-image: url(timer.png);background-size: contain;background-repeat: no-repeat;}
.mmainArea .TIMER_L { position:absolute; left:0; top:0; width:50px; height:1.5e; }
.mmainArea .TIMER_R { position:absolute; right:0; top:0; width:50px; height:1.5em;}
.mmainArea .TIMER { margin:5.5vw 0 0 0; height:20px; text-align:center;  }
.mmainArea .TIMER .FontStyle { display:inline-block; margin:0px; padding:0px ; border:0px; width:1.1em; font: 6vw Century Gothic; color:#9f5783; letter-spacing:1px; text-align:right;}
.mmainArea .TIMER b {font: bold 6vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; letter-spacing: -0.05em;color: #9f5783;}
.mmainArea .TIMER span {font: bold 6vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; letter-spacing: -0.05em;color: #9f5783;}


/** 按鈕閃燈 **/
.mmainArea .btnArea {background-image: url(m_01.jpg);width: 100%;height: auto;}
.mmainArea .btn_m {
  -webkit-animation:TIMERLan 0.5s infinite alternate linear;
     -moz-animation:TIMERLan 0.5s infinite alternate linear;
      -ms-animation:TIMERLan 0.5s infinite alternate linear;
       -o-animation:TIMERLan 1s infinite alternate linear;
          animation:TIMERLan 1s infinite alternate linear;
}
.mmainArea .btn_m img{width: 13vw;z-index: 5;position: relative;top:25vw;left:71vw; }

@keyframes TIMERLan {
	0%   { 
	  -webkit-transform:scale(1);
		 -moz-transform:scale(1);
		  -ms-transform:scale(1);
		   -o-transform:scale(1);
			  transform:scale(1);	
	}
 	100% { 
	  -webkit-transform:scale(0.95);
		 -moz-transform:scale(0.95);
		  -ms-transform:scale(0.95);
		   -o-transform:scale(0.95);
			  transform:scale(0.95);	
	}
}


/*選單*/
.mmainArea .Navi { margin-bottom:0px; width:100%;}
.mmainArea .Navi * {  margin:0px; padding:0px;}
.mmainArea .Navi .main_navi,
.mmainArea .Navi .main_navi_target { z-index:1; position:relative; margin:0px; padding:0 2%; width:96%; height:40px; overflow:hidden;}
.mmainArea .Navi .main_navi { background-color:#FFF;box-shadow:0 0px 4px rgba(0,0,0,0.4);}
.mmainArea .Navi .main_navi_target { display:none;}
.mmainArea .Navi .main_navi ul { overflow: hidden; white-space: nowrap; list-style:none outside none;}
.mmainArea .Navi .main_navi li { float:left; position:relative; top:0px; padding-top:4px; width:19.6%; text-align:center; font: 13px/14px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; }
.mmainArea .Navi .main_navi li a { display:block; color:#323232; text-decoration:none}

.mmainArea .Navi .main_navi li a .on { display:none;}
.mmainArea .Navi .main_navi li a .off { display:inline;}


/*選單下移置頂白色*/
/*
.mmainArea { z-index:inherit;}
.mmainArea .catefixed .main_navi { z-index:10; position: fixed; top:0; z-index: 100; -position: absolute; -top: expression(eval(document.documentElement.scrollTop))}
.mmainArea .catefixed .main_navi_target { display:block; }
.mmainArea .catefixed .main_navi { 
  -webkit-transition: transform 0.2s ease;
     -moz-transition: transform 0.2s ease;
      -ms-transition: transform 0.2s ease;
       -o-transition: transform 0.2s ease;
          transition: transform 0.2s ease;
   -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
       -ms-transform: translateY(0px);
           transform: translateY(0px);		  
}
.mmainArea .catefixed .main_navigo {
   -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
        -o-transform: translateY(-50px);
       -ms-transform: translateY(-50px);
           transform: translateY(-50px);		  
}
*/
.mmainArea .main_navi { z-index:10; position: fixed; top:0; z-index: 100; -position: absolute; -top: expression(eval(document.documentElement.scrollTop))}
.mmainArea .main_navi_target { display:block; }
.mmainArea .main_navi { 
  -webkit-transition: transform 0.2s ease;
     -moz-transition: transform 0.2s ease;
      -ms-transition: transform 0.2s ease;
       -o-transition: transform 0.2s ease;
          transition: transform 0.2s ease;
   -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
       -ms-transform: translateY(0px);
           transform: translateY(0px);		  
}
.mmainArea .main_navigo {
   -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
        -o-transform: translateY(-50px);
       -ms-transform: translateY(-50px);
           transform: translateY(-50px);		  
}


/*移到指定區塊樣式*/
.mmainArea .Navi .main_navi .cate-hover {}
.mmainArea .Navi .main_navi .cate-hover a i { position: absolute; bottom:0; left:0; width:100%; height:4px;}
.mmainArea .Navi .main_navi .cate-hover a .on { display:inline;}
.mmainArea .Navi .main_navi .cate-hover a .off { display:none;}

/*下移置底變黑色*/
.mmainArea { z-index:inherit;}
.mmainArea .catefixed .main_navi { z-index:10; position: fixed; top: inherit; bottom:0; padding:0; width:100%; height:50px; background-color:#EBEBEB; }
.mmainArea .catefixed .main_navi li { top:0px;}
.mmainArea .catefixed .main_navi li a { margin:8px 2px; padding-top:3px; border-radius:4px; height:31px; line-height:13px; background-color:#fff;}
.mmainArea .catefixed .main_navi .cate-hover a { color:#fff; background-color:#e50082;}
.mmainArea .catefixed .main_navi .cate-hover a i { display:none;}
.notetxt { margin-bottom:44px;}
.mmainArea .catefixed .main_navi { 
  -webkit-transition: transform 0.2s ease;
     -moz-transition: transform 0.2s ease;
      -ms-transition: transform 0.2s ease;
       -o-transition: transform 0.2s ease;
          transition: transform 0.2s ease;
   -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
       -ms-transform: translateY(0px);
           transform: translateY(0px);		  
}
.mmainArea .catefixed .main_navigo {
   -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
       -ms-transform: translateY(50px);
           transform: translateY(50px);		  
}

/*入稿區*/
.TV_CONTENT { display:inline-block; margin:0px 0px 10px 2%; padding:0px; width:98%;}
.TV_CONTENT ul { display:inline-block; margin:0px 0px 0px 0px; padding:0px; width:100%; height:auto;}
.TV_CONTENT ul h3 { float:left; margin:0px; padding:10px 0px 3px 0px; width:98%; height:1.8em; font: bold 22px/1.8em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; letter-spacing:-1px; color:#333; overflow:hidden; border-top:1px dashed #666;}
.TV_CONTENT ul h3 span { font: 22px/1.8em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; color:#666;}
.TV_CONTENT ul h3:first-child  { padding:3px 0px 3px 0px; border-top:0px;}
.TV_CONTENT ul li { float:left; position:relative; margin:0px 2% 10px 0px; padding:0px; width:48%; text-align:center;}
.TV_CONTENT ul .full { float:left; position:relative; margin:0px 2% 10px 0px; padding:0px; width:96%; text-align:center;}
/*.TV_CONTENT ul li {box-shadow:0px 0px 10px #999; -webkit-box-shadow:0px 0px 10px #999; -moz-box-shadow:0px 0px 10px #999;}*/
.TV_CONTENT .RANKING { display:none; position:absolute; left: 0px; padding:2px 0px 0px 5px; width:30px; height:38px; background-image:url(tip.gif); font:bolder 16px/24px Helvetica; color:#000; text-align:left;}
.TV_CONTENT .TIMG { padding:5px; background:#FFF}
.TV_CONTENT .TIMG a img { width:100%; height:auto; }
.TV_CONTENT .PD_NAME { padding:0px; width:100%; height:44px; background-color:#FFF; overflow:hidden;}
.TV_CONTENT .PD_NAME a { font:15px/22px Helvetica; letter-spacing:1px; color:#666; text-decoration:none;}
.TV_CONTENT .PRIC { width:100%; height:36px; background-color:#FFF; overflow:hidden;}
.TV_CONTENT .PRIC .PRIC_SA { font:15px/36px Helvetica; color:#666;}
.TV_CONTENT .PRIC .PRIC_SAS { font:15px/36px Helvetica; color:#666; text-decoration:line-through;}
.TV_CONTENT .PRIC .PRIC_SB { font:bolder 15px/36px Century Gothic,Arial Black; color:#F06;}
.TV_CONTENT .PRIC .PRIC_SC { font:bolder 26px/36px Century Gothic,Arial Black; color:#F06;}
.TV_CONTENT .PRIC .PRIC_SD { font:bolder 15px/36px Century Gothic,Arial Black; color:#F06;}

.mmainArea .TV_CONTENT2 ul h3 { color:#000 ;}
.mmainArea .TV_CONTENT2 ul h3 span { color:#000 ; }

	

td.edmMainTop_HashtagTD { padding:4px 0 !important;}
table.edmMainHashtag { width:100% !important; }
td.edmMainHashtagTD { padding:1px 1px !important; border: none !important; background-color:transparent !important;  }
div.edmMainHashtagDIV { padding:2px !important; border: 1px solid #adaaad !important; border-radius:2px  !important; background-color: #fff !important;}
span.Hashtag_span { font-size:12px !important; line-height:20px !important;}

/*關鍵字*/
.HashtagBOX {  position:relative; display:block; margin:0; padding:0; width:100%;  }
.HashtagArea { position:relative; display:block; margin:0 auto; padding:0px 0 10px; width:100%;  overflow:hidden; z-index:1; font-size: 12px; line-height: 20px; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; text-align:left; background-color:#ebebeb;}
.HashtagArea dt {  margin:0; padding:0px 0; }
.HashtagArea dd { margin:0 auto; padding:0; }
.HashtagArea dd strong { float: left; display: inline-block; margin:0 8px 8px 0; font-weight: normal; width:20%; }
.HashtagArea dd a { display:block; padding:6px; border-radius:4px;  background-color:rgba(255,255,255,0.7);  box-shadow: 0 0 0 1px rgba(100,100,100,0.2); text-decoration: none; }
.HashtagArea dd a:hover,
.HashtagArea dd a:active { background-color:#fff; box-shadow: 0 0 0 1px rgba(100,100,100,0.2), 0 4px 0 rgba(0,0,0,0.4); transform:translateY(-2px);}
.HashtagArea dd span { color: #000; }




/**延遲載圖用**/
.mainArea .articleList * img.lazy {display:none} 

