@charset "big5";
/* CSS Document */

/*************** 配色版面 **************/
/*85折*/
.mmainArea { }
/*.mmainArea .hot-sale { margin-bottom:1px;}*/
.TV_CONTENT ul h3 { color:#666; }
.TV_CONTENT ul h3 span { color:#666; }
.TV_CONTENT ul li { margin:0px 2% 10px 0px; padding:0px; width:47%;}
.TV_CONTENT ul li { border:1px solid #ccc;}

/*粉色
.mmainArea { background:#e49aa3;}
.TV_CONTENT ul h3 { color:#fff; }
.TV_CONTENT ul h3 span { color:#db6373; }
*/
/*黑色
.mmainArea { background:#373737;}
.TV_CONTENT ul h3 { color:#fff; }
.TV_CONTENT ul h3 span { color:#666; }
*/
/*藍色
.mmainArea { background:#17c3b7;}
.TV_CONTENT ul h3 { color:#fff; }
.TV_CONTENT ul h3 span { color:#00867c; }
*/