@charset "big5";
/* CSS Document */

.NavArea { display:none;}
	@media screen and (max-width: 767px) {

/*選單外掛*/
.NavArea { display: block; margin-bottom:0px; text-align:left; height:44px;}
.NavArea * ,
.NavArea *:before ,
.NavArea *:after { margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box;}/*
					  -webkit-transition: all 0.3s ease;
	 						  transition: all 0.3s ease;}
/*選單_保留區*/
.NavArea .Nav_target { display:none; height:44px;}
	/*置頂後*/
	.NavArea.cate-fixed .Nav_target { display:block; }

/*選單_黑底*/
.NavArea.cate-open  .Nav_bg { z-index:5; position: fixed; top:0; left:0; display:none; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
	/*展開後*/
	.NavArea.cate-open  .Nav_bg { display: block;}

/*選單_選單區*/
.NavArea .Nav_box { z-index:99; position:relative; font: 13px/44px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; box-shadow:0 1px 0 rgba(242,242,242,1); color:#000; background-color:#1F176A; background-color:#fff;}
	/*置頂後*/
	.NavArea.cate-fixed .Nav_box { position: fixed; top:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop))}

/*按鈕區*/
.NavArea .Btn { z-index:1; position:relative;}
.NavArea .Btn b { display:none; padding:0 10px; opacity:0.75;}
.NavArea .Btn b:before { content: "切換分類"; }
.NavArea .Btn i { position: absolute; top:0; right:0; display:block; width:44px; height:44px; cursor:pointer; }
.NavArea .Btn i:before { content: ""; position:absolute; top:50%; left:50%; display:block; border:1px solid #333; border-width:0 1px 1px 0; width:20%; height:20%; -webkit-transform:translate(-50%,-50%) rotate(45deg); transform:translate(-50%,-70%) rotate(45deg);
					  -webkit-transition: all 0.3s ease;
	 						  transition: all 0.3s ease;}
/*.NavArea .Btn:after  { content: ""; position:absolute; top:0; right:44px; display:block; width:1px; height:44px; background-color:rgba(0,0,0,0.1);}*/

	/*展開後*/
	.NavArea.cate-open .Btn {}
	.NavArea.cate-open .Btn b { display:block; height:44px;}
	.NavArea.cate-open .Btn i:before { -webkit-transform:translate(-50%,-50%) rotate(225deg); transform:translate(-50%,-30%) rotate(225deg);}

/*選單*/
.NavArea .Nav { z-index:5; position:relative; margin:0; padding:0; overflow-y: hidden; width:calc(100% - 44px); height:44px;
				 -webkit-overflow-scrolling: touch;
					-moz-overflow-scrolling: touch; 
					 -ms-overflow-scrolling: touch; 
					  -o-overflow-scrolling: touch; 
						 overflow-scrolling: touch;}
		
.NavArea .Nav ul { position:relative; list-style:none outside none; white-space: nowrap;}
.NavArea .Nav li { float:none; position:relative; display:inline-block; overflow:hidden; height:44px; text-align:center; line-height: 29px; margin:8px 0;}
.NavArea .Nav a { display:block; padding:0 16px; color:inherit; text-decoration:none}
	/*高亮*/
	.NavArea .Nav .cate-hover a { color:#fff;}	
	.NavArea .Nav .cate-hover a i {   
		z-index: -1;
		position: absolute;
		top: 37%;
		left: 50%;
		border-radius: 50px;
		width: 90%;
		height: 60%;
		background-color: #F2235E;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	/*展開後*/
	.NavArea.cate-open .Nav { overflow-y:initial; width:100%; height: inherit;}
	.NavArea.cate-open .Nav ul { overflow:hidden; width:100%; padding:1%; white-space: inherit;}
	.NavArea.cate-open .Nav li { float:left; width:33.2%;}
	.NavArea.cate-open .Nav a { color:#000}
	.NavArea.cate-open .Nav a i { z-index:-1; position: absolute; top:50%; left:50%; border-radius:44px; width:90%; height:60%;  background-color:rgba(240,240,240,1); -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}

	}
	
	
		
/*改樣式-永遠浮動置底*/
.NavArea-fixed-bottom .Nav_box {   width:100%;  -top: expression(eval(document.documentElement.scrollTop))}

/*改樣式-不要展開按鈕*/
.NavArea-noBTN .Btn { display:none;}
.NavArea-noBTN .Nav { width:100%;}



