@charset "big5";

/*基本*/
body {margin: 0; padding:0;background:#8cd8ff;width: 100%;overflow-x: hidden;}

/*全BOX版面*/
.WRAPPER {position: relative;margin: 0;	padding: 0 0 20px;	width:100%; min-width:1220px; overflow: hidden;font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;background:linear-gradient(90deg,#8cd8ff 0%,#c5ebff 40%,#c5ebff 60%,#8cd8ff 100%) }
.WRAPPER .mainArea{position: relative;margin: 0;	padding: 0;	width:100%;overflow: hidden;font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background:url(bg.jpg) top center no-repeat;}
.WRAPPER img { border:0; vertical-align:top;}
.WRAPPER a { text-decoration:none;display: inline-block;}

@media screen and (max-width:767px){
	    .WRAPPER { padding-bottom:0px;width: 100%;  min-width: inherit;}
		.WRAPPER img {  width:100%;  height:auto}
}


/*手機黏人精*/
.goto_mm{ position: fixed;top:0;left: 0;width: 100%; height:44px;background-color: #f5f5f5;border-bottom: thin #ccc solid;z-index: 10;}
.goto_mm li{float: left;list-style: none;width: 32%;height: 44px;margin: 0 2px;padding: 0;line-height: 40px;text-align:center;}
.goto_mm li:nth-child(2)::before{content: ""; position:absolute; top:38px; left:33%; width: 33%; height: 3px; background-color: #0056ff;display: block;}
.goto_mm ul{margin: 0 auto;padding: 0;}
.goto_mm img{height: 40px;width: auto;}
.goto_mm a{display: block;width: 100%;height: 44px;}


@media screen and (min-width:767px) {
	
	.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(105%);
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}

}
@-webkit-keyframes turn{
	0%{ opacity:0;}
	49%{ opacity:0;}
	50%{ opacity:1;}
	100%{ opacity:1;}
}
@keyframes turn{
	0%{ opacity:0;}
	49.5%{ opacity:0;}
	50%{ opacity:1;}
	100%{ opacity:1;}
}

.turn{animation:turn 4s linear infinite;-webkit-animation:turn 4s linear infinite;}
.turn2{animation:turn 4s linear infinite reverse;}




/*全區設定*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center;margin-bottom:40px; }
.Area a { position:relative; display:inline-block;} 
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0px auto 0; width:864px;}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0px auto 0; width:960px;}
	@media screen and (max-width:767px){
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		/*區塊_兩邊間距*/
	}
/*版頭*/
.Area_top {margin-bottom: -190px!important; }
.Area_top a { }
.Area_top .momologo { z-index:2; position: absolute;top: 15px; right:40px;}
.Area_top .momologo a { display:block; width:200px; height:30px; background: url(momo_logo.png) no-repeat;}
.Area_top .momologo a:hover{ background: url(momo_logo_on.png) no-repeat;}
.LOGO1111 { z-index:1; position: absolute;top: 0; left:9px;}
.main { margin:80px auto 0;}
.more { position:absolute; top:445px; left:200px;}
.more1 { position:absolute; top:436px; left:205px;}
.cloud { position:absolute; top:435px; left:0px; z-index:3;}
	@media screen and (max-width:767px){
		.Area_top{margin:5% auto -30%!important;height: auto}
		.Area_top .momologo { display:none;margin-bottom: 0px!important;}
		.main { margin:0vw auto 0;}
		.more { position:absolute; top:45vw; left:25vw; width:15%; height:auto;}
		.more1 { position:absolute; top:44vw; left:25vw; width:15%; height:auto;}
		.cloud { position:absolute; top:45vw; left:-15vw; z-index:3; width:20%; height:auto}

.momologo {display: none;}
.bank_m{position: absolute; bottom:0;left: 0;z-index: 5;}
.Area_top .top_box{width:100%;}
.Area_top .top_box .bg_base{width:100%;position: relative;top:0;left: 0;}
.top_bg.spotlight{top:-3vw;left: -10%; width: 120%;}

}

/*活動詳情*/
.more{width:135px;text-align:right;margin:250px 10px 0px 600px}
.more a{width:100%}
.more a:hover{margin:10px 0px 0px 3px}
.btn_more {position:absolute; top:410px ;right:40px;z-index:9;}
	@media screen and (max-width:767px){
		 .btn { position:absolute; top:26vw; right:1vw; width:23vw; -webkit-transform:scale(0.9); transform:scale(0.9);}
		.btn a { display:block; }
		.Area_top .btn_more {}
		.box .for_m { width:100%; margin: 0 auto;}
	}
.Area_top .main_top{position:relative;}
.Area_top .main_top .sub_title{position:absolute;top:455px;left: 475px;}
.Area_top .main_top .sub_title span img{position:absolute;top:0px;left:0px;}
.Area_top .main_top .sub_title span{position:relative;}

.Area .txt {  z-index:3;position: absolute;width: 250px;bottom: 29px;right: 70px;}


.Area .box{border-radius: 50px;border:25px solid #4b86cf;padding: 0;background: #c7e0ff;}
.Area .game_Area img{width:377px;}

	@media screen and (max-width:767px){
.Area .box{border-radius: 24px;border:10px solid #4b86cf;padding: 0;background: #c7e0ff;}
.Area .txt {  bottom: 0vw;left:50vw;}
.Area_top .main_top .sub_title span{width: 60vw;display: block;}
.Area_top .main_top .sub_title{position:absolute;top:52.5%;left: 27%;}
		.Area_top .btn_more{padding:1.5vw 3vw;font:bold 5vw/5vw 微軟正黑體;position: absolute;top:0%;right: 4%;background: #000;border-radius: 6vw;display: block;color: #FFF;}
}

/*A1-加入會員*/
.Area1 { position: relative;margin:0 auto 0;top:0px; padding-top:0px;left:0vw;height:auto;margin-bottom: 60px; }
.Area1 .title{position: relative; margin-bottom: -35px;}
.Area1 .Area_cp{position:absolute;top:0;right:0;margin: 60px 20px 20px;width: 65%;}
.Area1 .Area_cp a{margin:20px auto;display: block;width: 517px;}
.Area1 .Area_cp a img{width: 100%}
.Area1 .bg_top{ position: relative; }
.Area1 .box .content { position: relative;}
.Area1 .box .content .btn_play{ position: absolute; width: 50%;top:30px;right: 50px;width: 45%;}
.Area1 .box .content .btn_play img{ border-radius:10px;border:5px solid black;box-sizing: border-box;width: 100%;}
.Area1 .top_bg{position:absolute;top:0;left: 0;}
.Area1 .box{ position: relative; margin: 0px auto; padding:0px;}
.Area1 .box .btn_go{position: absolute;bottom:50px;left:100px; }
.Area1 .box .title{ }
.Area1 .box_bg{ position: relative; width: 100%;z-index: 5;}
@media screen and (max-width:767px){
	.Area1{ margin-bottom: 5vw;margin: 0 auto;}
    .Area1 .title{position: relative; margin-bottom: -17px;;}
	.Area1 .Area_cp{position:absolute;top:0;right:0;margin: 3vw 3vw;width: 65%;}
	.Area1 .Area_cp a{margin:4% auto;display: block;width: 100%}
	.Area1 .box .btn_go{position: absolute;bottom:8%;left:9%;width: 38vw; }
	.Area1 .box .content .btn_play{ position: absolute; width: 45%;top:10%;right: 5%;}

}



/*A2-雙11第一區--暖身加碼送*/
.Area2{margin-bottom: 60px;}
.Area2 .box{ position: relative; margin: 0px auto; padding:0 0 20px;}
.Area2 .box .content{ position: relative; margin: 0px auto; }
.Area2 .title{margin-bottom: -35px;}
.Area2 .Area_cp{width:50%;position: absolute;top:100px;right:30px;text-align: center;}
.Area2 .game_Area{position: absolute;top:90px;right: 60px;border-radius: 10px;overflow: hidden;box-shadow: 5px 5px 0 rgba(0,0,0,0.2)}
.Area2 .btn_Area{text-align: center;position: absolute;bottom:40px;left: 110px;}
.Area2 .btn_Area a{margin: 0 30px;}
@media screen and (max-width:767px){
	.Area2{ margin-bottom: 5vw;}
    .Area2 .title{position: relative; margin-bottom: -17px;}
	.Area2 .Area_cp{position:absolute;top:10%;right:5%;}
	.Area2 .box .btn_go.only{position: absolute;bottom:-18%;left:18%;width: 38vw; }
	.Area2 .game_Area{position: absolute;top:10%;right: 5%;border-radius: 5px;box-shadow: 1vw 1vw 0 rgba(0,0,0,0.2);width: 45%;}
	.Area2 .game_Area img{width: 100%;}
	.Area2 .btn_Area{width: 100%; bottom:5%;left: 2%;}
	.Area2 .btn_Area a{margin: 0 2%;width: 40%;}
}
/*A3-雙11第二區--首購加碼送*/
.Area3{margin-bottom: 60px;;}
.Area3 .box{ position: relative; margin: 0px auto; padding:0 0 20px;}
.Area3 .box .content{ position: relative; margin: 0px auto; }
.Area3 .title{margin-bottom: -35px;}
.Area3 .Area_cp{width:50%;position: absolute;top:100px;right:30px;text-align: center;}
.Area3 .game_Area{position: absolute;top:90px;right: 60px;border-radius: 10px;overflow: hidden;box-shadow: 5px 5px 0 rgba(0,0,0,0.2)}
.Area3 .btn_Area{text-align: center;position: absolute;bottom:40px;left: 110px;}
.Area3 .btn_Area a{margin: 0 30px;}
	@media screen and (max-width:767px){
		.Area3{ margin-bottom: 5vw;}
.Area3 .title{position: relative; margin-bottom: -17px;}
			.Area3 .Area_cp{position:absolute;top:10%;right:5%;}
	.Area3 .box .btn_go.only{position: absolute;bottom:-18%;left:18%;width: 38vw; }
	.Area3 .game_Area{position: absolute;top:10%;right: 5%;border-radius: 5px;box-shadow: 1vw 1vw 0 rgba(0,0,0,0.2);width: 45%;}
	.Area3 .game_Area img{width: 100%;}
	.Area3 .btn_Area{width: 100%; bottom:5%;left: 2%;}
	.Area3 .btn_Area a{margin: 0 2%;width: 40%;}
}

/*A4-雙11第三區--好評加碼送*/
.Area4{margin-bottom: 60px;}
.Area4 .box{ position: relative; margin: 0px auto; padding:0 0 20px;}
.Area4 .box .content{ position: relative; margin: 0px auto; }
.Area4 .title{margin-bottom: -35px;}
.Area4 .Area_cp{width:50%;position: absolute;top:100px;right:30px;text-align: center;}
.Area4 .game_Area{position: absolute;top:90px;right: 60px;border-radius: 10px;overflow: hidden;box-shadow: 5px 5px 0 rgba(0,0,0,0.2)}
.Area4 .btn_Area{text-align: center;position: absolute;bottom:40px;left: 110px;}
.Area4 .btn_Area a{margin: 0 30px;}
	@media screen and (max-width:767px){
		.Area4{ margin-bottom: 5vw;}
	.Area4 .title{position: relative; margin-bottom: -17px;}
	.Area4 .Area_cp{position:absolute;top:10%;right:5%;}
	.Area4 .box .btn_go.only{position: absolute;bottom:-18%;left:18%;width: 38vw; }
	.Area4 .game_Area{position: absolute;top:10%;right: 5%;border-radius: 5px;box-shadow: 1vw 1vw 0 rgba(0,0,0,0.2);width: 45%;}
	.Area4 .game_Area img{width: 100%;}
	.Area4 .btn_Area{width: 100%; bottom:5%;left: 2%;}
	.Area4 .btn_Area a{margin: 0 2%;width: 40%;}
}

/*雙A5-首次購物*/
.Area5{margin-bottom: 60px;}
.Area5 .box{ position: relative; margin: 0px auto; padding:0 0 20px;}
.Area5 .box .content{ position: relative; margin: 0px auto; }
.Area5 .title{margin-bottom: -35px;}
.Area5 .Area_cp{width:50%;position: absolute;top:100px;right:30px;text-align: center;}
.Area5 .game_Area{position: absolute;top:90px;right: 60px;border-radius: 10px;overflow: hidden;box-shadow: 5px 5px 0 rgba(0,0,0,0.2)}
.Area5 .btn_Area{text-align: center;position: absolute;bottom:40px;left: 110px;}
.Area5 .btn_Area a{margin: 0 30px;}
	@media screen and (max-width:767px){
	.Area5{ margin-bottom: 5vw;}
	.Area5 .title{position: relative; margin-bottom: -17px;}
	.Area5 .Area_cp{position:absolute;top:10%;right:5%;}
	.Area5 .box .btn_go.only{position: absolute;bottom:-18%;left:18%;width: 38vw; }
	.Area5 .game_Area{position: absolute;top:10%;right: 5%;border-radius: 5px;box-shadow: 1vw 1vw 0 rgba(0,0,0,0.2);width: 45%;}
	.Area5 .game_Area img{width: 100%;}
	.Area5 .btn_Area{width: 100%; bottom:5%;left: 2%;}
	.Area5 .btn_Area a{margin: 0 2%;width: 40%;}
}

/*雙A6-首購加碼送*/
.Area6{ margin-bottom: 60px;}
.Area6 .box{ position: relative; margin: 0px auto; padding:0 0 20px;}
.Area6 .box .content{ position: relative; margin: 0px auto; }
.Area6 .title{margin-bottom: -35px;}
.Area6 .Area_cp{width:50%;position: absolute;top:100px;right:30px;text-align: center;}
.Area6 .game_Area{position: absolute;top:90px;right: 60px;border-radius: 10px;overflow: hidden;box-shadow: 5px 5px 0 rgba(0,0,0,0.2)}
.Area6 .btn_Area{text-align: center;position: absolute;bottom:40px;left: 110px;}
.Area6 .btn_Area a{margin: 0 30px;}
	@media screen and (max-width:767px){
.Area6{ margin-bottom: 5vw;}
.Area6 .title{position: relative; margin-bottom: -17px;;}
	.Area6 .Area_cp{position:absolute;top:10%;right:5%;}
	.Area6 .box .btn_go.only{position: absolute;bottom:-18%;left:18%;width: 38vw; }
	.Area6 .game_Area{position: absolute;top:10%;right: 5%;border-radius: 5px;box-shadow: 1vw 1vw 0 rgba(0,0,0,0.2);width: 45%;}
	.Area6 .game_Area img{width: 100%;}
	.Area6 .btn_Area{width: 100%; bottom:5%;left: 2%;}
	.Area6 .btn_Area a{margin: 0 2%;width: 40%;}
}
/*Area7-公版*/
.Area7 { position: relative; margin: 0 auto 0;z-index: 8;}
.Area7 .bg_top{ position: relative; margin: 20vw auto 0;z-index: 8;}
.Area7 .content{position: absolute;  width:100%;top:0;left: 0;}
.Area7 .box_bg{padding: 0;margin: 0;}
.Area7 .box_title{position:absolute;top:-50px;left:390px;}

@media screen and (max-width:767px){
.Area7 { position: relative; margin: 0vw auto 0;z-index: 8;}
.Area7 .top_bg{ position: absolute; margin:0;top:0;left: 0;}
.Area7 .content{position: relative;  width:100%;padding-top:13%;left: 0;}
.Area7 .box_title{position:absolute;top:-9vw;left:17vw;width: 80vw;}
.Area7 img{width:100%;height:auto}	
}


/*文案區*/
.game p { color: #FFF;font-size:19px;margin: 0; padding: 0; line-height: 38px;font-weight: 500;text-align: center; color:#c8c8c8}
.txt {margin: 0 auto; padding: 0; width:60vw; font-size:36px; line-height:36px; color:#c8c8c8; text-align:center;border-radius:10px;letter-spacing: -0.3vw;}
.txt span {font-family:Century Gothic;color:#FFF; font-size:32px; color:#F2DB53; letter-spacing:0.5px;margin-left: 0.2vw;}
.b_txt{font-size: 3.5vw;line-height: 1.5;color:#FFF;width: 100%;text-align: center;margin: 0 auto;}

@media screen and (max-width:767px){
	.game p { color: #FFF;font-size:3.8vw;font-weight: 500;}
	.txt {margin: 0 auto; padding: 0; width:60vw; font-size:3.8vw;}
	.txt span {font-family:Century Gothic;color:#FFF; font-size:6vw;}
	
}


/*動畫*/
.turn{animation:turn 4s linear infinite;-webkit-animation:turn 4s linear infinite;}
.turn2{animation:turn 4s linear infinite reverse;}
@keyframes img1{
	0%{opacity:1;}
	30%{opacity:1;}
  100%{opacity:0;}
}
@keyframes img2{
	0%{opacity:0;}}
	100%{opacity:1;}
}



/*浮層嘿嘿*/
.blackBox { display:none;}
.blackBox a{ text-decoration:none;}
.blackBox_play { z-index:9999; position:fixed; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75);}

/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:block; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}

/*通知浮層*/
.agreeArea { position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:500px; font:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica;z-index:9999 }
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff;}
.agreeArea .box h3 { border-radius:10px 10px 0 0; width:100%; height:3rem; font-size:2rem; font-weight:800;line-height:3rem; text-align:center; color:#333; background-color:#ffd710; margin:0 auto; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
.agreeArea .box p { margin:0 auto; margin-top:1rem; padding:0px; width:86%;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; background:#CCC; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table .txtsmall { padding:40px; padding-top:10px; font: 12px/18px "微軟正黑體", "Microsoft JhengHei", "Century Gothic"; text-align:left;}



/*浮層基本*/
.blackBox2 .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox2 .box .but-close { clear:both; width:100%;}
.blackBox2 .box .but-close a { display:block; color:#fff;}
.blackBox2 .box h2 { position:relative; display:block;font:bold 40px/50px 微軟正黑體;;text-align:center;color:#34c3ff;margin: 0;}
.blackBox2 .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #fff; border-radius:50%; width:33px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox2 .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#fff;text-decoration: none;}
.gift_img{position:relative!important;z-index: 20;width: 90%;margin: 0 auto;}
.gift_img img{width: 100%;}

/*通知浮層2*/
.agreeArea2 { position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:500px; font:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; }
.agreeArea2 .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#000;}
.agreeArea2 .box h3 {position: absolute;z-index: 88; border-radius:10px 10px 0 0; width:100%; height:3rem; font-size:2rem; font-weight:800;line-height:3rem; text-align:center; color:#fff;  margin:0 auto; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica;}
.agreeArea2 .box p { margin:0 auto; margin-top:1rem; padding:0px; width:86%;}
.agreeArea2 .box p b { display:block; padding-bottom:0px;}
.agreeArea2 .box p span { }
.agreeArea2 .box .qrcodeimg { text-align:center; }
.agreeArea2 .box .qrcodeimg a { color:#006afe;}
.agreeArea2 .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea2 .box .agree_table { position: relative;top:0;left: 0;padding: 20px 0 0;}
.agreeArea2 .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea2 .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; background:#CCC; font-size:0.9em; }
.agreeArea2 .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea2 .box .agree_table .txtsmall { padding:40px; padding-top:10px; font: 12px/18px "微軟正黑體", "Microsoft JhengHei", "Century Gothic"; text-align:left;}


/*隱鑶*/
.for_pc {}
.for_m { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_m { display: block !important;}
	}