/* CSS Document */
/** Ghvzon__layout_1220__20150817 **/




/** 公版模組layout_1220_5x1_03 **/
.layout_1220_5x1_03  {
	height: 496px;
	margin-bottom: 22px;
	width: 1220px;
} 
.layout_1220_5x1_03 h2 { position:relative; top:0px; margin:0px; padding:0px; width:1220px; height:80px; font: 45px/80px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center; color:#FFF; letter-spacing:-3px; overflow:hidden;}
.layout_1220_5x1_03 h2 b {font: bold 45px/80px "微軟正黑體","Microsoft JhengHei",Helvetica; color:#FFF; letter-spacing:-3px;}
.layout_1220_5x1_03 h2 .buttonAera_more { top:20px; right:15px; background-color: #EF1545; background-color:rgba(0,0,0,0.7);}
.layout_1220_5x1_03 h2 .buttonAera_more:hover {background-color: #000;}
.layout_1220_5x1_03 ul {
	padding: 0px;
	margin-top: 130px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 27px;
}
.layout_1220_5x1_03 ul li { float:left; display:inline-block; position:relative; margin:0px 4px 1px 0px; padding:0px 0px 0px 0px; width: 230px; height:340px; list-style: none outside none; background:#FFF;}
.layout_1220_5x1_03 ul li a {text-decoration:none;}
.layout_1220_5x1_03 ul li a img { display:block; margin:0px; padding:10px; width:210px; height:210px;}
.layout_1220_5x1_03 ul li a h3 {
	margin: 0px;
	padding: 0px;
	width: 230px;
	height: 30px;
	font: bold 16px/30px "微軟正黑體","Microsoft JhengHei",Helvetica;
	text-align: center;
	color: #FFF;
	background-color: #f13c71;
}
.layout_1220_5x1_03 ul li a h4 { margin:5px 0px; padding:0px;width: 230px;height: 38px;font: 14px/17px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center;color:#000}
.layout_1220_5x1_03 ul li:hover a h4 {text-decoration: underline; color:#000;}
.layout_1220_5x1_03 ul li a p { margin:-5px 0px 0px 0px; *margin-top:-10px; padding:0px;;width: 230px;height: 33px;text-align: center; color:#FF298E;}
.layout_1220_5x1_03 ul li a p del { padding-right:5px; font: 20px/20px Century Gothic; color:#5e5e5e;}
.layout_1220_5x1_03 ul li a p b { font: bold 16px/20px "微軟正黑體","Microsoft JhengHei",Helvetica; color:#FF298E; letter-spacing:-1px;}
.layout_1220_5x1_03 ul li a p .money { font: bold 18px/26px Century Gothic; color:#FF298E;}
.layout_1220_5x1_03 ul li a p .Price { font: bold 40px/40px Century Gothic; letter-spacing:-1px; line-height:28px; color:#FF298E;}
