@charset "big5";


.m_close{}
.m_open{ display:none !important;}




/** 入稿區基本 **/
.content_Area { position:relative; display:inline-block; margin:0px auto 20px auto; padding: 0px 0px 0px 0px; width:1220px;}
	@media screen and (max-width:768px){
		.content_Area { position:relative; display:inline-block; margin:0px auto 20px auto; padding: 0px 0px 0px 0px; width:100%;}
	}

/** 公版模組layout_1220_1f4s_1103A **/
.layout_1220_1f4s_1103A  { width:960px; height:950px;margin:0 auto 80px;} 
.layout_1220_1f4s_1103A h2 {position: relative;top: 0px;margin: 0;padding: 0px;font: 45px/80px "微軟正黑體","Microsoft JhengHei",Helvetica;color: #FFF;letter-spacing: -3px;overflow: hidden;width: 1220px; height:25px;display: none}
.layout_1220_1f4s_1103A h2 b {font: bold 45px/80px "微軟正黑體","Microsoft JhengHei",Helvetica; color:#FFF; letter-spacing:-3px;}
.layout_1220_1f4s_1103A h2 a{ display: block; margin:0;color:#fff;font: bold 26px/39px "微軟正黑體","Microsoft JhengHei",Helvetica; padding-right:5px}
.layout_1220_1f4s_1103A h2 .buttonAera_more {width: 127px;height: 39px;background: url(more.png) no-repeat scroll  center top;left: 31px;top: 41px;}
.layout_1220_1f4s_1103A h2 .buttonAera_more:hover a {color:#ffafd8;}
.layout_1220_1f4s_1103A ul { margin:180px 0 20px 10px;; padding:0px;}
.layout_1220_1f4s_1103A ul li { float:left; display:inline-block; position:relative; margin:10px 3px 20px; padding:0px 0px 20px 0px; width: 225px; height:363px; list-style: none outside none; background:#FFF; z-index:5}
.layout_1220_1f4s_1103A ul li h5 {  padding:0 10px; margin:-38px 0 0 -112px; float:left; overflow:hidden; font-weight: bold; font-size:15px; line-height:24px; text-align:center;  color:#1b2666; background:#FFF; border-top-right-radius:6px;border-top-left-radius:6px;  text-overflow: ellipsis;font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}

.layout_1220_1f4s_1103A ul li a {text-decoration:none;}
.layout_1220_1f4s_1103A ul li a img { display:block; margin:0; padding:10px; width:210px; height:210px;}
.layout_1220_1f4s_1103A ul li a h3 { margin:0px; padding:0 10px; height: 30px;font: bold 18px/30px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center;color: #FFF; background:#000;}
.layout_1220_1f4s_1103A ul li a h4 { margin:8px 0 2px; padding:0 10px; height: 20px; overflow:hidden; font: 15px/20px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center;color:#000}
.layout_1220_1f4s_1103A ul li:hover a h4 {color:#d92670;}
.layout_1220_1f4s_1103A ul li a p { margin:0; padding:0 10px; height: 38px;text-align: center; color:#d92670;}
.layout_1220_1f4s_1103A ul li a p del { padding-right:5px; font: 16px/38px Century Gothic; color:#5e5e5e;}
.layout_1220_1f4s_1103A ul li a p b { font: bold 16px/38px "微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px;}
.layout_1220_1f4s_1103A ul li a p .money { font: bold 16px/38px Century Gothic; }
.layout_1220_1f4s_1103A ul li a p .Price { font: 38px/38px Century Gothic; letter-spacing:-1px;}
.layout_1220_1f4s_1103A ul li a p small { font: 16px/38px "微軟正黑體","Microsoft JhengHei",Helvetica; letter-spacing:-1px;}
.layout_1220_1f4s_1103A ul li .other { display:block; margin:0; padding: 3px 0 0 0; width:100%; height:27px; overflow:hidden;}
.layout_1220_1f4s_1103A ul li .other b{ display:block; width:160px; height:24px; overflow:hidden; padding:0; margin:0 auto; border-radius: 24px;font: bold 16px/24px "微軟正黑體","Microsoft JhengHei",Helvetica;text-align: center;  color:#FFF; background-color:#c14c00;}
.layout_1220_1f4s_1103A ul li .other b:hover { background-color:#0cff00;color:#4f4f4f;}
.layout_1220_1f4s_1103A ul li .other a{ text-decoration:none; color:#F00;}

/*layout RWD*/	
	@media screen and (max-width:768px){
		/** 入稿區基本 **/
		.content_Area  { position:relative; display:block; -webkit-box-sizing:border-box; box-sizing:border-box;margin: 8% 0; padding:0 0 2%; width: 100%;  margin: 3% auto;height:auto; overflow:hidden; font-size:14px; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;  }
		.content_Area * { -webkit-box-sizing:border-box; box-sizing:border-box; text-align: left;}
		.content_Area h2 { position: relative; margin:0 auto; padding: 0px; overflow:hidden; font-weight: bold; font-size:20px; line-height:48px; color: #000; text-align: left; letter-spacing: -0.05em;}
		.content_Area h2 span:before { content:"▌"; color:#000;}
		.content_Area h2 span { position:relative; padding:0 2%;}
		.content_Area .buttonAera_more { float:right; position: absolute; top:12px; right:2%; margin:0; padding:0 10px; border-radius:24px; width:auto; height: auto; background-color:rgba(0,0,0,0.7);}
		.content_Area .buttonAera_more a { display:block; font-size:13px; line-height:24px; color:#fff; text-decoration: none; letter-spacing:-0.05em;}
		
		/** 公版模組.layout_1220_1f4s_1103A **/
		.layout_1220_1f4s_1103A { position: relative;  display: inline-block; margin: 5vw auto 8vw 0%; padding: 0; height: auto;background: url(o_bg.jpg) repeat-y center top;background-size: 100%;border-radius: 0 0 10px 10px;}
		.layout_1220_1f4s_1103A * { -webkit-box-sizing:content-box ; box-sizing: content-box; text-align: center;}
		.layout_1220_1f4s_1103A h2 { display: block;    padding-top: 15px;  margin:-3% auto ;  font-size:30px; color:#FFF; text-align:center;}
		.layout_1220_1f4s_1103A ul {overflow: hidden; display: block; margin: 0 auto; margin-right: 3.1%; padding:1% 1% 2% 1%; width: 98%; }
		.layout_1220_1f4s_1103A ul li { float: left; position:relative; display: inline-block; margin:0 1% 2% 0; padding:0 ;width:47%; height:auto; background:transparent;}
		.layout_1220_1f4s_1103A ul li:nth-child(odd) { margin-right:2%; margin-left:2%;}
		.layout_1220_1f4s_1103A ul li a { display: block; margin:0; padding:0; width:100%; height:auto; text-decoration:none; }
		.layout_1220_1f4s_1103A ul li a h5 {  padding:0 2%; margin:0; float:left; height: 24px; overflow:hidden; font-size:13px; line-height:24px; text-align:center; border-top-right-radius:6px;border-top-left-radius:6px; !important; max-width:96%; text-overflow: ellipsis;}
		.layout_1220_1f4s_1103A ul li a .imgArea { display:block; width:100%; float:left; background-color:#FFF; border-bottom:1px dotted #FFF;}
		.layout_1220_1f4s_1103A ul li a .imgArea img { margin:0; padding:0; width:100%; height:auto;}
		.layout_1220_1f4s_1103A ul li .textArea{display:block; width:100%; float:left; background-color:#FFF;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 {  margin:0 0 0 0; padding:4% 0 0 0; width: 100%; height:20px; overflow:hidden; font-weight:normal; font-size:14px; line-height:20px;  color: #333; text-align: center;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 b { margin:0px; padding:0px; font-weight:bold; font-size:17px; line-height:20px; color: #d92670;}
		.layout_1220_1f4s_1103A ul li a .textArea h3  {  margin:0 auto;  padding:1% 10% 0 10%;  overflow:hidden; font-weight:normal; font-size:14px;  color: #FFF; text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea h3 b { margin:0px; font-weight:normal; padding:0px;  font-size:14px;  color: #fff;}
		.layout_1220_1f4s_1103A ul li a .textArea p { margin:0 0 0 0; padding:0; height:30px; overflow:hidden; line-height:26px; color:#d92670; text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea p del { padding-left:2px; font-size:14px; font-family: Century Gothic; color:#9D9D9D;}
		.layout_1220_1f4s_1103A ul li a .textArea p b { font-size:13px; letter-spacing:-1px;}
		.layout_1220_1f4s_1103A ul li a .textArea p .money { font-size:14px; font-weight:bold; font-family: Century Gothic; }
		.layout_1220_1f4s_1103A ul li a .textArea p .Price { font-size:24px; font-family: Century Gothic; letter-spacing:-1px; }
		.layout_1220_1f4s_1103A ul li a .textArea p small { }
		.layout_1220_1f4s_1103A ul li .other { display: block;margin:0; padding:5% 0; width:100%; height:30px; overflow:hidden;   font-weight:normal; font-size:14px;color: #333; line-height:30px; background-color:#FFF; text-align:center;}
		.layout_1220_1f4s_1103A ul li .other b{ display:block; width:70%; height:30px; overflow:hidden; padding:0 2%; margin:0 auto; border-radius: 30px;font-size:16px; line-height:30px; letter-spacing:-1px; color:#FFF; background-color:#9b7546;}
		.layout_1220_1f4s_1103A ul li .other a{ text-decoration:none; color:#F00;}
		.layout_1220_1f4s_1103A ul li .other b:hover { background-color:#303030;}
		.layout_1220_1f4s_1103A ul li .other a:hover { background-color:#303030; color:#FFF;}
		.layout_1220_1f4s_1103A ul li a img { display:block; margin:0; padding:0; width: 100%; height: auto;}
		.layout_1220_1f4s_1103A ul li a p { padding: 0 10px 2px 0;}
	}
	@media screen and (min-width:320px) and (max-width:374px){

		.layout_1220_1f4s_1103A h2 { display: none;    padding-top: 10px;  margin:-2.5% auto ;  font-size:22px; color:#fff; text-align:center;}
		.layout_1220_1f4s_1103A h2 img { padding-top: 10px; }
		.layout_1220_1f4s_1103A ul li a .textArea h5 {  padding:0 2%; margin:0; float:right; height: 20px; overflow:hidden; font-weight:normal; font-size:12px; line-height:20px; text-align:center;  color:#fff; background-color:#606060 !important;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 {  margin:0 0 0 0; padding:2% 0 0 0; width: 100%; overflow:hidden; font-weight:normal; font-size:12px; line-height:20px;  color: #333;text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea h4 b { margin:0px; padding:0px; font-weight:bold; font-size:14px; line-height:20px;;  color: #d92670;}
		.layout_1220_1f4s_1103A ul li a .textArea h3  {}
		.layout_1220_1f4s_1103A ul li a .textArea h3 b { margin:0px; font-weight:normal; padding:0px;  font-size:12px; line-height:18px;;  color: #fff;}
		.layout_1220_1f4s_1103A ul li a .textArea p { margin:0 0 0 0; padding:0 8%; height:26px; overflow:hidden; line-height:28px; color:#d92670;text-align:center;}
		.layout_1220_1f4s_1103A ul li a .textArea p del { padding-left:2px; font-size:12px; font-family: Century Gothic; color:#9D9D9D;}
		.layout_1220_1f4s_1103A ul li a .textArea p b { font-size:13px; letter-spacing:-1px;}
		.layout_1220_1f4s_1103A ul li a .textArea p .money { font-size:14px; font-weight:bold; font-family: Century Gothic; }
		.layout_1220_1f4s_1103A ul li a .textArea p .Price { font-size:20px; font-family: Century Gothic; letter-spacing:-1px; }
		.layout_1220_1f4s_1103A ul li a .textArea p small { }
	}

/*版型微調*/
.title_7{ width:100%; margin:4% 0 0 0;}
.bnArea { position:relative;}
.bnArea.m_close { position: absolute; top:0; left:0; display:block; margin: 20px 0 0 0; width: 267px; height: 400px; /*background-color:rgba(0,0,0,0.5);*/}
   

