@charset "big5";

/*回版頭*/
/*
#gotop { display: none; position:fixed; z-index:5; right:20px; bottom:30px;padding:10px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#000;  background-color:rgba(255,255,255,0.7); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
#gotop:hover { padding-top:40px; background-color:#fff;} 
#gotop::before { content: ""; position:absolute; top:7px; left:18px; width: 0; height: 0; border: 4px solid #000; border-color: transparent transparent #000; }
	@media screen and (max-width:767px){
		#gotop { right:20px; bottom:20px; }
	}
*/

/*PC右側黏人精+goTop+回版頭*/
.fixarea { z-index:99; position:fixed; right:10px; top:70px; display:block; width:210px; text-align: center; font-family:"微軟正黑體", "Microsoft JhengHei", Arial; /*animation: huang2 2s linear alternate infinite;*/}
.fixarea .nnn{/* animation: huang 2s linear alternate infinite;*/}
.fixarea .title img {
	  -webkit-transition: all 0.2s ease;
		 -moz-transition: all 0.2s ease;
		  -ms-transition: all 0.2s ease;
		   -o-transition: all 0.2s ease;
			  transition: all 0.2s ease;}
 /*由前到後的分別是：[動畫名稱momoco]，[撥放時間1秒]，[10張影格_取決於圖片內有幾個動作]，[撥放幾次_infinite=重複]，[alternate=會倒著撥回去]*/
    .icon_m { position:relative; z-index:5; top:0; left:40px; margin-left:; width:146px; height:110px; background: url(UFO.png);
        -webkit-animation: icon_m_go 3s steps(17) infinite ;
                animation: icon_m_go 3s steps(17) infinite;
    }
    @-webkit-keyframes icon_m_go {
       from { background-position:    0px; }
         to { background-position: -2482px; }
    }
    
    @keyframes icon_m_go {
       from { background-position:    0px; }
         to { background-position: -2482px; }
    }
/*PC分會場header*/
.cantantBase { z-index:10; position: fixed; top:0; left:0; width:100%; text-align:right; background-color: rgba(58,58,58,0.75);
				  -webkit-transition: all 0.3s ease;
					 -moz-transition: all 0.3s ease;
					  -ms-transition: all 0.3s ease;
					   -o-transition: all 0.3s ease;
						  transition: all 0.3s ease;}
.cantantBase.fixactive { background-color: rgba(0,0,0,0.8);  box-shadow:0 2px 20px rgba(0,0,0,.3); }
.cantantBase .box { position:relative; margin:0 auto; width:1220px; height:50px;border:0;border-radius: 0; background: none;}
.cantantBase .momologo { position:absolute; top:15px; left:20px; }
.cantantBase .momologo a { display:block; width:200px; height:22px; background:url(momo_logo.png);}
.cantantBase .momologo a:hover { background:url(momo_logo_on.png);}

.cantantBase .logo   { position:absolute; top:50px; left:40px; }
.cantantBase .logo a { display:block; width:138px; height:154px; background:url(logo.png);}


.cantantBase ul {display:inline-block;  margin:0 5px 0 0; padding:0; list-style:none;  text-align:center; }
.cantantBase ul li { float:left; display:inline-block; position:relative; margin:0; padding:0; margin-left:30px; font-size:16px; line-height:50px;}
.cantantBase ul li::before { content:""; position:absolute; top:30%; left:-20px; display:block; width:1px; height:40%; background-color:#fff; opacity:.6; }
.cantantBase ul li:first-child::before { display:none;}
.cantantBase ul li a { display:block; color:#fff;}
.cantantBase ul li:hover a{ color:#ffffc8;}
.cantantBase ul .btn_on a { color:#ffffc8;}
	@media screen and (max-width:767px){
		.cantantBase { background-color:#fff; box-shadow:0 2px 10px rgba(0,0,0,.2);}
		.cantantBase * { -webkit-box-sizing:border-box; box-sizing:border-box;}
		.cantantBase .box { width:100%; height:44px;}
		.cantantBase .momologo { display:none;}
		.cantantBase ul { margin:0 auto; width:100%;}
		.cantantBase ul li { margin-left:0; width:20%; height:44px; font-size:12px; line-height:16px; text-shadow: none;}
		.cantantBase ul li::before { display:none;}
		.cantantBase ul li a { padding-top:5px; color:#000;}
		.cantantBase ul li:hover a{ color:#C63002; }
		.cantantBase ul .btn_on a { color:#C63002;}
		.cantantBase ul .btn_on { border-bottom: 3px solid #C63002}
	}
/*.fixarea .title:hover img { -webkit-transform:translateY(-5px); transform:translateY(-5px);}*/
.fixarea .fix_box { margin:0 auto 0 auto;}
.fixarea .title{position: relative;}
.fixarea .touch{position: absolute;bottom:-10px;left: 47px;}
.fixarea img{width:auto;}
.fixarea .img1{position: relative;bottom:0;left:0;}
.fixarea .img2{position: absolute;bottom:-17px;left: -25px;display: none;}
.fixarea .touch:hover .img2{display: block;}
.fixarea ul { margin:0; padding:0; list-style:none;}
.fixarea li { position:relative; margin:0; padding:0; font-size:16px; line-height:20px;}
.fixarea a {display: block;height: 100%;width: 100%;}
.fixarea .fix_main ul{background: url(fixbox_03.png) repeat-y center top;margin: 0 auto; background-size: 100%;width: 167px;padding-bottom: 5px;}
.fixarea .fix_main li { padding:8px 0;margin: 0 auto;width: 167px;height:20px;font:19px/20px '微軟正黑體';color: #FFF;}
.fixarea .fix_main li a{color: #FFF;margin:0;padding:5px 0 0; }
.fixarea .fix_main li a.hover,
.fixarea .fix_main li a:hover{color: #FFF965; }
.fixarea .fix_main li:nth-child(1){height:25px;line-height: 25px; }
.fixarea .fix_main li:nth-child(2){height:25px;}
.fixarea .fix_main li:nth-child(3){height:25px;}
.fixarea .fix_main li:nth-child(4){height:25px;line-height: 25px;}
.fixarea .fix_main li:nth-child(5){height:25px;}
.fixarea .fix_main li::after{content:"";display: block;height: 1px;width: 80px;position: absolute;background-color: rgba(255,255,255,0.6);left: 45px;bottom:-5px;}
.fixarea .fix_main li:last-child::after,
.fixarea .fix_main li:nth-child(5)::after,
.fixarea .fix_main li:nth-child(6)::after{display: none;}
.fixarea .title_b  { background: url(fixbox_04.png) no-repeat center top;background-size: 100%; width: 167px;height:81px;margin: 0px 0px 0px 21px;}

.fix_hover{color:#FFF965!important;}

.fixarea  .btn_on a { color:#ffe400; }
    @-webkit-keyframes huang {
       0% {transform:translateX(-10px) ;}
       100% {transform:translateX(10px);}
   }  
    @keyframes huang {
       0% {transform:translateX(-10px);}
       100% {transform:translateX(10px);}
    }
    @-webkit-keyframes huang2 {
       0% {transform:rotate(2deg);}
       100% {transform:rotate(-2deg);}
   }  
    @keyframes huang2 {
       0% {transform:rotate(2deg);}
       100% {transform:rotate(-2deg);}
    }


/*活動紀錄查詢浮層*/
.refArea { width:700px; position:relative; display:block; margin: 0 auto; padding:0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.refArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.refArea .closeBN a:hover { background-color:#666; text-decoration:none}
.refArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.refArea .title2 { margin:20px auto 0px; font:bold 28px/1em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.1em;  color:#fff; text-align:center}
.refArea .title3 { margin-top:10px; font:bold 18px/1em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.1em;  color:#fff; text-align:center}
.refArea .ref_Date ul { margin: 0 auto; padding: 10px 50px;}
.refArea .ref_Date li { display:inline-block; margin:5px; padding:0px; width:70px; height:70px;border-radius:50%; text-shadow:rgba(0%,0%,0%,0.15) 1px 1px; color:#fff; letter-spacing: -0.05em; text-align:center; background-color:#979797;text-align:center; box-shadow: 0px 0px 3px 3px rgba(0%,0%,0%,0.15),0px 0px 0px 5px rgba(100%,100%,100%,0.1) inset;}
.refArea .ref_Date li .month {font:bold 20px/1.5em "Century Gothic"; margin: 5px auto 0 auto; border-bottom:#FFF solid 1px; width:80%}
.refArea .ref_Date li .date {font:bold 20px/1em "Century Gothic"; margin:0; margin-top:4px}
.refArea .ref_Date li.opendate { background-color:#000;color:#FFDD00!important; box-shadow: 0px 0px 3px 3px rgba(0%,0%,0%,0.15),0px 0px 0px 5px rgba(100%,100%,100%,0.1) inset;  }
.refArea .ref_List table { margin:0 auto; padding: 10px 0;}
.refArea .ref_List .table2 {font:bold 20px/1.2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em; color:#FFF; text-align:center; background-color:#999}
.refArea .ref_List .table3 {font:bold 20px/1.2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.0001em; color:#000; text-align:center; background-color:#FFF}
.refArea .ref_List table td,
.refArea .ref_List table td { border: 1px solid #340d4d; font: bold 20px/1.5em "微軟正黑體", "Microsoft JhengHei", "Century Gothic";}
.refArea .ref_List .txtsmall { padding:40px; padding-top:10px; font: 12px/18px "微軟正黑體", "Microsoft JhengHei", "Century Gothic"; color:#fff;  text-align:left;}
	@media screen and (max-width:767px){
		.refArea { width:90%;}
		.refArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
		.refArea .title  { margin:0 5%; font-size:30px;}
		.refArea .title2 { margin:10px auto 0px; font-size:20px; }
		.refArea .title3 { margin:10px auto 0px; font-size:14px; }
		.refArea .ref_Date ul { margin:0 auto; padding: 10px 10px 20px; text-align:center;}
		.refArea .ref_Date li { margin:3px; width:40px; height:40px;}
		.refArea .ref_Date li .month { font-size:12px; line-height:1.3em; margin-top:4px;}
		.refArea .ref_Date li .date { margin-top:2px; font-size:12px;}
		.refArea .ref_List table { }
		.refArea .ref_List .table2 { font-size:12px;}
		.refArea .ref_List .table3 { font-size:12px;}
		.refArea .ref_List .table2 td,
		.refArea .ref_List .table3 td { font-size:12px; line-height:1.2em;}
		.refArea .ref_List .txtsmall { padding:20px; padding-top:10px; font-size:12px; line-height:18px; color:#fff;  text-align:left;}
	}


	/*分享*/
.FBLINEArea { width:1000px; position:relative; display:block; margin: 2% auto; padding:0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.FBLINEArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.FBLINEArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.FBLINEArea .box_n { margin: 10px auto; padding: 20px 20px;}
.FBLINEArea .box_n .btn_share{ display: block; margin: 20px auto 30px; width: 702px; height: 118px; }
@media screen and (max-width:767px){
		.FBLINEArea { width:90%;}
		.FBLINEArea .box_n { margin: 1vw auto;}
		.FBLINEArea .box_n .btn_share{ display: block; margin: 5px auto 15px; width: 100%; height: 16%; }
		.FBLINEArea  img{ width:100%;}
		.FBLINEArea .title  { margin:0 5%; font-size:30px;}
		.FBLINEArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
}	


	/*簽到*/
.singArea { width:1000px; position:relative; display:block; margin: 0 auto; padding:0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.singArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.singArea .closeBN a:hover { background-color:#666; text-decoration:none}
.singArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.singArea .box_n { margin: 10px auto; padding: 20px 20px;}
@media screen and (max-width:767px){
		.singArea { width:90%;}
		.singArea .box_n{ padding:0 0 5%; background-color:none!important;}
		.singArea .title  { margin:0 5%; font-size:30px;}
		.singArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
}
	
	
/*飄-上下*/
.uptodown-play { -webkit-animation:uptodown-play 1s infinite alternate;
				         animation:uptodown-play 1s infinite alternate;}

@media screen and (max-width:767px){
.uptodown-play { -webkit-animation:uptodown-play 15s ease-in-out infinite alternate!important;
				         animation:uptodown-play 15s ease-in-out infinite alternate!important;}

}
	@-webkit-keyframes uptodown-play { 
		0%   { -webkit-transform: translate(0,-20px); } 
		100% { -webkit-transform: translate(0,0);}
	}
	@keyframes uptodown-play { 
		0%   { transform: translate(0,-20px);} 
		100% { transform: translate(0,0);}
	}
.uptodown-play { -webkit-animation:uptodown-play 1s infinite alternate;
				         animation:uptodown-play 1s infinite alternate;}

/*飄-下上*/
.downtoup-play { -webkit-animation:downtoup-play 1s ease-in-out infinite alternate;
				         animation:downtoup-play 1s ease-in-out infinite alternate;}
	@-webkit-keyframes downtoup-play { 
		0% { 
			-webkit-transform: translate(0,0);  
		} 
		100% { 
			-webkit-transform: translate(0,-1vw);
		}
	}
	@keyframes downtoup-play { 
		0% { 
			transform: translate(0,0);  
		} 
		100% { 
			transform: translate(0,-1vw);
		}
	}
 

/*放大縮小*/
.zoominzoomout-play { -webkit-animation-duration: 0.7s;  animation-duration: 0.7s; animation-delay:-1s;  -webkit-animation-name: zoominzoomout-play;  animation-name: zoominzoomout-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1);} 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
	}


/*通知浮層*/
.agreeArea { z-index:1; position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:700px; font-family:"Century Gothic", "微軟正黑體", sans-serif;}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea .box .txtArea { height:600px; overflow-y:auto;}
.agreeArea .box h3 { margin:0; padding:0; height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#000; background-color:#ffd710;}
.agreeArea .box p { margin:10px auto; margin-top:1rem; padding:0 0 0 24px; text-align:center; font-size:1em; text-align:left; line-height:1.2em; color:#000;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.agreeArea .box ul,
.agreeArea .box ol { margin:0;}
.agreeArea .box li { margin:0 20px 10px 0px; font-size:0.9em; text-align: left;}


/*浮層嘿嘿*/
.blackBox_play {}
.blackBox { display:none; z-index:9; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75); }
.blackBox * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox  a { text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333; text-align: center;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox .Boxclose { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}
.blackBox .box h4 {height: 3rem; font-size: 0.8rem; font-weight: 100; text-align: center; color: #000;}




/*版頭動畫*/
.top_box img{width:100%;}
.top_box{position: relative ;width:100%;background-size: 100%; min-width: 0;left: 0;margin: 0 auto;}
.top_box .fang{position: absolute;top:2vw;background:url(fang.png) no-repeat center top;background-size: 100%;width:100%;height:51vw;z-index: 3;}
.top_box .top_bn_04{position: absolute;top:0;left:0;width:100%; z-index:3;-webkit-animation:movein 1s ease-in-out ease;animation:movein 1s ease-in-out ease;}
.fang img{width: 100%;position: absolute;left:0;top:0;opacity: 1;}
.fang img:nth-child(1){animation:img1 1s infinite}
.fang img:nth-child(2){animation:img2 1s infinite}
@keyframes img1{
	0%{opacity:1;}
	30%{opacity:1;}
  100%{opacity:0;}
}
@keyframes img2{
	0%{opacity:0;}
	100%{opacity:1;}
}
@-webkit-keyframes turn{
	0%{ opacity:0;}
	49%{ opacity:0;}
	50%{ opacity:1;}
	100%{ opacity:1;}
}
@keyframes turn{
	0%{ opacity:0;}
	49.5%{ opacity:0;}
	50%{ opacity:1;}
	100%{ opacity:1;}
}

	@-webkit-keyframes loading{
		0%{-webkit-transform:rotate(0deg);}

		100%{-webkit-transform:rotate(4320deg);}
	}
	@keyframes loading{
		0%{-webkit-transform:rotate(0deg);}

		100%{-webkit-transform:rotate(4320deg);}
		}
	@-webkit-keyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
	}
	@keyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
		}
	@-moz-eyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
        }
	@keyframes high{
		0%{transform:translateY(0);}
		50%{transform:translateY(15px);}
		100%{transform:translateY(0);}
		}
	@-moz-eyframes high{
		0%{transform:translateY(0);}
		50%{transform:translateY(15px);}
		100%{transform:translateY(0);}
        }
	@-webkit-keyframes pon { 
		0% {opacity:0; } 
		5% {opacity:1;}
		20% {opacity:1;}
		25% {opacity:0;}
		100% {opacity:0;} 
		
	}
	@keyframes pon{ 
		0% {opacity:0; } 
		5% {opacity:1;}
		20% {opacity:1;}
		25% {opacity:0;}
		100% {opacity:0;} 
	}
.jump{ -webkit-animation:jump 5s ease both infinite; animation:jump 5s ease both infinite;}
	@-webkit-keyframes jump { 
		0% {-webkit-transform: translateY(0);} 
		2% {-webkit-transform: translateY(-2vw);} 
		4% {-webkit-transform: translateY(0vw);} 
		100% {-webkit-transform: translateY(0);}
	}
	@keyframes jump{ 
		0% {transform: translateY(0); }
		2% {transform: translateY(-2vw); }
		4% {transform: translateY(0vw); }
		100% {transform: translateY(0);}
	}
/*閃光*/				  
.brightness-play { -webkit-animation:brightness-play 1s ease ;
				           animation:brightness-play 1s ease ;}
	
	@keyframes brightness-play {
	  0% { 
		filter:brightness(100%);
	  }
	  60% { 
		filter:brightness(100%);
	  }
	 70% { 
		filter:brightness(200%);
	  }
	 80% { 
		filter:brightness(100%);
	  }
	 90% { 
		filter:brightness(200%);
	  }
	  100% { 
		filter:brightness(100%);
	  }
	}


	
/*長出*/
.zoomIn-play{ -webkit-animation:zoomIn-play 1.3s ease-in both; animation-delay: 1s; 
				      animation:zoomIn-play 1.3s ease-in both; animation-delay: 1s;}
	@-webkit-keyframes zoomIn-play { 
			 0% { opacity:0;-webkit-transform: scale3d(.1, .1, .1); transform: scale3d(.1, .1, .1);  } 
			50% {opacity:0;transform: scale3d(.5, .5, .5); transform: scale3d(.5, .5, .5);  }
			55% {opacity:0;transform: scale3d(.6, .6, .6); transform: scale3d(.6, .6, .6);  }
			100% {opacity:1;transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);  }
			 }
	@keyframes zoomIn-play { 
			 0% {opacity:0;-webkit-transform: scale3d(.1, .1, .1); transform: scale3d(.1, .1, .1);  } 
			50% {opacity:0;transform: scale3d(.5, .5, .5); transform: scale3d(.5, .5, .5);  }
			55% {opacity:0;transform: scale3d(.6, .6, .6); transform: scale3d(.6, .6, .6);  }
			100% {opacity:1;transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);  }
			 }
.expandUp2{
	animation-name: expandUp2;
	-webkit-animation-name: expandUp2;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;		

	visibility: visible !important;	
}

@keyframes expandUp2 {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	70% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}	
	90%{
		transform: translateY(-7%) scaleY(1.12);
	}
	95%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@-webkit-keyframes expandUp2 {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	70% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}	
	90%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	95%{
		-webkit-transform: translateY(3%);
	}	
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}	
}


@keyframes img1{
	0%{opacity:1;}
	30%{opacity:1;}
  100%{opacity:0;}
}
@keyframes img2{
	0%{opacity:0;}
	100%{opacity:1;}
}

.tobig{-webkit-animation: tobig 0.6s  ease; -moz-animation: tobig 0.6s  ease; animation: tobig 0.6s  ease;animation-delay: 1.5s;animation-fill-mode:both;position: absolute; z-index: 5;}
	@keyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
		}
	@-moz-eyframes tobig{
		0%{transform:scale(0);}
		85%{transform:scale(1.2);}
		100%{transform:scale(1);}
        }




