@charset "big5";
/* CSS Document */

/*基本*/                                                    
html { -webkit-text-size-adjust:none;background-size:15px 15px;background-repeat: repeat;}
body { margin:0px; padding:0px;background-color: #e5241f;}
/*選單*/
/*全BOX版面*/ 
.WRAPPER { z-index:0; position: relative; display:block; margin: 0 auto; padding:0 0 50px; width:100%;  min-width:1220px;min-height:1220px; overflow:hidden; text-align:left; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		.WRAPPER { padding-bottom:0px; min-width: inherit;}
		.WRAPPER img {  width:100%;  height:auto;}
	}

/*背景*/
.bg{position: fixed; top:0; left:0; width:100%; min-width:1220px;z-index: 0;background-image:linear-gradient(-45deg,rgba(255,255,255,0.06) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.06) 50%,rgba(255,255,255,0.06) 75%,transparent 75%);background-repeat: repeat; height:100%;background-size:15px 15px;}
	@media screen and (max-width:767px){
.bg{background-size: 200%;min-width: inherit;}
	}
/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(105%);
  -webkit-transform:translateY(-6px);
     -moz-transform:translateY(-6px);
      -ms-transform:translateY(-6px);
       -o-transform:translateY(-6px);
          transform:translateY(-6px);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0px auto 0; width:864px;}

	@media screen and (max-width:767px){
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		/*區塊_兩邊間距*/
	}
@media screen and ( max-width:736px) {

}
/*按鈕樣式*/
a.btn_type01{font: bold 30px/30px Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 8px 25px 5px;background:#000; border-radius: 50px;border:3px solid rgba(255,255,255,0.5);
            -webkit-animation: btn_type01_don 0.6s ease infinite alternate;
                    animation: btn_type01_don 0.6s ease infinite alternate;}
a.btn_type02{font: bold 44px/44px Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 8px 30px;background: linear-gradient(#2700a5 10%,#0b0030 ); border-radius: 50px;border:5px solid rgba(255,255,255,0.5);
            -webkit-animation: btn_type01_don 0.6s ease infinite alternate;
                    animation: btn_type01_don 0.6s ease infinite alternate;}

	@media screen and (max-width:767px){
		a.btn_type02{font: bold 6vw/6vw Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 2vw 4.6vw 1.5vw; border-radius: 50px;border:0.8vw solid rgba(255,255,255,0.5);}
		a.btn_type01{font: bold 5vw/5vw Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 1.6vw 4vw 1.2vw; border-radius: 50px;border:0.8vw solid rgba(255,255,255,0.5);}
		
}
   @-webkit-keyframes btn_type01_don {
       0% { border-color:rgba(255,255,255,0.2)  }
       100% { border-color:rgba(255,255,255,0.5); }
    }
    @keyframes btn_type01_don {
       0% { border-color:rgba(255,255,255,0.2)  }
       100% { border-color:rgba(255,255,255,0.5); }
}


.Area_top .pctitle{margin-left:-390px;}

.dash{width:60%;height:3px; background-image: linear-gradient(90deg,#FFF 70%,transparent 70%);background-size:20px 30px; margin: 0 auto;}

.Area .box{position:relative;width: 100%; border-radius: 20px;background-color: rgba(255,255,255,0.7);width: 100%;padding: 0 20px 15px;margin: 40px auto 0;box-sizing: border-box;}
.Area .box .box_title{text-align: left;}
.Area .box .box_title img{margin-top: -7px}
.Area .box h6{font:36px/44px 微軟正黑體,Century Gothic;text-align: left;margin: 20px auto;text-align: justify;}
.Area .box h6.full img{width: 100%;}
.Area .box h6.tab{text-indent: 2em;position: relative;}
.Area .box h6.tab::before{content: ""; position: absolute;left: 1.2em;top:15px;width: 0;height: 0;border-width:10px 0 10px 20px;border-style: solid;border-color: transparent transparent transparent #000;}
.Area .box h6.sub{text-indent: 6em;margin: -20px auto 20px;}
.brown{color:#993d10;padding-left: 0.5em;text-indent: -0.4em;letter-spacing: -0.05em;}
.red{color: #e5241f;font:bold 36px/44px 微軟正黑體,Century Gothic!important;}
.Area .title{margin:0 auto;width: 100%}
.Area .title img{margin:0 auto;width: 100%}

.Area ol{padding:0 20px 0 45px;font-size: 36px;}

@media screen and ( max-width:736px) {
.Area .box{width: 96%; border-radius: 10px;padding: 0 2vw 3vw;margin: 5vw auto;box-sizing: border-box;}
	.Area .step img{width: 30%}
	.Area .box .box_title img{margin-top: -1vw;width: 35vw;}
.Area .box h6{font:5vw/6vw 微軟正黑體,Century Gothic;text-align: left;margin: 4vw auto;}
.Area .box h6.tab{text-indent: 1em;position: relative;}
.Area .box h6.tab::before{content:""; position: absolute;left: 0em;top:0.5vw;width: 0;height: 0;border-width:2vw 0 2vw 4vw;border-style: solid;border-color: transparent transparent transparent #000;}
	.Area .box h6.sub{text-indent: 5em;}
.Area .box h6.full{width:100vw;text-align: center;margin-left: -12vw}
.Area .box h6.full img{width: 110%;}
.Area ol{padding:0 2vw 0 5vw;font-size: 5vw;}
	.red{color: #e5241f;font:bold 6vw/6vw 微軟正黑體,Century Gothic!important;}
}

.Area_top{position:relative;}
.Area_top .logo{position:absolute;top:10px;left: 0;}
.Area_top .logo:hover{top:15px;}
.Area_top .btn_more{position: absolute; top:78px; right:363px;}

.Area2 {margin: -50px auto 0;}
.Area2 .box{padding:15px 20px;margin: 0px auto 0;}
.Area2 .title{margin: 40px auto 0;}



.Area3 .box{padding:15px 20px;margin: 0px auto 0;}
.Area4 .box{padding:15px 20px;margin: 0px auto 0;background: #FFF;}
.go_buy{margin:20px auto -10px;border:5px solid rgba(255,255,255,0.5);}
.go_buy img{width: 840px;}
@media screen and ( max-width:736px) {
	.Area2 {margin: -12% auto 0;}
	.Area_top .logo{position:absolute;top:2vw;left: 2vw;width: 15vw;}
	.Area_top .logo:hover{top:2vw;}
	.Area_top .btn_more{position: absolute; top:7%; right:2vw;}
	.Area1{margin-top:-2vw;}
	.Area2 .title{margin: 2vw auto 0;}
	.go_buy{margin:1vw auto;border:1vw solid rgba(255,255,255,0.5);border-width:1vw 0 1vw 0;}
	.go_buy img{width: 100%;}
	h6.full{text-align: center; margin: 0 auto;}
	h6.full .bank_logo{width:100%!important;margin-left: 5vw!important;}
}
/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;margin: 0 auto;}
	}
	
