@charset "big5";
/* CSS Document */

/*基本*/
body{ margin:0; padding:0;background-color: #000;}

/*全BOX版面*/ 
.WRAPPER { z-index:0; position: relative; display:block; margin: 0 auto; padding:0 0 40px; width:100%;  min-width:1220px; overflow:hidden; text-align:left; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background-color:#000;}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		.WRAPPER { padding-bottom:0px; min-width: inherit;}
		.WRAPPER img {  width:100%;  height:auto;}
	}
	
	
/*背景*/
.bgtop_f { position: fixed;    top:0; left:0; width:100%; min-width:1220px;z-index: 1; }
.bgtop_g { position: fixed;  }
.Area1220 ul.bb{position: fixed; padding:30px 0 0;width: 2000px;margin: 40px 0 0 -390px;;}
.Area1220 ul.bb::after{content: "";clear: both; }
.Area1220 ul.bb li{float: left;list-style: none; }
/*.Area1220 ul.bb li:nth-child(1){margin-left: -40px; }
.Area1220 ul.bb li:nth-child(4){margin-left: 80px; }
.Area1220 ul.bb li:nth-child(6){margin-right: -80px; }*/
.bgtop_a { position: absolute; top:0; left:0; width:100%; min-width:1220px; }
.bgtop_3    { z-index:-90; height:700px;margin: 50px 0 0 0px;background: url(bgtop_3.png) no-repeat center top ;}
.bgtop_3_3  { z-index:-33; height:700px;z-index: 1;  }
.bgtop_3_4  { z-index:-34; height:700px;z-index: 1;  }
.bgtop_3_3 span { display:block; width:100%; height:100%; margin: 90px 0 0 15px;background: url(bgtop_3_3.png) no-repeat center top ;}
.bgtop_3_4 span { display:block; width:100%; height:100%;margin: 90px 0 0 15px; background: url(bgtop_3_4.png) no-repeat center top ; }

	.bgtop_r-play { -webkit-animation:bgtop_r-play 60s linear infinite; animation:bgtop_r-play 60s linear infinite ;}
		@-webkit-keyframes bgtop_r-play {
		  0%   { background-position:0 0;}
		  100% { background-position:2000px 0;}
		}
		@keyframes bgtop_-play {
		  0%   { background-position:0 0;}
		  100% { background-position:2000px 0;}
		}
	.bgtop_l-play { -webkit-animation:bgtop_r-play 160s linear infinite alternate-reverse; animation:bgtop_r-play 160s linear infinite alternate-reverse;}
	
	@media screen and (max-width:767px){
.bgtop_f { min-width:inherit; background-size: 200%;top:0;}
.bgtop_f *,
.bgtop_a *{ background-size: 100%; }
.bgtop_a {  min-width:inherit; }
.bgtop_3 { background: url(bgtop_3m.png) no-repeat center top ;background-size: 100%;margin: 44px 0 0 0px;}


	}	
	

/*區塊_all*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(105%);
  -webkit-transform:translateY(-6px);
     -moz-transform:translateY(-6px);
      -ms-transform:translateY(-6px);
       -o-transform:translateY(-6px);
          transform:translateY(-6px);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0px auto 0; width:960px;}
.Area960 img{margin: 0 auto}
	@media screen and (max-width:767px){
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 1% 2%; padding:0; width:48%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 1% 2% ; padding:0; width:31.3%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		/*區塊_兩邊間距*/
	}
/*按鈕樣式*/
a.btn_type01{font: bold 54px/54px Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 12px 96px 9px 36px;background: linear-gradient(#2700a5 10%,#0b0030 ); border-radius: 50px;border:3px solid rgba(255,255,255,0.5);text-decoration:none;
            -webkit-animation: btn_type01_don 0.6s ease infinite alternate;
                    animation: btn_type01_don 0.6s ease infinite alternate;}
a.btn_type01::after{content:"GO"; font:bold 30px/52px Arial,微軟正黑體;position:absolute;top:13px; width: 50px;height:50px; border-radius: 50%;background-color: #FFF;color: #1a006c;letter-spacing: -0.1em;display: inline-block;text-indent: -0.1em;margin: 0 0 0 6px;}

a.btn_type02{font: bold 44px/44px Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 8px 30px;background: linear-gradient(#2700a5 10%,#0b0030 ); border-radius: 50px;border:5px solid rgba(255,255,255,0.5);text-decoration:none;
            -webkit-animation: btn_type01_don 0.6s ease infinite alternate;
                    animation: btn_type01_don 0.6s ease infinite alternate;}
	@media screen and (max-width:767px){
		a.btn_type02{font: bold 6vw/6vw Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 2vw 4.6vw 1.5vw; border-radius: 50px;border:0.8vw solid rgba(255,255,255,0.5);}
a.btn_type01{font: bold 30px/30px Arial,微軟正黑體;color: #FFF; display: inline-block;padding: 9px 58px 6px 25px;background: linear-gradient(#2700a5 10%,#0b0030 ); border-radius: 50px;border:3px solid rgba(255,255,255,0.5);text-decoration:none;}
a.btn_type01::after{content:"GO"; font:bold 20px/30px Arial,微軟正黑體;position:absolute;top:7px; width: 32px;height:32px; border-radius: 50%;background-color: #FFF;color: #1a006c;letter-spacing: -0.1em;display: inline-block;text-indent: -0.1em;margin: 0 0 0 4px;}

}
   @-webkit-keyframes btn_type01_don {
       0% { border-color:rgba(255,255,255,0.2)  }
       100% { border-color:rgba(255,255,255,0.5); }
    }
    @keyframes btn_type01_don {
       0% { border-color:rgba(255,255,255,0.2)  }
       100% { border-color:rgba(255,255,255,0.5); }
}
/*共用背景*/
.Area_box .title { z-index:1; position:relative; margin-bottom:0px; }
.Area_box .box { z-index:0; position:relative; margin-bottom:50px; padding:110px 0 40px; overflow:hidden; }

	@media screen and (max-width:767px){
		.Area_box .box {width: }
}

/*版頭*/
.Area_top { position: relative; padding-bottom:300px;height:auto;}
.Area_top .video_box{ position: relative;top:140px;margin-bottom: 140px;}
.Area_top .btn_left{ position: absolute; right: 260px;top:65px}
.Area_top .btn_right{position: absolute; right: 130px;top:815px;z-index: 5; }
.Area_top .box{ position: relative;top:125px;left: 10px}
.Area_top .logo { position:absolute; top:50px; left:10px;}
	@media screen and (max-width:767px){
.Area_top {height:auto;padding: 0; }	
.Area_top .main_bg{position: relative; }	
.Area_top .main{height:auto;padding: 0; }	
.Area_top .btn_left{ position: absolute; right: 33vw;top:3vw}
.Area_top .btn_right{position: absolute; right: 2vw;top:3vw }
.Area_top .logo { position:absolute; top:0px; left:-1vw;width: 19vw;z-index: 6;}	
.Area_top .box { top:0px; left:0vw;}	
.Area_box .box { z-index:0; position:relative; margin-bottom:5vw; box-sizing: border-box;padding:0px 0 5vw; overflow:hidden; border-radius:10vw; box-shadow:inset 0vw 0.5vw 8vw 3vw #887560; background-color:#e4d5c4;border:1.5vw solid #ceb49a;}
.Area_box .box:after  { content: ""; z-index:-100; position:absolute; top:150px; bottom:200px; left:250px; right:250px; display:block; box-shadow:0 0 100px 100px #e4d5c4; background-color:#e4d5c4;}
}
.Area_top .sub_box{display: block;z-index: 5;}
.Area_top .subtitle{ z-index:2;position: relative;top:-220px;left:270px;}
.Area_top .subtitle img:first-child{ position: absolute;top:0px;left:0px;}
.Area_top .subtitle img{ position: absolute;top:0px;left:0px;}
	@media screen and (max-width:767px){
		.Area_top .sub_box{ position: absolute;top:0px;left:0vw;width: 100%;height: 100%;}
		.Area_top .subtitle{ position: absolute;top:0px;left:0vw;}
		.Area_top .subtitle img:first-child{ position: relative;text-align: left;}
	}
		

/*
@-webkit-keyframes turn{
	0%{ opacity:0;}
	49%{ opacity:0;}
	50%{ opacity:1;}
	100%{ opacity:1;}
}
@keyframes turn{
	0%{ opacity:0;}
	49.5%{ opacity:0;}
	50%{ opacity:1;}
	100%{ opacity:1;}
}

.turn{animation:turn 4s linear infinite;-webkit-animation:turn 4s linear infinite;}
.turn2{animation:turn 4s linear infinite reverse;}
*/

.Area1{margin-top:-290px}
.Area1 ul{padding: 0;}
.Area1 ul li{list-style: none; display: inline-block;}
	@media screen and (max-width:767px){
		.Area1{margin-top:0px}
		.Area1 ul li{width: 32%;}
		.Area1 ul li img{width: 100%;}
		
}
.Area2 {margin:70px auto 0;}
.Area2::before{content:"";position: absolute;bottom: -12px;right:-15px; background:url(dec_momoco.png) no-repeat right bottom; width: 600px; height:600px;}
.Area2 .content_box{width: 100%;min-height: 300px;margin: 1vw auto;
	border-radius:20px;  background-image: linear-gradient(55deg,transparent 25%,rgba(255,255,255,0.05) 25%,rgba(255,255,255,0.05) 75%,transparent 75%), linear-gradient(-55deg,transparent 25%,rgba(255,255,255,0.05) 25%,rgba(255,255,255,0.05) 75%,transparent 75%);background-size: 42px 61px;background-color:#b59574;background-position: -20px -30px;}
	@media screen and (max-width:767px){
		.Area2 {margin:7vw auto 0;}
		.Area2 .content_box{padding-bottom: 2vw;border-radius: 8px;background-color: #956650;}
		.Area2::before{display: none;}
}

.Area_pop{z-index: 99; position:fixed;top:0;left: 0; height:100vh;width: 100vw;background-color: #000;text-align: center;}
.Area_pop .Area_pop_box{width: 700px;margin: 0 auto;}
.Area_pop h2{font: 48px/48px 微軟正黑體;color: #c9c9c9;letter-spacing: -0.05em;margin: 5px auto;}
.Area_pop a.btn_right{margin:2vw auto;position: relative;}
.Area_pop img{width: 90%;margin:6% auto 20px;}
.Area_pop .input {position:relative;width:70%;height:70px; background: #FFF;border-radius:5px; margin: 0px auto 8px;border:2px solid #bbb;}
.Area_pop input {display:inline-block;margin:0; padding:0 ; border:2px solid transparent; border-radius:10px; width:86%; height:70px;font-size:48px; line-height:72px; color:#CCC; font-family:"微軟正黑體","Microsoft JhengHei", Arial, Helvetica; text-align:center;background-color:transparent;}
.Area_pop input#searchbar{ color:#a7d3ff!important;}
	@media screen and (max-width:767px){

		.Area_pop{z-index: 99; position:fixed;top:0;left: 0; height:100vh;width: 100vw;background-color: #000;}
		.Area_pop .Area_pop_box{width:100%;margin: 0 auto;}
		.Area_pop img{width: 100%;margin-top:28%;}
		.Area_pop h2{font: 24px/28px 微軟正黑體;color: #c9c9c9;letter-spacing: -0.05em;}
		.Area_pop .content .game{margin:-20vw auto -22vw;}
		.Area_pop .input {position: relative;width: 70%;height:50px;margin: 1vw auto 2vw;border:2px solid #bbb;}
		.Area_pop input { display:inline-block;height:50px; margin:0; padding:0 3%;border-radius: 2px; border:0; width:100%;  text-align: center; font-size:22px;letter-spacing: -0.2vw; line-height:26px; background-color:transparent;}
		
		}
	/*入稿商品*/
	.livebox_PD { margin:0; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;}
	.livebox_PD ul { margin:0; padding:0; list-style:none; overflow:hidden;}
	.livebox_PD li { position: relative;width: 94%; margin: 25px auto; padding:24px; border-radius:10px; overflow:hidden; text-align:left; background-color: #fff;box-sizing: border-box;
					  -webkit-transition: all 0.2s ease;
						 -moz-transition: all 0.2s ease;
						  -ms-transition: all 0.2s ease;
						   -o-transition: all 0.2s ease;
							  transition: all 0.2s ease;}
	.livebox_PD li:hover { z-index:5; -webkit-transform:translateY(-6px); transform:translateY(-6px); box-shadow:0 0 20px rgba(0,0,0,0.2);}
	.livebox_PD li .imgArea { float: left; margin:0 10px 0 0; width: 46%; }
	.livebox_PD li .imgArea img { width:100%; height:auto;}
	.livebox_PD li h4 { margin:0; margin-left:46%; } 
	.livebox_PD li h4 b { display:block; height:1.8rem; font-size:1.6rem; line-height:1.8rem; letter-spacing:-0.1px; overflow: hidden;} 
	.livebox_PD li h4 span { display:block; font-weight:800; height:2.8rem; font-size:1.2rem; line-height:1.4rem; overflow: hidden;} 
	.livebox_PD li h5 {  margin:0; margin-left:46%; padding:10px 0; font-weight:300; height:4.2rem; font-size:1rem; line-height:1.4rem; letter-spacing:-0.1px; overflow: hidden;}
	.livebox_PD li .del { font-size:1rem; line-height:1.2rem; font-family:Century Gothic; color:#525252;}
	.livebox_PD li .del del { padding-left:10px; }
	.livebox_PD li p {  margin:0; margin-left:46%; padding:0; height:4rem; overflow:hidden; color: #d62672;}
	.livebox_PD li p b { font-weight:300; font-size:2rem; }
	.livebox_PD li p .money { font-weight:800; font-size:1.4rem; font-family:Century Gothic; }
	.livebox_PD li p .Price {  font-size:3rem; font-family:Century Gothic; letter-spacing:-1px; }
	.livebox_PD li p small {  font-size:1rem; letter-spacing:-1px;}
	.livebox_PD li .buy {  margin:10px 0 0; margin-left:50%; border-radius:0px; width: 40%; text-align: center;  background-color: #ffd144;  }
	.livebox_PD li .buy:hover { background-color:#FE0943; }
	.livebox_PD li .buy a { display:block; font-size:2rem; line-height:3rem; color: #000; }
	.livebox_PD li .buy:hover a {color:#fff; }
		@media screen and (max-width:767px){
			.livebox_PD ul { margin:0; padding:0 10vw; }
			.livebox_PD ul * { -webkit-box-sizing:border-box; box-sizing:border-box;}
			.livebox_PD li { margin: 0 0 2vw; padding:2vw ; border-radius:0;}
			.livebox_PD li:hover {  -webkit-transform:none; transform:none;}
			.livebox_PD li .imgArea { margin:0 2vw 0 0;}
			.livebox_PD li h4 {  } 
			.livebox_PD li h4 b { height:5.5vw; font-size:4.5vw; line-height:5.5vw;} 
			.livebox_PD li h4 span { height:10vw; font-size:4vw; line-height:5vw;} 
			.livebox_PD li h5 { display:none;}
			.livebox_PD li .del { margin:1vw 0; font-size:4vw; line-height:4vw;}
			.livebox_PD li .del del { padding-left:1vw; }
			.livebox_PD li p {  height:7.5vw; }
			.livebox_PD li p b { font-size:4vw; }
			.livebox_PD li p .money { font-size:4vw; }
			.livebox_PD li p .Price {  font-size:6.5vw; }
			.livebox_PD li p small {  font-size:4vw; }
			.livebox_PD li .buy {  margin:2vw 0 0; margin-left:48%; width: 50%;}
			.livebox_PD li .buy a { font-size:4.5vw; line-height:7vw; }
		}

	.footer{background: #000;z-index: 3;position: relative;}	
	.footer .box{width:1100px ;margin:0px auto;font-family: 微軟正黑體;padding: 30px 0;color: #FFF;}	
	.footer .box h2{font: bold 34px/34px 微軟正黑體;}	
	.footer .box li{list-style: decimal;margin-bottom: 15px;font: 18px/26px 微軟正黑體;text-align: justify;}	
@media screen and (max-width:767px){	
		.footer .box{width: 94%;}
		.footer .box h2{font: bold 28px/28px 微軟正黑體;margin: 0 0 0 4vw;}	
	    .footer .box ul{padding-left: 8vw}	
	    .footer .box li{list-style: decimal;margin:0 3vw 15px 0;font: 14px/18px 微軟正黑體;text-align: justify;}	
		
	}
.Area a.tags{position:absolute;}		
/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
	