@charset "big5";
/* CSS Document */
/*
 * 導覽/選單高亮組件v10-20170831
 * 
 * 【分類區】 <ul>
 * 【分類標】 <b>分類標<i></i></b>
 * 【切換樣式】 在<div class="NavArea">加class 
 *              NavArea-fixed-bottom 	選單一開始就置底
 *              NavArea-noBTN 			不要展開選單
 * 
 */

/*.NavArea { display:none;}
@media screen and (max-width: 767px) {*/

	/*選單外掛*/
	.NavArea { display: block; margin-bottom:0px; text-align:left;}
	.NavArea * ,
	.NavArea *:before ,
	.NavArea *:after { margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box;}

				
		/*選單_黑底*/
		/*cate-open 展開後*/	.NavArea.cate-open .Nav_bg { z-index:5; position: fixed; top:0; left:0; display:none; width:100%; height:100%; background-color:rgba(0,0,0,0.8);}
								.NavArea.cate-open .Nav_bg { display: block;}
		
		/*選單_保留區*/
		.NavArea .Nav_target { display:none; height:44px;}
		/*cate-fixed置頂後*/	.NavArea.cate-fixed .Nav_target { display:block; }
		/*【切換樣式】NavArea-fixed-bottom永遠浮動置底*/		.NavArea.NavArea-fixed-bottom .Nav_target { display:none !important;}

		/*選單_選單區*/
		.NavArea .Nav_box { z-index:99; position:relative; font: 16px/30px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; box-shadow:0 1px 0 rgba(242,242,242,1), 0 0 10px rgba(0,0,0,0.2); color:#000; background-color:#fff;}
		/*cate-fixed置頂後*/	.NavArea.cate-fixed .Nav_box { position: fixed; top:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop))}
		/*【切換樣式】NavArea-fixed-bottom永遠浮動置底*/		.NavArea.NavArea-fixed-bottom .Nav_box {  position: fixed !important; top: inherit  !important; bottom:0; width:100%; -position: absolute; -top: expression(eval(document.documentElement.scrollTop))}
		
		
			/*按鈕區*/
			.NavArea .Btn { z-index:1; position:relative;}
			.NavArea .Btn b { display:none; padding:0 10px; opacity:0.75;}
			.NavArea .Btn b:before { content: "切換分類"; }
			.NavArea .Btn i { position: absolute; top:0; right:0; display:block; width:44px; height:44px; cursor:pointer; }
			.NavArea .Btn i:before { content: ""; position:absolute; top:50%; left:50%; display:block; border:1px solid #333; border-width:0 1px 1px 0; width:20%; height:20%; -webkit-transform:translate(-50%,-50%) rotate(45deg); transform:translate(-50%,-70%) rotate(45deg); -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
			/*cate-open 展開後*/	.NavArea.cate-open .Btn {}
									.NavArea.cate-open .Btn b { display:block; height:44px;}
									.NavArea.cate-open .Btn i:before { -webkit-transform:translate(-50%,-50%) rotate(225deg); transform:translate(-50%,-30%) rotate(225deg);}
			/*【切換樣式】NavArea-fixed-bottom永遠浮動置底*/	.NavArea.NavArea-fixed-bottom .Btn i:before { -webkit-transform:translate(-50%,-50%) rotate(225deg); transform:translate(-50%,-30%) rotate(225deg);}
				/*cate-open 展開後*/	.NavArea.NavArea-fixed-bottom.cate-open .Btn i:before { -webkit-transform:translate(-50%,-70%) rotate(45deg); transform:translate(-50%,-70%) rotate(45deg);}
			
			/*【切換樣式】NavArea-noBTN不要展開按鈕*/		.NavArea.NavArea-noBTN .Btn { display:none;}


				
			/*選單*/
			.NavArea .Nav { z-index:5; position:relative; margin:0; padding:0; /*overflow-y: hidden;*/ width:calc(100% - 44px); height:44px; white-space: nowrap;
							 -webkit-overflow-scrolling: touch;
								-moz-overflow-scrolling: touch; 
								 -ms-overflow-scrolling: touch; 
								  -o-overflow-scrolling: touch; 
									 overflow-scrolling: touch;}
			.NavArea .Nav ul { position:relative; display:inline-block; list-style:none outside none; width:100%; white-space: nowrap;}
			.NavArea .Nav li,
			.NavArea .Nav b { float: left; z-index:1; position:relative; display:inline-block; padding:6px 0 0 0;/* overflow:hidden;*/ width:50%; height:44px; text-align:center; font-weight:300;}
			/*.NavArea .Nav b:after { content: ""; position:relative; top:5px; left:5px; display:inline-block; border:1px solid #000; border-width:0 1px 1px 0; width:7.5px; height:7.5px; -webkit-transform:translate(-50%,-50%) rotate(-45deg); transform:translate(-50%,-70%) rotate(-45deg);}*/
			.NavArea .Nav span { position:relative; top:9px; display: inline-block; display:none;margin-right:2px; width:26px; height:auto; }
			.NavArea .Nav span img {  filter: invert(1);}
			.NavArea .Nav a { display:block; position:relative; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0); color:inherit; text-decoration:none}
			/*.NavArea .Nav i { z-index:-1; position: absolute; top:50%; left:50%; border-radius:44px; width:90%; height:60%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}*/
			.NavArea .Nav i { z-index:-1; position: absolute; bottom:-2%; left:50%; width:100%; height:10%; -webkit-transform:translate(-50%,0%); transform:translate(-50%,0%);}
			/*cate-hover高亮*/		.NavArea .Nav .cate-hover a { padding:0;color: #e40580; }	
									.NavArea .Nav .cate-hover i {background-color: #e40580;}
									.NavArea .Nav .cate-hover span img {;}
			/*cate-open 展開後*/	.NavArea.cate-open .Nav { overflow-y:initial; width:100%; height: inherit;}
									.NavArea.cate-open .Nav ul { display:block; overflow:hidden; width:100%; padding:1%; white-space: inherit;}
									.NavArea.cate-open .Nav li { float:left; width:33.2%;}
									.NavArea.cate-open .Nav b { float:left; width:100%;}
									.NavArea.cate-open .Nav b:after { display:none;}
									.NavArea.cate-open .Nav a { color:#000;}
									.NavArea.cate-open .Nav a i { background-color:rgba(240,240,240,1) !important;}
									.NavArea.cate-open .Nav b i { display:none; width:96%; background-color:#F2235E; }
									
			/*【切換樣式】NavArea-noBTN不要展開按鈕*/		.NavArea.NavArea-noBTN .Nav { width:100%;}

  /*高亮顏色*/
  .NavArea .Nav .cate-hover i {}
  
		
/*}*/
	
	



