@charset "big5";
/* CSS Document */

/*回版頭*/
#gotop { display: none; position:fixed; z-index:5; right:20px; bottom:30px;padding:14px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#fff;  background-color:rgba(0,0,0,0.5); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
#gotop:hover { padding-top:40px;} 
#gotop::before { content: ""; position:absolute; top:7px; left:19px; width: 0; height: 0; border: 4px solid #fff; border-color: transparent transparent #fff; }
/*白色*/
#gotop { color:#000; background-color:rgba(255,255,255,0.7);}
#gotop::before { border-color: transparent transparent #000;}
	@media screen and (max-width:767px){
		#gotop { right:10px; bottom:50px; }
	}

/*PC選單*/
.fixbox { z-index:10; position: fixed; top:0; left:0; width:100%; height:50px; font-size:18px; line-height:50px; font-family:"Century Gothic", "微軟正黑體", sans-serif;background: #002963; box-shadow:0 3px 10px rgba(0,0,0,.5);  }
.fixbox ul { margin:0 auto; padding:0; overflow:hidden; width:1220px; list-style:none;}
.fixbox ul li { float:left; position:relative; margin:0; padding:0; height:50px; }
.fixbox ul li.logo { margin-right:800px;}
.fixbox ul li a { display: inline-block; text-decoration:none;}
.fixbox ul li img { width:auto; height:auto;margin-top: 13px;}
.fixbox ul li .txt { padding:0 12px; color:#FFF;}
.fixbox ul li::after { position: absolute; content: "";width: 1px;height:35px;left: 0px;top:8px;background:rgba(255,255,255,0.5);}
.fixbox ul li:first-child::after,
.fixbox ul li:nth-child(2)::after { display: none;}
.fixbox ul li .txt:hover,
.fixbox ul li:hover a.txt {border-radius: 40px;line-height: 35px;color: #fff1ae;}
.fixbox ul li.btn_on a.txt{ color:#fff1ae; border-radius: 40px;line-height: 35px;}

	@media screen and (max-width:767px){
		.fixbox{ z-index:10; position:fixed; top:0px; width:100%; height:44px;
					-webkit-overflow-scrolling:touch;
					-moz-overflow-scrolling:touch;
					-ms-overflow-scrolling:touch;
					-o-overflow-scrolling:touch;
					overflow-scrolling:touch;}
		.fixbox * { -webkit-box-sizing:border-box; box-sizing:border-box;}
		.fixbox ul { margin:0 auto; width:100%; }
		.fixbox ul li { width:14%;height: 44px; overflow:hidden;}
		.fixbox ul li .txt {}
		.fixbox ul li .txt { padding:0; padding-top:6px; width:100%; height:44px; font-size:12px;  line-height:16px; text-align:center;}
		.fixbox ul li.logo { display:none;}
		.fixbox ul li.Sharefb,
		.fixbox ul li.Shareline { width:8%; }
		.fixbox ul li.Sharefb img,
		.fixbox ul li.Shareline img { position:relative; width:100%; height:auto;  }
		.fixbox ul li:hover a.txt {  background-color: #FFF; border-radius: 0;line-height:16px;color: #000;}
		.fixbox ul li.btn_on a.txt { color:#333; background-color: #fff; border-radius: 0px;line-height: 16px;}
		.fixbox ul li.btn_on {border-bottom: 2px solid #ff0090;}
	}
/*PC右側黏人精+goTop+回版頭*/
.fixarea { z-index:99; position:fixed; right:0px; top:0px; width:165px; text-align: center; font-family:"微軟正黑體", "Microsoft JhengHei", Arial;
			/*-webkit-transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); transform: rotate3d(0,0,0,0deg) translate3d(150px,0,0); -webkit-transform-origin:top right; transform-origin:top right;
			  -webkit-transition: all 0.2s ease;
				 -moz-transition: all 0.2s ease;
				  -ms-transition: all 0.2s ease;
				   -o-transition: all 0.2s ease;
					  transition: all 0.2s ease;*/}
.fixarea_off { /*-webkit-transform: rotate3d(0,0,0,0deg) translate3d(0,0,0); transform: rotate3d(0,0,0,0deg) translate3d(0,0,0);right:0;*/}
.fixarea .title { position:relative;}
.fixarea .title img {
	  -webkit-transition: all 0.2s ease;
		 -moz-transition: all 0.2s ease;
		  -ms-transition: all 0.2s ease;
		   -o-transition: all 0.2s ease;
			  transition: all 0.2s ease;}
.fixarea .title	span { z-index:1; position:relative; display:block;}	
.fixarea .title:hover span img { filter: brightness(120%);}  
.fixarea .title	i { position:absolute; top:0; left:0; display:block; overflow:hidden; width:100%; height:82%;}
.fixarea .title	i::before { content:""; position:absolute; top:23px; left:0; display:block; width:128px; height:240px; background:url(fixed_Area_top_bg.png) no-repeat;
						  -webkit-transition: all 0.3s ease;
							 -moz-transition: all 0.3s ease;
							  -ms-transition: all 0.3s ease;
							   -o-transition: all 0.3s ease;
								  transition: all 0.3s ease;}
.fixarea .title:hover i::before { transform:translate(3px,-8px) rotate(6deg); transform-origin: right 80%;}
.fixarea .fix_box { margin:0 auto;}
.fixarea ul { margin:0; padding:0; list-style:none;}
.fixarea li { position:relative; margin:0; padding:0; font-size:16px; line-height:20px;}
.fixarea a { display:block; text-decoration:none; color:#fff;}
.fixarea a:hover{ color:#F7ED00;}
.fixarea .fix_main { }
.fixarea .fix_main li { padding:10px 0;}
.fixarea .fix_main li::before { content: ""; display: block; position: absolute; bottom:0; left:18%; width:64%; height:1px; background-color:#5b0000; background-color:rgba(255,255,255,0.2);}
.fixarea .fix_other { padding:5px 0; }
.fixarea .fix_other li { padding:6px 0;  line-height:30px;}
.fixarea .fix_other li:before { content: ""; display: block; position: absolute; bottom:0; left:18%; width:64%; height:1px; background-color:#5b0000; background-color:rgba(255,255,255,0.2);}
.fixarea .fix_other li:last-child::before { display:none;}
.fixarea  .btn_on a { color:#ffe400; }
.fixarea .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.fixarea .go_bt:hover { filter: brightness(105%);}


/*活動紀錄查詢浮層*/
.refArea { width:700px; position:relative; display:block; margin: 0 auto; padding:0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.refArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.refArea .closeBN a:hover { background-color:#666; text-decoration:none}
.refArea .title  { margin:0 50px 10px; border-bottom:1px solid #ffd800; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#ffd800; text-align:center}
.refArea .title2 { margin:20px auto 0px; font:bold 28px/1em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.1em;  color:#fff; text-align:center}
.refArea .title3 { margin-top:10px; font:bold 18px/1em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.1em;  color:#fff; text-align:center}
.refArea .ref_Date ul { margin: 0 auto; padding: 10px 50px;}
.refArea .ref_Date li { display:inline-block; margin:5px; padding:0px; width:70px; height:70px;border-radius:50%; text-shadow:rgba(0%,0%,0%,0.15) 1px 1px; color:#fff; letter-spacing: -0.05em; text-align:center; background-color:#979797;text-align:center; box-shadow: 0px 0px 3px 3px rgba(0%,0%,0%,0.15),0px 0px 0px 5px rgba(100%,100%,100%,0.1) inset;}
.refArea .ref_Date li .month {font:bold 20px/1.5em "Century Gothic"; margin: 5px auto 0 auto; border-bottom:#FFF solid 1px; width:80%}
.refArea .ref_Date li .date {font:bold 20px/1em "Century Gothic"; margin:0; margin-top:4px}
.refArea .ref_Date li.opendate { background-color:#000; box-shadow: 0px 0px 3px 3px rgba(0%,0%,0%,0.15),0px 0px 0px 5px rgba(100%,100%,100%,0.1) inset;color:#ffe400;}
.refArea .ref_List table { margin:0 auto; padding: 10px 0;}
.refArea .ref_List .table2 {font:bold 20px/1.2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em; color:#FFF; text-align:center; background-color:#999}
.refArea .ref_List .table3 {font:bold 20px/1.2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: 0.0001em; color:#000; text-align:center; background-color:#FFF}
.refArea .ref_List table td,
.refArea .ref_List table td { border: 1px solid #340d4d; font: bold 20px/1.5em "微軟正黑體", "Microsoft JhengHei", "Century Gothic";}
.refArea .ref_List .txtsmall { padding:40px; padding-top:10px; font: 12px/18px "微軟正黑體", "Microsoft JhengHei", "Century Gothic"; color:#fff;  text-align:left;}
	@media screen and (max-width:767px){
		.refArea { width:90%;}
		.refArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
		.refArea .title  { margin:0 5%; font-size:30px;}
		.refArea .title2 { margin:10px auto 0px; font-size:20px; }
		.refArea .title3 { margin:10px auto 0px; font-size:14px; }
		.refArea .ref_Date ul { margin:0 auto; padding: 10px 20px 20px; text-align:center;}
		.refArea .ref_Date li { margin:3px; width:40px; height:40px;}
		.refArea .ref_Date li .month { font-size:12px; line-height:1.3em; margin-top:4px;}
		.refArea .ref_Date li .date { margin-top:2px; font-size:12px;}
		.refArea .ref_List table { }
		.refArea .ref_List .table2 { font-size:12px;}
		.refArea .ref_List .table3 { font-size:12px;}
		.refArea .ref_List .table2 td,
		.refArea .ref_List .table3 td { font-size:12px; line-height:1.2em;}
		.refArea .ref_List .txtsmall { padding:20px; padding-top:10px; font-size:12px; line-height:18px; color:#fff;  text-align:left;}
	}

		/*得獎浮層*/
.cpArea { width:920px; position:relative; display:block; margin: 0 auto; padding:20px 0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.cpArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.cpArea .closeBN a:hover { background-color:#666; text-decoration:none}
.cpArea .title  { margin:0 50px 10px; border-bottom:1px solid #fff59c; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#fff59c; text-align:center}
.cpArea .box { margin: 10px auto; padding: 20px 20px;text-align: center;}
.cpArea .box img{margin: 0 auto;}

@media screen and (max-width:767px){
		.cpArea { width:92%;}
		.cpArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
		.cpArea .title  { margin:0 5%; font-size:30px;}
		.cpArea .box {width: 96%;margin: 0 auto;padding: 0;}
		.cpArea img{width: 100%;}
}	

/*分享浮層*/
.FBLINEArea { width:920px; position:relative; display:block; margin: 0 auto; padding:20px 0px; height: auto; background-color:rgba(0,0,0,0.8); border-radius:20px;}
.FBLINEArea .closeBN a { z-index:2; position:absolute; top:-20px; right:-20px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.FBLINEArea .closeBN a:hover { background-color:#666; text-decoration:none}
.FBLINEArea .title  { margin:0 50px 10px; border-bottom:1px solid #fff59c; font:bold 45px/2em "微軟正黑體","Microsoft JhengHei", Arial, Helvetica;letter-spacing: -0.05em;  color:#fff59c; text-align:center}
.FBLINEArea .box { margin: 10px auto; padding: 20px 20px;}
.FBLINEArea .box a{ display: block; margin: 20px auto 30px; width: 702px; height: 118px; }
@media screen and (max-width:767px){
		.FBLINEArea { width:92%;}
		.FBLINEArea .title  { margin:0 5%; font-size:30px;}
		.FBLINEArea .closeBN a { top:-15px; right:-15px; width:30px; height:30px; font-size:30px;}
        .FBLINEArea .box {width: 96%;margin: 0 auto;padding: 0;}
	    .FBLINEArea .box a{ display: block; margin: 2vw; width: 85vw; height:auto; }
		.FBLINEArea .box img{width: 100%;margin: 0; }
}

/*通知浮層*/
.agreeArea { z-index:1; position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:700px; font-family:"Century Gothic", "微軟正黑體", sans-serif; /*text-align:justify; word-break:break-all;*/}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea .box .txtArea { height:600px; overflow:auto; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.agreeArea .box h3 { margin:0; padding:0; height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#000; background-color:#ffd710;}
.agreeArea .box p { margin:10px auto; margin-top:1rem; padding:0 0 0 24px; text-align:center; font-size:1em; text-align:left; line-height:1.2em; color:#000;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.agreeArea .box ul,
.agreeArea .box ol { margin:0;}
.agreeArea .box li { margin:0 20px 10px 0px; font-size:0.9em;}
.agreeArea .box table { margin: 0 5%; width:90%;  border-collapse:collapse;}
.agreeArea .box th { padding:5px; border:1px solid #CCC; background:#eee; font-size:0.8em; }
.agreeArea .box td { padding:5px; border:1px solid #CCC; font-size:0.8em; vertical-align:top; }
.agreeArea .box table ul,
.agreeArea .box table ol { padding:0 0 0 20px;}
.agreeArea .box table li { margin:0 0 10px 0px;}


/*浮層嘿嘿*/
.blackBox_play {}
.blackBox { display:none; z-index:9; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: rgba(34,34,34,0.75); }
.blackBox * { font-family:"微軟正黑體"; box-sizing:border-box;}
.blackBox  a { text-decoration:none;}
/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox .Boxclose { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}
.blackBox .box h4 {height: 3rem; font-size: 0.8rem; font-weight: 100; text-align: center; color: #000;}


/*分享浮層*/
.floatBox { position:relative; margin:2% auto; padding: 2% 0; width:600px; height:auto; background-color:rgba(34,34,34,0.75); text-align:center; position:relative; border-radius:20px;}
.floatBox img { width:100%; height:auto;}
.floatBox .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.floatBox .go_bt:hover { filter: brightness(120%);
  -webkit-transform:translateY(-6px);
     -moz-transform:translateY(-6px);
      -ms-transform:translateY(-6px);
       -o-transform:translateY(-6px);
          transform:translateY(-6px);}
.floatBox .closeButton { display:block; cursor:pointer; position:absolute; top:-20px; right:-20px; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none; z-index:2}
.floatBox .closeButton:hover {background-color:#666; text-decoration:none;}
.floatBox .box_ { margin:0 auto; width:90%;}
.floatBox .box_:after { content: ""; display:block; clear:both;}
.floatBox .box_btn { margin:20px auto 0; width:90%;}
.floatBox .box_btn a { /*float:left; */ display:block; margin:0 auto; width:50%;}
.floatBox .box_btn img { width:100%;}
	@media screen and (max-width:767px){
		.floatBox { padding:5% 0; width:90%; height: auto;}
		.floatBox .closeButton {display:block; position:absolute; top:-15px; right:-15px; width:30px; height:30px; border-radius:50%; border:solid 2px #999999; font:bold 30px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none; z-index:2}
		.floatBox .closeButton:hover {background-color:#666; text-decoration:none}
		.floatBox .box_btn { margin:2% auto 0; }
	}
	
/*掉落*/
.drop-play  { -webkit-animation:drop-play 0.6s ease-in-out forwards; -webkit-transform-origin: center;
				      animation:drop-play 0.6s ease-in-out forwards; transform-origin: center;}
	@-webkit-keyframes zoomfilter-play {
	  0%   { opacity: 1;}
	  20%  { opacity: 1; -webkit-transform: translate3d(-15px, 5px, 0) rotate3d(0, 0, 1, -30deg);}
	  60%  { opacity: 0;}
	  100% { opacity: 0; -webkit-transform: translate3d(-200px, 500px, 0) rotate3d(0, 0, 1, -180deg);}
	}
	@keyframes drop-play {
	  0%   { opacity: 1;}
	  20%  { opacity: 1; transform: translate3d(-15px, 5px, 0) rotate3d(0, 0, 1, -30deg);}
	  60%  { opacity: 0;}
	  100% { opacity: 0; transform: translate3d(-200px, 500px, 0) rotate3d(0, 0, 1, -180deg);}
	}
	
/*遠進高斯模糊*/
.zoomfilter-play  { -webkit-animation:zoomfilter-play 0.5s ease-in-out ;
				            animation:zoomfilter-play 0.5s ease-in-out  ;}
	@-webkit-keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
	@keyframes zoomfilter-play {
	  from {
		opacity: 0; filter: blur(200px);
		transform: scale3d(.1, .1, .1) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	  }
	
	  60% {
		opacity: 1; filter: blur(100px);
		transform: scale3d(.475, .475, .475) translate3d(0, 0px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	  }
	}
							

/*飄-上下*/
.uptodown-play { -webkit-animation:uptodown-play 1.5s infinite alternate;
				         animation:uptodown-play 1.5s infinite alternate;}
	@-webkit-keyframes uptodown-play { 
		0% { -webkit-transform: translate(0,-30px);  } 
		100% { -webkit-transform: translate(0,0); }
	}
	@keyframes uptodown-play { 
		0% { transform: translate(0,-30px);  } 
		100% {  transform: translate(0,0); }
	}

/*飄-下上*/
.downtoup-play { -webkit-animation:downtoup-play 1.5s infinite alternate;
				         animation:downtoup-play 1.5s infinite alternate;}
	@-webkit-keyframes downtoup-play { 
		0% { -webkit-transform: translate(0,0);   } 
		100% {  -webkit-transform: translate(0,-10px); }
	}
	@keyframes downtoup-play { 
		0% { transform: translate(0,0); } 
		100% { transform: translate(0,-10px); }
	}

/*飄-下上(慢慢慢)*/
.downtoup2-play { -webkit-animation:downtoup-play 8s infinite ;
				         animation:downtoup-play 8s infinite ;}
	@-webkit-keyframes downtoup-play { 
		0% { -webkit-transform: translate(0,0);   } 
		50% {  -webkit-transform: translate(0,-50px); }
		100% {  -webkit-transform: translate(0,0); }
	}
	@keyframes downtoup-play { 
		0% { transform: translate(0,0); } 
		50% { transform: translate(0,-50px); }
		100% { transform: translate(0,0); }
	}


/*飄-左右*/
.leftright-play { -webkit-animation:leftright-play 10s ease-in-out infinite alternate;
				         animation:leftright-play 10s ease-in-out infinite alternate; -webkit-transform: translate(50px,0); transform: translate(50px,0);}
	@-webkit-keyframes leftright-play { 
		0% { -webkit-transform: translate(50px,0); } 
		100% {  -webkit-transform: translate(-50px,0); }
	}
	@keyframes leftright-play { 
		0% { transform: translate(50px,0); } 
		100% { transform: translate(-50px,0); }
	}

/*轉轉3*/
.rotate3-play { -webkit-animation:rotate3-play 20s linear infinite ;
				       animation:rotate3-play 20s linear infinite ;}
	@keyframes rotate3-play {
	  100% { transform: rotate(-360deg);}
	}

/*背景飄上*/
.bgupup-play { -webkit-animation:bgupup-play 40s linear infinite ;
				       animation:bgupup-play 40s linear infinite ;}
	@keyframes bgupup-play {
	  100% { background-position: center -925px; }
	}


/*心跳A*/
.heartbeat-play { -webkit-animation:heartbeat-play 1.9s infinite ;
				          animation:heartbeat-play 1.9s infinite ;}
	@-webkit-keyframes heartbeat-play {   
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		}
	@keyframes heartbeat-play { 
		0%   { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		40%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);} 
		60%  { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
		80%  { -webkit-transform: scale(0.95); transform: scale(0.95); filter:brightness(100%);}
		100% { -webkit-transform: scale(1); transform: scale(1); filter:brightness(120%);} 
	}

/*放大縮小*/
.zoominzoomout-play {-webkit-animation:zoominzoomout-play 0.5s infinite alternate ;
				             animation:zoominzoomout-play 0.5s infinite alternate ;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
	}
	
/*彈跳*/	
.bounce-play { -webkit-animation:bounce-play 3s linear infinite ;
				          animation:bounce-play 3s linear infinite ;}
	@-webkit-keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% { -webkit-transform: translateY(0); transform: translateY(0); }
	  10% { -webkit-transform: translateY(-10%); transform: translateY(-10%);  }
	  15% { -webkit-transform: translateY(-5%); transform: translateY(-5%);  }
	}
	@keyframes bounce-play {
	  0%, 5%, 12.5%, 20%, 25% { -webkit-transform: translateY(0); transform: translateY(0); }
	  10% { -webkit-transform: translateY(-10%); transform: translateY(-10%);  }
	  15% { -webkit-transform: translateY(-5%); transform: translateY(-5%);  }
	}


/*彈跳2-超活潑*/	
.bounce2-play { -webkit-animation:bounce2-play 1s -1s infinite alternate ;
				        animation:bounce2-play 1s -1s infinite alternate ;}
	@-webkit-keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}
	@keyframes bounce2-play {
		   0% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		  10% { -webkit-transform: scale(1,0.8) translate(0px, 10px); transform: scale(1,0.8) translate(0px, 10px); }
		  30% { -webkit-transform: scale(1,1.1) translate(0px, -25px); transform: scale(1,1.1) translate(0px, -25px); }
		  50% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
		 100% { -webkit-transform: scale(1,1) translate(0px, 0px); transform: scale(1,1) translate(0px, 0px);}
	}

/*主標微亮*/		  
.minbright-play { -webkit-animation:minbright-play 1s linear infinite alternate; animation:minbright-play 1s linear infinite alternate ;}
	@-webkit-keyframes minbright-play {
	  0% { filter:brightness(100%);  }
	  50% { filter:brightness(100%);  }
	  100% { filter:brightness(130%);  }
	}
	@keyframes minbright-play {
	  0% { filter:brightness(100%);  }
	  50% { filter:brightness(100%);  }
	  100% { filter:brightness(130%);  }
	}

/*閃光1*/				  
.brightness1-play { -webkit-animation:brightness1-play 4s infinite ; animation:brightness1-play 4s infinite ;}
	@keyframes brightness1-play {
	  0% { filter:brightness(100%);  }
	  92% { filter:brightness(100%);  }
	  94% { filter:brightness(200%);  }
	  96% { filter:brightness(100%);  }
	  98% { filter:brightness(200%);  }
	  100% { filter:brightness(100%);  }
	}

/*閃光2*/				  
.brightness2-play { -webkit-animation:brightness2-play 4s infinite ; animation:brightness2-play 0.2s infinite linear alternate ;}
	@keyframes brightness2-play {
	  0%   { filter: hue-rotate(0deg);}
	  100% { filter: hue-rotate(-25deg);}
	}
	
/*彈吉他*/	
.rubberBand2-play { -webkit-animation:rubberBand2-play 4s -2s infinite; -webkit-transform-origin: center 99%;
				            animation:rubberBand2-play 4s -2s infinite; transform-origin: center 99%;}
	@-webkit-keyframes rubberBand2-play {
	}
	@keyframes rubberBand2-play {
	  from {  transform: scale3d(1, 1, 1);}
	  89.9% { transform: scale3d(1, 1, 1);}
	  90% { transform: scale3d(1, 0.95, 1); }
	  92% { transform: scale3d(1, 1.05, 1); }
	  95% { transform: scale3d(1, 0.95, 1); }
	  97% { transform: scale3d(1, 1.05, 1); }
	  99% { transform: scale3d(1, 0.98, 1); }
	  to { transform: scale3d(1, 1, 1); }
	}	
	
/*轉轉入場*/
.rotateIn2-play { -webkit-animation:rotateIn2-play 1s ;
				          animation:rotateIn2-play 1s cubic-bezier(.07,1.18,0.86,1.11);}
	@keyframes rotateIn2-play {
	  0%,30%   { transform: scale3d(0, 0, 0) rotate(1080deg);}
	  100% { transform: scale3d(1.2, 1.2, 1) rotate(20deg); }
	  100% { transform: scale3d(1, 1, 1) rotate(0deg); }
	}
	
