@charset "big5";

/*基本*/
body {margin: 0; padding:0; background-color: #922703;}

/*全BOX版面*/
.WRAPPER { position: relative;	display: inline-block;margin: 0 auto;width:100%;min-width:1220px;  font-family:"微軟正黑體","Microsoft JhengHei",Helvetica;overflow: hidden;}
.WRAPPER img { border:0; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		body {margin: 0; padding:0; }
		.WRAPPER{width: 100%; min-width: inherit; background-size: 160%;margin: 0 auto 0;overflow: hidden;}
	}

/*腳印*/
.Area .z8{position: absolute;width: 150px;height:300px;}
.Area .z8 .z8_1{transform: rotate(-140deg);position: absolute;top:0px;left:100px;}
.Area .z8 .z8_1 img{-webkit-animation: showout 0.1s ease both; animation: showout 0.1s ease both;-moz-animation: showout 0.1s ease both; }
.Area .z8 .z8_2{transform: rotate(-120deg);position: absolute;top:45px;left:50px;}
.Area .z8 .z8_2 img{-webkit-animation: showout 0.1s ease both; animation: showout 0.1s ease both;-moz-animation: showout 0.1s ease both;animation-delay: 0.2s; }
.Area .z8 .z8_3{transform: rotate(-150deg);position: absolute;top:105px;left:70px;}
.Area .z8 .z8_3 img{ -webkit-animation: showout 0.1s ease both; animation: showout 0.1s ease both;-moz-animation: showout 0.1s ease both;animation-delay: 0.4s;}
.Area .z8 .z8_4{transform: rotate(-130deg);position: absolute;top:155px;left:25px;}
.Area .z8 .z8_4 img{-webkit-animation: showout 0.1s ease both; animation: showout 0.1s ease both;-moz-animation: showout 0.1s ease both;animation-delay: 0.6s; }
	@media screen and (max-width:767px){
		.Area .z8 img{width:60%;}
		.Area .z8 .z8_1{transform: rotate(-140deg);position: absolute;top:0px;left:100px;}
		.Area .z8 .z8_2{transform: rotate(-120deg);position: absolute;top:45px;left:68px;}
		.Area .z8 .z8_3{transform: rotate(-150deg);position: absolute;top:100px;left:57px;}
		.Area .z8 .z8_4{transform: rotate(-130deg);position: absolute;top:155px;left:25px;}
	}

	@keyframes showout{
		from{opacity:0;}
		to{opacity:1;}
		}
	@-webkit-keyframes showout{
		from{opacity:0;}
		to{opacity:1;}
		}

/*版頭*/
.Area_top { position: relative;height:620px;overflow:hidden; background: url(top_main.jpg) no-repeat center top;padding: 0!important;}
.Area_top .momologo { z-index:999; position:absolute; top:14px; left:49%; margin-left:-580px;}
.Area_top .momologo .XX{ margin-top: 30px;}
.Area_top .momologo a { display:inline-block;margin: 0 12px; }
.Area_top .momologo a:hover{ filter: brightness(150%);}
.Area_top .go_bt:hover { filter: brightness(110%);}
.top_box .youtubeArea{width:560px;height:320px;background-color: #666;position: absolute;top:204px;left:408px;}
	@media screen and (max-width:767px){
	 .Area_top {overflow:hidden;height:155vw; background: url(top_main_m.jpg) no-repeat center top;background-size: 100%;background-color: #e95927;}
	 .Area_top .momologo{margin: 0;top:3vw;left: 60vw;z-index:9;}
	 .Area_top .momologo a{margin: 0 1vw;}
	 .Area_top .momologo img{width: 12vw;}
	 .Area_top .momologo img:nth-child(2){width: 8vw;margin-top:3vw}
		.top_box .youtubeArea{width:94vw;height:60vw;background-color: #666;position: absolute;top:94vw;left:3vw;}
	}

/*版頭動畫*/
.top_box{position: relative ;left:-390px;top:-88px;margin: 0 auto;width: 1220px;height: 700px; }
.top_box .top_bn_04{position: absolute;top:170px;right: -97px;;z-index:3;}
.top_box .top_bn_04 .bn_up_01{margin-top: 10px;-webkit-animation: dow 4s infinite linear; animation: dow 4s infinite linear;-moz-animation: dow 4s infinite linear;	}
.top_box .top_bn_04 .bn_up_02{-webkit-animation: dow 4s infinite linear; animation: dow 4s infinite linear;	-moz-animation: dow 4s infinite linear;	animation-delay: 0.5s;}
.top_box .top_bn_04 .bn_up_03{-webkit-animation: dow 4s infinite linear; animation: dow 4s infinite linear;	-moz-animation: dow 4s infinite linear;	animation-delay: 0.3s;}
.top_box .top_bn_04 .bn_down_01{-webkit-animation: dow 4s infinite linear; animation: dow 4s infinite linear;	-moz-animation: dow 4s infinite linear;	animation-delay: 0.2s;}
.top_box .top_bn_04 .bn_down_02{-webkit-animation: dow 4s infinite linear; animation: dow 4s infinite linear;	-moz-animation: dow 4s infinite linear;	animation-delay: 0.6s;}

	@media screen and (max-width:767px){
.top_box{position: relative ;width:100%;background-size: 100%; min-width: 0;left: 0;top:0;margin: 0 auto;}
.top_box .top_bn_04{position: absolute;top:4vw;right:39vw;width:50vw;height: 60vw; z-index:9;}
.top_box .top_bn_04 .bn_up_01 {width: 70%;}
.top_box .top_bn_04 .bn_up_02{width: 70%;}
.top_box .top_bn_04 .bn_up_03{width: 70%;margin-top: -0.5vw;}
.top_box .top_bn_04 .bn_down_01{margin-top: -0.5vw;}
.top_box .top_bn_04 .bn_down_02{margin:-2vw 0  0 -7vw;width: 130%;}
	}


/*版頭動畫*/
	@-webkit-keyframes loading{
		0%{-webkit-transform:(0deg);}
		10%{-webkit-transform:rotate(-20deg);}
		20%{-webkit-transform:(0deg);}
		100%{-webkit-transform:(0deg);}
	}
	@keyframes loading{
		0%{-webkit-transform:(0deg);}
		5%{-webkit-transform:rotate(-20deg);}
		10%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:(0deg);}
		}
	@-webkit-keyframes dow{
		0%{-webkit-transform:(0deg);}
		2%{-webkit-transform:rotate(-3deg);}
		4%{-webkit-transform:rotate(0deg);}
		6%{-webkit-transform:rotate(3deg);}
		8%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:(0deg);}
		}
	@keyframes dow{
		0%{transform:(0deg);}
		2%{transform:rotate(-3deg);}
		4%{transform:rotate(0deg);}
		6%{transform:rotate(3deg);}
		8%{transform:rotate(0deg);}
		100%{transform:(0deg);}
		}
    /*手機版頭動畫*/
	@keyframes big{
		0%{transform:scale(0.5);}
		70%{transform:scale(0.6);}
		100%{transform:scale(1);}
		}
.tobig{-webkit-animation: tobig 2s ease both; animation: tobig 2s ease both;	-moz-animation: tobig 2s ease both;}
		@keyframes tobig{
		from{transform:scale(0);}
		to{transform:scale(1);}
		}
			
/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:30px 0; text-align:center;}
.Area a { position:relative; display:inline-block;} 
.Area .box {position: relative; margin:0 auto; padding:0; width:1220px; box-sizing:border-box;}
.Area .box .title{ position:relative; top:0px; left:0px; m}
.tab{height:40px;width:100%;}
.Area .go_bt {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
.Area .go_bt:hover {
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area {width:100vw;}
		.Area1220 {width:100%;}
		.Area img{width:100%;}
		.Area .box{width:100%;}
		.box img{width: 100%;}
		
	}

/*輪播*/
.Area .box ul{margin: 0;padding: 0;}
.Area .box li{list-style:none;margin: 0;padding: 0;}
.box .PDS{width:1160px;height:280px;overflow: hidden;position: relative;top: 0;left: 22px;}
.a1_p2r{position:relative;top:-290px;left:690px;width: 356px;height: 232px;}
.a3_p2r{position:relative;top:-350px;left:690px;width: 356px;height: 232px;}
.more{width:60%;height:18vw;background: url(btn_01.png) no-repeat;background-size: 100%; margin: 5vw auto;}
.more1{width:294px;height:78px;background-image: url(btn_01.png);position: relative;top:-156px; left:279px;}
.more2{width:294px;height:78px;background-image: url(btn_01.png);position: relative;top:-123px; left:-220px;}
.more3{width:294px;height:78px;background-image: url(btn_01.png);position: relative;top:-129px; left:279px;}
.more4{width:294px;height:78px;background-image: url(btn_01.png);position: relative;top:-113px; left:-257px;}
.p3{margin-top: -180px}
.first{}
@media screen and (max-width:767px){
	.Area .box .PDS{width:94%;height:auto;position: relative;top: 0;left: 3%;padding-bottom: 23px}
	.Area .box .PDS img{width:100%;margin:0 1px;}
	.first{margin-top:5vw;}
	.p3{position: relative;top:-35px;}

}



/*區塊1*/
.Area1 { position: relative;z-index: 1;background-color: #e95927;}
.Area1 .z8{right:220px;top:430px;transform: rotate(80deg)}

/*區塊2*/
.Area2 { z-index: 1; margin:0;position:relative; background:url(bw_bg.png) repeat fixed;background-size: 60%; background-color: #ca4011;}
.Area2 .z8{left:125px;top:365px;transform: rotate(-95deg)}

/*區塊3*/
.Area3 { z-index: 1; margin:0;position: relative; background-color: #ac2f04}
.Area3 .z8{right:210px;top:-40px;transform: rotate(70deg)}
/*區塊4*/
.Area4 { z-index: 1; margin:0;position: relative; background:url(bw_bg.png) repeat fixed;background-size: 60%; background-color: #922703;padding-bottom: 150px;}
.Area4 .z8{left:150px;top:-90px;transform: rotate(-120deg)}

@media screen and (max-width:767px){
/*區塊1*/
	.Area1 {}
.Area1 .z8{right:90px;top:-155px;transform: rotate(62deg);}

/*區塊2*/
	.Area2 {}
.Area2 .z8{left:90px;top:-190px;transform: rotate(-115deg)}

/*區塊3*/
	.Area3 {}
.Area3 .z8{right:90px;top:-150px;transform: rotate(62deg)}
/*區塊4*/
	.Area4 {padding-bottom:14vw;}
.Area4 .z8{left:90px;top:-190px;transform: rotate(-115deg)}	
	
}


/*注意事項*/
.notes{width:1190px; height:auto; padding:40px 1.8em;  color:#fff; margin:0 auto; text-align: justify;}
.notes h4{ font:bold 55px/36px "微軟正黑體", "Microsoft JhengHei", Arial; margin:0 0 30px 0;}
.notes ul li{font:18px/1.5em "微軟正黑體", "Microsoft JhengHei", Arial; margin:10px 0 10px 15px; list-style:decimal;}
.notes ul li a{ color:#FFF; text-decoration:underline;}
.notes ul li a:hover{ color:#fff247;}

@media screen and (max-width:767px){
.fot_box{ padding-bottom:10%; position: relative; margin-top:20vw;}
.notes{ width:90%; height:auto; padding:5% 5%;  color:#fff; margin:0 auto; text-align:left; font-family:"Century Gothic", "微軟正黑體", sans-serif,"Microsoft JhengHei", Arial;}
.notes h3{ font:bold 5vw/1.5 "微軟正黑體", "Microsoft JhengHei", Arial; margin:0 0 10px 0; color:#ffd484;}
.notes h4{ font:bold 7vw/1.8 "微軟正黑體", "Microsoft JhengHei", Arial; margin:0 0 0 0;}
.notes ul { margin:0 0 3vw 0;}
.notes ul li{font:4.5vw/1.3 "微軟正黑體", "Microsoft JhengHei", Arial; margin:3vw 0 0px -5vw;text-align: justify;}
.notes span{font:16px/1.5 "微軟正黑體", "Microsoft JhengHei", Arial; margin:10px 0 10px 10%; display:block;}

}

/*Appletxt*/
.apple_txt{position: relative;bottom:-120px;}
@media screen and (max-width:767px){
.apple_txt{position: relative;top:13.5vw; color:#FFF;font-size: 3vw;text-align: center; }
}
/*隱鑶*/
.for_pc {}
.for_m { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_m { display: block !important;}
	}