@charset "big5";

/*基本*/
body {margin: 0; padding:0;background-image: url(bg_add_m.jpg); background-size: 100%}

/*全BOX版面*/
.WRAPPER { position: relative;	display: inline-block;	margin: 0;	padding: 0 0 40px;	width:100%; min-width:1220px; overflow:hidden; font-family:"微軟正黑體","Microsoft JhengHei",Helvetica; background: url(bg.jpg) no-repeat center top;}
.WRAPPER img { border:0; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
	@media screen and (max-width:767px){
		
	}



/*版頭*/

.top_box{position: absolute;top:0px; left:0px;min-width:1220px;width: 2000px;height: 700px; }
.top_box .top_bn_01 { z-index:5; position: absolute; top:0px; left:-390px; width:2000px; min-width:1220px; height:700px; background: url(top_1.png) no-repeat center top;}
.top_box .top_bn_MOM { z-index:4; position: absolute; top:-15px; left:826px; 
-webkit-animation: mom_walk 4s ease ;
	animation: mom_walk 4s ease;
}
.top_box .top_bn_MOM .MAMA{width:494px;  height:717px; background: url(MAMA.png) no-repeat center top;
	-webkit-animation: mom_turn 4s ease ;animation: mom_turn 4s ease;}

.top_box .top_bn_03{position: absolute;top:0px; left:-390px;min-width:1220px;  background-image:  url(top_f.png);width: 2000px;height: 700px;z-index:3;
-webkit-animation: wind-flower 3s infinite linear; 
animation: wind-flower 3s infinite linear;
animation-duration: 3s; 	
animation-direction: alternate;}

.top_box .top_bn_02{position: absolute; top:0px; left:-390px;min-width:1220px;  background-image:  url(top_2.png);width: 2000px;height: 700px;z-index:2;
-webkit-animation: bg-circle 3s infinite linear; 
animation: bg-circle 2s infinite linear;
animation-duration: 2s; 	
animation-direction: alternate;}

.top_box .top_bn_04{position: absolute;top:0px; left:-390px;min-width:1220px;   background-image:  url(top_title.png);width: 2000px;height: 700px;z-index:3;}
.top_box .top_bn_04 .ff{position: relative; top:154px;left:1137px; background-image:  url(ff.png);width: 73px;height: 72px;z-index:4;
-webkit-animation: loading 4s infinite linear; 
animation: loading 4s infinite linear;
animation-duration: 4s; 	
}

/*版頭動畫*/

@keyframes wind-flower {
		0%   { -webkit-transform: translate(0,0); } 
		50% { -webkit-transform: translate(-15px,10px);} 
		100% { -webkit-transform: translate(-25px,-10px);} 
}
@-webkit-keyframes wind-flower{
		0%   { -webkit-transform: translate(150px,200px); } 
		100% { -webkit-transform: translate(0,0);}
}
@keyframes bg-circle {
		0%   { -webkit-transform: translate(0,0); } 
		100% { -webkit-transform: translate(0,-15px);} 
}
@-webkit-keyframes bg-circle{
		0%   { -webkit-transform: translate(150px,200px); } 
		100% { -webkit-transform: translate(0,0);}
}

	@-webkit-keyframes loading{
		0%{-webkit-transform:(0deg);}
		10%{-webkit-transform:rotate(-20deg);}
		20%{-webkit-transform:(0deg);}
		100%{-webkit-transform:(0deg);}
	}
	@keyframes loading{
		0%{-webkit-transform:(0deg);}
		5%{-webkit-transform:rotate(20deg);}
		10%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:(0deg);}
		}
	@-webkit-keyframes mom_turn{
		0%{-webkit-transform:rotate(-30deg);}
		100%{-webkit-transform:rotate(0deg);}
	}
	@keyframes mom_turn{
		0%{-webkit-transform:rotate(-30deg);}
		100%{-webkit-transform:rotate(0deg);}
		}
	@-webkit-keyframes mom_walk{
		0%{-webkit-transform:translate(700px,150px);}
		30%{-webkit-transform:translate(700px,150px);}
		100%{-webkit-transform:translate(0,0);}
	}
	@keyframes mom_walk{
		0%{-webkit-transform:translate(700px,300px);}
		1%{-webkit-transform:translate(400px,150px);}
		100%{-webkit-transform:translate(0,0);}
		}
			
/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; text-align:center;  }
.Area a { position:relative; display:inline-block;} 
.Area .box {position: relative; margin:0 auto; padding:0; background-color:#FFF; border:10px solid #FFF; width:1220px; border-radius:30px; box-sizing:border-box;}
.Area .box .title{ position:relative; top:0px; left:0px; margin-top:-117px;}
.Area .go_bt {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
.Area .go_bt:hover {
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area .box {margin:0 2%;}
	}

/*版頭*/
.Area_top { height:700px;}
.Area_top .top_box{ position: relative;display: block;margin: 0 auto; padding: 0; width: 1220px; }
.Area_top .momologo { z-index:999; position:absolute; top:0px; left:50%; margin-left:-580px;}
.Area_top .momologo a { display:block; width:141px; height:160px; background: url(momo_logo.png) no-repeat;margin-top: -8px;}
.Area_top .momologo a:hover{ margin-top: 0;}
.Area_top .go_bt:hover { filter: brightness(110%);}


/*區塊1*/
.Area1 { z-index: 10; margin:-150px auto 150px;}


/*文案區*/
.textArea { color:#fff; font-size:22px; line-height:1.7rem; font-weight:800; text-align:left;margin: 2% 10%;}
.textArea a { text-decoration:none;}
.textArea .box { position:relative; padding:80px 0 0 0;}
.textArea .box:nth-child(1),
.textArea .box:nth-child(2) { padding-top:0;}
.textArea p {text-align: left;font-size: 18px;color: #979797;}
.textArea h2 { margin:0; padding:0 0 0 0;     font-size:36px; line-height:1.2em; letter-spacing:1px; color:#ff9b4b;text-align:left;}
.textArea h3 { margin:0; padding:0 0 15px 0;  font-size:60px; line-height:1.2em; color:#ffb070;}
.textArea h4 { margin:0; padding:0 0 15px 0;  font-size:30px; line-height:1.2em; color:#fff;}
.textArea h5 { margin:0; padding:10px 0 0 0;  font-size:24px; line-height:1.2em; color:#ffb070;}
.textArea ul,
.textArea ol { margin:0; }
.textArea li {  padding:0 0 15px 0;}
.textArea table { margin:20px 0; border-collapse:collapse; width: 100%; text-align:center; font-weight:300; color:#000; background-color:#FFF;}
.textArea th { padding:5px; border:1px solid #a1a1a1; background:#ddd; font-size:0.8em; }
.textArea tr:nth-child(1) { color:#fff; background:#ff6448;}
.textArea td { padding:5px; border:1px solid #a1a1a1; font-size:0.8em;}
	@media screen and (max-width:767px){
		.textArea { font-size:14px; line-height:1.5em; margin: 5% 5%; }
		.textArea .box { padding:0 0 0px;}
		.textArea .tt { background:url(m_bg.jpg) repeat-y center top; background-size:100%;}
		.textArea h2 { font-size:30px;}
		.textArea h3 { font-size:20px;}
		.textArea h4 { font-size:16px;}
		.textArea h5 { font-size:16px;}
		.textArea ul,
		.textArea ol { margin:0 2%; padding:0;}
		.textArea li { margin:0 0 0 16px; padding:0 0 8px 0; text-align:justify; }
		.textArea table { margin:0 0 8px 0;  }
	}

/*隱鑶*/
.for_pc {}
.for_m { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_m { display: block !important;}
	}