@charset "big5";

/*回版頭*/
/*
#gotop { display: none; position:fixed; z-index:5; right:20px; bottom:30px;padding:10px 10px 3px 10px; border-radius:50px; font:12px/30px Verdana; text-align:center; color:#000;  background-color:rgba(255,255,255,0.7); cursor:pointer;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;}
#gotop:hover { padding-top:40px; background-color:#fff;} 
#gotop::before { content: ""; position:absolute; top:7px; left:18px; width: 0; height: 0; border: 4px solid #000; border-color: transparent transparent #000; }
	@media screen and (max-width:767px){
		#gotop { right:20px; bottom:20px; }
	}
*/
/*手機黏人精*/
.fix_list{height:45px;width:45px;background-color: rgba(0,0,0,0.3);border-radius: 10px; position: fixed; top: 5px;left:5px; z-index: 15; box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.fix_list::after{ content:" ";display: block; width: 600vw;height: 600vw;border-radius: 50%;  background-color:#ac2f04;position: fixed;top:-300vw;right: -200vw; z-index: 20; transform: scale(0); transition: all 0.8s;}
.fix_list.active::after{  transform: scale(1);}
.texthere{position: fixed; top:38vw;left: 24vw; z-index: 21;text-align: center;display: none;}
.texthere .alink{color: #FFF;font-size: 8vw;line-height: 15vw; font-weight: 500;opacity: 0;transform:opacity 0.6s linear;}
.texthere.active{display: block;}
.texthere .alink.active{opacity: 1; animation-delay: 0.2s;}
.fix_list.active::after{ transform: scale(1);}
.click_btn{z-index:999;position: absolute;right: 10px; top:3px;}
nav {  position: absolute;  left: -38px;  top: -7px;  width: 50px;  height: 50px;}
.menu-icon {  background: transparent;  width: 50px;  height: 50px;  margin: 0px;  position: relative;  cursor: pointer;}
.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {  cursor: pointer;  border-radius: 1px;  height: 2px;  width: 30px;  background: white;  position: absolute;  left: 20%;  top: 50%;  display: block;  content: '';  transition: all 0.5s ease-in-out;}
.menu-icon span:before {  left: 0;  top: -10px;}
.menu-icon span:after {  left: 0;  top: 10px;}



/*點擊後*/
/*中間消失*/
.menu-icon.close span {  background-color: transparent;}
/*上下往中間移*/
.menu-icon.close span:before,
.menu-icon.close span:after {  top: 0;}
/*旋轉成X*/
.menu-icon.close span:before {  transform: rotate(135deg);}
.menu-icon.close span:after {  transform: rotate(-135deg);}
/*PC右側黏人精+goTop+回版頭*/
.fixarea { z-index:99; position:fixed; right:20px; top:30px; display: none; width:90px; text-align: center; font-family:"微軟正黑體", "Microsoft JhengHei", Arial;}
.fixarea .title img {
	  -webkit-transition: all 0.2s ease;
		 -moz-transition: all 0.2s ease;
		  -ms-transition: all 0.2s ease;
		   -o-transition: all 0.2s ease;
			  transition: all 0.2s ease;}
/*.fixarea .title:hover img { -webkit-transform:translateY(-5px); transform:translateY(-5px);}*/
.fixarea .fix_box { margin:0 auto 0 auto;}
.fixarea ul { margin:0; padding:0; list-style:none; border: 2px solid #f7ee13;border-radius: 57px;width:90px;}
.fixarea li { position:relative; margin:0;height:70px;width:90px;display: block;background-color: #000;font-family:"微軟正黑體",Century Gothic;font-size: 20px;line-height: 25px; padding:10px 0;}
.fixarea li:hover{background-color:#f7ee13;}
.fixarea .fix_main li:hover::before{display: none;}
.fixarea a { text-decoration:none; border-radius: 57px;font-weight: 600;}
.fixarea li:hover a{ color:#000;}

.fixarea .fix_main li::before { content: ""; display: block; position: absolute; bottom:0; left:10%; width:80%; height:1px; background-color:#666;}
.fixarea .fix_main li:last-child::before { display:none;}
	.fixarea li {}
	.fixarea li a{position: relative;top:8px;color: #ffe400;}
	.fixarea li:first-child{height:70px;width:90px;display: block;border-radius: 57px 57px 0 0;}
	.fixarea li:first-child a{top: 19px;}
	.fixarea li:last-child{height:70px;width:90px;display: block;border-radius:0 0 57px 57px;font-size: 35px;line-height: 45px}
	.fixarea li:last-child a{color: #ff6448;top:5px;}
	.fixarea li:last-child a::after{content:" ";position: absolute;top:-5px;left: 30px; width: 0;height: 0; border-style: solid;border-width: 0 5px 8.7px 5px;border-color: transparent transparent #ff6448 transparent;}
	
.fixarea .detail{position:relative; margin:10px 0 0 9px;height:58px;width:74px;display: block;background-color: #000;padding:10px 0;border-radius: 50%;border:2px solid #ffe400;}
.fixarea .detail a{position: absolute;font-family:"微軟正黑體",Century Gothic;font-size: 20px;line-height: 25px;padding:10px 0;color: #ffe400;top:3px;left:3px;display: block;width: 70px;}
.fixarea .detail:hover{background-color:#ffe400; }
.fixarea .detail:hover a{color:#000;}
/*飄-上下*/
.uptodown-play { -webkit-animation:uptodown-play 15s ease-in-out infinite alternate;
				         animation:uptodown-play 15s ease-in-out infinite alternate;}
	@-webkit-keyframes uptodown-play { 
		0%   { -webkit-transform: translate(0,-20px); } 
		100% { -webkit-transform: translate(0,0);}
	}
	@keyframes uptodown-play { 
		0%   { transform: translate(0,-20px);} 
		100% { transform: translate(0,0);}
	}

/*飄-下上*/
.downtoup-play { -webkit-animation:downtoup-play 15s ease-in-out infinite alternate;
				         animation:downtoup-play 15s ease-in-out infinite alternate;}
	@-webkit-keyframes downtoup-play { 
		0% { 
			-webkit-transform: translate(0,0);  
		} 
		100% { 
			-webkit-transform: translate(0,-20px);
		}
	}
	@keyframes downtoup-play { 
		0% { 
			transform: translate(0,0);  
		} 
		100% { 
			transform: translate(0,-20px);
		}
	}
 

/*放大縮小*/
.zoominzoomout-play { -webkit-animation-duration: 0.7s;  animation-duration: 0.7s; animation-delay:-1s;  -webkit-animation-name: zoominzoomout-play;  animation-name: zoominzoomout-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1);} 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
	}







