@charset "big5";
/* CSS Document */
/*回版頭*/
#gotop { display: none; position: fixed; padding: 10px 10px 3px 10px; right: 30px; bottom:10%; font: 12px/30px Verdana; background: #222 url(gotopBtnBk.png) no-repeat center 7px; color: #CCC; cursor: pointer; z-index: 5; border-radius:10px;}
#gotop { filter: alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7} /*背景透明*/
/*基本*/
body{margin:0;padding:0; background:#242c49 center top repeat;}

/*全BOX版面*/	
.wrapper{position:relative;width:100%;text-align:left;font-family:"Century Gothic", "微軟正黑體", sans-serif;background:url(bg.jpg) center top no-repeat;overflow: hidden;}
	
.wrapper img{border:0;vertical-align:top;}
.mainarea{width:1220px;}

@media screen and (max-width:767px){
.wrapper{position:relative;width:100%;text-align:left;background:url(bg_m.jpg) center top no-repeat;background-size:100%;  }	
.wrapper .mainarea{ display:block; padding:0; margin:0 auto; width:100%;}
.wrapper .mainarea img{ width:100%; height:auto;}
	
}



/*區塊_all*/
.Area { position: relative; top:0px;margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:inline-block;} 
 .go_bt {
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;}
 .go_bt:hover {
  -webkit-transform:scale(0.9);
     -moz-transform:scale(0.9);
      -ms-transform:scale(0.9);
       -o-transform:scale(0.9);
          transform:scale(0.9);}
 .raise_bt {
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;}
 .raise_bt:hover {
  -webkit-transform:translateY(-10px);
     -moz-transform:translateY(-10px);
      -ms-transform:translateY(-10px);
       -o-transform:translateY(-10px);
          transform:translateY(-10px);}

.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}

@media screen and (max-width:767px){
	.Area960 { margin:0 auto; width:100%;;}
}

/*Header選單-PC*/	
/*動畫*/
 @keyframes fade-in {  
         0% {opacity: 0;}
         40% {opacity: 0;} 
         100% {opacity: 1;}
     }  
@-webkit-keyframes fade-in {
         0% {opacity: 0;}  
         40% {opacity: 0;}  
         100% {opacity: 1;}  
     } 

 @keyframes bling {  
         0% {filter:brightness(100%)}
         50% {filter:brightness(150%)} 
         100% {filter:brightness(100%)}
     }  
@-webkit-keyframes bling {
         0% {filter:brightness(100%)}  
         50% {filter:brightness(150%)}  
         100% {filter:brightness(100%)}  
     } 


.btn_off:hover {
		-webkit-transform:scale(0.95);
		-moz-transform:scale(0.95);
		-ms-transform:scale(0.95);
		-o-transform:scale(0.95);
		transform:scale(0.95);}
 @keyframes ballin{  
	 0% {transform:translate(-1200px,400px);opacity: 0;}
	 5% {opacity: 1;}
	 50% {transform:translate(-7px,-160px);}
	 70% {transform:translate(-500px,-260px)}
	 90% {transform:translate(-200px,50px)}
     100% {transform:translate(0,0)}
     }  
@-webkit-keyframes ballin{
	 0% {transform:translate(-1200px,400px);opacity: 0;}
	 5% {opacity: 1;}
	 50% {transform:translate(-7px,-160px)}
	 70% {transform:translate(-500px,-260px)}
	 90% {transform:translate(-200px,50px)}
     100% {transform:translate(0,0)}
     } 
 @keyframes ballin_m{  
	 0% {transform:translate(-70vw,20vw);opacity: 0;}
	  5% {opacity: 1;}
	 40% {transform:translate(-4vw,-50vw)}
	 70% {transform:translate(45vw,-10vw)}
	 85% {transform:translate(28vw,20vw)}
     100% {transform:translate(0,0)}
     }
 @-webkit-keyframes ballin_m{  
	 0% {transform:translate(-70vw,20vw);opacity: 0;}
	  5% {opacity: 1;}
	 40% {transform:translate(-4vw,-50vw)}
	 70% {transform:translate(45vw,-10vw)}
	 85% {transform:translate(28vw,20vw)}
     100% {transform:translate(0,0)}
     }
/*黏人精*/
.fixbox{width:100%; height:50px; position:fixed; top:0; left:0;background-color:rgba(0,0,0,1); z-index:999;}	
.fixbox ul{ width:1220px; margin:0 auto;}
.fixbox ul li { float:left;}
.fixbox ul li:nth-child(10) a{ background-image:none;}
.fixbox ul li a{ display:block;}
.fixbox ul li .txt{display:block; width:100px; height:50px; text-align:center;line-height: 50px; font-size:18px; color:#FFF; font-family:"Century Gothic", "微軟正黑體", sans-serif;}
.fixbox ul li .txt span{border-right:2px solid #FFF;padding: 0 15px;}
.fixbox ul li:nth-child(6) span{border-right:none;}
.fixbox ul li .txt:hover{color:#fff247;}
.fixbox ul li .hover{color:#fff247;}
@media screen and (max-width:767px){
.fixbox ul li .txt{font-size:12px;}
.fixbox{ position:fixed; bottom:0px; top:inherit; width:100%; height:40px;  z-index:3;
-webkit-overflow-scrolling:touch;
-moz-overflow-scrolling:touch;
-ms-overflow-scrolling:touch;
-o-overflow-scrolling:touch;
overflow-scrolling:touch;}
.fixbox{ position:fixed; top:0px;  width:100%; height:44px; z-index:999;}
.fixbox ul{ width:100%;}
.fixbox ul li{ width:25%; padding:2px 0;text-align: center;}
.fixbox ul li a{text-align: center;}
.fixbox ul li a img{margin-top: -2vw;}
.fixbox ul li .txt{  width: 12vw; font-size:14px;height:32px;padding: 3px 0; line-height:16px; color:#fff;margin: 0 auto;}
.fixbox ul li .hover{ color:#fff247;}
.fixbox ul li .hover{border:1px solid #FFF500;border-radius: 2vw;}
.fixbox ul li .txt span{border:none;padding: 0;}
.fixbox ul li:nth-child(1){ display:none;}
.fixbox ul li:nth-child(2){ display:none;}
.fixbox ul li:nth-child(8){ display:none;}
.fixbox ul li:nth-child(9){ display:none;}
.fixbox ul li:nth-child(7) a{ background-image:none;}
}
	
/*版頭*/
.Area_top .title_left{position: absolute;top:110px;left: 27px;}
.Area_top .title_right{position: absolute;top:203px;right:2px;}
.Area_top .soccer{position: absolute;top:268px;left: 736px;animation: ballin 1s linear both;z-index: 5;animation-delay: 1s;}
.Area_top .soccer .ball{animation: roll 1.2s linear;animation-delay: 1s; }
.Area_top .title_right .vote_num{position: absolute;top:18px;right:68px;font-size: 60px;font-weight: 700;color: #F8FF00;text-shadow: 2px 2px 0 rgba(0,0,0,0.6)}
.wrapper .mainarea .Area_top{ position: relative; display:block; padding:0; margin:0 auto;height:530px;}
@media screen and (max-width:767px){
.Area_top .title_left{top:16vw;left:3vw;width: 85vw;}
.Area_top .title_right{top:36vw;left:27vw;width: 70vw;}
.Area_top .title_right .vote_num{top:1vw;right:6vw;font-size:8vw;}
.wrapper .mainarea .Area_top{ height:70vw;}	
.Area_top .soccer{position: absolute;top:43vw;left:46.5vw;animation: ballin_m 0.7s linear both;z-index: 5;animation-delay: 1s;}
.Area_top .soccer .ball{animation: roll 1.2s linear;animation-delay: 1s;width:19vw; }	
	
}

/*選單*/
.Area_vote { position:relative; margin:0px auto; padding:8px 0px 2px 0px; width:960px}
.Area_vote .meneu span {float:left}
.Area_vote .meneu img {width: 320px;}
.topnavArea img:first-child {display:none}
.topnavArea a:hover img,
.topnavArea .selected img {display:none}
.topnavArea a:hover img:first-child,
.topnavArea .selected img:first-child {display:inline-block}
.meneuon {display:none}
.selected .meneuon { display:inline}
.selected .topnavArea {display:none}
.advisoryArea .meneu dd {float:left; margin:0px; padding:0px; position:relative; cursor:pointer}
.advisoryArea .meneu dd:first-child {float:left; margin:0px; padding:0px; position:relative; cursor:pointer}
.tabcontent {position: relative; margin:99px 0px 80px; padding:0px;background-color: #27304f;box-sizing: border-box;border-width:0 3px 3px 3px;border-color:#50566d;border-style: solid;border-radius: 0 0 20px 20px;;}
@media screen and (max-width:767px){
	.Area_vote { position:relative; margin:0px auto; padding:8px 0px 2px 0px; width:100%;}
	.meneu dd{width:33.3%;}
	.topnavArea a:hover img,
.topnavArea .selected img {display:inline-block}
.topnavArea a:hover img:first-child,
.topnavArea .selected img:first-child {display:none}
	.Area_vote .meneu img {width: 100%;}
	.tabcontent {margin:10vw 0 0; border:none;}

}
/*通用表格*/
table{background-color:#FFF;margin: 20px auto 20px;width: 775px;}
tr:first-child{background:#00a0e9;color:#FFF;}
tr:first-child td{line-height: 40px;font-size: 18px;text-align: center;}
td{border:2px solid #c4c4c4;vertical-align: middle;line-height: 1.5;}
td:nth-child(3){text-align: center;line-height: 1;}
td:nth-child(3) a{display:inline-block}
td:nth-child(3) .btn_go{margin: 25px;}
td:nth-child(3) span{position: relative;top:-60px;}
.flag{margin:0 10px;}
td:nth-child(1){font-size: 18px;text-align: center;width: 100px;}
td:nth-child(2){font-size: 20px;padding: 0 20px;width: 120px;text-align: left;}
.tab3 table{width:auto;}
.tab3 td:nth-child(1){width: 160px;;}
.tab3 td:nth-child(2){padding:0;width: 540px;}


/*冠軍表格*/
.champion {padding: 10px 0 0 0px ; width: 540px;margin: 0 auto;}
.champion li:nth-child(1){margin-left: 40px;}
.champion li{float: left;width:140px;height:300px;padding: 0 5px;vertical-align: middle;}
.champion li img{margin: 0;}
.champion li:nth-child(2){width:40px;height:300px;padding: 0;line-height: 135px;}
.champion .btn_go{margin:97px 0 0 20px!important;}

.date{margin-right:5px;width:45px;display:inline-block;}

@media screen and (max-width:767px){
	.date{font-size:6vw;margin-right:0;}
	.tabcontent span.toto{text-align:center;width:1px;height:3vw;background-color: #000;margin: 1.5vw auto;overflow: hidden;display: block;}
table{background-color:#FFF;margin: 20px auto; auto;width: 96%;}
td{line-height: 1;}
td:nth-child(2){font-size:5vw;padding: 0 2vw;width:18.5vw;text-align:  center;}
tr:first-child td{line-height:5vw;font-size: 4vw;text-align: center;padding: 1vw 0;}
td:nth-child(1){font-size: 4vw;text-align: center;width: 18vw;}
td:nth-child(3) span{position: relative;font-size: 4vw; top:8vw; padding: 5vw 2vw;}
.flag{width:22vw!important;margin: 0;}
td:nth-child(3) .btn_go{margin:0;position: relative;top:-2vw; left: 0vw;width:35vw;}
.tab3 table{width:96%;}

.tab3 tr:nth-child(2) td:nth-child(1){font-size:5vw;padding: 0 2vw;width:18.5vw;text-align:  center;}	
.tab3 tr:nth-child(2) td:nth-child(2) span{position: relative;font-size: 4vw; top:8vw; padding: 5vw 2vw;}	

.champion {width:100%;margin-left: 2vw;}
.champion li:nth-child(1){margin-left:0vw;}
.champion li{float: left;width:43%;height:45vw;padding: 0 ;vertical-align: middle;}
.champion li img{margin: 0;}
.champion li:nth-child(2){width:6vw;height:45vw;padding: 0;line-height:21vw;}
.champion li:nth-child(4){height:auto;width:60%;}
.champion a{position: relative;top:0vw; left: 8vw;margin-bottom: 3vw;}
.champion .btn_go{margin:0!important;}
	
	
}


/*頁籤內容*/
.tabcontent .share{position: absolute;top:30px;right:20px;}
.tabcontent .share img{float: left;}
.tabcontent .share a{margin: 0 7px;float: left;}
.tabcontent .btn_check {position:relative;top:0;left: 50px;}
@media screen and (max-width:767px){
.tabcontent .share {right: 0vw;top:7vw;}
.tabcontent .share a {margin: 1vw;}
.tabcontent .share img{height:8vw;width: auto;margin: 0;}
.tabcontent .btn_check {display: block; width:38vw;left: 2vw}
.tabcontent .btn_check img{width:100%;}
}

/*關閉*/
.for_pc{ display:block;}
.for_phone{ display:none!important;}


/*黏人精搜尋*/
.gogo{ display:none; position:fixed;top:50px; left:50%; margin-left:615px; z-index:9999; width:100px; height:95px; border-radius:0 0 20px 20px; background-color:rgba(0,0,0,0.5);}
.gogo .searchgogobar{display:block; padding:0; margin:0 auto; width:80px; height:40px; font-size:14px; text-align:center; background-color:#dadada;}
.gogo a{ display:block; padding:0; margin:15px auto 0 auto; text-align:center; color:#fff; font-size:18px; font-weight:bold; }
.gogo a:hover{ color:#FF0;}


/*浮層-我要預測*/
.hide_box .contentArea { position:relative; display:block; margin: 0 auto; padding:0px;width: 594px; height: 378px; background:url(box_bg01.png) no-repeat center top;}
.hide_box .contentArea .closeBN a { z-index:2; position:absolute; top:10px; right:10px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.hide_box .contentArea .closeBN a:hover { background-color:#000; text-decoration:none}
.hide_box .contentArea .box { margin: 10px auto; padding: 20px 20px;}
.hide_box .contentArea .box .btn_share{ display: block; margin: 20px auto 30px; width: 702px; height: 118px; }
.hide_box .contentArea .flag_A{position: absolute;top:90px;left:55px;}
.hide_box .contentArea .flag_B{position: absolute;top:90px;left:365px;}
.hide_box .contentArea .win_btn_A{position: absolute;top:280px;left:90px;}
.hide_box .contentArea .win_btn_A img{animation: bling 2s ease infinite;animation-delay: 1s;}
.hide_box .contentArea .win_btn_B{position: absolute;top:280px;left:400px;}
.hide_box .contentArea .win_btn_B img{animation: bling 2s ease infinite;}




@media screen and (max-width:767px){
		.hide_box .contentArea { width:94%;height:86vw;border-radius: 10px; background:url(box_bg01_m.png) no-repeat center top;}
		.hide_box .contentArea img{ width:100%;}
		.hide_box .contentArea .title  { margin:0 5%; font-size:30px;}
		.hide_box .contentArea .closeBN a { top:3vw; right:3vw; width:30px; height:30px; font-size:30px;}
.hide_box .contentArea .flag_A{position: absolute;width: 40vw; top:19vw;left:3vw;}
.hide_box .contentArea .flag_B{position: absolute;width: 40vw;top:19vw;left: 51vw;}
.hide_box .contentArea .win_btn_A{position: absolute;top:60vw;left:10vw;}
.hide_box .contentArea .win_btn_A img{animation: bling 2s ease infinite;animation-delay: 1s;}
.hide_box .contentArea .win_btn_B{position: absolute;top:60vw;left:58vw;}
.hide_box .contentArea .win_btn_B img{animation: bling 2s ease infinite;}
.point{position:absolute;top:70vw;left:20vw;width: 10vw!important;animation: point 3s infinite;}
	.vs{position:absolute;top:35vw;left:39vw;width: 17vw!important;}
}	

/*浮層-我要預測-冠軍*/
.hide_box2 .contentArea { position:relative; display:block; margin: 0 auto; padding:0px;width: 594px; height: 550px; background:url(box_bg02.png) no-repeat center top;background-color: #1b365e;border-radius:15px;}
.hide_box2 .contentArea .closeBN a { z-index:2; position:absolute; top:10px; right:10px; display:block; width:40px; height:40px; border-radius:50%; border:solid 2px #999999; font:bold 40px/1em "Century Gothic"; color:#FFF; text-align:center; background-color:rgba(0%,0%,0%,0.5);text-decoration: none;}
.hide_box2 .contentArea .closeBN a:hover { background-color:#000; text-decoration:none}
.hide_box2 .contentArea .box { margin: 10px auto; padding: 20px 20px;position: relative;}
.hide_box2 .contentArea .box .btn_share{ display: block; margin: 20px auto 30px; width: 702px; height: 118px; }
.hide_box2 .contentArea .flag_A{position: absolute;top:70px;left:55px;}
.hide_box2 .contentArea .flag_B{position: absolute;top:70px;left:365px;}
.hide_box2 .contentArea .flag_C{position: absolute;top:305px;left:55px;}
.hide_box2 .contentArea .flag_D{position: absolute;top:305px;left:365px;}
.hide_box2 .contentArea .win_btn_A{position: absolute;top:240px;left:90px;}
.hide_box2 .contentArea .win_btn_A img{animation: bling 4s ease infinite;animation-delay: 1s;}
.hide_box2 .contentArea .win_btn_B{position: absolute;top:240px;left:400px;}
.hide_box2 .contentArea .win_btn_B img{animation: bling 4s ease infinite;animation-delay: 2s;}
.hide_box2 .contentArea .win_btn_C{position: absolute;top:480px;left:90px;}
.hide_box2 .contentArea .win_btn_C img{animation: bling 4s ease infinite;animation-delay: 3s;}
.hide_box2 .contentArea .win_btn_D{position: absolute;top:480px;left:400px;}
.hide_box2 .contentArea .win_btn_D img{animation: bling 4s ease infinite;}
	.hide_box2 .vs{position:absolute;top:257px;left:265px;width: 80px!important;}
@media screen and (max-width:767px){
		.hide_box2 .contentArea { width:94%;height:128vw;border-radius: 10px;}
		.hide_box2 .contentArea img{ width:100%;}
		.hide_box2 .contentArea .title  { margin:0 5%; font-size:30px;}
		.hide_box2 .contentArea .closeBN a { top:3vw; right:3vw; width:30px; height:30px; font-size:30px;}
.hide_box2 .contentArea .flag_A{position: absolute;width: 40vw; top:17vw;left:3vw;}
.hide_box2 .contentArea .flag_B{position: absolute;width: 40vw;top:17vw;left: 51vw;}
.hide_box2 .contentArea .flag_C{position: absolute;width: 40vw;top:73vw;left: 3vw;}
.hide_box2 .contentArea .flag_D{position: absolute;width: 40vw;top:73vw;left: 51vw;}
.hide_box2 .contentArea .win_btn_A{position: absolute;top:56vw;left:10vw;}
.hide_box2 .contentArea .win_btn_A img{animation: bling 2s ease infinite;animation-delay: 1s;}
.hide_box2 .contentArea .win_btn_B{position: absolute;top:56vw;left:58vw;}
.hide_box2 .contentArea .win_btn_B img{animation: bling 2s ease infinite;}
.hide_box2 .contentArea .win_btn_C{position: absolute;top:112vw;left:10vw;}
.hide_box2 .contentArea .win_btn_C img{animation: bling 2s ease infinite;}
.hide_box2 .contentArea .win_btn_D{position: absolute;top:112vw;left:58vw;}
.hide_box2 .contentArea .win_btn_D img{animation: bling 2s ease infinite;}

	.hide_box2 .vs{display: none;}
}	
@media screen and (max-width:375px){.hide_box2 .contentArea { height:130vw;}}
@media screen and (max-width:320px){
	.hide_box2 .contentArea { height:140vw;}
	.hide_box2 .box{top:4vw;}
	}

/*浮層基本*/
.blackBox .box .button {  border-top:1px solid #d6d6d6; text-align:center; font-size:1.25rem; line-height:3.5rem; font-weight:bold;}
.blackBox .box .but-close { clear:both; width:100%;}
.blackBox .box .but-close a { display:inline-block;  width:100%; height:100%; color:#333;}
.blackBox .box h3 span.close { position:absolute; top:6px; right:5px; display:block; border:2px solid #333; border-radius:5px; width:63px; height:33px; font-size:1rem; line-height:2rem; text-align:center;}
.blackBox .box h3 span.close a { display:inline-block; width:100%; height:100%; color:#333;}
.blackBox .Boxclose { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color: transparent;}
.blackBox .box h4 {height: 3rem; font-size: 0.8rem; font-weight: 100; text-align: center; color: #000;}

/*通知浮層*/
.agreeArea { z-index:1; position:relative; top:5%; margin:0 auto 30px; width:94%; max-width:700px; font-family:"Century Gothic", "微軟正黑體", sans-serif; /*text-align:justify; word-break:break-all;*/}
.agreeArea img{ width:100%; height:auto;}
.agreeArea .box { border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color:#fff; overflow:hidden;}
.agreeArea .box .txtArea { height:auto; }
.agreeArea .box h3 { margin:0; padding:0; height:3rem; font-size:1.25rem; font-weight:800;line-height:3rem; text-align:center; color:#000; background-color:#ffd710;}
.agreeArea .box p { margin:10px auto; margin-top:1rem; padding:0 0 0 24px; text-align:center; font-size:1em; text-align:left; line-height:0.5em; color:#000;}
.agreeArea .box p b { display:block; padding-bottom:0px;}
.agreeArea .box p span { }
.agreeArea .box .qrcodeimg { text-align:center; }
.agreeArea .box .qrcodeimg a { color:#006afe;}
.agreeArea .box .qrcodeimg img { width:100%; height:auto;}
.agreeArea .box .agree_table table { margin:20px auto; border-collapse:collapse; width:90%; text-align:center;}
.agreeArea .box .agree_table th { padding:5px; border:1px solid #CCC; width:33%; font-size:0.9em; }
.agreeArea .box .agree_table td { padding:5px; border:1px solid #CCC; font-size:0.9em; }
.agreeArea .box .agree_table th a{ color:#c70026; text-decoration:underline;}
.agreeArea .box .xxx{ display:block; width:80%; height:40px; font-size:1.5em; text-align:center; line-height:40px; color:#FFF; background-color:#7048A0; margin:0 auto; margin-bottom:20px; margin-top:10px; font-weight:bold; border-radius:10px;}
.agreeArea .box ul,
.agreeArea .box ol { margin:0;}
.agreeArea .box li { margin:0 20px 10px 0px; font-size:1.1em;}
.agreeArea .box table { margin:  5%; width:90%;  border-collapse:collapse;}
.agreeArea .box th { padding:5px; border:1px solid #CCC; background:#eee; font-size:0.8em; }
.agreeArea .box td { padding:5px; border:1px solid #CCC; font-size:1.1em; text-align: center; }
.agreeArea .box table ul,
.agreeArea .box table ol { padding:0 0 0 20px;}
.agreeArea .box table li { margin:0 0 10px 0px;}
@media screen and (max-width:767px){
	
}
/*注意事項*/
.notes{ width:1190px; height:auto; padding:40px 1.8em; background:#000; color:#fff; margin:0 auto; text-align:left;}
.notes h4{ font:bold 55px/36px "微軟正黑體", "Microsoft JhengHei", Arial; margin:0 0 30px 0;}
.notes ul li{font:18px/1.5em "微軟正黑體", "Microsoft JhengHei", Arial; margin:10px 0 10px 15px; list-style-type:disc;}
.notes ul li a{ color:#FFF; text-decoration:underline;}
.notes ul li a:hover{ color:#d1a740;}

@media screen and (max-width:767px){
.notes{ width:91%; height:auto; padding:5% 4%; background:#000; color:#fff; margin:0 auto 0 auto; text-align:justify;}
.notes h4{ font:bold 34px/1.8 "微軟正黑體", "Microsoft JhengHei", Arial; margin:0 0 0px 0;}
.notes ul li{font:13px/1.5em "微軟正黑體", "Microsoft JhengHei", Arial; margin:10px 0 10px 15px; list-style-type:disc;}
.notes ul li a{ color:#FFF; text-decoration:underline;}
.notes ul li a:hover{ color:#00e6ff;}

}

/*隱藏*/
.for_phone{ display:none; }
@media screen and (max-width:767px){
.for_pc{ display:none!important;}
.for_phone{ display:block!important; width:100%;}
}

